/**
 * @package 	WordPress
 * @subpackage 	Music Band
 * @version 	1.0.0
 * 
 * Theme Fonts Rules
 * Created by CMSMasters
 * 
 */


/***************** Start Theme Font Styles ******************/

	/* Start Content Font */
	body, 
	blockquote footer,
	.archive .portfolio .project .project_outer .project_inner .cmsms_project_content {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:14px;
		line-height:24px;
		font-weight:400;
		font-style:normal;
	}
	
	.cmsms_quotes_slider .quote_content, 
	.cmsms_quotes_slider .quote_content a {
		font-size:16px;
	}
	
	.blog.columns .cmsms_post_content,
	.blog.timeline .cmsms_post_content,
	.portfolio .project .project_outer .project_inner .cmsms_project_content {
		font-size:13px;
	}
	
	.blog.columns.puzzle .cmsms_post_content,
	.cmsms_posts_slider .project .slider_project_outer .slider_project_inner .cmsms_slider_project_content {
		font-size:12px;
		line-height:20px;
	}
	
	q, 
	#wp-calendar th, 
	#wp-calendar td {
		font-size:14px;
	}
	
	.cmsms_posts_slider .post .cmsms_slider_post_content { 
		font-size:13px;
	}
	
	.gallery .gallery-item .gallery-caption,
	.cmsms_gallery li.cmsms_caption figcaption,
	.wp-caption .wp-caption-text {
		font-size:15px;
	}
	
	.cmsms_wrap_pagination ul li .cmsms_theme_icon_slide_prev, 
	.cmsms_wrap_pagination ul li .cmsms_theme_icon_slide_next {
		font-size:28px;
	}
	
	.cmsms_post_filter_but:before, 
	.cmsms_project_filter_but:before {
		width:16px !important;
	}
	
	q {
		line-height:24px !important;
	}
	
	.details_item_desc_like,
	.details_item_desc_comments {
		height:24px;
	}
	/* Finish Content Font */


	/* Start Link Font */
	a {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:14px;
		line-height:20px;
		font-weight:300;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.pj_ddn .cmsms_project_category,
	.pj_ddn .cmsms_project_category a {
		font-size:13px;
	}

	a:hover {
		text-decoration:none;
	}
	/* Finish Link Font */


	/* Start Navigation Title Font */
	#navigation > li > a {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:16px;
		line-height:22px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
	}
	
	#navigation > li > a > span:before {
		font-size:14px;
	}
	
	.footer_inner nav > div > ul > li > a {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:14px;
		line-height:20px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
	}
	
	.header_top_inner nav > div > ul li > a {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:12px;
		line-height:18px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
	}
	
	#navigation > li > a > span > span.nav_subtitle {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:11px;
		line-height:18px;
		font-style:normal;
		font-weight:700; /* static */
		text-transform:uppercase; /* static */
	}
	
	#navigation > li.menu-item-icon > a > span > span.nav_subtitle,
	#navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li.menu-item-icon > a > span > span.nav_subtitle {
		padding-left:27px;
	}
	
	body.rtl #navigation > li.menu-item-icon > a > span > span.nav_subtitle,
	body.rtl #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li.menu-item-icon > a > span > span.nav_subtitle {
		padding-right:27px;
		padding-left:0; /* static */
	}
	
	#navigation > li > a[data-tag]:before,
	#navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li > a[data-tag]:before {
		margin-top:2px;
	}
	
	@media only screen and (max-width: 1024px) {
		html #page #header nav #navigation li a {
			font-size:14px;
			font-weight:400; /* static */
		}
		
		html #page #header nav #navigation > li.menu-item-hide-text > a > span,
		html #page #header nav #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li.menu-item-hide-text > a > span {
			font-size:16px;
			line-height:22px;
		}
		
		html #page #header nav #navigation > li.menu-item-icon > a > span > span.nav_subtitle,
		html #page #header nav #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li.menu-item-icon > a > span > span.nav_subtitle {
			padding-left:27px;
		}
	}
	/* Finish Navigation Title Font */


	/* Start Navigation Dropdown Font */
	#navigation ul li a {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:14px;
		line-height:20px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
	}
	
	#navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li > a {
		font-size:18px;
		line-height:24px;
		font-weight:bold; /* static */
	}
	
	#navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li > a > span > span.nav_subtitle {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:11px;
		line-height:19px;
		font-style:normal;
		text-transform:uppercase; /* static */
		font-weight:700; /* static */
	}
	
	#navigation li > a[data-tag]:before {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:11px;
		line-height:19px;
		font-style:normal;
		text-transform:none;
		font-weight:400; /* static */
	}
	
	#navigation ul li a span:before {
		font-size:12px;
	}
	
	#navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li > a > span:before {
		font-size:18px;
	}
	
	@media only screen and (max-width: 1024px) {
		html #page #header nav #navigation > li.menu-item-hide-text > a > span > span.nav_subtitle,
		html #page #header nav #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li.menu-item-hide-text > a > span > span.nav_subtitle {
			font-size:12px;
			line-height:18px;
		}
	}
	
	#page #header .search_bar_wrap input[type=search] {
		line-height:30px;
	}
	
	#page #header ::-webkit-input-placeholder {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:24px;
		line-height:30px;
		font-style:normal;
	}
	
	.search_bar_wrap form p.search_field ::-webkit-input-placeholder {
		font-weight:bold; /* static */
		text-transform:uppercase; /* static */
	}
	
	#page #header ::-moz-placeholder {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:24px;
		line-height:30px;
		font-style:normal;
	}
	
	.search_bar_wrap form p.search_field ::-moz-input-placeholder {
		font-weight:bold; /* static */
		text-transform:uppercase; /* static */
	}
	
	#page #header ::-moz-placeholder {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:24px;
		line-height:30px;
		font-style:normal;
	}
	
	.search_bar_wrap form p.search_field ::-moz-placeholder {
		font-weight:bold; /* static */
		text-transform:uppercase; /* static */
	}
	
	#page #header :-ms-input-placeholder {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:24px;
		line-height:30px;
		font-style:normal;
	}
	
	.search_bar_wrap form p.search_field :-ms-input-placeholder {
		font-weight:bold; /* static */
		text-transform:uppercase; /* static */
	}
	/* Finish Navigation Dropdown Font */


	/* Start H1 Font */
	h1,
	h1 a,
	#header .logo .title,
	.cmsms_pricing_table .cmsms_currency,
	.cmsms_pricing_table .cmsms_price {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:72px;
		line-height:82px;
		font-weight:bold;
		font-style:normal;
		text-transform:uppercase;
		text-decoration:none;
	}
	
	@media only screen and (max-width: 540px) {
		.headline_outer .headline_inner .headline_text .entry-title {
			font-size:40px;
			line-height:50px;
		}
	}
	
	.cmsms_tabs.lpr .ovh small {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	}
	
	.cmsms_dropcap {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-weight:bold;
		font-style:normal;
		text-transform:uppercase;
		text-decoration:none;
	}
	
	.cmsms_icon_list_items.cmsms_icon_list_icon_type_number .cmsms_icon_list_item .cmsms_icon_list_icon:before,
	.cmsms_icon_box.box_icon_type_number:before,
	.cmsms_icon_box.cmsms_icon_heading_left.box_icon_type_number .icon_box_heading:before {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-weight:bold;
		font-style:normal;
	}
	
	.cmsms_dropcap.type1 {
		font-size:48px; /* static */
	}
	
	.cmsms_dropcap.type2 {
		font-size:36px; /* static */
	}
	
	.headline_outer .headline_inner .headline_icon:before {
		font-size:56px;
		line-height:92px;
	}
	
	.headline_outer .headline_inner.align_center .headline_icon:before {
		font-size:86px;
		line-height:117px;
	}
	
	.headline_outer .headline_inner.align_left .headline_icon {
		padding-left:92px;
	}
	
	.headline_outer .headline_inner.align_right .headline_icon {
		padding-right:92px;
	}
	
	.headline_outer .headline_inner.align_center .headline_icon {
		padding-top:112px;
	}
	
	.cmsms_twitter .owl-buttons span:before {
		line-height:39px;
	}
	
	.cmsms_twitter .owl-buttons > div, 
	.cmsms_twitter .owl-buttons span, 
	.cmsms_twitter .owl-buttons span:before {
		width:78px;
		height:39px;
	}
	
	.cmsms_twitter .owl-buttons {
		margin-top:-39px;
	}
	/* Finish H1 Font */


	/* Start H2 Font */
	h2,
	h2 a,
	.cmsms_pricing_table .pricing_title,
	.cmsms_counters .cmsms_counter_wrap .cmsms_counter .cmsms_counter_inner .cmsms_counter_counter_wrap > span,
	.cmsms_stats.stats_mode_circles .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner .cmsms_stat_counter_wrap,
	.cmsms_posts_slider .post .cmsms_slider_post_cont .thumb_wrap .cmsms_post_date_wrap .cmsms_post_date .cmsms_year,
	.blog.timeline .post .cmsms_post_info .cmsms_post_date .published span,
	.cmsms_posts_slider .post .cmsms_slider_post_cont .thumb_wrap .cmsms_post_date_wrap .cmsms_post_date .cmsms_day_mon,
	.archive .portfolio .project .project_outer .project_inner .cmsms_project_header .cmsms_project_title,
	.archive .portfolio .project .project_outer .project_inner .cmsms_project_header .cmsms_project_title a,
	.cmsms_search_post_number {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:36px;
		line-height:46px;
		font-weight:bold;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.cmsms_sitemap_wrap > h1 {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:36px;
		line-height:46px;
		font-weight:bold;
		font-style:normal;
		text-decoration:none;
	}
	
	.error .error_wrap .error_inner .error_subtitle,
	.cmsms_posts_slider .post .cmsms_slider_post_cont .thumb_wrap .cmsms_post_date_wrap .cmsms_post_date .cmsms_year {
		font-size:30px;
		line-height:40px;
	}
	
	.blog.timeline .post .cmsms_post_info .cmsms_post_date .published .cmsms_day_mon,
	.cmsms_posts_slider .post .cmsms_slider_post_cont .thumb_wrap .cmsms_post_date_wrap .cmsms_post_date .cmsms_day_mon {
		font-size:12px;
		line-height:22px;
	}
	
	.blog.timeline .post .cmsms_post_info {
		width:80px;
		height:80px;
	}
	
	.cmsms_posts_slider .post .cmsms_slider_post_cont .thumb_wrap .cmsms_post_date_wrap .published {
		width:66px;
		height:66px;
	}
	
	.blog.timeline .post.cmsms_timeline_left .cmsms_post_info {
		right:-40.5px;
	}
	
	.blog.timeline .post.cmsms_timeline_right .cmsms_post_info {
		left:-40.5px;
	}
	
	.blog.timeline .post.cmsms_timeline_type:before {
		top:40px;
	}
	
	.cmsms_stats.stats_mode_circles .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner .cmsms_stat_counter_wrap {
		font-size:24px; /* static */
		line-height:30px; /* static */
	}
	/* Finish H2 Font */


	/* Start H3 Font */
	h3,
	h3 a,
	.cmsms_sitemap_wrap .cmsms_sitemap > li > a,
	.cmsms_quotes .quote_title,
	.profiles.opened-article .profile .cmsms_profile_inner .profile_sidebar .profile_social_icons .profile_social_icons_title,
	.portfolio.opened-article .project .cmsms_project_inner .project_sidebar .project_details .project_details_title,
	.portfolio.opened-article .project .cmsms_project_inner .project_sidebar .share_posts .share_posts_title,
	.portfolio.opened-article .about_author .about_author_title,
	.widget_custom_contact_info_entries .widgettitle {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:24px;
		line-height:34px;
		font-weight:bold;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.cmsms_quotes_slider.cmsms_quotes_slider_type_center .owl-buttons span:before {
		font-size:46px;
		line-height:46px;
	}
	
	.cmsms_quotes_slider.cmsms_quotes_slider_type_center .owl-buttons > div, 
	.cmsms_quotes_slider.cmsms_quotes_slider_type_center .owl-buttons span, 
	.cmsms_quotes_slider.cmsms_quotes_slider_type_center .owl-buttons span:before {
		width:22px;
		height:22px;
		line-height:22px;
	}
	
	.post_nav > span:before {
		font-size:34px;
	}
	
	.post_nav > span:before {
		line-height:34px;
	}
	
	.portfolio .project .project_outer .project_inner .cmsms_project_header .cmsms_project_title, 
	.cmsms_posts_slider .project .slider_project_outer .slider_project_inner .cmsms_slider_project_header .cmsms_slider_project_title {
		line-height:32px;
	}
	
	.post.cmsms_timeline_type .cmsms_post_cont .cmsms_post_title:before {
		height:24px;
		margin-top:5px;
	}
	
	#cancel-comment-reply-link {
		line-height:34px;
	}
	
	.widget .owl-buttons span:before {
		font-size:30px;
		line-height:28px;
	}
	
	.widget .owl-buttons div,
	.widget .owl-buttons div span {
		width:20px;
		height:34px;
	}
	/* Finish H3 Font */


	/* Start H4 Font */
	h4, 
	h4 a, 
	.cmsms_sitemap_wrap .cmsms_sitemap_archive li,
	.cmsms_counters .cmsms_counter_wrap .cmsms_counter .cmsms_counter_inner .cmsms_counter_counter_wrap .cmsms_counter_title,
	.cmsms_stats.stats_mode_bars .cmsms_stat_wrap .cmsms_stat_counter_wrap,
	.cmsms_quotes .quote_title_wrap,
	.cmsms_quotes .quote_title_inner .quote_link,
	.profiles.opened-article .profile .cmsms_profile_inner .profile_sidebar .profile_details .profile_details_item .profile_details_item_desc,
	.profiles.opened-article .profile .cmsms_profile_inner .profile_sidebar .profile_details .profile_details_item .profile_details_item_desc *,
	.portfolio.opened-article .project .cmsms_project_inner .project_sidebar .project_details .project_details_item .project_details_item_desc,
	.portfolio.opened-article .project .cmsms_project_inner .project_sidebar .project_details .project_details_item .project_details_item_desc * {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:18px;
		line-height:28px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.cmsms-form-builder label,
	.cmsms_sitemap_wrap .cmsms_sitemap_category > li > a,
	.cmsms_sitemap_wrap .cmsms_sitemap > li > ul > li > a,
	.cmsms_sitemap_wrap .cmsms_sitemap_archive > li > a,
	.cmsms_img .cmsms_img_caption,
	.cmsms_table tr.cmsms_table_row_header,
	.cmsms_table tr.cmsms_table_row_header a,
	.cmsms_table tr.cmsms_table_row_header th,
	.cmsms_table tr.cmsms_table_row_footer,
	.cmsms_table tr.cmsms_table_row_footer a,
	.cmsms_table tr.cmsms_table_row_footer td,
	.cmsms_tabs .cmsms_tabs_list .cmsms_tabs_list_item > a,
	.cmsms_toggles .cmsms_toggle_wrap .cmsms_toggle_title > a,
	.blog.columns.puzzle .post .puzzle_post_content_wrapper .cmsms_post_header .cmsms_post_title,
	.blog.columns.puzzle .post .puzzle_post_content_wrapper .cmsms_post_header .cmsms_post_title a,
	.portfolio .project .project_outer .project_inner .cmsms_project_header .cmsms_project_title,
	.portfolio .project .project_outer .project_inner .cmsms_project_header .cmsms_project_title a,
	.cmsms_posts_slider .project .slider_project_outer .slider_project_inner .cmsms_slider_project_header .cmsms_slider_project_title,
	.cmsms_posts_slider .project .slider_project_outer .slider_project_inner .cmsms_slider_project_header .cmsms_slider_project_title a,
	.cmsms_posts_slider .post .cmsms_slider_post_cont .cmsms_slider_post_header .cmsms_slider_post_title,
	.cmsms_posts_slider .post .cmsms_slider_post_cont .cmsms_slider_post_header .cmsms_slider_post_title a,
	.about_author .about_author_inner .ovh h3,
	.about_author .about_author_inner .ovh h3 a,
	.post_comments .commentlist .comment-body .comment-content h3,
	.post_comments .commentlist .comment-body .comment-content h3 a,
	.profiles.opened-article .profile .cmsms_profile_inner .cmsms_profile_header .cmsms_profile_subtitle,
	.profiles.opened-article .profile .cmsms_profile_inner .profile_sidebar .profile_details .profile_details_item .profile_details_item_title,
	.portfolio.opened-article .project .cmsms_project_inner .cmsms_project_header .cmsms_project_subtitle,
	.portfolio.opened-article .project .cmsms_project_inner .project_sidebar .project_details .project_details_item .project_details_item_title,
	.cmsms_wrap_pagination ul li .page-numbers,
	.widget_custom_popular_projects_entries .pj_ddn .entry-title,
	.widget_custom_popular_projects_entries .pj_ddn .entry-title a,
	.widget_custom_latest_projects_entries .pj_ddn .entry-title, 
	.widget_custom_latest_projects_entries .pj_ddn .entry-title a,
	.widget.widget_recent_entries ul li a {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:18px;
		line-height:28px;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
		font-weight:bold; /* static */
	}
	
	.cmsms_sitemap_wrap .cmsms_sitemap > li.menu-item-type-custom > ul > li > a,
	.cmsms_sitemap_wrap .cmsms_sitemap > li.menu-item-object-custom > ul > li > a,
	.post_nav > span,
	.post_nav > span a {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:18px;
		line-height:28px;
		font-style:normal;
		text-decoration:none;
		font-weight:bold; /* static */
		text-transform:uppercase; /* static */
	}
	
	.color_2,
	.required {
		font-size:14px;
		line-height:22px;
	}
	
	.cmsms_breadcrumbs .cmsms_breadcrumbs_inner * {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:15px;
		line-height:24px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.cmsms_stats.stats_mode_bars.stats_type_vertical .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner:before {
		font-size:20px;
		line-height:38px;
	}
	
	.cmsms_quotes .quote_content,
	.cmsms_quotes .quote_content a {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-weight:normal;
	}
	
	.portfolio .project .project_outer .project_inner .cmsms_project_footer a.cmsmsLike,
	.portfolio .project .project_outer .project_inner .cmsms_project_footer a.cmsms_post_comments {
		font-size:12px;
	}
	
	.post_nav > span.cmsms_next_post:before,
	.post_nav > span.cmsms_prev_post:before {
		font-size:40px;
		line-height:40px;
	}
	
	.pj_ddn .cmsmsLike, 
	.pj_ddn .cmsmsLike:before {
		line-height:30px !important;
	}
	
	.post.cmsms_masonry_type .cmsms_post_cont .cmsms_post_title:before, 
	.post.cmsms_puzzle_type .cmsms_post_cont .cmsms_post_title:before {
		height:18px;
		margin-top:5px;
	}
	
	.cmsms_single_slider .cmsms_single_slider_inner .cmsms_single_slider_item .cmsms_single_slider_item_outer .cmsms_single_slider_item_inner .cmsms_single_slider_title,
	.cmsms_single_slider .cmsms_single_slider_inner .cmsms_single_slider_item .cmsms_single_slider_item_outer .cmsms_single_slider_item_inner .cmsms_single_slider_title a {
		font-weight:bold; /* static */
	}
	/* Finish H4 Font */


	/* Start H5 Font */
	h5,
	h5 a,
	.share_posts .share_posts_inner > a,
	.cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_filter_block .cmsms_project_filter_list li > a.button,
	.cmsms_post_filter_wrap .cmsms_post_filter .cmsms_post_filter_block .cmsms_post_filter_list li > a.button,
	.widget ul li > a,
	.cmsms_tabs.lpr .cmsms_tabs_list .cmsms_tabs_list_item > a,
	table caption, 
	table th, 
	table th a {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:16px;
		line-height:24px;
		font-weight:bold;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.cmsms_tabs.lpr .cmsms_tabs_list .cmsms_tabs_list_item > a {
		font-weight:bold; /* static */
	}
	
	.cmsms_sitemap_wrap .cmsms_sitemap > li > ul > li > ul a,
	.cmsms_sitemap_wrap .cmsms_sitemap_category > li > ul a,
	.cmsms_stats .cmsms_stat_wrap .cmsms_stat_title {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:16px;
		line-height:24px;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
		font-weight:bold; /* static */
	}
	
	.cmsms_table tbody tr td {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:15px;
		line-height:24px;
	}
	
	.cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_filter_block .cmsms_project_filter_list li > a.button,
	.cmsms_post_filter_wrap .cmsms_post_filter .cmsms_post_filter_block .cmsms_post_filter_list li > a.button {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:15px;
		line-height:22px;
	}
	
	.cmsms_stats .cmsms_stat_wrap .cmsms_stat_title,
	.cmsms_stats.stats_mode_bars.stats_type_horizontal .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner:before {
		font-size:18px;
	}
	
	.cmsms_toggles .cmsms_toggles_filter,
	.cmsms_toggles .cmsms_toggles_filter *,
	.cmsms_twitter .cmsms_twitter_item_content,
	.cmsms_twitter .cmsms_twitter_item_content a {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:15px;
		line-height:24px;
		font-weight:bold;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
		font-weight:normal; /* static */
	}
	
	.cmsms_twitter .cmsms_twitter_item_content,
	.cmsms_twitter .cmsms_twitter_item_content a {
		font-style:italic; /* static */
	}
	/* Finish H5 Font */


	/* Start H6 Font */
	h6,
	h6 a,
	.cmsms_twitter .published,
	.cmsms_post_wrap_info,
	.cmsms_post_wrap_info a,
	.blog.columns.puzzle .post .puzzle_post_content_wrapper .cmsms_post_read_more,
	.cmsms-jplayer .jp-playlist a.jp-playlist-item,
	.cmsms-jplayer span.jp-artist,
	.cmsms-jplayer span.jp-title,
	.cmsms_pricing_table .cmsms_period,
	.cmsms_pricing_table .cmsms_coins,
	.cmsms_posts_slider .product .product_outer .product_inner .cmsms_product_cat,
	.cmsms_posts_slider .product .product_outer .product_inner .cmsms_product_cat a,
	.cmsms_search_post .cmsms_search_post_number_wrap .cmsms_post_type_label,
	.cmsms_tabs .cmsms_tabs_wrap .cmsms_tab .ovh a,
	.cmsms_tabs .cmsms_tabs_wrap .cmsms_tab.tab_comments > ul > li > a,
	.cmsms_tabs .cmsms_tabs_wrap .cmsms_tab.tab_comments > ul > li > span,
	.copyright,
	.widget_custom_contact_info_entries *,
	input[type=submit], 
	input[type=button], 
	button, 
	dl dt, 
	table.shop_attributes th, 
	fieldset legend,
	.cmsms_post_read_more, 
	blockquote footer,
	.comment-edit-link, 
	.comment-reply-link, 
	#cancel-comment-reply-link {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:14px;
		line-height:20px;
		font-weight:bold;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.cmsms-jplayer span.jp-artist,
	.cmsms-jplayer span.jp-title {
		font-size:15px;
	}
	
	.cmsms-jplayer .jp-playlist span.jp-free-media,
	.cmsms-jplayer .jp-playlist span.jp-free-media a {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:12px;
	}
	
	.cmsms_pricing_table .feature_list li,
	.cmsms_pricing_table .feature_list li *,
	.cmsms_project_cont_info,
	.cmsms_project_cont_info a,
	.cmsms_posts_slider .project .slider_project_outer .slider_project_inner .cmsms_slider_project_cont_info .cmsms_slider_project_category,
	.cmsms_posts_slider .project .slider_project_outer .slider_project_inner .cmsms_slider_project_cont_info .cmsms_slider_project_category a,
	.about_author .about_author_inner .ovh p,
	.post_comments .commentlist .comment-body .comment-content,
	.widget_recent_entries ul li .post-date,
	.widget .tweet_list *,
	.wpcf7 form.wpcf7-form span.wpcf7-list-item .wpcf7-list-item-label, 
	.cmsms-form-builder .check_parent label {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:14px;
		line-height:20px;
		font-weight:normal; /* static */
	}
	
	.cmsms_twitter .published,
	.cmsms_posts_slider .post .cmsms_slider_post_cont .cmsms_post_cont_info,
	.cmsms_posts_slider .post .cmsms_slider_post_cont .cmsms_post_cont_info a,
	.widget_recent_entries ul li .post-date,
	.widget .tweet_list *,
	.copyright,
	.post.cmsms_masonry_type .cmsms_post_header .cmsms_post_subtitle,
	.post.cmsms_timeline_type .cmsms_post_header .cmsms_post_subtitle,
	.post.cmsms_puzzle_type .cmsms_post_header .cmsms_post_subtitle {
		font-size:13px;
	}
	
	.post_comments .commentlist .comment-body .alignleft .comment-reply-link {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:15px;
		line-height:20px;
		font-weight:bold;
		font-style:normal;
		text-decoration:none;
		text-transform:uppercase; /* static */
	}
	
	.blog.columns.puzzle .post .puzzle_post_content_wrapper .cmsms_post_read_more,
	.cmsms_posts_slider .post .cmsms_slider_post_cont .cmsms_slider_post_footer .cmsms_slider_post_meta_info > * {
		font-size:12px;
	}
	
	.cmsms_post_date,
	.cmsms_post_comments,
	.cmsmsLike, 
	.cmsmsView.cmsms_theme_icon_view,
	.cmsms_post_cont_info,
	.cmsms_post_cont_info a,
	.archive .cmsms_project_cont_info,
	.archive .cmsms_project_cont_info a {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:15px;
		line-height:20px;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
		font-weight:normal;
	}
	
	.cmsmsLike:before,
	.cmsms_post_comments:before {
		font-size:15px;
		line-height:20px;
	}
	
	.cmsmsView.cmsms_theme_icon_view:before,
	.post .cmsms_post_meta_info > span.cmsmsView.cmsms_theme_icon_view:before,
	.tribe_events .cmsms_post_meta_info > span.cmsmsView.cmsms_theme_icon_view:before {
		font-size:17px;
		line-height:20px;
	}
	
	.opened-article .cmsms_post_date {
		font-size:16px;
	}
	
	.blog.columns.puzzle .post .cmsms_post_cont .cmsms_post_comments, 
	.blog.columns.puzzle .post .cmsms_post_cont .cmsmsLike {
		font-size:12px;
	}
	
	.cmsms_search_post .cmsms_search_post_number_wrap .cmsms_post_type_label {
		font-size:12px;
		line-height:14px;
	}
	
	.cmsms_post_cont_info a,
	.cmsms_post_wrap_info a,
	.archive .cmsms_project_cont_info,
	.archive .cmsms_project_cont_info a {
		font-weight:bold;
	}
	
	.cmsms_post_meta_info,
	.cmsms_slider_post_meta_info {
		height:20px;
	}
	
	.contact_widget_name.cmsms_theme_icon_person:before, 
	.contact_widget_email.cmsms_theme_icon_user_mail:before, 
	.contact_widget_phone.cmsms_theme_icon_user_phone:before, 
	.adress_wrap.cmsms_theme_icon_user_address:before {
		line-height:20px !important;
	}
	
	.post .cmsms_slider_post_header .cmsms_slider_post_subtitle,
	.cmsms_posts_slider .product .product_outer .product_inner .cmsms_product_cat,
	.cmsms_posts_slider .product .product_outer .product_inner .cmsms_product_cat a {
		font-weight:normal; /* static */
	}
	
	.cmsms_pricing_table .cmsms_period,
	.cmsms_pricing_table .cmsms_coins,
	.opened-article .cmsms_post_header h2,
	.opened-article > aside > h3,
	.opened-article .comment-respond > h3,
	.profiles.opened-article .profile .cmsms_profile_inner .profile_sidebar .profile_details .profile_details_title,
	.portfolio.opened-article .about_author .about_author_title, 
	.cmsms_search_post .cmsms_search_post_number_wrap .cmsms_post_type_label,
	.post .cmsms_post_header .cmsms_post_subtitle {
		text-transform:uppercase; /* static */
	}
	/* Finish H6 Font */


	/* Start Button Font */
	.cmsms_button,
	.cmsms_post_read_more,
	form .submit,
	.cmsms_search .cmsms_search_post .cmsms_search_post_cont .cmsms_post_cont_info .cmsms_post_read_more,
	.widget_wysija input[type=submit] {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:16px;
		line-height:22px;
		font-weight:bold;
		font-style:normal;
		text-transform:uppercase;
	}
	
	.button {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:16px;
		line-height:22px;
		font-weight:bold;
		font-style:normal;
	}
	
	.gform_wrapper .gform_footer input.button, 
	.gform_wrapper .gform_footer input[type=submit] {
		font-size:16px !important;
	}
	
	.cmsms_posts_slider .cmsms_slider_post_header .cmsms_slider_post_subtitle {
		font-size:14px;
		line-height:20px;
	}
	
	.cmsms_search .cmsms_search_post .cmsms_search_post_cont .cmsms_post_cont_info * {
		line-height:36px;
	}
	
	.cmsms_search .cmsms_search_post .cmsms_search_post_cont .cmsms_post_cont_info .cmsms_post_meta_info {
		height:36px;
	}
	
	.widget_wysija input[type=submit] {
		line-height:20px;
	}
	
	.cmsms_button.cmsms_but_icon_dark_bg, 
	.cmsms_button.cmsms_but_icon_light_bg, 
	.cmsms_button.cmsms_but_icon_divider, 
	.cmsms_button.cmsms_but_icon_inverse {
		padding-left:42px;
	}
	
	.cmsms_button.cmsms_but_icon_dark_bg:before, 
	.cmsms_button.cmsms_but_icon_light_bg:before, 
	.cmsms_button.cmsms_but_icon_divider:before, 
	.cmsms_button.cmsms_but_icon_inverse:before, 
	.cmsms_button.cmsms_but_icon_dark_bg:after, 
	.cmsms_button.cmsms_but_icon_light_bg:after, 
	.cmsms_button.cmsms_but_icon_divider:after, 
	.cmsms_button.cmsms_but_icon_inverse:after {
		width:22px;
	}
	/* Finish Button Font */


	/* Start Small Text Font */
	small,
	.meta_wrap,
	.meta_wrap a,
	form .formError .formErrorContent {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:11px;
		line-height:18px;
		font-weight:300;
		font-style:normal;
		text-transform:none;
	}

	#navigation > li.menu-item-mega > div.menu-item-mega-container ul ul li.menu-item-mega-description span.menu-item-mega-description-container {
		font-size:11px;
		line-height:18px;
	}
	
	.cmsms_posts_slider .cmsms_slider_post_cont_info,
	.cmsms_posts_slider .cmsms_slider_post_cont_info a {
		font-size:12px;
	}
	
	.cmsms_tabs.lpr .ovh small {
		font-size:13px;
		font-weight:normal; /* static */
	}
	
	.gform_wrapper .description, 
	.gform_wrapper .gfield_description, 
	.gform_wrapper .gsection_description, 
	.gform_wrapper .instruction {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif !important;
		font-size:11px !important;
		line-height:18px !important;
	}
	
	.meta_wrap > div[class^="cmsms-icon-"]:before,
	.meta_wrap > p[class^="cmsms-icon-"]:before,
	.meta_wrap > span[class^="cmsms-icon-"]:before,
	.meta_wrap > strong[class^="cmsms-icon-"]:before,
	.meta_wrap > div[class*=" cmsms-icon-"]:before,
	.meta_wrap > p[class*=" cmsms-icon-"]:before,
	.meta_wrap > span[class*=" cmsms-icon-"]:before,
	.meta_wrap > strong[class*=" cmsms-icon-"]:before, 
	.meta_wrap > div[class^="cmsms_theme_icon_"]:before,
	.meta_wrap > p[class^="cmsms_theme_icon_"]:before,
	.meta_wrap > span[class^="cmsms_theme_icon_"]:before,
	.meta_wrap > strong[class^="cmsms_theme_icon_"]:before,
	.meta_wrap > div[class*=" cmsms_theme_icon_"]:before,
	.meta_wrap > p[class*=" cmsms_theme_icon_"]:before,
	.meta_wrap > span[class*=" cmsms_theme_icon_"]:before,
	.meta_wrap > strong[class*=" cmsms_theme_icon_"]:before {
		font-size:16px;
	}
	
	@media only screen and (max-width: 1024px) {
		html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav #top_line_nav > li > a {
			font-size:12px;
			font-weight:700; /* static */
		}
	}
	/* Finish Small Text Font */


	/* Start Text Fields Font */
	input[type=text],
	input[type=email],
	input[type=password],
	input[type=number],
	input[type=url],
	input[type=tel],
	input[type=search],
	input[type=tel],
	textarea,
	select,
	option, 
	code {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:14px;
		line-height:20px;
		font-weight:normal;
		font-style:normal;
	}
	
	.gform_wrapper input[type=text], 
	.gform_wrapper input[type=url], 
	.gform_wrapper input[type=email], 
	.gform_wrapper input[type=tel], 
	.gform_wrapper input[type=number], 
	.gform_wrapper input[type=password], 
	.gform_wrapper textarea, 
	.gform_wrapper select {
		font-size:14px !important;
	}
	/* Finish Text Fields Font */


	/* Start Blockquote Font */
	blockquote {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:15px;
		line-height:24px;
		font-weight:normal;
		font-style:italic;
	}
	
	q {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-weight:normal;
		font-style:italic;
	}
	/* Finish Blockquote Font */

/***************** Finish Theme Font Styles ******************/


