/**
 * @package 	WordPress
 * @subpackage 	Music Band
 * @version 	1.0.0
 * 
 * Theme Secondary Color Schemes Rules
 * Created by CMSMasters
 * 
 */


/***************** Start Header Color Scheme Rules ******************/

	/* Start Header Content Color */
	.header_mid,
	.header_mid_inner .search_wrap.search_opened .search_bar_wrap button:before {
		color:#ffffff;
	}
	/* Finish Header Content Color */
	
	
	/* Start Header Primary Color */
	.header_mid a,
	.header_mid h1 a:hover,
	.header_mid h2 a:hover,
	.header_mid h3 a:hover,
	.header_mid h4 a:hover,
	.header_mid h5 a:hover,
	.header_mid h6 a:hover,
	.header_mid .color_2,
	.header_mid h1,
	.header_mid h2,
	.header_mid h3,
	.header_mid h4,
	.header_mid h5,
	.header_mid h6,
	.header_mid h1 a,
	.header_mid h2 a,
	.header_mid h3 a,
	.header_mid h4 a,
	.header_mid h5 a,
	.header_mid h6 a,
	.header_mid #navigation > li > a,
	.header_mid .header_mid_inner .search_wrap .search_bar_wrap button:before,
	.header_mid .header_mid_inner .search_wrap .search_bar_wrap input[type=search],
	.header_mid_inner .social_wrap a {
		color:#ffffff;
	}
	
	.header_mid_inner .search_wrap .search_bar_wrap form p.search_button button.cmsms_search_cancel:before,
	.header_mid_inner .search_wrap .search_bar_wrap form p.search_button button.cmsms_search_cancel:after,
	.header_mid .button:hover {
		background-color:#ffffff;
	}
	
	.header_mid input[type=text]:focus,
	.header_mid input[type=email]:focus,
	.header_mid input[type=password]:focus,
	.header_mid input[type=search]:focus,
	.header_mid textarea:focus {
		border-color:#ffffff;
	}
	/* Finish Header Primary Color */
	
	
	/* Start Header Rollover Color */
	.header_mid #navigation > li > a:hover,
	.header_mid #navigation > li.menu-item-highlight > a,
	.header_mid_inner .search_wrap .search_bar_wrap form p.search_button button.cmsms_theme_icon_search:hover:before,
	.header_mid_inner .social_wrap a:hover {
		color:#f2df0c;
	}
	
	@media only screen and (min-width: 1024px) {
		.header_mid #navigation > li:hover > a,
		.header_mid #navigation > li.current-menu-ancestor > a,
		.header_mid #navigation > li.current-menu-item > a,
		.header_mid #navigation > li.current_page_item > a {
			color:#f2df0c;
		}
	}
	
	.header_mid_inner .search_wrap .search_bar_wrap form p.search_button button.cmsms_search_cancel:hover:before,
	.header_mid_inner .search_wrap .search_bar_wrap form p.search_button button.cmsms_search_cancel:hover:after,
	.header_mid #navigation > li > a[data-tag]:before,
	.header_mid #navigation > li > a > span.nav_bg_clr {
		background-color:#f2df0c;
	}
	/* Finish Header Rollover Color */
	
	
	/* Start Header Subtitle Color */
	.header_mid #navigation > li > a > span > span.nav_subtitle {
		color:rgba(255,255,255,.4);
	}
	/* Finish Header Subtitle Color */
	
	
	/* Start Header Background Color */
	.header_mid .button,
	.header_mid .button:hover,
	.header_mid #navigation > li > a[data-tag]:before {
		color:rgba(17,17,17,0);
	}
	
	.header_mid_outer,
	.header_mid .search_wrap .search_bar_wrap,
	.cmsms_dynamic_cart .cmsms_dynamic_cart_button,
	.header_mid input[type=text]:focus,
	.header_mid input[type=number]:focus,
	.header_mid input[type=email]:focus,
	.header_mid input[type=password]:focus,
	.header_mid input[type=search]:focus,
	.header_mid textarea:focus {
		background-color:rgba(17,17,17,0);
	}
	/* Finish Header Background Color */
	
	
	/* Start Header Background Color on Scroll */
	.header_mid_scroll .header_mid_outer {
		background-color:#111111;
	}
	
	.header_mid .search_wrap.search_opened {
		background-color:rgba(17, 17, 17, 0.9);
	}
	/* Finish Header Background Color on Scroll */
	
	
	/* Start Header Borders Color */
	.header_mid input[type=text],
	.header_mid input[type=number],
	.header_mid input[type=email],
	.header_mid input[type=password],
	.header_mid input[type=search],
	.header_mid input[type=submit],
	.header_mid textarea,
	.header_mid select,
	.header_mid option {
		border-color:#000000;
	}
	
	.header_mid hr,
	.header_mid .cmsms_divider {
		border-bottom-color:#000000;
	}
	/* Finish Header Borders Color */
	
	
	/* Start Header Dropdown Link Color */
	.header_mid #navigation ul li a,
	.header_mid #navigation > li > ul li.menu-item-has-children > a:after {
		color:#ffffff;
	}
	
	@media only screen and (max-width: 1024px) {
		.header_mid #navigation > li > a {
			color:#ffffff;
		}
	}
	
	@media only screen and (min-width: 1024px) {
	.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li > a,
	.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li:hover > a,
	.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li > a:hover {
			color:#ffffff;
		}
	}
	/* Finish Header Dropdown Link Color */
	
	
	/* Start Header Dropdown Rollover Color */
	.header_mid #navigation ul li > a:hover,
	.header_mid #navigation ul li.current-menu-item > a,
	.header_mid #navigation ul li.current_page_item > a,
	.header_mid #navigation > li li.menu-item-highlight > a,
	.header_mid #navigation > li li.menu-item-highlight > a:hover,
	.header_mid #navigation > li.menu-item-mega li > a:hover,
	.header_mid #navigation > li.menu-item-mega li li > a:hover,
	.header_mid #navigation > li.menu-item-mega > ul > li > a,
	.header_mid #navigation > li.menu-item-mega > ul > li > a:hover,
	.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container li > a:hover,
	.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container li.current-menu-item > a,
	.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container li.current_page_item > a,
	.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container li.menu-item-highlight > a,
	.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container li.menu-item-highlight > a:hover,
	.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container li.menu-item-highlight:hover > a:hover,
	.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li > a[href]:hover,
	.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container > ul li li > a:hover,
	.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container > ul li li:hover > a:hover,
	.header_mid #navigation > li > ul li.menu-item-has-children:hover > a:after,
	.header_mid #navigation > li > ul li.menu-item-has-children > a:hover:after {
		color:#f2df0c;
	}
	
	@media only screen and (max-width: 1024px) {
		.header_mid #navigation > li > a:hover,
		.header_mid #navigation > li.current-menu-item > a,
		.header_mid #navigation > li.current_page_item > a,
		.header_mid #navigation > li.menu-item-highlight > a,
		.header_mid #navigation > li > a:hover > span > span.nav_subtitle,
		.header_mid #navigation > li.current-menu-item > a > span > span.nav_subtitle,
		.header_mid #navigation > li.current_page_item > a > span > span.nav_subtitle,
		.header_mid #navigation > li.menu-item-highlight > a > span > span.nav_subtitle {
			color:#f2df0c;
		}
	}
	
	@media only screen and (min-width: 1024px) {
		.header_mid #navigation > li.menu-item-mega > ul > li > a,
		.header_mid #navigation ul li:hover > a,
		.header_mid #navigation > li li.menu-item-highlight:hover > a,
		.header_mid #navigation > li.menu-item-mega li:hover > a,
		.header_mid #navigation > li.menu-item-mega > ul > li:hover > a,
		.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container li:hover > a,
		.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container > ul li li:hover > a,
		.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container li.menu-item-highlight:hover > a {
			color:#f2df0c;
		}
	}
	
	.header_mid #navigation ul li > a[data-tag]:before {
		background-color:#f2df0c;
	}
	/* Finish Header Dropdown Rollover Color */
	
	
	/* Start Header Dropdown Subtitle Color */
	.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li > a > span > span.nav_subtitle,
	.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li:hover > a > span > span.nav_subtitle,
	.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li > a:hover > span > span.nav_subtitle {
		color:rgba(255,255,255,.4);
	}
	
	@media only screen and (max-width: 1024px) {
		.header_mid #navigation > li > a > span > span.nav_subtitle {
			color:rgba(255,255,255,.4);
		}
	}
	/* Finish Header Dropdown Subtitle Color */
	
	
	/* Start Header Dropdown Background Color */
	.header_mid #navigation ul li > a[data-tag]:before {
		color:#1e1e1e;
	}
	
	.header_mid input[type=text],
	.header_mid input[type=number],
	.header_mid input[type=email],
	.header_mid input[type=password],
	.header_mid input[type=search],
	.header_mid input[type=submit],
	.header_mid button,
	.header_mid textarea,
	.header_mid select,
	.header_mid option,
	.header_mid #navigation ul,
	.header_mid #navigation > li.menu-item-mega li > a:hover,
	.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container {
		background-color:#1e1e1e;
	}
	
	@media only screen and (max-width: 1024px) {
		.header_mid #navigation {
			background-color:#1e1e1e;
		}
	}
	
	@media only screen and (min-width: 1024px) {
		.header_mid #navigation > li.menu-item-mega li:hover > a {
			background-color:#1e1e1e;
		}
	}
	/* Finish Header Dropdown Background Color */
	
	
	/* Start Header Dropdown Borders Color */
	@media only screen and (max-width: 1024px) {
		.header_mid #navigation li a, 
		.header_mid #navigation > li > a:hover,
		.header_mid #navigation > li.current-menu-item > a,
		.header_mid #navigation > li.current_page_item > a {
			border-color:#000000;
		}
	}
	
	.header_mid #navigation ul li a,
	.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container li li li:first-child {
		border-top-color:#000000;
	}
	/* Finish Header Dropdown Borders Color */
	
	
	/* Start Header Small Menu Background Color */
	@media only screen and (max-width: 1024px) {
		.header_mid_outer,
		.header_mid .search_wrap .search_bar_wrap,
		.cmsms_dynamic_cart .cmsms_dynamic_cart_button,
		.header_mid input[type=text]:focus,
		.header_mid input[type=number]:focus,
		.header_mid input[type=email]:focus,
		.header_mid input[type=password]:focus,
		.header_mid input[type=search]:focus,
		.header_mid textarea:focus {
			background-color:#111111;
		}
	
		.header_mid .search_wrap.search_opened {
			background-color:rgba(17, 17, 17, 0.9);
		}
	}
	/* Finish Header Small Menu Background Color */
	
	
	/* Start Header Custom Rules */
	.header_mid ::selection {
		background:#ffffff;
		color:rgba(17,17,17,0);
	}
	
	.header_mid ::-moz-selection {
		background:#ffffff;
		color:rgba(17,17,17,0);
	}
	
	#page #header .search_bar_wrap input::-webkit-input-placeholder {
		color:rgba(255, 255, 255, 0.3);
	}
	
	#page #header .search_bar_wrap input::-moz-placeholder {
		color:rgba(255, 255, 255, 0.3);
	}
	
	#page #header .search_bar_wrap input:-moz-placeholder {
		color:rgba(255, 255, 255, 0.3);
	}
	
	#page #header .search_bar_wrap input:-ms-input-placeholder {
		color:rgba(255, 255, 255, 0.3);
	}
	
	/* Finish Header Custom Rules */

/***************** Finish Header Color Scheme Rules ******************/



/***************** Start Header Bottom Color Scheme Rules ******************/

	/* Start Header Bottom Content Color */
	.header_bot,
	.header_bot .social_wrap a,
	.header_bot .search_wrap .search_bar_wrap button:before {
		color:#ffffff;
	}
	/* Finish Header Bottom Content Color */
	
	
	/* Start Header Bottom Primary Color */
	.header_bot a,
	.header_bot h1 a:hover,
	.header_bot h2 a:hover,
	.header_bot h3 a:hover,
	.header_bot h4 a:hover,
	.header_bot h5 a:hover,
	.header_bot h6 a:hover,
	.header_bot .color_2,
	.header_bot h1,
	.header_bot h2,
	.header_bot h3,
	.header_bot h4,
	.header_bot h5,
	.header_bot h6,
	.header_bot h1 a,
	.header_bot h2 a,
	.header_bot h3 a,
	.header_bot h4 a,
	.header_bot h5 a,
	.header_bot h6 a,
	.header_bot #navigation > li > a {
		color:#ffffff;
	}
	/* Finish Header Bottom Primary Color */
	
	
	/* Start Header Bottom Rollover Color */
	.header_bot #navigation > li > a:hover,
	.header_bot #navigation > li.menu-item-highlight > a {
		color:#f2df0c;
	}
	
	@media only screen and (min-width: 1024px) {
		.header_bot #navigation > li:hover > a,
		.header_bot #navigation > li.current-menu-ancestor > a,
		.header_bot #navigation > li.current-menu-item > a,
		.header_bot #navigation > li.current_page_item > a {
			color:#f2df0c;
		}
	}
	
	.header_bot #navigation > li > a[data-tag]:before,
	.header_bot #navigation > li > a > span.nav_bg_clr {
		background-color:#f2df0c;
	}
	/* Finish Header Bottom Rollover Color */
	
	
	/* Start Header Bottom Subtitle Color */
	.header_bot #navigation > li > a > span > span.nav_subtitle {
		color:rgba(255,255,255,.4);
	}
	/* Finish Header Bottom Subtitle Color */
	
	
	/* Start Header Bottom Background Color */
	.header_bot_outer {
		background-color:rgba(28,28,28,.9);
	}
	/* Finish Header Bottom Background Color */
	
	
	/* Start Header Bottom Background Color on Scroll */
	.header_bot_scroll .header_bot_outer {
		background-color:#1c1c1c;
	}
	/* Finish Header Bottom Background Color on Scroll */
	
	
	/* Start Header Borders Color */
	.header_bot #navigation > li > a[data-tag]:before {
		color:#000000;
	}
	/* Finish Header Bottom Borders Color */
	
	
	/* Start Header Bottom Dropdown Link Color */
	.header_bot #navigation ul li a,
	.header_bot #navigation > li > ul li.menu-item-has-children > a:after {
		color:#ffffff;
	}
	
	@media only screen and (max-width: 1024px) {
		.header_bot #navigation > li > a,
		.responsive_nav:hover:before {
			color:#ffffff;
		}
	}
	
	@media only screen and (min-width: 1024px) {
		.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li > a,
		.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li:hover > a,
		.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li > a:hover {
			color:#ffffff;
		}
	}
	/* Finish Header Bottom Dropdown Link Color */
	
	
	/* Start Header Bottom Dropdown Rollover Color */
	.header_bot #navigation ul li > a:hover,
	.header_bot #navigation ul li.current-menu-item > a,
	.header_bot #navigation ul li.current_page_item > a,
	.header_bot #navigation > li li.menu-item-highlight > a,
	.header_bot #navigation > li li.menu-item-highlight > a:hover,
	.header_bot #navigation > li.menu-item-mega li > a:hover,
	.header_bot #navigation > li.menu-item-mega li li > a:hover,
	.header_bot #navigation > li.menu-item-mega > ul > li > a,
	.header_bot #navigation > li.menu-item-mega > ul > li > a:hover,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container li > a:hover,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container li.current-menu-item > a,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container li.current_page_item > a,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container li.menu-item-highlight > a,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container li.menu-item-highlight > a:hover,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container li.menu-item-highlight:hover > a:hover,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li > a[href]:hover,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container > ul li li > a:hover,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container > ul li li:hover > a:hover,
	.header_bot #navigation > li > ul li.menu-item-has-children:hover > a:after,
	.header_bot #navigation > li > ul li.menu-item-has-children > a:hover:after {
		color:#f2df0c;
	}
	
	@media only screen and (max-width: 1024px) {
		.header_bot #navigation > li > a:hover,
		.header_bot #navigation > li.current-menu-item > a,
		.header_bot #navigation > li.current_page_item > a,
		.header_bot #navigation > li.menu-item-highlight > a,
		.responsive_nav:hover:before,
		.responsive_nav.active:before {
			color:#f2df0c;
		}
	}
	
	@media only screen and (min-width: 1024px) {
		.header_bot #navigation ul li:hover > a,
		.header_bot #navigation > li li.menu-item-highlight:hover > a,
		.header_bot #navigation > li.menu-item-mega li:hover > a,
		.header_bot #navigation > li.menu-item-mega > ul > li > a,
		.header_bot #navigation > li.menu-item-mega > ul > li:hover > a,
		.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container li:hover > a,
		.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container > ul li li:hover > a,
		.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container li.menu-item-highlight:hover > a {
			color:#f2df0c;
		}
	}
	
	.header_bot #navigation ul li > a[data-tag]:before {
		background-color:#f2df0c;
	}
	/* Finish Header Bottom Dropdown Rollover Color */
	
	
	/* Start Header Bottom Dropdown Subtitle Color */
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li > a > span > span.nav_subtitle,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li:hover > a > span > span.nav_subtitle,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li > a:hover > span > span.nav_subtitle {
		color:rgba(255,255,255,.4);
	}
	
	@media only screen and (max-width: 1024px) {
		.header_bot #navigation > li > a > span > span.nav_subtitle {
			color:rgba(255,255,255,.4);
		}
	}
	/* Finish Header Bottom Dropdown Subtitle Color */
	
	
	/* Start Header Bottom Dropdown Background Color */
	.header_bot #navigation ul li > a[data-tag]:before {
		color:#1c1c1c;
	}
	
	.header_bot #navigation ul,
	.header_bot #navigation > li.menu-item-mega li > a:hover,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container {
		background-color:#1c1c1c;
	}
	
	@media only screen and (max-width: 1024px) {
		.header_bot #navigation {
			background-color:#1c1c1c;
		}
	}
	
	@media only screen and (min-width: 1024px) {
		.header_bot #navigation > li.menu-item-mega li:hover > a {
			background-color:#1c1c1c;
		}
	}
	/* Finish Header Bottom Dropdown Background Color */
	
	
	/* Start Header Bottom Dropdown Borders Color */
	@media only screen and (max-width: 1024px) {
		.header_bot #navigation li a, 
		.header_bot #navigation > li > a:hover,
		.header_bot #navigation > li.current-menu-item > a,
		.header_bot #navigation > li.current_page_item > a {
			border-color:#000000;
		}
	}
	
	.header_bot #navigation ul li a,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container li li li:first-child {
		border-top-color:#000000;
	}
	/* Finish Header Bottom Dropdown Borders Color */
	
	
	/* Start Header Bottom Small Menu Background Color */
	@media only screen and (max-width: 1024px) {
		.header_bot_outer,
		.header_bot .resp_nav_wrap {
			background-color:rgba(28,28,28,.9);
		}
	}
	/* Finish Header Bottom Small Menu Background Color */
	
	
	/* Start Header Bottom Custom Rules */
	.header_bot ::selection {
		background:#ffffff;
		color:rgba(28,28,28,.9);
	}
	
	.header_bot ::-moz-selection {
		background:#ffffff;
		color:rgba(28,28,28,.9);
	}
	
	/* Finish Header Bottom Custom Rules */

/***************** Finish Header Bottom Color Scheme Rules ******************/



/***************** Start Header Top Color Scheme Rules ******************/

	/* Start Header Top Content Color */
	.header_top {
		color:#f2df0c;
	}
	/* Finish Header Top Content Color */
	
	
	/* Start Header Top Primary Color */
	.header_top a,
	.header_top h1 a:hover,
	.header_top h2 a:hover,
	.header_top h3 a:hover,
	.header_top h4 a:hover,
	.header_top h5 a:hover,
	.header_top h6 a:hover,
	.header_top .color_2,
	.header_top h1,
	.header_top h2,
	.header_top h3,
	.header_top h4,
	.header_top h5,
	.header_top h6,
	.header_top h1 a,
	.header_top h2 a,
	.header_top h3 a,
	.header_top h4 a,
	.header_top h5 a,
	.header_top h6 a,
	.header_top_inner .meta_wrap,
	.header_top_inner .meta_wrap a,
	.header_top_inner .social_wrap a,
	.header_top #top_line_nav > li > a,
	.responsive_top_nav:hover:before,
	.responsive_top_nav.active:before {
		color:#f2df0c;
	}
	/* Finish Header Top Primary Color */
	
	
	/* Start Header Top Rollover Color */
	.header_top a:hover,
	.header_top_inner .meta_wrap a:hover,
	.header_top_inner .social_wrap a:hover,
	.header_top #top_line_nav > li > a:hover,
	.header_top #top_line_nav > li.current-menu-item > a,
	.header_top #top_line_nav > li.current_page_item > a,
	.responsive_top_nav:before {
		color:#ffffff;
	}
	
	@media only screen and (min-width: 1024px) {
		.header_top #top_line_nav > li:hover > a {
			color:#ffffff;
		}
	}
	
	.header_top_but .cmsms_top_arrow_pixel, 
	.header_top_but .cmsms_bot_arrow_pixel {
		background-color:#ffffff;
	}
	
	.header_top_but .cmsms_top_arrow_pixel:before, 
	.header_top_but .cmsms_top_arrow_pixel:after, 
	.header_top_but .cmsms_top_arrow_pixel span:before, 
	.header_top_but .cmsms_top_arrow_pixel span:after, 
	.header_top_but .cmsms_bot_arrow_pixel:before, 
	.header_top_but .cmsms_bot_arrow_pixel:after, 
	.header_top_but .cmsms_bot_arrow_pixel span:before, 
	.header_top_but .cmsms_bot_arrow_pixel span:after {
		border-color:#ffffff;
	}
	/* Finish Header Top Rollover Color */
	
	
	/* Start Header Top Background Color */
	.header_top #top_line_nav > li > a > span.cmsms_count {
		color:#000000;
	}

	.header_top {
		background-color:#000000;
	}
	/* Finish Header Top Background Color */
	
	
	/* Start Header Top Dropdown Link Color */
	.header_top #top_line_nav ul li a,
	.header_top  nav > div > ul > li > ul li.menu-item-has-children > a:after {
		color:#ffffff;
	}
	
	@media only screen and (max-width: 1024px) {
		.header_top #top_line_nav > li > a {
			color:#ffffff;
		}
	}
	/* Finish Header Top Dropdown Link Color */
	
	
	/* Start Header Top Dropdown Rollover Color */
	.header_top #top_line_nav ul li > a:hover,
	.header_top #top_line_nav ul li.current-menu-item > a,
	.header_top #top_line_nav ul li.current_page_item > a,
	.header_top nav > div > ul > li > ul li.menu-item-has-children:hover > a:after,
	.header_top nav > div > ul > li > ul li.menu-item-has-children > a:hover:after {
		color:#f2df0c;
	}
	
	@media only screen and (max-width: 1024px) {
		.header_top #top_line_nav > li > a:hover,
		.header_top #top_line_nav > li.current-menu-item > a,
		.header_top #top_line_nav > li.current_page_item > a {
			color:#f2df0c;
		}
	}
	
	@media only screen and (min-width: 1024px) {
		.header_top #top_line_nav ul li:hover > a {
			color:#f2df0c;
		}
	}
	/* Finish Header Top Dropdown Rollover Color */
	
	
	/* Start Header Top Dropdown Background Color */
	@media only screen and (max-width: 1024px) {
		.header_top #top_line_nav {
			background-color:#000000;
		}
	}
	
	@media only screen and (min-width: 1024px) {
		.header_top #top_line_nav ul {
			background-color:#000000;
		}
	}
	/* Finish Header Top Dropdown Background Color */
	
	
	/* Start Header Top Small Menu Background Color */
	@media only screen and (max-width: 1024px) {
		.header_top {
			background-color:#000000;
		}
	}
	/* Finish Header Top Small Menu Background Color */
	
	
	/* Start Header Top Custom Rules */
	.header_top ::selection {
		background:#f2df0c;
		color:#000000;
	}
	
	.header_top ::-moz-selection {
		background:#f2df0c;
		color:#000000;
	}
	
	/* Finish Header Top Custom Rules */

/***************** Finish Header Top Color Scheme Rules ******************/

