/**
 * @package 	WordPress
 * @subpackage 	Music Band
 * @version 	1.0.1
 * 
 * WooCommerce CSS Rules
 * Created by CMSMasters
 * 
 */



/*-------------------------------------------------------------------------

	0.	LESS Variables + Functions
	1. 	Shop Page
	2. 	Single Product
	3. 	Cart
	4. 	Checkout
	5. 	Order
	6. 	Dynamic Cart
	7. 	Widgets
	8. 	Shortcodes
	9.	CSS3 Animations

-------------------------------------------------------------------------*/



/*-------------------------------------------------------------------------*/
/*	0.	LESS Variables & Functions	*/
/*-------------------------------------------------------------------------*/

/***************** Variables ******************/

@input_pad:11px;

@line_height_pad:20px;
@blocks_hor_pad:20px;
@cont_vert_pad:30px;

@col_mar:1.7%;

@resp_blocks_pad:46.5%;

@preloader_pad:100%;


/***************** Functions ******************/
.fl () {
	float:left;
}

.fr () {
	float:right;
}

.dn () {
	display:none;
}

.tal () {
	text-align:left;
}

.tac () {
	text-align:center;
}

.tar () {
	text-align:right;
}

.cl () {
	clear:both;
}

.ovh () {
	overflow:hidden;
}

.m0a () {
	margin:0 auto;
}

.bd (@w:1px; @t:solid) {
	border-width:@w;
	border-style:@t;
}

.bdt (@w:1px; @t:solid) {
	border-top-width:@w;
	border-top-style:@t;
}

.bdb (@w:1px; @t:solid) {
	border-bottom-width:@w;
	border-bottom-style:@t;
}

.bdr (@w:1px; @t:solid) {
	border-right-width:@w;
	border-right-style:@t;
}

.bdl (@w:1px; @t:solid) {
	border-left-width:@w;
	border-left-style:@t;
}

.color_white_opacity (@op:.5) {
	color:rgba(255, 255, 255, @op);
}

.bg_white_opacity (@op:.5) {
	background-color:rgba(255, 255, 255, @op);
}

.fullwidth_in_block () {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}

.op (@op:.5) {
	opacity:@op;
}

.cl_after () {
	content:'.';
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
	overflow:hidden;
}

.pos_abs (@w:1em; @h:1em; @l:0; @r:0; @t:0; @b:0) {
	width:@w;
	height:@h;
	margin:auto !important;
	position:absolute;
	left:@l;
	right:@r;
	top:@t;
	bottom:@b;
}

.bdbx () {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.ctbx () {
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}

.bdrs (@radius:5px) {
	-webkit-border-radius:@radius;
	border-radius:@radius;
}

.bxsh (@x:0; @y:0; @blur:5px; @spred:0; @alpha:.05) {
	-webkit-box-shadow:@x @y @blur @spred rgba(0, 0, 0, @alpha);
	box-shadow:@x @y @blur @spred rgba(0, 0, 0, @alpha);
}

.bxshi (@x:0; @y:0; @blur:5px; @spred:0; @alpha:.05) {
	-webkit-box-shadow:inset @x @y @blur @spred rgba(0, 0, 0, @alpha);
	box-shadow:inset @x @y @blur @spred rgba(0, 0, 0, @alpha);
}

.bxsh_none () {
	-webkit-box-shadow:none;
	box-shadow:none;
}

.trans(@trans:0) when not (@trans = 0) {
    -webkit-transition:@trans;
    -moz-transition:@trans;
    -ms-transition:@trans;
    -o-transition:@trans;
    transition:@trans;
}

.arrow_top (@h:5px; @w:5px) {
	border-top:0 solid transparent !important;
	border-left:@w solid transparent !important;
	border-right:@w solid transparent !important;
	border-bottom-width:@h;
	border-bottom-style:solid;
}

.arrow_bottom (@h:5px; @w:5px) {
	border-bottom:0 solid transparent !important;
	border-left:@w solid transparent !important;
	border-right:@w solid transparent !important;
	border-top-width:@h;
	border-top-style:solid;
}

.arrow_left (@h:5px; @w:5px) {
	border-left:0 solid transparent !important;
	border-top:@w solid transparent !important;
	border-bottom:@w solid transparent !important;
	border-right-width:@h;
	border-right-style:solid;
}

.arrow_right (@h:5px; @w:5px) {
	border-right:0 solid transparent !important;
	border-top:@w solid transparent !important;
	border-bottom:@w solid transparent !important;
	border-left-width:@h;
	border-left-style:solid;
}

.arrow_top_left (@h:5px; @w:5px) {
	border-right:@w solid transparent !important;
	border-left:0 solid transparent !important;
	border-bottom:0 solid transparent !important;
	border-top-width:@h;
	border-top-style:solid;
}

.arrow_top_right (@h:5px; @w:5px) {
	border-bottom:@h solid transparent !important;
	border-top:0 solid transparent !important;
	border-left:0 solid transparent !important;
	border-right-width:@w;
	border-right-style:solid;
}

.arrow_bottom_left (@h:5px; @w:5px) {
	border-top:@h solid transparent !important;
	border-right:0 solid transparent !important;
	border-bottom:0 solid transparent !important;
	border-left-width:@w;
	border-left-style:solid;
}

.arrow_bottom_right (@h:5px; @w:5px) {
	border-left:@w solid transparent !important;
	border-top:0 solid transparent !important;
	border-right:0 solid transparent !important;
	border-bottom-width:@h;
	border-bottom-style:solid;
}



/* -------------------------------- Start WooCommerce Styles (cmsms_woo) -------------------------------- */

.woocommerce:after {
	.cl_after;
}

.cmsms_woo.fullwidth {
	padding-top:40px;
	padding-bottom:40px;
}

.demo_store {
	.dn;
}

.product .preloader {
	padding-bottom:@preloader_pad;
	
	img {
		width:100%;
		min-width:100%;
		height:100%;
		position:absolute;
		left:0;
		top:0;
	}
}

.product .cmsms_hover_slider .cmsms_hover_slider_items {
	padding-bottom:@preloader_pad;
}


/*	Star Rating */

.cmsms_star_rating {
	width:73px;
	height:12px;
	display:block;
	position:relative;
	.ovh;
	
	.cmsms_star {
		font-size:12px;
		width:13px;
		height:12px;
		display:block;
		margin-left:2px;
		position:relative;
		.ovh;
		.fl;
		
		&:first-child {
			margin-left:0;
		}
		
		&:before {
			.pos_abs;
		}
	}
	
	.cmsms_star_trans_wrap {
		position:relative;
		.ovh;
	}
	
	.cmsms_star_color_wrap {
		position:absolute;
		left:0;
		top:0;
		.ovh;
		
		.cmsms_star_color_inner {
			width:73px;
			height:12px;
			position:relative;
			.ovh;
		}
	}
}

.product .related.products h2 {
	margin-bottom:0;
}

.comment-form-rating {
	position:relative;
	.ovh;
	
	.stars {
		> span {
			display:block;
			width:65px;
			height:14px;
			position:relative;
			.ovh;
			
			&:before, 
			a:before {
				font-family:"fontello";
				line-height:1em;
				font-style:normal;
				font-weight:normal;
				text-decoration:inherit;
				text-align:center;
				vertical-align:baseline;
				font-variant:normal;
				text-transform:none;
				speak:none;
				-webkit-font-smoothing:antialiased;
				-moz-osx-font-smoothing:grayscale;
				
				font-size:14px;
				text-indent:0;
				display:block;
				width:100%;
				height:100%;
				position:absolute;
				left:0;
				top:0;
			}
			
			&:before {
				content:'\e826\e826\e826\e826\e826';
			}
			
			a:before {
				content:'\e826\e826\e826\e826\e826';
			}
		
			a {
				color:transparent;
				text-indent:9999px;
				height:100%;
				display:block;
				position:absolute;
				left:0;
				top:0;
				.ovh;
			
				&.star-1 {
					width:13px;
					z-index:10;
				}
				
				&.star-2 {
					width:26px;
					z-index:9;
				}
				
				&.star-3 {
					width:39px;
					z-index:8;
				}
				
				&.star-4 {
					width:52px;
					z-index:7;
				}
				
				&.star-5 {
					width:65px;
					z-index:6;
				}
			}
		}
	}
}


/*	Sale */

.onsale, 
.out-of-stock {
	padding:0 5px;
	z-index:3;
	margin:auto !important;
	position:absolute;
	left:0;
	right:auto;
	top:0;
	bottom:auto;
	.tac;
	.ovh;
}

.out-of-stock {
	padding:16px 5px;
}


/*	checkbox and radio */

.input-checkbox, 
.input-radio, 
input.shipping_method {
	margin:auto;
	position:absolute;
	left:0;
	right:auto;
	top:0;
	bottom:auto;
	.op(0);

	+ label {
		display:inline-block;
		padding:0 0 0 25px;
		position:relative;
		cursor:pointer;
		
		&:before {
			content:'';
			display:block;
			.pos_abs(13px, 13px, 0, auto);
			.bd(2px);
		}
		
		&:after {
			content:'';
			display:block;
			-webkit-transform:scale(0);
			-moz-transform:scale(0);
			transform:scale(0);
			.pos_abs(9px, 9px, 2px, auto);
			.op(0);
		}
	}
	
	&:checked {
		+ label {
			&:after {
				-webkit-transform:scale(1);
				-moz-transform:scale(1);
				transform:scale(1);
				.op(1);
			}
		}
	}
}

.input-radio, 
input.shipping_method {
	+ label {
		&:before, 
		&:after {
			.bdrs(50%);
		}
	}
}


/*	Shipping */

#shipping_method {
	padding:0;
	margin:0;
	
	li {
		.ovh;
		
		&:before {
			content:none;
		}
	}
}

.woocommerce-message, 
.woocommerce-info, 
.woocommerce-error {
	padding:25px 0 15px;
	margin-bottom:40px;
	padding:20px;
	float:none;
	position:relative;
	.bd(2px);
	.tac;
	.cl;
	.ovh;
	
	a {
		&:before {
			content:'';
			display:block;
			width:100%;
			height:0;
			clear:both;
			position:relative;
			.ovh;
		}
	}
	
	.button {
		margin-right:30px;
		margin-bottom:10px;
	}
}

.woocommerce-error {
	li {
		padding:0;
		margin:0;
		
		&:before {
			content:none;
		}
	}
}


/*	Quantity */

.quantity {
	display:inline-block;
	vertical-align:middle;
	position:relative;
	.ovh;
	
	.text {
		display:block;
		width:65px;
		min-width:0;
		height:36px;
		padding:0 0 0 5px;
		.bdrs(0);
		.bxsh_none;
	}
}


/*	Variation */

dl.variation {
	display:block;
	padding:0;
	.ovh;
	
	&:after {
		.cl_after;
	}
	
	dt,
	dd, 
	p {
		display:block;
		margin:0;
		padding:0;
		.ovh;
	}
	
	dt {
		padding-right:10px;
		float:left;
		clear:left;
	}
	
	dd {
		float:left;
	}
}


/*	Col2-set */

.col2-set {
	margin:0 -@col_mar 30px;
	position:relative;
	.ovh;

	> * {
		width:round((100% / 2) - (@col_mar * 2), 2);
		margin:0 @col_mar;
		position:relative;
		.fl;
		.ovh;
	}
}


/*	Form Row Styles */

.form-row {
	width:round((100% / 2) - (@col_mar * 2), 2);
	margin:0 @col_mar;
	position:relative;
	.fl;
	
	&:after {
		.cl_after;
	}
	
	&.form-row-wide, 
	&.notes, 
	&.place-order {
		width:round(100% - (@col_mar * 2), 2);
		float:none;
		.cl;
	}
	
	&.place-order {
		width:auto;
		margin:0;
	}
	
	label {
		display:block;
		padding:0 0 2px;
		
		.required {
			vertical-align:top;
		}
	}
	
	select, 
	input, 
	textarea {
		width:100%;
		max-width:100%;
	}
	
	textarea {
		min-height:200px;
	}
	
	input[type="checkbox"], 
	input[type="radio"], 
	input[type="submit"], 
	input[type="button"] {
		width:auto;
	}
}



/*-------------------------------------------------------------------------*/
/*	1. Shop Page */
/*-------------------------------------------------------------------------*/

.cmsms_woo.fullwidth {
	.cmsms_woo_wrap_result {
		margin-top:30px;
	}
}

.cmsms_woo_wrap_result {
	position:relative;
	.ovh;
	.cl;
	
	select {
		width:100%;
		max-width:100%;
	}
	
	.woocommerce-result-count {
		padding:10px;
		.fr;
	}
	
	.woocommerce-ordering {
		.fl;
	}
}

div.products {
	margin:0 0 50px;
	position:relative;
	.ovh;
	
	> h2 {
		margin:0;
	}
}

.page-description {
	margin:0 -@col_mar;
}

.cmsms_products {
	margin:0 -@col_mar;
	padding:0 0 40px;
	overflow:hidden;
	position:relative;
	
	.product {
		width:round((100% / 4) - (@col_mar * 2), 2);
		margin:0 @col_mar;
		padding:60px 0 0;
		position:relative;
		word-wrap:break-word;
		.ovh;
		.fl;
		
		&:before {
			content:none;
		}
		
		&.outofstock  .onsale {
			.dn;
		}
		
		&:not(.outofstock) {
			.product_outer {
				.product_inner {
					&:hover {
						.cmsms_product_img_wrap {
							.cmsms_product_footer {
								> a {
									-webkit-transform:scale(1);
									-moz-transform:scale(1);
									transform:scale(1);
									.op(1);
								}
							}
						}
					}
				}
			}
		}
		
		.product_outer {
			position:relative;
			.ovh;
			
			.product_inner {
				position:relative;
				.ovh;
				
				.cmsms_product_img_wrap {
					margin-bottom:12px;
					position:relative;
					.ovh;
					
					.cmsms_product_img {
						display:block;
						.ovh;
						
						> a {
							display:block;
						
							&:before {
								content:'';
								background-color:transparent;
								width:100%;
								height:100%;
								z-index:1;
								position:absolute;
								left:0;
								top:0;
							}
						}
					}
					
					.cmsms_product_footer {
						width:160px;
						margin:auto !important;
						z-index:2;
						position:absolute;
						left:0;
						right:0;
						top:0;
						bottom:0;
						.tac;
						.ovh;
						
						> a {
							background-color:transparent;
							white-space:nowrap;
							padding:6px 18px;
							-webkit-transform:scale(0);
							-moz-transform:scale(0);
							transform:scale(0);
							.op(0);
							.ovh;
							
							&:before {
								font-size:14px;
								margin:0 10px 0 -1px;
							}
							
							&.cmsms_add_to_cart_button {
								&.loading {
									.op(1);
									
									&:before {
										content:'\e8e3';
										font-family:"fontello";
										font-style:normal;
										font-weight:normal;
										speak:none;
										display:inline-block;
										text-decoration:inherit;
										width:1em;
										text-align:center;
										vertical-align:baseline;
										font-variant:normal;
										text-transform:none;
										line-height:1em;
										-webkit-font-smoothing:antialiased;
										-moz-osx-font-smoothing:grayscale;
										-webkit-animation:spin 2s infinite linear;
										-moz-animation:spin 2s infinite linear;
										animation:spin 2s infinite linear;
									}
								}
								
								&.added {
									.dn;
								}
							}
							
							&.added_to_cart {
								display:none;
								
								&.cmsms_visible {
									display:inline-block;
								}
							}
							
							> span {
								width:0;
								.ovh;
							}
							
							&:hover {
								max-width:300px;
								
								> span {
									width:auto;
								}
							}
						}
					}
				}
				
				.cmsms_product_header {
					position:relative;
					.ovh;
					
					.cmsms_product_title {
						margin:0;
						
						> a {
							border-color:transparent;
							.bdb(2px);
						}
					}
				}
				
				.cmsms_product_cat {
					position:relative;
					.ovh;
				}
				
				.cmsms_product_info {
					position:relative;
					.ovh;
					
					&:after {
						.cl_after;
					}
					
					.cmsms_star_rating {
						display:inline-block;
						margin-top:10px;
						vertical-align:middle;
					}
				
					.price {
						position:relative;
						.fr;
						.ovh;
						
						del {
							margin-right:5px;
							vertical-align:top;
						}
						
						ins {
							text-decoration:none;
							vertical-align:middle;
						}
					}
				}
			}
		}
	}
}

.r_sidebar .content, 
.l_sidebar .content {
	> .cmsms_products {
		.product {
			width:round((100% / 3) - (@col_mar * 2), 2);
			
			&:nth-child(3n+1) {
				clear:left;
			}
		}
	}
}

.fullwidth .middle_content {
	> .cmsms_products {
		.product {
			&:nth-child(4n+1) {
				clear:left;
			}
		}
	}
}



/*-------------------------------------------------------------------------*/
/*	2. Single Product */
/*-------------------------------------------------------------------------*/

.cmsms_woo.fullwidth {
	.cmsms_single_product {
		padding-top:30px;
	}
}

.cmsms_single_product {
	position:relative;
	
	&:after {
		.cl_after;
	}
	
	.cmsms_product_left_column {
		width:50%;
		padding:0 20px 60px 0;
		position:relative;
		.fl;
		.ovh;
	}
	
	.cmsms_product_images {
		position:relative;
		.ovh;
		
		.cmsms_product_image {
			position:relative;
			display:block;
			max-width:100%;
			.tac;
			
			img {
				width:auto;
				height:auto;
				max-width:100%;
			}
		}
		
		.cmsms_product_thumbs {
			display:block;
			margin:0 -5px;
			position:relative;
			.ovh;
			
			.cmsms_product_thumb {
				display:inline-block;
				width:130px;
				margin:10px 5px 0;
				position:relative;
				.tac;
			}
		}
	}
	
	.cmsms_product_right_column {
		width:50%;
		padding:0 0 60px 20px;
		position:relative;
		.fr;
		
		&:after {
			.cl_after;
		}
		
		.out-of-stock {
			.dn;
		}
		
		.product_title {
			margin:-13px 0 0;
		}
		
		.product_meta {
			margin:-8px 0 12px;
			position:relative;
			.ovh;
			
			> span {
				display:block;
				margin-top:5px;
				
				&:first-child {
					margin-top:0;
				}
				
				strong {
					.dn;
				}
			}
		}
		
		.cmsms_star_rating {
			margin-bottom:20px;
		}
		
		.price {
			padding-bottom:35px;
			position:relative;
			.ovh;
			
			del {
				display:inline-block;
				margin-right:10px;
				vertical-align:top;
			}
			
			ins {
				text-decoration:none;
				display:inline-block;
				vertical-align:top;
			}
		}
		
		.cart {
			margin:15px 0 0;
			position:relative;
			.ovh;
			
			.variations {
				width:100%;
				position:relative;
				direction:rtl;
				.ovh;
				
				td {
					background:none;
					
					&.value {
						width:100px;
						padding:0 15px 0 0;
					}
					
					.reset_variations {
						display:inline-block;
						padding-top:5px;
						direction:ltr;
						
						&:before {
							content:'';
							display:block;
							clear:both;
						}
					}
					
					select {
						margin-bottom:10px;
						direction:ltr;
					}
				}
			}
			
			.single_variation_wrap {
				margin:30px 0 0;
				position:relative;
				.ovh;
				
				.single_variation {
					padding-bottom:20px;
				}
			}
			
			.quantity {
				padding-right:10px;
				.fl;
				
				.qty {
					width:70px;
					padding:6px 5px;
					.bd;
				}
			}
			
			.single_add_to_cart_button {
				min-width:110px;
			}
		}
		
		.product_title + .cart,
		.product_meta + .cart,
		.cmsms_star_rating + div + div + .cart,
		.cmsms_star_rating + .cart {
			margin-top:45px;
		}
	}
	
	.cmsms_woo_tabs {
		margin:0 0 50px;
		position:relative;
		.cl;
		.ovh;
		
		.cmsms_tabs_list {
			.cmsms_tabs_list_item {
				> a {
					padding-right:50px;
				}
			}
		}
		
		.shop_attributes {
			width:100%;
			position:relative;
			.ovh;
			
			tr {
				display:block;
				padding-top:2px;
				
				&:first-child {
					padding-top:0;
				}
				
				th, 
				td {
					display:inline-block;
					
					* {
						margin:0;
						padding:0;
					}
				}
				
				th {
					max-width:100%;
				}
			}
		}
		
		#reviews {
			position:relative;
			.ovh;
			
			#comments {
				position:relative;
				.ovh;
				
				.cmsms_star_rating {
					height:14px;
					margin-top:8px;
					.fr;
				}
				
				> .cmsms_star_rating {
					width:87px;
					
					.cmsms_star_color_inner {
						height:14px;
					}
					
					.cmsms_star {
						font-size:14px;
						width:15px;
						height:14px;
						margin-left:3px;
						
						&:first-child {
							margin-left:0;
						}
					}
				}
				
				> h2 {
					padding-right:15px;
					.ovh;
				}
				
				.commentlist {
					list-style:none;
					margin:0;
					padding:15px 0 0;
					position:relative;
					.ovh;
					
					.comment {
						margin:0 0 25px;
						padding:0;
						position:relative;
						.ovh;
						
						&:last-child {
							margin:0;
						}
						
						.comment_container {
							position:relative;
							.ovh;
							
							.avatar {
								margin:5px 20px 0 0;
								.bdrs(50%);
								.fl;
							}
							
							.comment-text {
								padding:20px 0 5px;
								position:relative;
								.ovh;
								
								.cmsms_star_rating {
									margin:8px 0 0;
									.fr;
								}
								
								.meta {
									padding:0 15px 15px 0;
									position:relative;
									.ovh;
									
									h5 {
										margin:0;
									}
								}
								
								.description {
									position:relative;
									.cl;
									.ovh;
								}
							}
						}
					}
				}
			}
			
			.comment-respond {
				padding-bottom:0;
				position:relative;
				.ovh;
				
				.comment-reply-title {
					position:relative;
					.ovh;
				}
				
				.comment-form-author, 
				.comment-form-email {
					width:round((100% / 2) - @col_mar, 2);
				}
				
				.stars {
					padding-bottom:0;
				}
				
				label {
					display:block;
					padding:0 0 10px;
				}
			}
		}
	}
}



/*-------------------------------------------------------------------------*/
/*	3. Cart */
/*-------------------------------------------------------------------------*/

.shop_table {
	border-spacing:0;
	border-collapse:separate;
	width:100%;
	margin:0 0 50px;
	position:relative;
	.ovh;
	
	thead, 
	tr {
		width:100%;
		position:relative;
		.ovh;
	}
	
	th,
	td {
		padding:12px 10px 12px 30px;
		vertical-align:middle;
		position:relative;
		.bdt(2px);
		.tal;
		.ovh;
	}
	
	thead tr {
		th, 
		td {
			text-transform:uppercase;
			padding:20px 10px 20px 20px;
			.bdt(0);
			
			&:first-child {
				padding:20px 10px 20px 30px;
			}
		}
	}
	
	tbody {
		tr {
			td {
				&:first-child {
					width:100px;
				}
			}
		}
	}
	
	tr {
		&.cart_item {
			th,
			td {
				.bdt;
			}
		
			td {
				&:first-child {
					padding:20px 10px 20px 30px;
					.bdl(2px);
				}
				
				&:last-child {
					.bdr(2px);
				}
			}
		}
	}
	
	td {
		padding:20px 10px 20px 20px;
		
		&.product-remove {
			.remove {
				font-size:12px;
				display:inline-block;
				width:30px;
				height:30px;
				vertical-align:middle;
				position:relative;
				.tac;
				
				&:before {
					content:'\e83b';
					font-family:'fontello';
					line-height:1em;
					width:1em;
					height:1em;
					margin:auto !important;
					position:absolute;
					left:0;
					right:0;
					top:0;
					bottom:0;
				}
			}
		}
		
		&.product-thumbnail {
			img {
				width:60px;
				height:auto;
			}
		}
		
		&.product-quantity {
			.quantity {
				input {
					padding:0 5px 0 10px;
					.bd;
				}
			}
		}
		
		&.actions {
			padding:40px 0 0;
			.tar;
			
			.coupon {
				position:relative;
				.fl;
				.ovh;
				
				label {
					.dn;
				}
				
				#coupon_code {
					width:260px;
				}
				
				.input-text {
					padding-top:6px;
					padding-bottom:6px;
					margin-right:5px;
				}
			}
			
			.button {
				text-transform:uppercase;
				min-width:125px;
				max-width:100%;
				margin-left:5px;
				padding-top:6px;
				padding-bottom:6px;
			}
		}
	}
}

.cross-sells {
	margin-bottom:50px;
	
	h2 {
		margin-bottom:0;
	}
}

.cart-collaterals {
	width:50%;
}

.cart_totals {
	position:relative;
	.ovh;
	
	> h2 {
		position:relative;
	}
	
	.cart_totals_title {
		text-transform:uppercase;
		position:relative;
	}
	
	.wc-proceed-to-checkout {
		padding:0 30px 35px;
		position:relative;
		.bdl(2px);
		.bdr(2px);
		.bdb(2px);
		.ovh;
	}
	
	table {
		border-spacing:0;
		border-collapse:separate;
		width:100%;
		position:relative;
		.ovh;
		
		tr {
			width:100%;
			position:relative;
			.ovh;
			
			&:first-child {
				th, 
				td {
					.bdt(2px);
				}
			}
			
			&:last-child {
				th, 
				td {
					.bdb(0);
				}
			}
			
			th, 
			td {
				width:43%;
				padding:20px 30px;
				vertical-align:middle;
				position:relative;
				.bdt;
				.bdl(2px);
				.tal;
				.ovh;
			}
			
			td {
				width:57%;
				.bdr(2px);
				.bdl(0);
				.tar;
			}
			
			&.cart-subtotal,
			&.order-total {
				th {
					font-weight:bold;
				}
				
				td, 
				td strong {
					font-weight:normal;
				}
			}
			
			&.shipping {
				th {
					padding:30px;
					vertical-align:top;
				}
				
				td {
					padding:35px 30px 30px;
				}
			
				#shipping_method {
					input[type="checkbox"], 
					input[type="radio"] {
						left:auto;
						right:0;
						.fr;
					
						+ label {
							padding-left:0;
							padding-right:25px;
							.fr;
							
							&:before {
								left:auto;
								right:0;
							}
						}
					}
					
					input[type="checkbox"] {
						+ label {
							&:after {
								left:auto;
								right:3px;
							}
						}
					}
					
					input[type="radio"] {
						+ label {
							&:after {
								left:auto;
								right:2px;
							}
						}
					}
				}
			}
		}
	}
}

.shipping_calculator {
	position:relative;
	.ovh;
}

.shipping-calculator-button-wrap {
	padding:10px 0 0;
	padding-bottom:0;
	
	a.shipping-calculator-button {
		border-color:transparent;
		.bdb(2px);
	}
}

.shipping-calculator-form {
	margin:20px -@col_mar 0;
	
	> * {
		width:round(100% - (@col_mar * 2), 2);
		margin:0 @col_mar;
		.cl;
	}
	
	.form-row {
		width:round(100% - (@col_mar * 2), 2);
		float:left;
		clear:none;
	}
	
	p {
		padding-bottom:21px;
	}
	
	input, 
	select, 
	textarea {
		width:100%;
		padding:6px;
		max-width:100%;
	}
	
	select {
		height:36px;
	}
	
	input[type="checkbox"], 
	input[type="radio"] {
		width:auto;
	}
	
	.button {
		padding:5px 20px;
	}
}



/*-------------------------------------------------------------------------*/
/*	4. Checkout */
/*-------------------------------------------------------------------------*/

.checkout_coupon {
	margin:0 -@col_mar 30px;
	position:relative;
	.ovh;
	
	input,
	input[type=submit] {
		width:100%;
		max-width:100%;
	}
}

body .select2-container {
	.select2-choice, 
	&.select2-drop-above .select2-choice {
		border-width:2px;
		padding:8px !important;
		.bdrs(0);
	}
}

body .select2-drop.select2-drop-active, 
body .select2-drop.select2-drop-above.select2-drop-active {
	border-width:2px;
	.bdrs(0);
}

.checkout {
	position:relative;
	.ovh;
}

.woocommerce-billing-fields, 
.woocommerce-shipping-fields {
	margin:0 -@col_mar;
	position:relative;
	.ovh;
	
	&:after {
		.cl_after;
	}
	
	> h3, 
	#ship-to-different-address {
		margin-left:@col_mar;
		margin-right:@col_mar;
		position:relative;
		.ovh;
	}
	
	#ship-to-different-address {
		margin-top:3px;
		.fr;
		
		label {
			display:inline-block;
			padding:0 0 0 25px;
		}
	}
}

#order_review {
	position:relative;
	.ovh;
	
	.shop_table {
		tr {
			th, 
			td {
				width:40%;
				padding:15px 30px;
				.bdt;
				
				&:first-child {
					width:60%;
					.bdl(2px);
				}
				
				&:last-child {
					.bdr(2px);
				}
			}
		}
		
		thead {	
			th {
				.bdt(2px);
			}
		}
		
		tfoot {
			tr {
				&.shipping {
					p {
						padding-bottom:0;
					}
				}
				
				&:last-child {
					th,
					td {
						.bdb(2px);
					}
				}
			}
		}
	}
	
	#payment {
		padding:35px 30px 50px;
		position:relative;
		.bd(2px);
		.ovh;
		
		.payment_methods {
			list-style:none;
			margin:0;
			padding:0;
			position:relative;
			.ovh;
			
			li {
				position:relative;
				.ovh;
			
				&:before {
					content:none;
				}
			}
			
			label {
				display:inline-block;
				float:none;
				
				img {
					.dn;
				}
			}
			
			.payment_box {
				padding:15px 25px;
				position:relative;
				.cl;
				
				p {
					padding:0;
				}
			}
		}
		
		.place-order {
			padding:30px 0 0;
			position:relative;
			.ovh;
			
			> * {
				display:inline-block;
				float:none;
				vertical-align:middle;
			}
			
			.button {
				padding:8px 15px;
			}
			
			.terms {
				width:auto;
				padding:0 0 0 25px;
				margin:0;
				direction:rtl;
				.ovh;
				
				> * {
					direction:ltr;
				}
				
				label {
					display:inline-block;
					vertical-align:middle;
					padding:0 0 0 5px;
				}
				
				.input-checkbox {
					display:inline-block;
					vertical-align:middle;
					position:static;
					.op(1);
				}
			}
		}
	}
}



/*-------------------------------------------------------------------------*/
/*	5. Order */
/*-------------------------------------------------------------------------*/

ul.order_details {
	list-style:none;
	margin:0 0 25px;
	padding:0;
	position:relative;
	.ovh;
	
	li {
		width:25%;
		margin:0;
		padding:0;
		position:relative;
		.fl;
		.ovh;
		
		&:first-child {
			strong {
				.bdl(2px);
			}
		}
		
		&:last-child {
			strong {
				.bdr(2px);
			}
		}
		
		&:before {
			content:none;
		}
		
		> span {
			display:block;
			padding:12px 10px 12px 30px;
		}
		
		> strong {
			font-weight:normal;
			display:block;
			padding:25px 10px 25px 30px;
			.bdb(2px);
		}
	}
	
	&.bacs_details {
		li {
			padding:12px 10px 0 30px;
			
			> span {
				.bd(0);
			}
			
			> strong {
				margin:12px -10px 0 -30px;
				padding:12px 10px 12px 30px;
			}
		}
	}
}

.shop_table.order_details, 
.shop_table.customer_details {
	.bdl(0);
	
	thead {
		tr {
			&:first-child {
				th,
				td {
					.bdt(2px);
				}
			}
		}
	}
	
	tfoot {
		tr {
			&:last-child {
				th,
				td {
					.bdb(2px);
				}
			}
		}
	}
	
	tr {
		th:first-child,
		td:first-child {
			.bdl(2px);
		}
		
		th:last-child,
		td:last-child {
			.bdr(2px);
		}
	}
	
	th,
	td {
		padding:15px 10px 15px 30px;
		width:50%;
		.bdt;
	}
}

.shop_table.customer_details {
	tr:first-child {
		th, 
		td {
			.bdt(2px);
		}
	}
	
	tr:last-child {
		th, 
		td {
			.bdb(2px);
		}
	}
}

.customer_details {
	margin:0 0 30px;
	position:relative;
	.ovh;
	
	dt, 
	dd {
		display:block;
		min-width:15%;
		max-width:100%;
		margin-bottom:10px;
		.fl;
	}
	
	dt {
		padding-right:20px;
		clear:left;
	}
}


.shop_table {
	&.shop_table_responsive {
		tr {
			&:last-child {
				td {
					.bdb(2px);
				}
			}
			
			td,
			th {
				padding:15px 10px 15px 30px;
			}
			
			td:first-child {
				.bdl(2px);
			}
			
			td:last-child {
				.bdr(2px);
			}
		}
	}
}



/*-------------------------------------------------------------------------*/
/*	6. Dynamic Cart */
/*-------------------------------------------------------------------------*/

.cmsms_dynamic_cart {
	visibility:hidden;
	position:fixed;
	right:20px;
	top:0;
	z-index:99999;
	.op(0);
		
	&:hover {
		.cmsms_dynamic_cart_button {
			&:before {
				bottom:-100px;
			}
			
			> span:before {
				top:2px;
			}
		}
	}
	
	.cmsms_dynamic_cart_button {
		display:block;
		width:50px;
		height:50px;
		position:absolute;
		right:0;
		top:0;
		cursor:default;
		white-space:nowrap;
		z-index:1;
		.bd(2px);
		.ovh;
		
		&:before,
		> span:before {
			font-size:20px;
			line-height:1em;
			width:1em;
			height:1em;
			margin:auto !important;
			position:absolute;
			left:-2px;
			right:0;
			top:2px;
			bottom:0;
		}
		
		> span:before {
			top:-100px;
		}
	}
	
	.widget_shopping_cart_content {
		width:250px;
		padding:20px 0 20px 10px;
		visibility:hidden;
		position:absolute;
		top:0;
		right:80px;
		.bd(2px);
		.op(0);
		
		&:before,
		&:after {
			content:'';
			display:block;
			position:absolute;
			top:19px;
			right:-8px;
			.arrow_right(8px, 6px);
		}
		
		&:after {
			top:19px;
			right:-5px;
		}
		
		.cart_list {
			list-style:none;
			max-height:395px;
			margin:0 0 20px;
			padding:0;
			overflow-x:hidden;
			overflow-y:auto;
			
			li {
				margin:-6px 10px 20px 0;
				padding:0;
				position:relative;
				.ovh;
				
				&:before {
					content:none;
				}
				
				&:last-child {
					margin-bottom:0;
				}
				
				a {
					float:none;
					display:block;
					padding:0 17px 0 0;
					
					&.remove {
						padding:0 0 10px 10px;
						margin:1px 0 0;
						position:absolute;
						top:0;
						right:0;
						z-index:1;
						.tac;
					}
				}
				
				img {
					width:70px;
					height:70px;
					margin-top:6px;
					margin-right:10px;
					.fl;
				}
				
				.quantity {
					padding-top:3px;
					position:relative;
					.ovh;
				}
			}
		}
		
		.total {
			padding:10px 10px 10px 0;
			position:relative;
			.ovh;
			
			strong {
				margin-right:5px;
			}
		}
		
		.buttons {
			padding:0 10px 0 0;
			margin:0 -@col_mar;
			position:relative;
			.ovh;
			
			.button {
				width:46.6%;
				padding:5px 10px;
				margin:0 @col_mar;
				.fl;
			}
		}
	}
	
	&:hover .widget_shopping_cart_content, 
	.cmsms_dynamic_cart_button:hover + .widget_shopping_cart_content, 
	.widget_shopping_cart_content:hover {
		visibility:visible;
		right:57px;
		.op(1);
	}
}

.safari_only {
	.cmsms_dynamic_cart {
		width:40px;
		
		.widget_shopping_cart_content {
			position:relative;
			width:0;
			height:0;
			-webkit-transition:none !important;
			-moz-transition:none !important;
			-ms-transition:none !important;
			-o-transition:none !important;
			transition:none !important;
		}
		
		&:hover {
			width:285px;
		}
		
		&:hover .widget_shopping_cart_content, 
		.cmsms_dynamic_cart_button:hover + .widget_shopping_cart_content, 
		.widget_shopping_cart_content:hover {
			width:270px;
			height:auto;
		}
	}
	
	.cmsms_products {
		.product {
			.product_outer {
				.product_inner {
					.cmsms_product_footer {
						> a {
							-webkit-transform:scale(1);
							-moz-transform:scale(1);
							transform:scale(1);
							.trans(~'opacity .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out !important');
						}
					}
				}
			}
		}
	}	
	
	.cmsms_dynamic_cart  {
		.cmsms_dynamic_cart_button {
			&:before,
			> span:before {
				-webkit-transition:none !important;
				-moz-transition:none !important;
				-ms-transition:none !important;
				-o-transition:none !important;
				transition:none !important;
			}
		}
	}
}


.cmsms_added_product_info {
	width:270px;
	padding:15px 20px;
	position:absolute;
	top:30px;
	right:0;
	.bd(2px);
	.op(0);
	
	&:after,
	&:before {
		content:'';
		display:block;
		position:absolute;
		top:-10px;
		right:15px;
		.arrow_top(10px, 8px);
	}
	
	&:after {
		top:-7px;
	}
	
	.cmsms_added_product_info_img {
		width:50px;
		height:50px;
		.fr;
	}
	
	.cmsms_added_product_info_text {
		display:block;
		padding:13px 0;
	}
}



/*-------------------------------------------------------------------------*/
/*	7. Widgets */
/*-------------------------------------------------------------------------*/

.widget.woocommerce > form {
	overflow:visible;
	
	> * {
		overflow:visible;
	}
}

.widget_product_search {
	position:relative;
	.ovh;
}

.widget {
	ul.product_list_widget {
		list-style:none;
		margin:0;
		padding:0;
		position:relative;
		.ovh;
		
		li {
			padding:20px 0 0;
			position:relative;
			.ovh;
			
			&:first-child {
				padding:10px 0 0;
			}
			
			&:before {
				content:none;
			}
			
			> a {
				display:block;
				margin:0 0 3px;
				.bdb(0);
			}
			
			img {
				width:70px;
				height:70px;
				margin:6px 10px 0 0;
				.fl;
			}
			
			.cmsms_star_rating {
				margin:0 0 7px;
			}
			
			del {
				margin-right:5px;
				vertical-align:top;
			}
			
			ins {
				text-decoration:none;
			}
			
			.star-rating {
				.dn;
			}
		}
	}
}

.widget_shopping_cart {
	position:relative;
	.ovh;
	
	.widget_shopping_cart_content {
		position:relative;
		.ovh;
		
		.cart_list {
			list-style:none;
			margin:0 0 25px;
			padding:0;
			.ovh;
			
			li {
				padding:20px 0 0;
				.ovh;
				
				&:first-child {
					padding-top:10px;
				}
				
				&:before {
					content:none;
				}
				
				> a {
					margin-bottom:5px;
				}
				
				a {
					float:none;
					display:block;
					.bdb(0);
					
					&.remove {
						margin:0;
						padding:0 0 10px 10px;
						z-index:1;
						.tac;
						.fr;
					}
				}
				
				img {
					width:70px;
					height:70px;
					margin:6px 10px 0 0;
					.fl;
				}
				
				.quantity {
					position:relative;
					.ovh;
				}
			}
		}
		
		.total {
			padding:0 0 30px;
			position:relative;
			.ovh;
			
			strong {
				margin-right:5px;
			}
		}
		
		.buttons {
			margin:0 -4%;
			padding:0;
			position:relative;
			.ovh;
			
			.button {
				width:42%;
				padding:5px 10px;
				margin:0 4%;
				.fl;
			}
		}
	}
}

.widget_price_filter {
	.widgettitle {
		margin-bottom:40px;
	}
	
	.price_slider_wrapper {
		.price_slider {
			height:2px;
			margin:0 0 25px;
			position:relative;
			
			.ui-slider-range {
				height:100%;
				position:absolute;
				top:0;
			}
			
			.ui-slider-handle {
				display:block;
				width:12px;
				height:12px;
				position:absolute;
				top:-5px;
				z-index:2;
				cursor:pointer;
				.bd(2px);
				.bdrs(50%);
				
				&:last-child {
					margin-left:-12px;
				}
			}
		}
		
		.price_slider_amount {
			position:relative;
			.ovh;
			
			.button {
				padding-top:6px;
				padding-bottom:6px;
				min-width:85px;
				.fr;
			}
			
			.price_label {
				padding:9px 15px 9px 0;
				position:relative;
				.fl;
				.ovh;
			}
		}
	}
}

.widget_product_categories {
	ul {
		li {
			&:first-child {
				padding:7px 0;
			}
			
			&.cat-parent {
				padding-bottom:0;
			}
		}
		
		ul.children {
			padding:0;
			margin:7px 0 0;
			
			> li {
				> a {
					padding-left:15px;
				}
				
				ul.children > li {
					> a {
						padding-left:30px;
					}
					
					ul.children > li {
						> a {
							padding-left:45px;
						}
						
						ul.children > li {
							> a {
								padding-left:60px;
							}
							
							ul.children > li {
								> a {
									padding-left:75px;
								}
							}
						}
					}
				}
			}
		}
	}
}



/*-------------------------------------------------------------------------*/
/*	8. Shortcodes */
/*-------------------------------------------------------------------------*/

.cmsms_products_shortcode, 
.cmsms_selected_products_shortcode {
	position:relative;
	.ovh;
	
	.cmsms_products {
		margin:0 -@col_mar;
		padding:0;
		overflow:hidden;
		position:relative;
		
		.product {
			width:round(100% - (@col_mar * 2), 2);
			margin:0 @col_mar;
			padding:0;
			position:relative;
			clear:none;
			.ovh;
			.fl;
			
			&:before {
				content:none;
			}
		}
	}
	
	.columns-4 {
		.cmsms_products {
			.product {
				width:round((100% / 4) - (@col_mar * 2), 2);
				
				&:nth-child(4n+1) {
					clear:left;
				}
			}
		}
	}
	
	.columns-3 {
		.cmsms_products {
			.product {
				width:round((100% / 3) - (@col_mar * 2), 2);
				
				&:nth-child(3n+1) {
					clear:left;
				}
			}
		}
	}
	
	.columns-2 {
		.cmsms_products {
			.product {
				width:round((100% / 2) - (@col_mar * 2), 2);
				
				&:nth-child(2n+1) {
					clear:left;
				}
			}
		}
	}
	
	.columns-1 {
		.cmsms_products {
			.product {
				float:none;
				.cl;
			}
		}
	}
}


/*	Other Shortcodes */

.create-account {
	.input-radio + label, 
	.input-checkbox + label {
		padding:0 0 0 25px;
	}
	
	> p {
		margin-left:@col_mar;
		margin-right:@col_mar;
	}
}

.login, 
.register {
	margin:0 -@col_mar;
	position:relative;
	.ovh;
	
	&:after {
		.cl_after;
	}
	
	label.inline {
		display:inline-block;
		padding:0;
		margin-left:10px;
		
		input {
			vertical-align:middle;
			margin-top:-2px;
		}
	}
	
	> * {
		width:round(100% - (@col_mar * 2), 2);
		margin-left:@col_mar;
		margin-right:@col_mar;
		.ovh;
	}
	
	.lost_password {
		.cl;
	}
}

.track_order {
	margin:0 -@col_mar;
	position:relative;
	.ovh;
	
	&:after {
		.cl_after;
	}
	
	> * {
		margin-left:@col_mar;
		margin-right:@col_mar;
		.ovh;
	}
}



/*-------------------------------------------------------------------------*/
/*	9.	CSS3 Animations	*/
/*-------------------------------------------------------------------------*/

html.csstransitions {
	.cmsms_products .product.outofstock .product_outer .out-of-stock,
	.cmsms_star_rating .cmsms_star,
	.cmsms_products .product .product_outer .product_inner .cmsms_product_footer > a:before {
		.trans(color .3s ease-in-out);
	}
	
	.cmsms_products .product .product_outer .product_inner .cmsms_product_header .cmsms_product_title > a,
	.shipping-calculator-button-wrap a.shipping-calculator-button,
	.widget_product_search .search_bar_wrap form p input[type="search"] {
		.trans(~'border-color .3s ease-in-out');
	}
	
	.cmsms_products .product .product_outer .product_inner .cmsms_product_img_wrap .cmsms_product_img a:before {
		.trans(~'background-color .2s ease-in-out');
	}
	
	.cmsms_single_product .cmsms_product_right_column .cart .single_add_to_cart_button,
	.shipping-calculator-form .button,
	.cart_totals .wc-proceed-to-checkout .button {
		.trans(~'background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out');
	}
	
	.widget_price_filter .price_slider_wrapper .price_slider .ui-slider-handle {
		.trans(~'background-color .3s ease-in-out');
	}
	
	.cmsms_star_rating .cmsms_star {
		.trans(~'color .3s ease-in-out, background-color .3s ease-in-out');
	}
	
	.cmsms_dynamic_cart .cmsms_dynamic_cart_button:before,
	.cmsms_dynamic_cart .cmsms_dynamic_cart_button > span:before {
		.trans(all .2s linear);
	}
	
	.shipping_method + label:after, 
	.input-radio + label:after, 
	.input-checkbox + label:after {
		.trans(all .3s ease-in-out);
	}
	
	.cmsms_products .product .product_outer .product_inner .cmsms_product_footer > a {
		.trans(all .2s ease-in-out);
	}
	
	.safari_only .cmsms_dynamic_cart {
		.cmsms_products .product .product_outer .product_inner .cmsms_product_footer > a {
			.trans(~'background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out !important');
		}
	}
	
	.cmsms_dynamic_cart .widget_shopping_cart_content {
		.trans(~'opacity .5s ease-in-out, right .3s ease-in-out, visibility .5s ease-in-out');
	}
	
	.cmsms_dynamic_cart {
		.trans(~'right .3s ease-in-out, opacity .3s ease-in-out');
	}
	
	.cmsms_dynamic_cart .widget_shopping_cart_content .cart_list li {
		.trans(padding .3s ease-in-out);
	}
	
	.cmsms_dynamic_cart .widget_shopping_cart_content .cart_list li a.remove {
		.trans(~'color .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out');
	}
	
	.cmsms_single_product .cmsms_product_images .cmsms_product_thumbs .cmsms_product_thumb:before {
		.trans(opacity .3s ease-in-out);
	}
}

