/**
 * @package 	WordPress
 * @subpackage 	Music Band
 * @version 	1.0.1
 * 
 * Responsive Design CSS Rules
 * Created by CMSMasters
 * 
 */


/*-------------------------------------------------------------------------

	1.	Large Monitor
	2.	Tablet Monitor
	3.	Small Tablet Monitor
	4.	Phone Monitor
	5.	Small Phone Monitor

-------------------------------------------------------------------------*/



/*-------------------------------------------------------------------------*/
/*	1.	Large Monitor
/*-------------------------------------------------------------------------*/
@media only screen and (min-width: 1440px) {
  #page.cmsms_boxed {
    width: 1240px;
  }
  #page.cmsms_boxed #header,
  #page.cmsms_boxed #footer {
    width: 1240px;
  }
  .post-password-form,
  .header_top_inner,
  .header_mid_inner,
  .search_wrap.search_opened .search_wrap_inner,
  .header_bot_inner,
  .content_wrap,
  .error_wrap,
  .headline_inner,
  .bottom_outer,
  .footer_inner,
  .cmsms_row_inner,
  .cmsms_row_title_wrap {
    width: 1200px;
  }
  .sidebar {
    padding-left: 40px;
  }
  .sidebar.fl {
    padding-right: 40px;
  }
  .header_mid_inner #navigation > li {
    margin: 0 18px;
  }
  .widget_custom_flickr_entries .flickr_badge_image {
    width: 79px;
    height: 79px;
  }
}
@media only screen and (max-width: 1440px) {
  html #page .cmsms_stats.stats_mode_circles .cmsms_stat_wrap.one_fifth {
    width: 50%;
  }
}
@media only screen and (min-width: 1025px) {
  #header .headet-top {
    height: auto !important;
  }
  #navigation ul > li:first-child {
    border-top-width: 0;
    border-top-style: solid;
  }
  #header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li {
    border-width: 0;
    border-style: solid;
  }
  .header_top_inner nav > div > ul > li ul {
    margin-top: -5px !important;
    padding: 5px 0 10px !important;
  }
  #header nav > div > #navigation > li > ul {
    margin-left: -20px;
  }
  .header_top_outer,
  .header_top .nav_wrap nav {
    display: block !important;
  }
  .blog.columns.puzzle.cmsms_4 .post {
    min-width: 220px;
  }
}



/*-------------------------------------------------------------------------*/
/*	2.	Tablet Monitor
/*-------------------------------------------------------------------------*/
@media only screen and only screen and (min-width: 767px) and (max-width: 1024px) {
  .blog.columns.puzzle.cmsms_4 .post {
    min-width: 350px;
  }
}
@media only screen and (max-width: 1024px) {
  html .one_fifth,
  html .one_fourth,
  html .three_fourth {
    width: 46.6%;
  }
  html .cmsms_121414 .cmsms_column.one_half,
  html .cmsms_141412 .cmsms_column.one_half {
    width: 96.6%;
    float: none;
    clear: both;
  }
  html .cmsms_141214 .cmsms_column.one_fourth,
  html .cmsms_141214 .cmsms_column.one_half {
    width: 29.93%;
  }
  html .sidebar_layout_14141414 aside {
    width: 46.6%;
  }
  html .sidebar_layout_141412 > aside:first-child,
  html .sidebar_layout_141412 > aside:first-child + aside,
  html .sidebar_layout_141412 > div.cl + aside,
  html .sidebar_layout_141412 > div.cl + aside + aside,
  html .sidebar_layout_141412 > div.cmsms_widget_divider + aside,
  html .sidebar_layout_141412 > div.cmsms_widget_divider + aside + aside {
    width: 46.6%;
  }
  html .sidebar_layout_141412 > aside:first-child + aside + aside,
  html .sidebar_layout_141412 > div.cl + aside + aside + aside,
  html .sidebar_layout_141412 > div.cmsms_widget_divider + aside + aside + aside {
    width: 96.6%;
    float: none;
    clear: both;
  }
  html .sidebar_layout_141214 > aside:first-child,
  html .sidebar_layout_141214 > aside:first-child + aside + aside,
  html .sidebar_layout_141214 > div.cl + aside,
  html .sidebar_layout_141214 > div.cl + aside + aside + aside,
  html .sidebar_layout_141214 > div.cmsms_widget_divider + aside,
  html .sidebar_layout_141214 > div.cmsms_widget_divider + aside + aside + aside {
    width: 29.93%;
  }
  html .sidebar_layout_141214 > aside:first-child + aside,
  html .sidebar_layout_141214 > div.cl + aside + aside,
  html .sidebar_layout_141214 > div.cmsms_widget_divider + aside + aside {
    width: 29.93%;
  }
  html .sidebar_layout_121414 > aside:first-child,
  html .sidebar_layout_121414 > div.cl + aside,
  html .sidebar_layout_121414 > div.cmsms_widget_divider + aside {
    width: 96.6%;
    float: none;
    clear: both;
  }
  html .sidebar_layout_121414 > aside:first-child + aside,
  html .sidebar_layout_121414 > aside:first-child + aside + aside,
  html .sidebar_layout_121414 > div.cl + aside + aside,
  html .sidebar_layout_121414 > div.cl + aside + aside + aside,
  html .sidebar_layout_121414 > div.cmsms_widget_divider + aside + aside,
  html .sidebar_layout_121414 > div.cmsms_widget_divider + aside + aside + aside {
    width: 46.6%;
  }
  html .sidebar_layout_3414 > aside:first-child,
  html .sidebar_layout_3414 > div.cl + aside,
  html .sidebar_layout_3414 > div.cmsms_widget_divider + aside {
    width: 46.6%;
  }
  html .sidebar_layout_3414 > aside:first-child + aside,
  html .sidebar_layout_3414 > div.cl + aside + aside,
  html .sidebar_layout_3414 > div.cmsms_widget_divider + aside + aside {
    width: 46.6%;
  }
  html .sidebar_layout_1434 > aside:first-child,
  html .sidebar_layout_1434 > div.cl + aside,
  html .sidebar_layout_1434 > div.cmsms_widget_divider + aside {
    width: 46.6%;
  }
  html .sidebar_layout_1434 > aside:first-child + aside,
  html .sidebar_layout_1434 > div.cl + aside + aside,
  html .sidebar_layout_1434 > div.cmsms_widget_divider + aside + aside {
    width: 46.6%;
  }
  html .post-password-form,
  html .header_top_inner,
  html .header_mid_inner,
  html .header_bot_inner,
  html .content_wrap,
  html .error_wrap,
  html .headline_inner,
  html .bottom_outer,
  html .footer_inner,
  html .cmsms_row_inner,
  html .cmsms_row_title_wrap {
    width: 100%;
  }
  html .cmsms_column {
    margin-bottom: 20px;
  }
  html .cmsms_column.one_first,
  html .cmsms_column:last-child {
    margin-bottom: 0;
  }
  html #page.cmsms_boxed {
    width: 100%;
  }
  html #page.cmsms_boxed #header,
  html #page.cmsms_boxed #footer {
    width: 100%;
  }
  html #page .cmsms_counters .cmsms_counter_wrap.one_fifth,
  html #page .cmsms_counters .cmsms_counter_wrap.one_fourth {
    width: 50%;
  }
  html #page .cmsms_pricing_table.pricing_four .cmsms_pricing_item {
    width: 50%;
    display: block;
    float: left;
  }
  html #page .cmsms_pricing_table.pricing_four .cmsms_pricing_item .cmsms_pricing_item_inner {
    text-align: center;
  }
  html #page .cmsms_pricing_table.pricing_four .cmsms_pricing_item .cmsms_pricing_item_inner .cmsms_price_wrap {
    text-align: center;
  }
  html #page .cmsms_profile.horizontal .profile .profile_inner .pl_cont_wrap .pl_content {
    padding: 0;
    position: relative;
  }
  html #page .cmsms_profile.horizontal .profile .profile_inner .pl_cont_wrap .pl_content * {
    text-align: left;
  }
  html #page .cmsms_profile.horizontal .profile .profile_inner .pl_cont_wrap .pl_content .pl_wrap_title {
    display: block;
    padding-bottom: 10px;
  }
  html #page .cmsms_profile.horizontal .profile .profile_inner > .pl_wrap_title {
    display: none;
  }
  html #page.fixed_header #header {
    position: relative;
  }
  html #page.fixed_header #middle,
  html #page.fixed_header.enable_header_top #middle,
  html #page.fixed_header.enable_header_bottom #middle,
  html #page.fixed_header.enable_header_top.enable_header_bottom #middle {
    padding-top: 0;
  }
  html #page #header {
    width: 100%;
    position: relative;
  }
  html #page #header .header_top {
    overflow: hidden;
  }
  html #page #header .header_top .header_top_outer {
    display: none;
    overflow: hidden;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  html #page #header .header_top .header_top_outer .header_top_inner {
    padding: 0;
    overflow: hidden;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_left,
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right {
    padding-left: 30px;
    padding-right: 30px;
    float: none;
    text-align: center;
    clear: both;
    overflow: hidden;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_left .header_top_aligner,
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .header_top_aligner {
    display: none;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_left {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_left .meta_wrap {
    margin: 0;
    text-align: center;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_left .meta_wrap > * {
    display: block;
    margin: 5px 0;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right {
    padding: 10px 0;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .social_wrap {
    padding-bottom: 5px;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap {
    display: block;
    text-align: center;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap .responsive_top_nav {
    font-size: 20px;
    display: inline-block;
    width: 28px;
    height: 28px;
    position: relative;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap .responsive_top_nav:before {
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
    width: 1em;
    height: 1em;
    margin: auto !important;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav {
    float: none;
    visibility: visible;
    text-indent: 0;
    margin: 0;
    opacity: 1;
    display: none;
    clear: both;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav div,
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav ul,
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav a,
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav span {
    display: block;
    float: none;
    width: 100%;
    margin: 0;
    padding: 0;
    visibility: visible;
    position: relative;
    left: 0;
    top: 0;
    border-width: 0;
    border-style: solid;
    overflow: hidden;
    opacity: 1;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav div:before,
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav ul:before,
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav a:before,
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav span:before,
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav div:after,
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav ul:after,
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav a:after,
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav span:after {
    content: none;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav a {
    -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out, background-color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out, background-color .2s ease-in-out;
    -o-transition: color .2s ease-in-out, background-color .2s ease-in-out;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav div:before,
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav ul:before {
    content: none;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav div:after,
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav ul:after,
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav a:after,
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav span:after {
    content: none;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav li {
    display: block;
    float: none;
    width: 100%;
    margin: 0;
    padding: 0;
    visibility: visible;
    position: relative;
    left: 0;
    top: 0;
    overflow: hidden;
    opacity: 1;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav li:before,
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav li:after {
    content: none;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav #top_line_nav {
    margin-top: 15px;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav #top_line_nav > li:first-child > a {
    border-top-width: 0;
    border-top-style: solid;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav #top_line_nav li a {
    padding: 5px 25px;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav #top_line_nav li li a {
    padding-left: 35px;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav #top_line_nav li li li a {
    padding-left: 45px;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav #top_line_nav li li li li a {
    padding-left: 55px;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav #top_line_nav li li li li li a {
    padding-left: 65px;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav #top_line_nav li li li li li li a {
    padding-left: 75px;
  }
  html #page #header .header_top .header_top_but {
    line-height: 35px;
    display: block;
    width: 100%;
    height: 35px;
    position: relative;
    cursor: pointer;
    text-align: center;
  }
  html #page #header .header_mid {
    float: none;
    clear: both;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner {
    padding-left: 30px;
    padding-right: 30px;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner:after {
    content: '.';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
    overflow: hidden;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .logo_wrap {
    display: block;
    float: left;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .search_wrap .search_wrap_inner {
    width: 100%;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner nav {
    margin-left: -30px;
    margin-right: -30px;
  }
  html #page #header .header_bot {
    float: none;
    clear: both;
    overflow: hidden;
  }
  html #page #header .header_bot .header_bot_outer {
    overflow: hidden;
  }
  html #page #header .header_bot .header_bot_outer .header_bot_inner {
    padding-left: 0;
    padding-right: 0;
  }
  html #page #header .header_bot .header_bot_outer .header_bot_inner .resp_nav_wrap {
    margin: 0;
    padding: 5px 0 0;
    text-align: center;
  }
  html #page #header .header_bot .header_bot_outer .header_bot_inner .resp_nav_wrap .resp_nav_wrap_inner {
    display: inline-block;
  }
  html #page #header .resp_nav_wrap {
    display: block;
    margin: 0;
    text-indent: 0;
    opacity: 1;
    -webkit-transition: margin .3s ease-in-out, opacity .3s ease-in-out;
    -moz-transition: margin .3s ease-in-out, opacity .3s ease-in-out;
    -ms-transition: margin .3s ease-in-out, opacity .3s ease-in-out;
    -o-transition: margin .3s ease-in-out, opacity .3s ease-in-out;
    transition: margin .3s ease-in-out, opacity .3s ease-in-out;
  }
  html #page #header .header_mid nav,
  html #page #header .header_bot nav {
    float: none;
    visibility: visible;
    text-indent: 0;
    margin: 0;
    opacity: 1;
    display: none;
    clear: both;
  }
  html #page #header .header_mid nav div,
  html #page #header .header_bot nav div,
  html #page #header .header_mid nav ul,
  html #page #header .header_bot nav ul,
  html #page #header .header_mid nav a,
  html #page #header .header_bot nav a,
  html #page #header .header_mid nav span,
  html #page #header .header_bot nav span {
    background-image: none !important;
    display: block;
    float: none;
    width: 100%;
    margin: 0;
    padding: 0;
    visibility: visible;
    position: relative;
    left: 0;
    top: 0;
    border-width: 0;
    border-style: solid;
    overflow: hidden;
    opacity: 1;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  html #page #header .header_mid nav a,
  html #page #header .header_bot nav a {
    border-top-width: 1px;
    border-top-style: solid;
  }
  html #page #header .header_mid nav div:before,
  html #page #header .header_bot nav div:before,
  html #page #header .header_mid nav ul:before,
  html #page #header .header_bot nav ul:before {
    content: none;
  }
  html #page #header .header_mid nav div:after,
  html #page #header .header_bot nav div:after,
  html #page #header .header_mid nav ul:after,
  html #page #header .header_bot nav ul:after,
  html #page #header .header_mid nav a:after,
  html #page #header .header_bot nav a:after,
  html #page #header .header_mid nav span:after,
  html #page #header .header_bot nav span:after {
    content: none;
  }
  html #page #header .header_mid nav li,
  html #page #header .header_bot nav li {
    display: block;
    float: none;
    width: 100%;
    margin: 0;
    padding: 0;
    visibility: visible;
    position: relative;
    left: 0;
    top: 0;
    overflow: hidden;
    opacity: 1;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  html #page #header .header_mid nav li:before,
  html #page #header .header_bot nav li:before,
  html #page #header .header_mid nav li:after,
  html #page #header .header_bot nav li:after {
    content: none;
  }
  html #page #header .header_mid nav a,
  html #page #header .header_bot nav a {
    -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out, background-color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out, background-color .2s ease-in-out;
    -o-transition: color .2s ease-in-out, background-color .2s ease-in-out;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
  }
  html #page #header .header_mid nav .menu-item-mega-description-container,
  html #page #header .header_bot nav .menu-item-mega-description-container {
    display: none;
  }
  html #page #header .header_mid nav .nav_bg_clr,
  html #page #header .header_bot nav .nav_bg_clr {
    display: none;
    opacity: 0;
  }
  html #page #header .header_mid nav #navigation > li:first-child > a,
  html #page #header .header_bot nav #navigation > li:first-child > a {
    border-top-width: 0;
    border-top-style: solid;
  }
  html #page #header .header_mid nav #navigation li a,
  html #page #header .header_bot nav #navigation li a {
    padding: 15px 40px;
  }
  html #page #header .header_mid nav #navigation li a[data-tag]:before,
  html #page #header .header_bot nav #navigation li a[data-tag]:before {
    display: inline-block;
    float: none;
  }
  html #page #header .header_mid nav #navigation li a[data-tag] > span,
  html #page #header .header_bot nav #navigation li a[data-tag] > span {
    width: auto;
    float: left;
  }
  html #page #header .header_mid nav #navigation li.menu-item-hide-text > a > span:before,
  html #page #header .header_bot nav #navigation li.menu-item-hide-text > a > span:before {
    margin-right: .4em;
  }
  html #page #header .header_mid nav #navigation li.menu-item-mega > div.menu-item-mega-container > ul > li:first-child,
  html #page #header .header_bot nav #navigation li.menu-item-mega > div.menu-item-mega-container > ul > li:first-child {
    border-width: 0;
    border-style: solid;
  }
  html #page #header .header_mid nav #navigation li.menu-item-mega > div.menu-item-mega-container > ul > li.menu-item-hide-text > a:empty,
  html #page #header .header_bot nav #navigation li.menu-item-mega > div.menu-item-mega-container > ul > li.menu-item-hide-text > a:empty {
    display: none;
  }
  html #page #header .header_mid nav #navigation li.menu-item-mega > div.menu-item-mega-container ul li.menu-item-hide-text > a,
  html #page #header .header_bot nav #navigation li.menu-item-mega > div.menu-item-mega-container ul li.menu-item-hide-text > a {
    text-align: left;
  }
  html #page #header .header_mid nav #navigation li.menu-item-mega > div.menu-item-mega-container ul li.menu-item-hide-text > a > span:before,
  html #page #header .header_bot nav #navigation li.menu-item-mega > div.menu-item-mega-container ul li.menu-item-hide-text > a > span:before {
    margin-right: .4em;
  }
  html #page #header .header_mid nav #navigation li li a,
  html #page #header .header_bot nav #navigation li li a {
    padding-left: 60px;
  }
  html #page #header .header_mid nav #navigation li li li a,
  html #page #header .header_bot nav #navigation li li li a {
    padding-left: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  html #page #header .header_mid nav #navigation li li li li a,
  html #page #header .header_bot nav #navigation li li li li a {
    padding-left: 100px;
  }
  html #page #header .header_mid nav #navigation li li li li li a,
  html #page #header .header_bot nav #navigation li li li li li a {
    padding-left: 120px;
  }
  html #page #header .header_mid nav #navigation li li li li li li a,
  html #page #header .header_bot nav #navigation li li li li li li a {
    padding-left: 140px;
  }
  html #page #header .header_mid nav #navigation li li li li li li li a,
  html #page #header .header_bot nav #navigation li li li li li li li a {
    padding-left: 160px;
  }
  html #page #header .header_mid nav #navigation li li li li li li li li a,
  html #page #header .header_bot nav #navigation li li li li li li li li a {
    padding-left: 180px;
  }
  html #page #header .header_mid nav #navigation li li li li li li li li li a,
  html #page #header .header_bot nav #navigation li li li li li li li li li a {
    padding-left: 200px;
  }
  html #page #header .header_mid nav #navigation li li li li li li li li li li a,
  html #page #header .header_bot nav #navigation li li li li li li li li li li a {
    padding-left: 220px;
  }
  html #page #header .header_mid nav #navigation li li li li li li li li li li li a,
  html #page #header .header_bot nav #navigation li li li li li li li li li li li a {
    padding-left: 240px;
  }
  html #page #header .header_mid nav #navigation li li li li li li li li li li li li a,
  html #page #header .header_bot nav #navigation li li li li li li li li li li li li a {
    padding-left: 260px;
  }
  html #page.enable_header_centered #header .header_mid .header_mid_outer .header_mid_inner .logo_wrap {
    display: inline-block;
    float: none;
    margin-left: 0;
  }
  html .fixed_footer #main {
    margin-bottom: -1px;
  }
  html .fixed_footer #footer {
    position: relative;
    bottom: auto;
  }
}



/*-------------------------------------------------------------------------*/
/*	Tablet Monitor 950
/*-------------------------------------------------------------------------*/
@media only screen and (max-width: 950px) {
  html .content_wrap .content,
  html .content_wrap .sidebar {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  html .content_wrap .sidebar {
    padding-top: 50px;
  }
  html .content_wrap.l_sidebar .cmsms_row,
  html .content_wrap.r_sidebar .cmsms_row {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  html #page .portfolio.opened-article .project .project_content.with_sidebar {
    width: 100%;
    float: none;
    clear: both;
    padding-right: 0;
    padding-bottom: 50px;
  }
  html #page .portfolio.opened-article .project .project_sidebar {
    width: 100%;
    float: none;
    clear: both;
  }
  html #page .profiles.opened-article .profile .profile_content.with_sidebar {
    width: 100%;
    float: none;
    clear: both;
    padding-right: 0;
  }
  html #page .profiles.opened-article .profile .profile_sidebar {
    width: 100%;
    float: none;
    clear: both;
  }
  html #page .quote_grid.quote_four,
  html #page .quote_grid.quote_two {
    display: block;
    margin: 0;
  }
  html #page .quote_grid.quote_four .quotes_list,
  html #page .quote_grid.quote_two .quotes_list {
    display: block;
  }
  html #page .quote_grid.quote_four .quotes_list .cmsms_quote,
  html #page .quote_grid.quote_two .quotes_list .cmsms_quote {
    display: block;
    width: 100%;
    margin-top: 4px;
  }
  html #page .quote_grid.quote_four .quotes_list .cmsms_quote .cmsms_quote_inner .quote_title_wrap .quote_title_inner,
  html #page .quote_grid.quote_two .quotes_list .cmsms_quote .cmsms_quote_inner .quote_title_wrap .quote_title_inner {
    text-align: left;
  }
  html #page .quote_grid.quote_four .quotes_list .cmsms_quote .cmsms_quote_inner .quote_title_wrap .quote_image,
  html #page .quote_grid.quote_two .quotes_list .cmsms_quote .cmsms_quote_inner .quote_title_wrap .quote_image {
    margin: 0 50px 0 0;
    float: left;
  }
  html #page .quote_grid.quote_four .quotes_list .cmsms_quote .cmsms_quote_inner .quote_content_wrap .quote_content,
  html #page .quote_grid.quote_two .quotes_list .cmsms_quote .cmsms_quote_inner .quote_content_wrap .quote_content {
    text-align: left;
  }
  html #page .cmsms_stats.stats_mode_circles .cmsms_stat_wrap.one_fourth {
    width: 50%;
  }
}



/*-------------------------------------------------------------------------*/
/*	3.	Small Tablet Monitor
/*-------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
  html .one_first,
  html .one_half,
  html .one_third,
  html .two_third,
  html .one_fourth,
  html .one_fifth,
  html .three_fourth,
  html .cmsms_121414 .cmsms_column.one_half,
  html .cmsms_141412 .cmsms_column.one_half,
  html .cmsms_141214 .cmsms_column.one_fourth,
  html .cmsms_141214 .cmsms_column.one_half {
    width: 96.6%;
    float: none;
    clear: both;
  }
  html .sidebar_layout_14141414 aside,
  html .sidebar_layout_141412 aside,
  html .sidebar_layout_141214 aside,
  html .sidebar_layout_121414 aside,
  html .sidebar_layout_131313 aside,
  html .sidebar_layout_3414 aside,
  html .sidebar_layout_1434 aside,
  html .sidebar_layout_2313 aside,
  html .sidebar_layout_1323 aside,
  html .sidebar_layout_1212 aside {
    width: 96.6% !important;
  }
  html #page .post.cmsms_default_type,
  html #page .tribe_events.cmsms_default_type {
    padding-left: 0;
    padding-right: 0;
  }
  html #page .blog.timeline {
    height: auto !important;
  }
  html #page .blog.timeline:before {
    content: none;
  }
  html #page .blog.timeline .post.cmsms_timeline_left.format-audio .cmsms_post_cont,
  html #page .blog.timeline .tribe_events.cmsms_timeline_left.format-audio .cmsms_post_cont,
  html #page .blog.timeline .post.cmsms_timeline_left.format-standard:not(.has-post-thumbnail) .cmsms_post_cont,
  html #page .blog.timeline .tribe_events.cmsms_timeline_left.format-standard:not(.has-post-thumbnail) .cmsms_post_cont {
    padding-right: 0;
  }
  html #page .blog.timeline .post,
  html #page .blog.timeline .tribe_events {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 40px;
    position: relative !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
  }
  html #page .blog.timeline .post:first-child,
  html #page .blog.timeline .tribe_events:first-child {
    padding-top: 0;
  }
  html #page .blog.timeline .post:before,
  html #page .blog.timeline .tribe_events:before {
    content: none;
  }
  html #page .blog.timeline .post .cmsms_post_info,
  html #page .blog.timeline .tribe_events .cmsms_post_info {
    margin: 0 0 20px;
    position: static;
  }
  html #page .blog.timeline .post .cmsms_post_cont,
  html #page .blog.timeline .tribe_events .cmsms_post_cont {
    margin-left: 0;
    margin-right: 0;
    border-width: 0;
    border-style: solid;
  }
  html #page .cmsms_featured_block .featured_block_inner {
    width: 100% !important;
  }
  html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item,
  html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item:first-child,
  html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item:last-child,
  html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item:nth-child(n) {
    display: block;
    float: none;
    clear: both;
    width: 100%;
  }
  html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item .cmsms_pricing_item_inner,
  html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item:first-child .cmsms_pricing_item_inner,
  html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item:last-child .cmsms_pricing_item_inner,
  html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item:nth-child(n) .cmsms_pricing_item_inner {
    text-align: center;
  }
  html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item .cmsms_pricing_item_inner .cmsms_price_wrap,
  html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item:first-child .cmsms_pricing_item_inner .cmsms_price_wrap,
  html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item:last-child .cmsms_pricing_item_inner .cmsms_price_wrap,
  html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item:nth-child(n) .cmsms_pricing_item_inner .cmsms_price_wrap {
    text-align: center;
  }
  html #page .cmsms_stats.stats_mode_circles .cmsms_stat_wrap.one_third {
    width: 100%;
  }
  html #page .cmsms_counters .cmsms_counter_wrap.one_third {
    width: 100%;
  }
  html #page .cmsms_profile.vertical .profile {
    direction: inherit;
    text-align: center;
  }
  html #page .cmsms_profile.vertical .profile:before {
    margin: auto;
    width: 56px;
    height: 4px;
    margin: auto !important;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: auto;
  }
  html #page .cmsms_profile.vertical .profile .pl_img {
    display: inline-block;
    width: 60%;
    padding: 0 0 20px;
  }
  html #page .cmsms_profile.vertical .profile .pl_content_wrap {
    display: block;
    width: 100%;
    text-align: center;
  }
  html #page .cmsms_profile.vertical .profile .pl_content {
    display: block;
    width: 100%;
    padding: 0;
    text-align: center;
  }
  html #page .cmsms_profile.vertical .profile .pl_content .pl_social {
    text-align: center;
  }
  html #page .cmsms_profile.vertical .profile .entry-content {
    display: block;
    width: 100%;
    padding: 0;
    text-align: center;
  }
  html #page .cmsms_profile.horizontal .profile {
    margin-bottom: 40px;
  }
  html #page .cmsms_profile.horizontal .profile:last-child {
    margin-bottom: 0;
  }
  html #page .portfolio.opened-article .cmsms_project_img_wrap {
    float: none;
    width: 100%;
  }
  html #page .portfolio.opened-article .cmsms_project_img_wrap figure {
    text-align: left;
  }
  html #page .portfolio.opened-article .cmsms_project_inner {
    float: none;
    width: 100%;
    padding: 0;
  }
  html #page .comment-respond .comment-form p {
    width: 100%;
    float: none;
  }
  html #page .quote_grid {
    display: block;
    margin: 0;
  }
  html #page .quote_grid .quotes_list {
    display: block;
  }
  html #page .quote_grid .quotes_list .cmsms_quote {
    display: block;
    width: 100%;
    margin-top: 4px;
  }
  html #page .quote_grid .quotes_list .cmsms_quote .cmsms_quote_inner .quote_title_wrap .quote_title_inner {
    text-align: left;
  }
  html #page .quote_grid .quotes_list .cmsms_quote .cmsms_quote_inner .quote_title_wrap .quote_image {
    margin: 0 50px 0 0;
    float: left;
  }
  html #page .quote_grid .quotes_list .cmsms_quote .cmsms_quote_inner .quote_content_wrap .quote_content {
    text-align: left;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner {
    padding-left: 0;
    padding-right: 0;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner nav {
    margin-left: 0;
    margin-right: 0;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .search_wrap {
    width: 100%;
    float: none;
    margin: 0;
    padding: 20px 0;
    clear: both;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .search_wrap .search_wrap_inner {
    display: block;
    height: auto !important;
    width: 100%;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .search_wrap .search_wrap_inner .search_wrap_inner_left {
    display: block;
    width: 100%;
    margin: 0;
    visibility: visible;
    opacity: 1;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .search_wrap .search_wrap_inner .search_bar_wrap {
    display: block;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0 25px;
    position: relative;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .search_wrap .search_wrap_inner .search_bar_wrap form {
    display: block;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .search_wrap .search_wrap_inner .search_bar_wrap form .search_field {
    display: block;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .search_wrap .search_wrap_inner .search_bar_wrap form .search_field input[type="search"] {
    float: none;
    width: 100%;
    height: 44px;
    margin: 0;
    opacity: 1;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .search_wrap .search_wrap_inner .search_bar_wrap form .search_button {
    display: none;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .social_wrap {
    float: none;
    margin: 0;
    padding: 15px 5%;
    clear: both;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .social_wrap .social_wrap_inner {
    display: block;
    height: auto !important;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .social_wrap .social_wrap_inner ul {
    text-align: center;
    display: block;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .social_wrap .social_wrap_inner ul li {
    margin: 0;
    padding: 0 3px;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .slogan_wrap {
    max-width: none;
    margin: 0;
    padding: 15px 5%;
    float: none;
    clear: both;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .slogan_wrap .slogan_wrap_inner {
    display: block;
    height: auto !important;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .slogan_wrap .slogan_wrap_inner .slogan_wrap_text {
    text-align: center;
    display: block;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .slogan_wrap .slogan_wrap_inner .slogan_wrap_text > * {
    display: block;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .logo_wrap {
    text-align: center;
    display: block;
    width: 100%;
    float: none;
    margin: 0;
    padding: 15px 5%;
    clear: both;
    overflow: hidden;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .logo_wrap .logo {
    display: inline;
    height: auto !important;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .logo_wrap .logo img {
    position: static;
    max-height: none;
    max-width: 100%;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .resp_nav_wrap {
    margin: 0;
    padding: 0 0 15px;
    float: none;
    clear: both;
    text-align: center;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .resp_nav_wrap .resp_nav_wrap_inner {
    display: inline-block;
    height: auto !important;
  }
  html #page.enable_header_centered #header .header_mid .header_mid_outer .header_mid_inner .logo_wrap {
    display: block;
    margin: 0 auto;
  }
  html #page .cmsms_clients_grid .cmsms_clients_item {
    width: 100%;
    margin-bottom: 0;
  }
  html #page .cmsms_archive article.profile {
    width: 100%;
    text-align: left !important;
  }
  html #page .cmsms_archive article.profile .pl_img {
    float: none;
    width: auto !important;
    text-align: left;
  }
  html #page .cmsms_archive article.profile .pl_content * {
    text-align: left !important;
  }
  html #page #footer.cmsms_footer_default .footer_inner {
    min-height: auto;
  }
  html #page #footer.cmsms_footer_default .footer_inner .logo {
    padding-top: 15px;
  }
  html #page #footer.cmsms_footer_default .footer_inner .logo,
  html #page #footer.cmsms_footer_default .footer_inner nav,
  html #page #footer.cmsms_footer_default .footer_inner .social_wrap,
  html #page #footer.cmsms_footer_default .footer_inner .footer_custom_html {
    margin-bottom: 30px;
  }
  html #page #footer.cmsms_footer_default .footer_inner .copyright {
    padding-top: 25px;
  }
  html #page .error .error_wrap .error_inner.align_block_center {
    width: 100% !important;
  }
}
@media only screen and (max-width: 620px) {
  html #page .post.cmsms_default_type,
  html #page .tribe_events.cmsms_default_type {
    padding-left: 0;
    padding-right: 0;
  }
  html #page .blog.columns.puzzle .cmsms_post_cont {
    padding-bottom: 0;
  }
  html #page .blog.columns.puzzle .cmsms_post_cont figure {
    position: relative;
  }
  html #page .blog.columns.puzzle .cmsms_post_cont .cmsms_img_wrap {
    position: relative;
  }
  html #page .blog.columns.puzzle .cmsms_post_cont .puzzle_post_content_wrapper {
    padding-bottom: 0;
    position: relative;
  }
  html #page .blog.columns.puzzle .cmsms_post_cont .puzzle_post_content_wrapper .puzzle_post_content_wrap {
    position: relative;
  }
}



/*-------------------------------------------------------------------------*/
/*	Tablet Monitor 600
/*-------------------------------------------------------------------------*/
@media only screen and (max-width: 600px) {
  html.cmsms_html {
    margin-top: 0 !important;
  }
  html.cmsms_html body.admin-bar {
    padding-top: 46px;
  }
}



/*-------------------------------------------------------------------------*/
/*	4.	Phone Monitor
/*-------------------------------------------------------------------------*/
@media only screen and (max-width: 540px) {
  html #page .blog.standard .post .cmsms_hover_slider,
  html #page .blog.standard .tribe_events .cmsms_hover_slider,
  html #page .blog .cmsms_default_type .cmsms_hover_slider,
  html #page .blog.standard .post .cmsms_img_wrap,
  html #page .blog.standard .tribe_events .cmsms_img_wrap,
  html #page .blog .cmsms_default_type .cmsms_img_wrap,
  html #page .blog.standard .post .cmsms_wrap_video,
  html #page .blog.standard .tribe_events .cmsms_wrap_video,
  html #page .blog .cmsms_default_type .cmsms_wrap_video {
    float: none;
    width: 100%;
    margin: 0 0 30px;
  }
  html #page .blog.standard .post .cmsms_post_cont,
  html #page .blog.standard .tribe_events .cmsms_post_cont,
  html #page .blog .cmsms_default_type .cmsms_post_cont {
    width: 100%;
    padding: 0;
  }
  html #page .cmsms_post_filter_wrap .cmsms_post_filter .cmsms_post_filter_block .cmsms_post_filter_list li {
    display: block;
    padding-bottom: 0;
  }
  html #page .cmsms_post_filter_wrap .cmsms_post_filter .cmsms_post_filter_block .cmsms_post_filter_list li:first-child + li {
    padding-top: 0;
  }
  html #page .cmsms_search .cmsms_search_post .cmsms_search_post_number_wrap {
    width: auto;
    float: none;
    margin: 0 0 20px;
    text-align: left;
    clear: both;
  }
  html #page .cmsms_search .cmsms_search_post .cmsms_search_post_number_wrap .cmsms_search_post_number {
    margin: 0 10px 0 0;
  }
  html #page .about_author .about_author_inner .ovh {
    overflow: visible;
  }
  html #page .post_comments .commentlist .comment-body .alignleft {
    float: none;
    margin: 0 0 10px;
  }
  html #page .post_comments .commentlist .comment-body .alignleft img {
    display: inline-block;
  }
  html #page .cmsms_stats.stats_mode_circles .cmsms_stat_wrap.one_fifth,
  html #page .cmsms_stats.stats_mode_circles .cmsms_stat_wrap.one_fourth,
  html #page .cmsms_stats.stats_mode_circles .cmsms_stat_wrap.one_third,
  html #page .cmsms_stats.stats_mode_circles .cmsms_stat_wrap.one_half {
    width: 100%;
  }
  html #page .cmsms_counters .cmsms_counter_wrap.one_fifth,
  html #page .cmsms_counters .cmsms_counter_wrap.one_fourth,
  html #page .cmsms_counters .cmsms_counter_wrap.one_third,
  html #page .cmsms_counters .cmsms_counter_wrap.one_half {
    width: 100%;
  }
  html #page .cmsms_tabs .cmsms_tabs_list .cmsms_tabs_list_item {
    display: block;
    float: none;
    margin: 0;
  }
  html #page .cmsms_tabs.tabs_mode_tour {
    display: block;
  }
  html #page .cmsms_tabs.tabs_mode_tour .cmsms_tabs_list {
    display: block;
    width: 100%;
  }
  html #page .cmsms_tabs.tabs_mode_tour .cmsms_tabs_wrap {
    display: block;
    width: 100%;
    padding: 30px 0 0;
  }
  html #page .cmsms_tabs.lpr .cmsms_tabs_list .cmsms_tabs_list_item {
    width: 99%;
  }
  html #page .cmsms_pricing_table.pricing_four .cmsms_pricing_item,
  html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item,
  html #page .cmsms_pricing_table.pricing_two .cmsms_pricing_item,
  html #page .cmsms_pricing_table.pricing_one .cmsms_pricing_item,
  html #page .cmsms_pricing_table.pricing_four .cmsms_pricing_item:first-child,
  html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item:first-child,
  html #page .cmsms_pricing_table.pricing_two .cmsms_pricing_item:first-child,
  html #page .cmsms_pricing_table.pricing_one .cmsms_pricing_item:first-child,
  html #page .cmsms_pricing_table.pricing_four .cmsms_pricing_item:last-child,
  html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item:last-child,
  html #page .cmsms_pricing_table.pricing_two .cmsms_pricing_item:last-child,
  html #page .cmsms_pricing_table.pricing_one .cmsms_pricing_item:last-child,
  html #page .cmsms_pricing_table.pricing_four .cmsms_pricing_item:nth-child(n),
  html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item:nth-child(n),
  html #page .cmsms_pricing_table.pricing_two .cmsms_pricing_item:nth-child(n),
  html #page .cmsms_pricing_table.pricing_one .cmsms_pricing_item:nth-child(n) {
    width: 100%;
    display: block;
    float: none;
  }
  html #page .cmsms_pricing_table.pricing_four .cmsms_pricing_item .cmsms_pricing_item_inner,
  html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item .cmsms_pricing_item_inner,
  html #page .cmsms_pricing_table.pricing_two .cmsms_pricing_item .cmsms_pricing_item_inner,
  html #page .cmsms_pricing_table.pricing_one .cmsms_pricing_item .cmsms_pricing_item_inner,
  html #page .cmsms_pricing_table.pricing_four .cmsms_pricing_item:first-child .cmsms_pricing_item_inner,
  html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item:first-child .cmsms_pricing_item_inner,
  html #page .cmsms_pricing_table.pricing_two .cmsms_pricing_item:first-child .cmsms_pricing_item_inner,
  html #page .cmsms_pricing_table.pricing_one .cmsms_pricing_item:first-child .cmsms_pricing_item_inner,
  html #page .cmsms_pricing_table.pricing_four .cmsms_pricing_item:last-child .cmsms_pricing_item_inner,
  html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item:last-child .cmsms_pricing_item_inner,
  html #page .cmsms_pricing_table.pricing_two .cmsms_pricing_item:last-child .cmsms_pricing_item_inner,
  html #page .cmsms_pricing_table.pricing_one .cmsms_pricing_item:last-child .cmsms_pricing_item_inner,
  html #page .cmsms_pricing_table.pricing_four .cmsms_pricing_item:nth-child(n) .cmsms_pricing_item_inner,
  html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item:nth-child(n) .cmsms_pricing_item_inner,
  html #page .cmsms_pricing_table.pricing_two .cmsms_pricing_item:nth-child(n) .cmsms_pricing_item_inner,
  html #page .cmsms_pricing_table.pricing_one .cmsms_pricing_item:nth-child(n) .cmsms_pricing_item_inner {
    text-align: center;
  }
  html #page .cmsms_pricing_table.pricing_four .cmsms_pricing_item .cmsms_pricing_item_inner .cmsms_price_wrap,
  html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item .cmsms_pricing_item_inner .cmsms_price_wrap,
  html #page .cmsms_pricing_table.pricing_two .cmsms_pricing_item .cmsms_pricing_item_inner .cmsms_price_wrap,
  html #page .cmsms_pricing_table.pricing_one .cmsms_pricing_item .cmsms_pricing_item_inner .cmsms_price_wrap,
  html #page .cmsms_pricing_table.pricing_four .cmsms_pricing_item:first-child .cmsms_pricing_item_inner .cmsms_price_wrap,
  html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item:first-child .cmsms_pricing_item_inner .cmsms_price_wrap,
  html #page .cmsms_pricing_table.pricing_two .cmsms_pricing_item:first-child .cmsms_pricing_item_inner .cmsms_price_wrap,
  html #page .cmsms_pricing_table.pricing_one .cmsms_pricing_item:first-child .cmsms_pricing_item_inner .cmsms_price_wrap,
  html #page .cmsms_pricing_table.pricing_four .cmsms_pricing_item:last-child .cmsms_pricing_item_inner .cmsms_price_wrap,
  html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item:last-child .cmsms_pricing_item_inner .cmsms_price_wrap,
  html #page .cmsms_pricing_table.pricing_two .cmsms_pricing_item:last-child .cmsms_pricing_item_inner .cmsms_price_wrap,
  html #page .cmsms_pricing_table.pricing_one .cmsms_pricing_item:last-child .cmsms_pricing_item_inner .cmsms_price_wrap,
  html #page .cmsms_pricing_table.pricing_four .cmsms_pricing_item:nth-child(n) .cmsms_pricing_item_inner .cmsms_price_wrap,
  html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item:nth-child(n) .cmsms_pricing_item_inner .cmsms_price_wrap,
  html #page .cmsms_pricing_table.pricing_two .cmsms_pricing_item:nth-child(n) .cmsms_pricing_item_inner .cmsms_price_wrap,
  html #page .cmsms_pricing_table.pricing_one .cmsms_pricing_item:nth-child(n) .cmsms_pricing_item_inner .cmsms_price_wrap {
    text-align: center;
  }
  html #page .cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_filter_block {
    width: 100%;
    overflow: hidden;
  }
  html #page .cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_filter_block .cmsms_project_filter_list {
    float: right;
  }
  html #page .cmsms_profile.vertical .profile .pl_img {
    width: 80%;
  }
  html #page .cmsms_quotes_slider.cmsms_quotes_slider_type_box .cmsms_quote .cmsms_quote_inner .quote_info_wrap {
    float: none;
    margin-bottom: 30px;
  }
  html #page .quote_grid.quote_four .quotes_list .cmsms_quote .cmsms_quote_inner .quote_title_wrap .quote_image,
  html #page .quote_grid.quote_three .quotes_list .cmsms_quote .cmsms_quote_inner .quote_title_wrap .quote_image,
  html #page .quote_grid.quote_two .quotes_list .cmsms_quote .cmsms_quote_inner .quote_title_wrap .quote_image,
  html #page .quote_grid.quote_one .quotes_list .cmsms_quote .cmsms_quote_inner .quote_title_wrap .quote_image {
    margin: 0 0 20px;
    float: none;
    text-align: left;
  }
  html #page .quote_grid.quote_four .quotes_list .cmsms_quote .cmsms_quote_inner .quote_title_wrap .quote_title_inner,
  html #page .quote_grid.quote_three .quotes_list .cmsms_quote .cmsms_quote_inner .quote_title_wrap .quote_title_inner,
  html #page .quote_grid.quote_two .quotes_list .cmsms_quote .cmsms_quote_inner .quote_title_wrap .quote_title_inner,
  html #page .quote_grid.quote_one .quotes_list .cmsms_quote .cmsms_quote_inner .quote_title_wrap .quote_title_inner {
    display: block;
  }
  html #page .cmsms_archive article.post .cmsms_post_cont_wrap .cmsms_img_wrap,
  html #page .cmsms_archive article.post .cmsms_post_cont_wrap .cmsms_hover_slider,
  html #page .cmsms_archive article.post .cmsms_post_cont_wrap .cmsms_wrap_video {
    float: none;
    width: 100%;
    margin-bottom: 20px;
  }
  html #page .cmsms_archive article.post .cmsms_post_cont_wrap .cmsms_post_cont {
    width: 100%;
    padding: 0;
  }
  html #page .cmsms_archive article.project .project_outer .cmsms_img_wrap {
    float: none;
    width: 100%;
    margin-bottom: 20px;
  }
  html #page .cmsms_archive article.project .project_outer .project_inner {
    width: 100%;
    padding: 0;
  }
  html #page .profiles.opened-article .pl_img {
    float: none;
    width: 100%;
    margin-bottom: 30px;
  }
  html #page .profiles.opened-article .pl_img figure {
    text-align: left;
  }
  html #page .profiles.opened-article .cmsms_profile_inner {
    float: none;
    width: 100%;
    padding: 0;
  }
  html #page .twr_icon {
    position: static;
  }
  html #page .cmsms_twitter {
    margin-bottom: 20px;
    text-align: center;
  }
  html #page .cmsms_twitter .cmsms_twitter_item {
    display: block;
    padding: 0 0 25px;
    text-align: center;
  }
  html #page .cmsms_twitter .cmsms_twitter_item:after {
    content: none;
  }
  html #page .cmsms_twitter .cmsms_twitter_item .published {
    padding: 0 0 25px;
    position: static;
    height: auto;
  }
  html #page .cmsms_twitter .cmsms_twitter_item .cmsms_twitter_item_content {
    padding: 0;
  }
  html #page .cmsms_twitter .owl-buttons {
    margin: 10px auto 0;
    width: 60px;
    height: 22px;
    position: static;
  }
  html #page .cmsms_twitter .owl-buttons > div {
    display: inline-block;
    margin: 0 5px;
  }
  html #page .cmsms_twitter .owl-buttons > div > span:before {
    content: '\25C0';
    margin: 0;
    top: auto;
    bottom: auto;
  }
  html #page .cmsms_twitter .owl-buttons > div > span.cmsms_next_arrow:before {
    content: '\25B6';
  }
  html #page #footer.cmsms_footer_small .footer_inner {
    text-align: center;
  }
  html #page #footer.cmsms_footer_small .footer_inner > * {
    float: none;
    display: block;
    margin-bottom: 20px;
  }
  html #page #footer.cmsms_footer_small .footer_inner > *:last-child {
    margin-bottom: 0;
  }
  html #page #footer.cmsms_footer_small .footer_inner .social_wrap .social_wrap_inner,
  html #page #footer.cmsms_footer_small .footer_inner .footer_custom_html {
    text-align: center;
  }
  html #page .error .error_wrap .error_inner {
    width: 100% !important;
  }
  html #page .error .error_wrap .error_inner.align_text_center .error_subtitle {
    width: auto;
  }
  html #page .error .error_wrap .error_inner.align_text_center .error_search_button_wrap {
    text-align: center;
  }
  html #page .error .error_wrap .error_inner.align_text_center .error_search_button_wrap .search_bar_wrap,
  html #page .error .error_wrap .error_inner.align_text_center .error_search_button_wrap .error_button_wrap {
    float: none;
  }
  html #page .error .error_wrap .error_inner .error_search_button_wrap .search_bar_wrap {
    width: 100%;
    margin: 0 0 20px;
  }
  html #page .cmsms-jplayer.cmsms-jplayer-full .jp-buy-button-list {
    display: none;
  }
  html #page .cmsms-jplayer.cmsms-jplayer-full .jp-gui.jp-interface {
    height: 80px;
  }
  html #page .cmsms-jplayer.cmsms-jplayer-full .jp-gui.jp-interface .jp-interface-top {
    padding-top: 10px;
  }
  html #page .cmsms-jplayer .jp-jplayer {
    display: none;
  }
  html #page .cmsms-jplayer .jp-gui.jp-interface {
    padding-left: 15px;
  }
}



/*-------------------------------------------------------------------------*/
/*	5.	Small Phone Monitor
/*-------------------------------------------------------------------------*/
@media only screen and (max-width: 320px) {
  html .post-password-form,
  html .header_top_inner,
  html .header_mid_inner,
  html .header_bot_inner,
  html .content_wrap,
  html .headline_inner,
  html .bottom_outer,
  html .footer_inner,
  html .cmsms_row_inner,
  html .cmsms_row_title_wrap {
    width: 320px;
  }
}

