/**
 * @package 	WordPress
 * @subpackage 	Music Band
 * @version 	1.0.0
 * 
 * Events RTL Rules
 * Created by CMSMasters
 * 
 */


body {
	unicode-bidi: embed;
	direction: rtl;
}


/* Tribe Spinner */

.tribe-events-spinner {
	margin-left: 0;
	margin-right: -16px;
}

.tribe-events-spinner-medium {
	margin-left: 0;
	margin-right: -12px;
}

.tribe-events-spinner-small {
	margin-left: 0;
	margin-right: -8px;
}


/* General Template Header/Footer Nav */

.tribe-events-ajax-loading {
	left: auto;
	right: 50%;
}


/* General Template Header Nav */

select.tribe-events-dropdown {
	margin-left: 9px;
	margin-right: 0;
}


/* = Events List Widget Styles (Sidebar)
   @ Template: widgets/list-widget.php
=============================================*/

.tribe-events-list-widget ol,
.tribe-events-adv-list-widget ol {
	margin-right: 0;
}


/* = WooTickets
=============================================*/

table.tribe-events-tickets td {
	padding-left: 10px;
	padding-right: 0;
}

table.tribe-events-tickets .tickets_nostock {
	text-align: center;
}


/* = Events Navigation Bar
   @ Template: modules/bar.php
=============================================*/
/* Views Select */

#tribe-bar-views .tribe-select2 {
	float: right;
}

#tribe-bar-views .select2-container .select2-choice span {
	margin-right: 0;
	margin-left: 18px;
}

#tribe-bar-views .select2-container .select2-choice span span {
	margin-left: 0;
}


/* Views Select When Have Settings */

.tribe-has-settings #tribe-bar-dates {
	margin-left: 0;
	margin-right: -331px;
}

.tribe-has-settings #tribe-bar-views {
	margin-left: 0;
	margin-right: -142px;
}

.tribe-has-settings #tribe-bar-views .select2-container .select2-choice div {
	background-image: none;
	border-right: 0;
}


/* Settings */

#tribe-events-bar .tribe-bar-button-settings span {
	float: right;
}


/* Filters Button & Dropdown Content */

#tribe-events-bar .tribe-bar-button-settings {
	border-right-color: transparent;
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
	float: right;
	margin-right: -1px;
}

.tribe-bar-settings .tribe-bar-drop-content {
	right: auto;
	left: -5px;
}


/* Skeleton Events Pro Styles */
/* Events Loop */

.tribe-events-loop h2.tribe-events-page-title {
	padding-right: 0;
}


/* = Map View Template Styles 
   @ Template: map.php
=============================================*/

/* tribe geo location results list formatting */

#tribe-geo-results .tribe-events-notices {
	text-align: center;
}

.tribe-geo-result-thumb {
	float: right;
	margin-left: 2%;
}

.tribe-geo-result-data {
	float: left;
}

.tribe-geo-result-entry h2 {
	float: right;
}

.tribe-geo-result-cost {
	float: left;
}

.tribe-geo-result-cost span {
	text-align: center;
}

.timer {
	text-align: center;
}


/* = View Loading / Pagination Styles 
   @ Template: map.php & photo.php
=============================================*/

#tribe-geo-loading {
	left: auto;
	right: 0;
}

#tribe-geo-loading img {
	left: auto;
	right: 50%;
	margin-left: 0;
	margin-right: -16px;
}


/* = Events Calendar Widget Styles (Sidebar)
   @ Template: widgets/calendar-widget.php
=============================================*/

.tribe-view-all-events {
	float: left;
}

.tribe-events-calendar-widget td {
	text-align: center;
}

.tribe-events-calendar-widget .tribe-events-calendar .tribe-events-tooltip {
	left: auto;
	right: 0;
	text-align: right;
}

.tribe-events-calendar-widget .tribe-events-tooltip .tribe-events-arrow {
	left: auto;
	right: 2px;
}

.tribe-events-calendar-widget .tribe-events-right .tribe-events-tooltip {
	left: 0;
	right: auto;
}

.tribe-events-calendar-widget .tribe-events-right .tribe-events-tooltip .tribe-events-arrow {
	left: 2px;
	right: auto;
}


/*-------------------------------------------------------------------------*/
/*	2. Global Events Styles */
/*-------------------------------------------------------------------------*/

/* Events Nav */

.tribe-events-sub-nav {
	left: -1px;
	right: auto;
	direction:ltr;
}


/* Events Header */

#tribe-events-header {
	padding-left: 65px;
	padding-right: 0;
}

#tribe-events-header .tribe-events-user-recurrence-toggle input {
	margin-left: 10px;
	margin-right: 0;
}


/* Events Footer */

#tribe-events-footer {
	text-align: left;
}


/* Events Tooltip */

.tribe-events-tooltip:before,
.tribe-events-tooltip:after {
	left: auto;
	right: 20px;
}

.tribe-events-tooltip:after {
	left: auto;
	right: 22px;
}


/*-------------------------------------------------------------------------*/
/*	3. Events Bar */
/*-------------------------------------------------------------------------*/

 /* Views */
 
#tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner > div {
	float: right;
}

#tribe-events-bar #tribe-bar-views label.button {
	padding-left: 40px;
	padding-right: 15px;
	text-align: right;
	float: right;
}

#tribe-events-bar #tribe-bar-views label.button:before {
	left: 14px;
	right: auto;
}

#tribe-events-bar #tribe-bar-views label.button .tribe-bar-views-icon {
	left: 17px;
	right: auto;
}

#tribe-events-bar #tribe-bar-views label.button .tribe-bar-views-icon:before,
#tribe-events-bar #tribe-bar-views label.button .tribe-bar-views-icon:after {
	left: auto;
	right: 0;
}

#tribe-events-bar #tribe-bar-views ul.tribe-bar-views-list {
	padding-left: 0;
	padding-right: 15px;
	left: auto;
	right: -50px;
	float: left;
}

#tribe-events-bar #tribe-bar-views ul.tribe-bar-views-list li.tribe-bar-views-option {
	float: right;
}

#tribe-events-bar #tribe-bar-views ul.tribe-bar-views-list li.tribe-bar-views-option a {
	text-align: center;
}

#tribe-events-bar #tribe-bar-views.tribe-bar-views-open ul.tribe-bar-views-list {
	left: auto;
	right: 0;
}


/*-------------------------------------------------------------------------*/
/*	4. Events Pages */
/*-------------------------------------------------------------------------*/
.photo-loader {
	left: auto;
	right: 50%;
}

#tribe-events-content.tribe-events-month .tribe-events-tooltip {
	left: auto;
	right: -2px;
}

#tribe-events-content.tribe-events-month .tribe-events-tooltip:after {
	left: auto;
	right: 20px;
}

#tribe-events-content.tribe-events-month .tribe-events-right .tribe-events-tooltip {
	left: -2px;
	right: auto;
}

#tribe-events-content.tribe-events-month .tribe-events-right .tribe-events-tooltip:before {
	left: 20px;
	right: auto;
}

#tribe-events-content.tribe-events-month .tribe-events-right .tribe-events-tooltip:after {
	left: 20px;
	right: auto;
}

#tribe-events-content.tribe-events-month table.tribe-events-calendar thead th {
	border-right: 0;
	border-left: 1px solid rgba(255, 255, 255, 0.1);
	text-align: center;
}

#tribe-events-content.tribe-events-month table.tribe-events-calendar tbody td {
	border-right-width: 0;
	border-left-width: 2px;
	border-left-style: solid;
}

#tribe-events-content.tribe-events-month table.tribe-events-calendar tbody td:first-child {
	border-left-width: 1px;
	border-right-width: 2px;
	border-right-style: solid;
}

#tribe-events-content.tribe-events-month table.tribe-events-calendar tbody td:last-child {
	border-right-width: 0;
	border-left-width: 2px;
	border-left-style: solid;
}

#tribe-events-content.tribe-events-list .cmsms_event_date {
	float: left;
}

#tribe-events-content.tribe-events-list .tribe-events-list-separator-month {
	float: none;
	text-align: right;
}

#tribe-events-content.tribe-events-list .vevent .tribe-events-event-image {
	padding-left: 40px;
	padding-right: 0;
	text-align: center;
	float: right;
}

#tribe-events-content.tribe-events-list .vevent .cmsms_events_list_event_wrap .cmsms_events_list_event_header .tribe-events-event-cost {
	text-align: center;
	float: left;
}

#tribe-events-content.tribe-events-list .vevent .cmsms_events_list_event_wrap .tribe-events-event-meta .time-details {
	padding-right: 0;
	padding-left: 20px;
}

#tribe-events-content.tribe-events-list .vevent .cmsms_events_list_event_wrap .tribe-events-event-meta .tribe-events-venue-details {
	padding-right: 0;
	padding-left: 20px;
}

#tribe-events-content.tribe-events-list .vevent .cmsms_events_list_event_wrap .tribe-events-event-meta .tribe-events-venue-details .tribe-events-address {
	margin-left: 10px;
	margin-right: 0;
}

#tribe-events-content.tribe-events-day .tribe-events-day-time-slot > h5 {
	float: none;
	text-align: right;
}

#tribe-events-content.tribe-events-photo #tribe-events-photo-events .tribe-events-photo-event {
	float: right;
}

#tribe-events-content.tribe-events-photo #tribe-events-photo-events .tribe-events-photo-event .tribe-events-photo-event-wrap .tribe-events-event-image-wrap .tribe-events-event-image img {
	left: auto;
	right: 0;
}

#tribe-events-content.tribe-events-photo #tribe-events-photo-events .tribe-events-photo-event .tribe-events-photo-event-wrap .tribe-events-event-details .tribe-events-event-meta .time-details .end-time {
	padding-right: 0;
	padding-left: 10px;
}

#tribe-events-content.tribe-events-photo #tribe-events-photo-events .tribe-events-photo-event .tribe-events-photo-event-wrap .tribe-events-event-details .tribe-events-event-meta .time-details .date-start + .recurringinfo {
	padding-left: 0;
	padding-right: 10px;
}

#tribe-events-content.tribe-events-week-grid .tribe-events-grid .column.first {
	margin-right: 0;
	margin-left: -50px;
	border-right-width: 0;
	border-right-style: solid;
	float: right;
}

#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-content-wrap {
	float: right;
	padding-left: 0;
	padding-right: 50px;
}

#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-content-wrap .column {
	border-left-width: 0;
	border-right-width: 1px;
	border-right-style: solid;
	float: right;
}

#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-content-wrap .column:first-child {
	border-left-width: 0;
	border-right-width: 2px;
	border-right-style: solid;
}

#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-content-wrap .column.first {
	margin-left: -60px;
	border-right-width: 0;
	border-right-style: solid;
}

#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-header .tribe-grid-content-wrap {
	padding-left: 0;
	padding-right: 54px;
}

#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-header .tribe-grid-content-wrap .column {
	border-right-width: 0;
	border-right-style: solid;
	text-align: center;
}

#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-header .tribe-grid-content-wrap .column a,
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-header .tribe-grid-content-wrap .column > span {
	text-align: right;
}

#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-allday .column.first span {
	text-align: center;
	left: 0;
	right: 0;
}

#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-week-grid-wrapper .tribe-grid-body .tribe-week-grid-hours {
	margin-left: -50px;
	border-right-width: 0;
	border-right-style: solid;
	float: right;
}

#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-week-grid-wrapper .tribe-grid-body .tribe-week-grid-hours div {
	text-align: center;
}

#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-body .tribe-events-tooltip {
	margin-left: 0;
	margin-right: -24px;
}

#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-body .tribe-events-tooltip:before,
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-body .tribe-events-tooltip:after {
	left: -10px;
	right: auto;
	border-right: 0 solid transparent;
	border-left-width: 8px;
	border-left-style: solid;
}

#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-body .tribe-events-tooltip:after {
	right: auto;
	left: -7px;
}

#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-body .tribe-events-right .tribe-events-tooltip {
	margin-left: -21px;
	margin-right: 0;
}

#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-body .tribe-events-right .tribe-events-tooltip:before,
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-body .tribe-events-right .tribe-events-tooltip:after {
	left: auto;
	right: -10px;
	border-left: 0 solid transparent;
	border-right-width: 8px;
	border-right-style: solid;
}

#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-body .tribe-events-right .tribe-events-tooltip:after {
	left: auto;
	right: -7px;
}

#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-scroller > .scroller-content {
	left: 0;
	right: 0;
}

#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-scroller > .scroller-pane {
	right: auto;
	left: 0;
}

#tribe-mobile-container .tribe-mobile-day .tribe-mobile-day-heading,
#tribe-mobile-container .tribe-mobile-day .tribe-mobile-day-date {
	float: none;
}

#tribe-mobile-container .tribe-mobile-day .tribe-events-mobile .tribe-events-event-image {
	text-align: center;
}


/*-------------------------------------------------------------------------*/
/*	5. Single Event */
/*-------------------------------------------------------------------------*/
#tribe-events-content .cmsms_event_date {
	float: right;
}

#tribe-events-content .cmsms_event_date .cmsms_event_day {
	text-align: center;
}

#tribe-events-content .cmsms_event_date .cmsms_event_month {
	text-align: center;
}

#tribe-events-content.tribe-events-single .cmsms_single_event_img.cmsms_single_event_full_width {
	float: none;
}

#tribe-events-content.tribe-events-single .cmsms_single_event_img .tribe-events-event-image img {
	left: auto;
	right: 0;
}

#tribe-events-content.tribe-events-single .cmsms_single_event_header .cmsms_single_event_header_left {
	float: right;
}

#tribe-events-content.tribe-events-single .cmsms_single_event_header .cmsms_single_event_header_left .cmsms_single_event_header_left_inner {
	float: right;
}

#tribe-events-content.tribe-events-single .cmsms_single_event_header .cmsms_single_event_header_left .tribe-events-schedule {
	float: right;
}

#tribe-events-content.tribe-events-single .cmsms_single_event_header .cmsms_single_event_header_left .tribe-events-schedule > div:before {
	margin-left: 15px;
}

#tribe-events-content.tribe-events-single .cmsms_single_event_header .cmsms_single_event_header_right {
	float: left;
}

#tribe-events-content.tribe-events-single .cmsms_single_event_header .cmsms_single_event_header_right > * {
	margin-right: 0;
	margin-left: 20px;
}

#tribe-events-content.tribe-events-single .cmsms_single_event_header .cmsms_single_event_header_right > *:last-child {
	margin-left: 0;
}

#tribe-events-content.tribe-events-single .cmsms_single_event_header .cmsms_single_event_header_right .tribe-events-cal-links > * {
	margin-right: 0;
	margin-left: 20px;
}

#tribe-events-content.tribe-events-single .cmsms_single_event_header .cmsms_single_event_header_right .tribe-events-cal-links > *:last-child {
	margin-left: 0;
}

#tribe-events-content.tribe-events-single .cmsms_single_event_meta .tribe-events-meta-group {
	float: right;
}

#tribe-events-content.tribe-events-single .cmsms_single_event_meta .tribe-events-meta-group .cmsms_event_meta_info .cmsms_event_meta_info_item .cmsms_event_meta_info_item_title,
#tribe-events-content.tribe-events-single .cmsms_single_event_meta .tribe-events-meta-group .cmsms_event_meta_info .cmsms_event_meta_info_item .cmsms_event_meta_info_item_descr,
#tribe-events-content.tribe-events-single .cmsms_single_event_meta .tribe-events-meta-group .cmsms_event_meta_info .cmsms_event_meta_info_item dt,
#tribe-events-content.tribe-events-single .cmsms_single_event_meta .tribe-events-meta-group .cmsms_event_meta_info .cmsms_event_meta_info_item dd {
	text-align: right;
}

#tribe-events-content.tribe-events-single .cmsms_single_event_map.cmsms_single_event_full_width {
	float: none;
}


/*-------------------------------------------------------------------------*/
/*	6. Related Events */
/*-------------------------------------------------------------------------*/
ul.tribe-related-events > li {
	float: right;
}

ul.tribe-related-events > li .tribe-related-events-thumbnail img,
ul.tribe-related-events > li .tribe-related-events-thumbnail .cmsms_events_img_placeholder {
	left: auto;
	right: 0;
}

ul.tribe-related-events > li .tribe-related-events-thumbnail .cmsms_events_img_placeholder:before {
	left: 0;
	right: 0;
}

ul.tribe-related-events > li .tribe-related-event-info .date-start {
	margin-left: 10px;
	float: right;
}


/*-------------------------------------------------------------------------*/
/*	7. Single Venue */
/*-------------------------------------------------------------------------*/
.tribe-events-venue .cmsms_events_venue_header .cmsms_events_venue_header_left {
	float: right;
}

.tribe-events-venue .cmsms_events_venue_header .cmsms_events_venue_header_right {
	float: left;
	text-align: left;
}

.tribe-events-venue .cmsms_events_venue_header .cmsms_events_venue_header_right .tribe-events-back {
	text-align: left;
}

.tribe-events-venue .cmsms_events_venue_header .cmsms_events_venue_header_right .tribe-events-back a:before {
	margin-left: 7px;
}

.tribe-events-venue .cmsms_events_venue_header .cmsms_events_venue_header_right a {
	text-align: left;
}

.tribe-events-venue .tribe-events-venue-meta .cmsms_events_venue_meta_inner .cmsms_events_venue_meta_img {
	padding-right:0;
	padding-left: 20px;
	float: right;
}

.tribe-events-venue .tribe-events-venue-meta .cmsms_events_venue_meta_inner .cmsms_events_venue_meta_img .tribe-events-event-image img {
	left: auto;
	right: 0;
}

.tribe-events-venue .tribe-events-venue-meta .cmsms_events_venue_meta_inner .cmsms_events_venue_meta_map {
	padding-left: 0;
	padding-right: 20px;
	float: right;
}

.tribe-events-venue .tribe-events-venue-meta .cmsms_events_venue_meta_inner .cmsms_events_venue_meta_img.cmsms_events_venue_meta_full_width,
.tribe-events-venue .tribe-events-venue-meta .cmsms_events_venue_meta_inner .cmsms_events_venue_meta_map.cmsms_events_venue_meta_full_width {
	float: none;
}


/*-------------------------------------------------------------------------*/
/*	8. Single Organizer */
/*-------------------------------------------------------------------------*/
.tribe-events-organizer .cmsms_events_organizer_header .cmsms_events_organizer_header_left {
	float: right;
}

.tribe-events-organizer .cmsms_events_organizer_header .cmsms_events_organizer_header_right {
	float: left;
	text-align: left;
}

.tribe-events-organizer .cmsms_events_organizer_header .cmsms_events_organizer_header_right .tribe-events-back {
	text-align: left;
}

.tribe-events-organizer .cmsms_events_organizer_header .cmsms_events_organizer_header_right .tribe-events-back a:before {
	margin-left: 7px;
}

.tribe-events-organizer .cmsms_events_organizer_header .cmsms_events_organizer_header_right a {
	text-align: left;
}

.tribe-events-organizer .tribe-events-organizer-meta .tribe-events-event-image {
	text-align: center;
}


/*-------------------------------------------------------------------------*/
/*	9.	Widgets	*/
/*-------------------------------------------------------------------------*/
.widget ol.vcalendar .vevent .entry-title:before,
.widget ul.vcalendar .vevent .entry-title:before {
	left: auto;
	right: 0;
}

.widget .vcalendar .vevent .cmsms_event_date,
.widget .tribe-events-list-widget-events .cmsms_event_date {
	margin-left: 20px;
	margin-right: 0;
	float: right;
}

.widget .vcalendar .vevent .cmsms_event_date .cmsms_event_day,
.widget .tribe-events-list-widget-events .cmsms_event_date .cmsms_event_day {
	text-align: center;
}

.widget .vcalendar .vevent .cmsms_event_date .cmsms_event_month,
.widget .tribe-events-list-widget-events .cmsms_event_date .cmsms_event_month {
	text-align: center;
}

.widget.tribe-events-countdown-widget .tribe-countdown-time .tribe-countdown-timer {
	text-align: center;
}

.widget.tribe-events-countdown-widget .tribe-countdown-time .tribe-countdown-timer div {
	text-align: center;
}

.widget.tribe-events-countdown-widget .tribe-countdown-time .tribe-countdown-timer .tribe-countdown-number {
	float: right;
}

.widget.tribe-events-countdown-widget .tribe-countdown-time .tribe-countdown-timer .tribe-countdown-number.tribe-countdown-right {
	float: right;
}

.widget.tribe-events-countdown-widget .tribe-countdown-time .tribe-countdown-timer .tribe-countdown-colon {
	float: right;
}

.widget.tribe-events-venue-widget .tribe-venue-widget-wrapper .tribe-venue-widget-venue .tribe-venue-widget-thumbnail {
	text-align: center;
}

.widget.tribe-events-venue-widget .tribe-venue-widget-wrapper .tribe-venue-widget-venue .tribe-venue-widget-venue-name {
	left: auto;
	right: 0;
}

.widget.tribe-events-venue-widget .tribe-venue-widget-wrapper .tribe-venue-widget-list .vevent {
	padding-left: 0;
	padding-right: 25px;
}

.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar th,
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar td {
	text-align: center;
}

.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar th:first-child,
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar td:first-child {
	border-right-width: 2px;
	border-right-style: solid;
}

.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar th:last-child,
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar td:last-child {
	border-left-width: 2px;
	border-left-style: solid;
}

.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar thead th:first-child {
	padding-right: 25px;
}

.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar thead th:last-child {
	padding-left: 25px;
}

.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar tbody tr td:first-child {
	padding-right: 25px;
}

.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar tbody tr td:last-child {
	padding-left: 25px;
}

.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar th:first-child {
	border-right-width: 2px;
	border-right-style: solid;
}

.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar th:last-child {
	border-left-width: 2px;
	border-left-style: solid;
}

.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .tribe-mini-calendar-nav {
	text-align: center;
}

.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .tribe-mini-calendar-nav div {
	padding-left: 44px;
	padding-right: 0;
}

.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .tribe-mini-calendar-nav div #ajax-loading-mini {
	left: 0;
	right: 0;
}

.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .tribe-mini-calendar-nav div .tribe-mini-calendar-nav-link {
	left: 0;
	right: auto;
}

.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .tribe-mini-calendar-nav div .tribe-mini-calendar-nav-link span {
	left: 0;
	right: 0;
}

.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .tribe-mini-calendar-nav div .tribe-mini-calendar-nav-link span:before {
	left: 0;
	right: auto;
}

.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .tribe-mini-calendar-nav div .tribe-mini-calendar-nav-link.prev-month {
	right: auto;
	left: 22px;
}

.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .vcalendar td div {
	text-align: center;
}

.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .vcalendar td.tribe-events-has-events div .tribe-mini-calendar-day-link:before {
	left: 0;
	right: 0;
}

.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-list-wrapper .tribe-events-loop .vevent .tribe-mini-calendar-event .list-info .duration {
	padding-left: 0;
	padding-right: 30px;
}

.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-list-wrapper .tribe-events-loop .vevent .tribe-mini-calendar-event .list-info .duration:before {
	text-align: right;
	left: auto;
	right: 0;
}


/*-------------------------------------------------------------------------*/
/*	10.	CSS3 Animations	*/
/*-------------------------------------------------------------------------*/
html.csstransitions #tribe-events-bar #tribe-bar-views .tribe-bar-views-inner ul.tribe-bar-views-list {
	-webkit-transition: right .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
	-moz-transition: right .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
	-ms-transition: right .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
	-o-transition: right .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
	transition: right .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
}


/*-------------------------------------------------------------------------*/
/*	Tablet Monitor
/*-------------------------------------------------------------------------*/
@media only screen and (max-width: 1024px) {
	#tribe-events-content.tribe-events-single .cmsms_single_event_meta.cmsms_event_meta_info_col_4 .tribe-events-meta-group:nth-child(2n + 1) {
		clear: right;
	}
}


/*-------------------------------------------------------------------------*/
/*	Small Tablet Monitor
/*-------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
	#main #tribe-events-bar {
		text-align: center;
	}

	#main #tribe-events-bar #tribe-bar-views .tribe-bar-views-inner {
		text-align: center;
	}

	#main #tribe-events-bar #tribe-bar-views label.button {
		float: none;
	}

	#main #tribe-events-bar #tribe-bar-views ul.tribe-bar-views-list {
		float: none;
	}

	#main #tribe-events-content.tribe-events-month table.tribe-events-calendar thead th {
		text-align: center;
	}

	#main #tribe-events-content.tribe-events-month table.tribe-events-calendar tbody td.tribe-events-has-events:before {
		left: 0;
		right: 0;
	}

	#main #tribe-events-content.tribe-events-month table.tribe-events-calendar tbody td div[id*="tribe-events-daynum-"] {
		text-align: center;
	}

	#main #tribe-events-content.tribe-events-month table.tribe-events-calendar tbody td div[id*="tribe-events-daynum-"] a {
		text-align: center;
	}

	#main #tribe-events-content.tribe-events-list .vevent .tribe-events-event-image {
		float: none;
	}

	#main #tribe-events-content.tribe-events-list .vevent .cmsms_events_list_event_wrap .cmsms_events_list_event_header .tribe-events-event-cost,
	#main #tribe-events-content.tribe-events-list .vevent .cmsms_events_list_event_wrap .cmsms_events_list_event_header .cmsms_event_date {
		float: right;
	}

	#main #tribe-events-content.tribe-events-single .cmsms_single_event_header .cmsms_single_event_header_left,
	#main #tribe-events-content.tribe-events-single .cmsms_single_event_header .cmsms_single_event_header_right {
		float: none;
		text-align: right;
	}

	#main #tribe-events-content.tribe-events-single .cmsms_single_event_header .cmsms_single_event_header_left *,
	#main #tribe-events-content.tribe-events-single .cmsms_single_event_header .cmsms_single_event_header_right * {
		text-align: right;
	}

	#main #tribe-events-content.tribe-events-single .cmsms_single_event_header .cmsms_single_event_header_left .cmsms_event_date {
		float: none;
	}

	#main #tribe-events-content.tribe-events-single .cmsms_single_event_header .cmsms_single_event_header_left .cmsms_single_event_header_left_inner {
		float: none;
	}

	#main .tribe-events-organizer .cmsms_events_organizer_header .cmsms_events_organizer_header_left,
	#main .tribe-events-organizer .cmsms_events_organizer_header .cmsms_events_organizer_header_right {
		float: none;
		text-align: center;
	}

	#main .tribe-events-organizer .cmsms_events_organizer_header .cmsms_events_organizer_header_left *,
	#main .tribe-events-organizer .cmsms_events_organizer_header .cmsms_events_organizer_header_right * {
		text-align: center;
	}

	#main .tribe-events-venue .cmsms_events_venue_header .cmsms_events_venue_header_left,
	#main .tribe-events-venue .cmsms_events_venue_header .cmsms_events_venue_header_right {
		float: none;
		text-align: center;
	}

	#main .tribe-events-venue .cmsms_events_venue_header .cmsms_events_venue_header_left *,
	#main .tribe-events-venue .cmsms_events_venue_header .cmsms_events_venue_header_right * {
		text-align: center;
	}
}


/*-------------------------------------------------------------------------*/
/*	4.	Phone Monitor
/*-------------------------------------------------------------------------*/
@media only screen and (max-width: 540px) {
	#main #tribe-events-content.tribe-events-photo #tribe-events-photo-events .tribe-events-photo-event {
		float: none;
	}

	#main #tribe-events-content.tribe-events-single .cmsms_single_event_inner .cmsms_single_event_img,
	#main #tribe-events-content.tribe-events-single .cmsms_single_event_inner .cmsms_single_event_map {
		float: none;
	}

	#main #tribe-events-content.tribe-events-single .cmsms_single_event_meta .tribe-events-meta-group {
		float: none;
	}

	#main ul.tribe-related-events > li {
		float: none;
	}

	#main .tribe-events-venue .tribe-events-venue-meta .cmsms_events_venue_meta_inner .cmsms_events_venue_meta_img,
	#main .tribe-events-venue .tribe-events-venue-meta .cmsms_events_venue_meta_inner .cmsms_events_venue_meta_map {
		float: none;
	}
}
