/**
 * @package 	WordPress
 * @subpackage 	Music Band
 * @version 	1.0.0
 * 
 * Events CSS Rules
 * Created by CMSMasters
 * 
 */


/*-------------------------------------------------------------------------

	1. 	Skeleton Events Styles
	2. 	Global Events Styles
	3. 	Events Bar
	4. 	Events Pages
	5. 	Single Event
	6. 	Related Events
	7. 	Single Venue
	8. 	Single Organizer
	9. 	Widgets
	10.	CSS3 Animations

-------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------*/
/*	1. Skeleton Events Styles */
/*-------------------------------------------------------------------------*/
/* = Global & Miscellaneous Styles
=============================================*/
.updated-info {
  text-indent: -9999px;
  height: 0;
}
/* Event Schedule Detail Styling */
.tribe-events-event-schedule-details {
  display: inline;
}
/* 2011 Theme Extra Calendar Room */
.events-archive .entry-content,
.events-archive .entry-header {
  width: 98%;
}
/* Remove "Edit" Link from unneeded templates */
.events-archive span.edit-link {
  display: none;
}
/* Miscellaneous Helper Classes */
.clearfix:before,
.tribe-clearfix:before,
.clearfix:after,
.tribe-clearfix:after {
  content: "";
  display: table;
}
.clearfix:after,
.tribe-clearfix:after {
  clear: both;
}
.clearfix,
.tribe-clearfix {
  zoom: 1;
}
.tribe-clear {
  clear: both;
}
.tribe-events-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.tribe-hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.tribe-events-error {
  display: none;
}
.tribe-events-multi-event-day {
  color: #0f81bb;
}
#tribe-events-content .tribe-events-abbr {
  border-bottom: 0;
  cursor: default;
}
/* Tribe Spinner */
.tribe-events-spinner {
  width: 32px;
  height: 32px;
  margin-left: -16px;
  max-width: none;
}
.tribe-events-spinner-medium {
  width: 32px;
  height: 32px;
  margin-left: -12px;
  max-width: none;
}
.tribe-events-spinner-small {
  width: 16px;
  height: 16px;
  margin-left: -8px;
  max-width: none;
}
/* General Template Header/Footer Nav */
.tribe-events-ajax-loading {
  display: none;
  position: absolute;
  left: 50%;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.tribe-events-loading .tribe-events-ajax-loading {
  display: block;
}
/* General Template Header Nav */
#tribe-events-content li.tribe-events-nav-date {
  padding-top: 16px;
}
select.tribe-events-dropdown {
  width: auto;
  font-size: 11px;
  margin: 33px 9px 0 0;
}
#tribe-events-events-picker,
#tribe-events-picker {
  display: inline;
}
/* = Events List Widget Styles (Sidebar)
   @ Template:widgets/list-widget.php
=============================================*/
.tribe-events-list-widget ol,
.tribe-events-adv-list-widget ol {
  list-style-type: square;
  margin-left: 0;
  margin-bottom: 0;
}
.tribe-events-list-widget li,
.singular.page li.hentry,
.tribe-events-adv-list-widget li,
.singular.page li.hentry {
  margin: 6px 0;
  padding: 0 0 10px 0;
}
.tribe-events-list-widget li p.entry-title.summary,
.tribe-events-adv-list-widget li p.entry-title.summary {
  margin-bottom: 0;
  padding: 0;
  font-size: 100%;
}
/* = WooTickets
=============================================*/
table.tribe-events-tickets .tickets_price {
  font-style: italic;
  color: #000;
  font-weight: bold;
}
td.tickets_name {
  color: #777;
  font-size: 13px;
}
.single-tribe_events #tribe-events-content form.cart,
.single-tribe_events #tribe-events-content div.cart {
  margin: 30px 0;
}
table.tribe-events-tickets {
  margin: 0;
  width: 100%;
  border-bottom: 0;
}
table.tribe-events-tickets td {
  border-top: 1px solid #ddd;
  padding: 8px 10px 8px 0;
  vertical-align: middle;
}
table.tribe-events-tickets td.wpec {
  line-height: 0;
}
table.tribe-events-tickets td.woocommerce {
  border-bottom: 0;
}
table.tribe-events-tickets td.wpec img {
  display: none;
}
table.tribe-events-tickets .tickets_nostock {
  display: inline-block;
  text-align: center;
}
h2.tribe-events-tickets-title {
  margin: 20px 0 15px;
  font-size: 1.4em;
  font-weight: bold;
}
/* = Events Navigation Bar
   @ Template:modules/bar.php
=============================================*/
/* Views Select */
#tribe-bar-views .tribe-bar-view-select,
#tribe-bar-views .tribe-bar-view-select ~ .tribe-select2 {
  display: none;
}
#tribe-bar-views .tribe-select2 {
  width: 108px !important;
  float: left;
}
.tribe-select2-results .select2-results {
  margin: 4px 0;
  padding: 0;
}
.tribe-select2-results .select2-results .select2-result-label {
  padding: 6px 8px;
  color: #444;
  line-height: 14px;
}
.tribe-select2-results .select2-results .select2-highlighted {
  background: #ddd;
  color: #444;
}
#tribe-bar-views .select2-container .select2-choice div {
  width: 18px;
}
#tribe-bar-views .select2-container .select2-choice span {
  margin-right: 18px;
}
#tribe-bar-views .select2-container .select2-choice span span {
  margin-right: 0;
}
/* Views Select When Have Settings */
.tribe-has-settings #tribe-bar-dates {
  margin-left: -331px;
}
.tribe-has-settings #tribe-bar-views {
  width: 142px;
  margin-left: -142px;
}
.tribe-has-settings #tribe-bar-views .select2-container .select2-choice {
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
}
.tribe-has-settings #tribe-bar-views .select2-container .select2-choice div {
  -webkit-border-radius: 0;
  border-radius: 0;
  background: transparent;
  background-image: none;
  filter: none;
  border-left: 0;
}
/* Settings */
#tribe-events-bar .tribe-bar-settings {
  overflow: hidden;
}
#tribe-events-bar .tribe-bar-button-settings span {
  height: 100%;
  float: left;
  width: 14px;
  display: inline-block;
  position: relative;
}
#tribe-bar-views .tribe-bar-drop-content button {
  width: 100%;
}
/* Filters Button & Dropdown Content */
#tribe-events-bar .tribe-bar-button-settings {
  border-left-color: transparent;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  float: left;
  margin-left: -1px;
}
.tribe-bar-settings .tribe-bar-drop-content {
  width: 285px;
  right: -5px;
  padding: 10px 12px 4px;
}
/* Bar Width Adjustments */
.tribe-bar-full #tribe-bar-views .tribe-bar-view-select,
.tribe-bar-full #tribe-bar-views .tribe-bar-view-select ~ .tribe-select2 {
  display: none;
}
.tribe-bar-mini #tribe-bar-views .tribe-bar-view-select,
.tribe-bar-mini #tribe-bar-views .tribe-bar-view-select ~ .tribe-select2 {
  display: block;
}
.tribe-bar-full #tribe-bar-views ul.tribe-bar-view-list {
  display: block;
}
.tribe-bar-mini #tribe-bar-views ul.tribe-bar-view-list {
  display: none;
}
/* Skeleton Events Pro Styles */
/* Events Loop */
.tribe-events-loop .tribe-events-loop .vevent {
  margin: 0;
}
.tribe-events-loop h2.tribe-events-page-title {
  padding-left: 0;
}
.tribe-events-loop .published {
  margin-top: 0;
}
/* = Map View Template Styles 
   @ Template:map.php
=============================================*/
/* tribe geo location option links (displayed when multiple locations found) */
#tribe-geo-results h2,
#tribe-geo-options h2 {
  color: #222;
  font-size: 18px;
  font-weight: bold;
  line-height: 1em;
  margin: 0 0 6px;
  padding: 0;
}
#tribe-geo-results h2 a,
#tribe-geo-options h2 a {
  color: #222;
}
#tribe-geo-links {
  margin-top: 20px;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
}
#tribe-geo-options {
  display: none;
  margin-bottom: 20px;
}
.tribe-geo-option-link {
  display: block;
  text-decoration: none;
  color: #444;
  border-bottom: 1px solid #eee;
  padding: 3px 6px;
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
.tribe-geo-option-link:hover {
  background: #f5f5f5;
}
.tribe-geo-option-link:hover,
.tribe-geo-option-link:focus {
  text-decoration: none;
}
.tribe-option-loaded,
.tribe-geo-option-link.tribe-option-loaded:hover {
  background: #666;
  color: #fff;
}
/* tribe geo location results list formatting */
#tribe-geo-results .tribe-events-notices {
  text-align: center;
  margin: 2.25em 0 0 0;
}
.tribe-geo-result-entry {
  position: relative;
  overflow: auto;
  border-bottom: 1px solid #ddd;
  padding: 2.25em 0;
}
.tribe-geo-result-last {
  border-bottom: none;
  padding-bottom: none;
}
.tribe-geo-result-thumb {
  float: left;
  width: 30%;
  margin-right: 2%;
}
.tribe-geo-result-thumb a {
  display: block;
  border: 1px solid #ddd;
  padding: 2px;
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
.tribe-geo-result-thumb a img {
  max-width: 100%;
  width: 100%;
  display: block;
}
.tribe-geo-result-data {
  float: right;
  width: 68%;
}
.tribe-geo-result-date {
  display: block;
  font-size: 16px;
  font-style: italic;
  margin: 10px 0 0 0;
  text-transform: none;
}
.tribe-geo-result-venue {
  display: block;
  margin: 10px 0 0 0;
  font-size: 16px;
}
.tribe-geo-result-excerpt {
  margin: 10px 0 0 0;
}
.tribe-geo-result-entry .tribe-geo-result-excerpt p {
  font-size: 14px;
}
.tribe-geo-result-entry h2 {
  float: left;
  width: 80%;
}
.tribe-geo-result-cost {
  width: 18%;
  float: right;
}
.tribe-geo-result-cost span {
  display: block;
  font-weight: bold;
  padding: 8px 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}
.timer {
  text-align: center;
  width: 100%;
  color: red;
  margin: 20px 0;
}
/* = View Loading / Pagination Styles 
   @ Template:map.php & photo.php
=============================================*/
#tribe-geo-loading {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #fff;
  background: rgba(255, 255, 255, 0.2);
  z-index: 4;
  webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  -ms-transition: all 1s linear;
  transition: all 1s linear;
}
#tribe-geo-loading img {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -16px 0 0 -16px;
}
/* = Events Calendar Widget Styles (Sidebar)
   @ Template:widgets/calendar-widget.php
=============================================*/
.tribe-events-calendar-widget #tribe-events-calendar-wrap {
  width: 100%;
}
.tribe-events-calendar-widget table.tribe-events-calendar {
  width: 100%;
  table-layout: fixed;
  margin-top: 0;
  border-collapse: collapse;
}
.tribe-events-calendar-widget table.tribe-events-calendar,
.tribe-events-calendar-widget .tribe-events-calendar td {
  border: 1px solid #bbb;
}
.tribe-view-all-events {
  float: right;
}
.tribe-events-calendar-widget th {
  font-size: 10px;
  background-color: #e8e8e8;
  color: #555;
  width: 14.28%;
}
.tribe-events-calendar-widget td {
  height: auto;
  text-align: center;
}
.tribe-events-calendar-widget td div[id*="tribe-events-daynum-"] {
  padding: 6px 0;
  background-color: #f9f9f9;
}
.tribe-events-calendar-widget div[id*="tribe-events-daynum-"],
.tribe-events-calendar-widget td a {
  font-size: 10px;
}
.tribe-events-calendar-widget td a.tribe-events-day-has-event {
  color: #06c;
  cursor: default;
}
.tribe-events-calendar-widget .tribe-events-calendar .tribe-events-tooltip {
  width: 100px;
  left: 0;
  text-align: left;
  padding: 5px 10px;
  margin-bottom: 1.625em;
}
.tribe-events-calendar-widget .tribe-events-tooltip .tribe-events-arrow {
  left: 2px;
}
.tribe-events-calendar-widget .tribe-events-right .tribe-events-tooltip {
  right: 0;
  left: auto;
}
.tribe-events-calendar-widget .tribe-events-right .tribe-events-tooltip .tribe-events-arrow {
  left: auto;
  right: 2px;
}
.tribe-events-calendar-widget h5.entry-title {
  font-size: 11px;
  line-height: 1.5;
  padding: 0;
}
#ajax-loading-mini {
  display: none;
}
/*-------------------------------------------------------------------------*/
/*	2. Global Events Styles */
/*-------------------------------------------------------------------------*/
.tribe-events-address {
  margin: 0;
}
.tribe-events-address .adr br {
  display: none;
}
/* Events Nav */
.tribe-events-sub-nav {
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  margin: auto !important;
  position: absolute;
  left: auto;
  right: -1px;
  top: 0;
  bottom: 0;
}
.tribe-events-sub-nav li {
  display: block;
  padding: 0;
  margin: 0 1px;
  position: relative;
  float: left;
}
.tribe-events-sub-nav li:before {
  content: none;
}
.tribe-events-sub-nav li a {
  font-size: 0;
  display: block;
  position: relative;
}
.tribe-events-sub-nav li a:before {
  font-family: "fontello";
  line-height: 1em;
  text-align: left;
  display: inline-block;
  width: 1em;
}
.tribe-events-sub-nav li a span {
  display: none;
}
.tribe-events-sub-nav li.tribe-events-nav-previous a:before {
  content: '\25C0';
  text-align: left;
}
.tribe-events-sub-nav li.tribe-events-nav-next a:before {
  content: '\25B6';
  text-align: right;
}
#tribe-events-sub-nav {
  padding: 15px 0;
  margin-bottom: 30px;
}
/* Events Header */
#tribe-events-header {
  min-height: 30px;
  margin: 0 0 20px;
  padding: 0 65px 0 0;
  position: relative;
  overflow: hidden;
}
#tribe-events-header .tribe-events-page-title {
  margin: 0;
  position: relative;
  overflow: hidden;
}
#tribe-events-header .tribe-events-user-recurrence-toggle input {
  margin: 10px 10px 0 0;
}
/* Events Footer */
#tribe-events-footer {
  padding: 30px 0 0;
  position: relative;
  text-align: right;
  overflow: hidden;
}
#tribe-events-footer > a {
  position: relative;
}
/* Events Tooltip */
.tribe-events-tooltip {
  display: none;
  padding: 0 0 25px;
  width: 260px;
  position: absolute;
  z-index: 10000;
  border-width: 2px;
  border-style: solid;
}
.tribe-events-tooltip:before,
.tribe-events-tooltip:after {
  content: '';
  position: absolute;
  left: 20px;
  bottom: -9px;
  border-bottom: 0 solid transparent !important;
  border-left: 6px solid transparent !important;
  border-right: 6px solid transparent !important;
  border-top-width: 8px !important;
  border-top-style: solid !important;
}
.tribe-events-tooltip:after {
  left: 22px;
  bottom: -7px;
  border-bottom: 0 solid transparent !important;
  border-left: 4px solid transparent !important;
  border-right: 4px solid transparent !important;
  border-top-width: 7px !important;
  border-top-style: solid !important;
}
.tribe-events-tooltip .tribe-events-event-thumb {
  margin: 0;
  position: relative;
  overflow: hidden;
}
.tribe-events-tooltip .tribe-events-event-thumb img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.tribe-events-tooltip .tribe-events-event-body {
  padding: 10px 20px 0;
  position: relative;
  overflow: hidden;
}
.tribe-events-tooltip .tribe-events-event-body .entry-title {
  margin: 0;
  position: relative;
}
.tribe-events-tooltip .tribe-events-event-body .duration {
  margin: -4px 0 10px;
  position: relative;
  overflow: hidden;
}
.tribe-events-tooltip .tribe-events-event-body .description {
  padding: 0;
  position: relative;
  overflow: hidden;
}
.tribe-events-tooltip .tribe-events-event-body .tribe-events-arrow {
  display: none;
}
/* Event Notices */
.tribe-events-notices {
  margin: 30px 0;
}
.tribe-events-notices > ul,
.tribe-events-notices > ul > li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tribe-events-notices > ul:before,
.tribe-events-notices > ul > li:before {
  content: none;
}
.tribe-events-date {
  display: inline-block;
}
/* Recurring Info */
.recurringinfo {
  display: inline-block;
  position: relative;
}
.recurringinfo .tribe-events-divider {
  padding: 0 5px;
}
.recurringinfo .recurring-info-tooltip {
  margin-top: 5px;
  padding: 10px 15px;
  bottom: auto !important;
  top: 100%;
}
.recurringinfo .recurring-info-tooltip:before,
.recurringinfo .recurring-info-tooltip:after {
  z-index: 1;
  bottom: auto;
  top: -7px;
  border-top: 0 solid transparent !important;
  border-left: 6px solid transparent !important;
  border-right: 6px solid transparent !important;
  border-bottom-width: 7px !important;
  border-bottom-style: solid !important;
}
.recurringinfo .recurring-info-tooltip:after {
  bottom: auto;
  top: -5px;
  z-index: 2;
  border-top: 0 solid transparent !important;
  border-left: 4px solid transparent !important;
  border-right: 4px solid transparent !important;
  border-bottom-width: 6px !important;
  border-bottom-style: solid !important;
}
/* Events Map */
.gm-style img {
  max-width: none;
}
/*-------------------------------------------------------------------------*/
/*	3. Events Bar */
/*-------------------------------------------------------------------------*/
.tribe-events-uses-geolocation #tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner > div {
  width: 21.6%;
}
#tribe-events-bar {
  margin-top: -5px;
  position: relative;
  overflow: hidden;
  /* Filters */
  /* Views */
}
#tribe-events-bar #tribe-bar-collapse-toggle {
  display: none;
}
#tribe-events-bar .tribe-bar-filters {
  margin: 0 0 30px;
  padding: 20px 40px 5px;
  position: relative;
  overflow: hidden;
}
#tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner {
  margin: 0 -1.7%;
  position: relative;
  overflow: hidden;
}
#tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner > div {
  width: 29.93%;
  margin: 0 1.7% 20px;
  position: relative;
  float: left;
  overflow: hidden;
}
#tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-date-filter #tribe-bar-dates,
#tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-search-filter,
#tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-geoloc-filter,
#tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-submit {
  position: relative;
  overflow: hidden;
}
#tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-date-filter #tribe-bar-dates label,
#tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-search-filter label,
#tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-geoloc-filter label,
#tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-submit label {
  display: block;
}
#tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-date-filter #tribe-bar-dates input,
#tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-search-filter input,
#tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-geoloc-filter input,
#tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-submit input {
  width: 100%;
}
#tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-date-filter #tribe-bar-dates input[type="text"],
#tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-search-filter input[type="text"],
#tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-geoloc-filter input[type="text"],
#tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-submit input[type="text"] {
  padding-left: 0;
  padding-right: 0;
  border-left-width: 0;
  border-left-style: solid;
  border-right-width: 0;
  border-right-style: solid;
  border-top-width: 0;
  border-top-style: solid;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
#tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-submit label {
  display: none;
}
#tribe-events-bar #tribe-bar-views {
  display: inline-block;
  margin: 0;
  position: relative;
  overflow: hidden;
}
#tribe-events-bar #tribe-bar-views label.button {
  min-width: 115px;
  padding: 5px 40px 5px 15px;
  position: relative;
  z-index: 10;
  cursor: pointer;
  text-align: left;
  float: left;
}
#tribe-events-bar #tribe-bar-views label.button:before {
  content: '\eb20';
  font-family: "fontello";
  font-size: 14px;
  line-height: 1em;
  width: 1em;
  height: 1em;
  margin: auto !important;
  position: absolute;
  left: auto;
  right: 14px;
  top: 0;
  bottom: 0;
  opacity: 0;
}
#tribe-events-bar #tribe-bar-views label.button .tribe-bar-views-icon {
  content: '';
  width: 12px;
  height: 2px;
  margin: auto !important;
  position: absolute;
  left: auto;
  right: 17px;
  top: 0;
  bottom: 0;
  opacity: 1;
}
#tribe-events-bar #tribe-bar-views label.button .tribe-bar-views-icon:before,
#tribe-events-bar #tribe-bar-views label.button .tribe-bar-views-icon:after {
  content: '';
  width: 12px;
  height: 2px;
  position: absolute;
  left: 0;
  top: -4px;
}
#tribe-events-bar #tribe-bar-views label.button .tribe-bar-views-icon:after {
  top: auto;
  bottom: -4px;
}
#tribe-events-bar #tribe-bar-views .tribe-bar-views-select {
  display: none;
  visibility: hidden;
}
#tribe-events-bar #tribe-bar-views ul.tribe-bar-views-list {
  display: none;
  padding: 0 0 0 15px;
  margin: 0;
  position: relative;
  left: -50px;
  visibility: hidden;
  float: right;
  overflow: hidden;
  opacity: 0;
}
#tribe-events-bar #tribe-bar-views ul.tribe-bar-views-list li.tribe-bar-views-option {
  padding: 0;
  position: relative;
  float: left;
  overflow: hidden;
}
#tribe-events-bar #tribe-bar-views ul.tribe-bar-views-list li.tribe-bar-views-option:before {
  content: none;
}
#tribe-events-bar #tribe-bar-views ul.tribe-bar-views-list li.tribe-bar-views-option a {
  display: inline-block;
  padding: 8px 15px;
  text-align: center;
}
#tribe-events-bar #tribe-bar-views ul.tribe-bar-views-list li.tribe-bar-views-option a > span {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
#tribe-events-bar #tribe-bar-views.tribe-bar-views-open label.button .tribe-bar-views-icon {
  opacity: 0;
}
#tribe-events-bar #tribe-bar-views.tribe-bar-views-open label.button:before {
  opacity: 1;
}
#tribe-events-bar #tribe-bar-views.tribe-bar-views-open ul.tribe-bar-views-list {
  display: inline-block;
  left: 0;
  visibility: visible;
  opacity: 1;
}
/*-------------------------------------------------------------------------*/
/*	4. Events Pages */
/*-------------------------------------------------------------------------*/
.content_wrap.fullwidth #tribe-events-content-wrapper {
  margin-top: 45px;
}
/* Map */
#tribe-geo-map-wrapper {
  padding: 0 0 40px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
#tribe-geo-map-wrapper #tribe-geo-map {
  width: 100%;
  height: 0;
  padding-bottom: 30%;
  position: relative;
  z-index: 3;
  overflow: hidden;
}
#tribe-geo-map-wrapper #tribe-geo-map label {
  width: auto;
  display: inline;
}
#tribe-geo-map-wrapper #tribe-geo-map img {
  max-width: none;
}
.photo-loader {
  position: absolute;
  top: 200px;
  left: 50%;
}
#tribe-events-content {
  position: relative;
  padding: 30px 0 50px;
  /* Months */
  /* List */
  /* Day */
  /* Photo */
  /* Week */
}
#tribe-events-content.tribe-events-month .tribe-events-tooltip {
  bottom: 100% !important;
  left: -2px;
}
#tribe-events-content.tribe-events-month .tribe-events-tooltip:after {
  left: 20px;
  bottom: -6px;
  border-bottom: 0 solid transparent !important;
  border-left: 6px solid transparent !important;
  border-right: 6px solid transparent !important;
  border-top-width: 8px !important;
  border-top-style: solid !important;
}
#tribe-events-content.tribe-events-month .tribe-events-right .tribe-events-tooltip {
  left: auto;
  right: -2px;
}
#tribe-events-content.tribe-events-month .tribe-events-right .tribe-events-tooltip:before {
  left: auto;
  right: 20px;
}
#tribe-events-content.tribe-events-month .tribe-events-right .tribe-events-tooltip:after {
  left: auto;
  right: 20px;
  bottom: -6px;
}
#tribe-events-content.tribe-events-month table.tribe-events-calendar {
  margin: 0;
  border-collapse: separate;
  border-spacing: 0;
  border-width: 0;
  border-style: solid;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  clear: both;
}
#tribe-events-content.tribe-events-month table.tribe-events-calendar thead th {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  width: 250px;
  padding: 10px 5px;
  text-align: center;
}
#tribe-events-content.tribe-events-month table.tribe-events-calendar tbody tr:last-child td {
  border-bottom-width: 0;
  border-bottom-style: solid;
}
#tribe-events-content.tribe-events-month table.tribe-events-calendar tbody td {
  border: 0;
  width: 14.28%;
  height: 110px;
  vertical-align: top;
  position: relative;
  border-right-width: 2px;
  border-right-style: solid;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
#tribe-events-content.tribe-events-month table.tribe-events-calendar tbody td:first-child {
  border-left-width: 2px;
  border-left-style: solid;
}
#tribe-events-content.tribe-events-month table.tribe-events-calendar tbody td:last-child {
  border-right-width: 2px;
  border-right-style: solid;
}
#tribe-events-content.tribe-events-month table.tribe-events-calendar tbody td div[id*="tribe-events-daynum-"] {
  padding: 10px 19px 0;
  position: relative;
  overflow: hidden;
}
#tribe-events-content.tribe-events-month table.tribe-events-calendar tbody td div[id*="tribe-events-daynum-"] a {
  display: block;
  position: relative;
}
#tribe-events-content.tribe-events-month table.tribe-events-calendar tbody td div[id*="tribe-events-event-"] {
  margin: 0;
  position: relative;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
#tribe-events-content.tribe-events-month table.tribe-events-calendar tbody td div[id*="tribe-events-event-"]:last-child {
  border-bottom-width: 0;
  border-bottom-style: solid;
}
#tribe-events-content.tribe-events-month table.tribe-events-calendar tbody td div[id*="tribe-events-event-"] .tribe-events-month-event-title {
  margin: 0;
  padding: 0;
}
#tribe-events-content.tribe-events-month table.tribe-events-calendar tbody td div[id*="tribe-events-event-"] .tribe-events-month-event-title a {
  display: block;
  padding: 7px 19px 9px 19px;
}
#tribe-events-content.tribe-events-month table.tribe-events-calendar tbody td .tribe-events-viewmore {
  padding: 5px 15px;
  position: relative;
  border-top-width: 1px;
  border-top-style: solid;
  overflow: hidden;
}
#tribe-events-content.tribe-events-month table.tribe-events-calendar tbody td .tribe-events-viewmore a {
  display: block;
  position: relative;
}
#tribe-events-content.tribe-events-list .cmsms_event_date {
  margin-top: 0;
  float: right;
}
#tribe-events-content.tribe-events-list .tribe-events-list-separator-month {
  display: block;
  padding: 2px 0;
  margin: 0;
  float: none;
  position: relative;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  text-align: left;
  overflow: hidden;
}
#tribe-events-content.tribe-events-list .vevent + .tribe-events-list-separator-month {
  margin-top: 40px;
}
#tribe-events-content.tribe-events-list .vevent {
  padding: 45px 0 15px;
  position: relative;
  overflow: hidden;
}
#tribe-events-content.tribe-events-list .vevent .tribe-events-event-image {
  width: 34.5%;
  padding: 0 40px 0 0;
  text-align: center;
  float: left;
  overflow: hidden;
}
#tribe-events-content.tribe-events-list .vevent .tribe-events-event-image img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
#tribe-events-content.tribe-events-list .vevent .cmsms_events_list_event_wrap {
  position: relative;
  overflow: hidden;
}
#tribe-events-content.tribe-events-list .vevent .cmsms_events_list_event_wrap .cmsms_events_list_event_header {
  margin: 0 0 5px;
  position: relative;
  overflow: hidden;
}
#tribe-events-content.tribe-events-list .vevent .cmsms_events_list_event_wrap .cmsms_events_list_event_header .tribe-events-event-cost {
  line-height: 80px;
  width: 80px;
  height: 80px;
  text-align: center;
  float: right;
}
#tribe-events-content.tribe-events-list .vevent .cmsms_events_list_event_wrap .cmsms_events_list_event_header .tribe-events-list-event-title {
  margin: -8px 0 12px;
}
#tribe-events-content.tribe-events-list .vevent .cmsms_events_list_event_wrap .tribe-events-event-meta {
  margin: 0;
  position: relative;
}
#tribe-events-content.tribe-events-list .vevent .cmsms_events_list_event_wrap .tribe-events-event-meta .time-details {
  padding-right: 20px;
  position: relative;
  overflow: hidden;
}
#tribe-events-content.tribe-events-list .vevent .cmsms_events_list_event_wrap .tribe-events-event-meta .tribe-events-venue-details {
  margin-top: 2px;
  padding-right: 20px;
  position: relative;
  overflow: hidden;
}
#tribe-events-content.tribe-events-list .vevent .cmsms_events_list_event_wrap .tribe-events-event-meta .tribe-events-venue-details .tribe-events-address {
  margin: 0 10px 0 0;
}
#tribe-events-content.tribe-events-list .vevent .cmsms_events_list_event_wrap .tribe-events-list-event-description {
  padding-top: 15px;
  position: relative;
  overflow: hidden;
  clear: both;
}
#tribe-events-content.tribe-events-list .vevent .cmsms_events_list_event_wrap .tribe-events-list-event-description .tribe-events-read-more {
  display: inline-block;
  padding: 5px 20px;
  border-width: 2px;
  border-style: solid;
}
#tribe-events-content.tribe-events-day .tribe-events-day-time-slot {
  position: relative;
  overflow: hidden;
}
#tribe-events-content.tribe-events-day .tribe-events-day-time-slot > h5 {
  display: block;
  padding: 2px 0;
  margin: 0;
  float: none;
  position: relative;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  text-align: left;
  overflow: hidden;
}
#tribe-events-content .isotope,
#tribe-events-content .isotope .isotope-item {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
#tribe-events-content.tribe-events-photo #tribe-events-header {
  margin-bottom: 40px;
}
#tribe-events-content.tribe-events-photo #tribe-events-photo-events {
  opacity: 0;
  margin: 0 -22px;
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
#tribe-events-content.tribe-events-photo #tribe-events-photo-events .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: top, left, opacity;
  transition-property: transform, opacity;
}
#tribe-events-content.tribe-events-photo #tribe-events-photo-events.photo-hidden {
  opacity: 0 !important;
}
#tribe-events-content.tribe-events-photo #tribe-events-photo-events.photo-two-col .tribe-events-photo-event {
  width: 50%;
}
#tribe-events-content.tribe-events-photo #tribe-events-photo-events .tribe-events-photo-event {
  width: 33.33%;
  padding: 0 20px 40px;
  position: relative;
  float: left;
}
#tribe-events-content.tribe-events-photo #tribe-events-photo-events .tribe-events-photo-event .tribe-events-photo-event-wrap {
  position: relative;
}
#tribe-events-content.tribe-events-photo #tribe-events-photo-events .tribe-events-photo-event .tribe-events-photo-event-wrap .tribe-events-event-image-wrap {
  position: relative;
  overflow: hidden;
}
#tribe-events-content.tribe-events-photo #tribe-events-photo-events .tribe-events-photo-event .tribe-events-photo-event-wrap .tribe-events-event-image-wrap .tribe-events-event-image {
  width: 100%;
  height: 0;
  padding-bottom: 72.41%;
  margin: 0;
  position: relative;
}
#tribe-events-content.tribe-events-photo #tribe-events-photo-events .tribe-events-photo-event .tribe-events-photo-event-wrap .tribe-events-event-image-wrap .tribe-events-event-image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#tribe-events-content.tribe-events-photo #tribe-events-photo-events .tribe-events-photo-event .tribe-events-photo-event-wrap .tribe-events-event-details {
  padding: 10px 0 30px;
  position: relative;
}
#tribe-events-content.tribe-events-photo #tribe-events-photo-events .tribe-events-photo-event .tribe-events-photo-event-wrap .tribe-events-event-details .tribe-events-list-event-title {
  margin: 0;
  padding: 0;
  position: relative;
}
#tribe-events-content.tribe-events-photo #tribe-events-photo-events .tribe-events-photo-event .tribe-events-photo-event-wrap .tribe-events-event-details .tribe-events-event-meta {
  margin: 0;
  padding: 0 0 20px;
  position: relative;
}
#tribe-events-content.tribe-events-photo #tribe-events-photo-events .tribe-events-photo-event .tribe-events-photo-event-wrap .tribe-events-event-details .tribe-events-event-meta .time-details {
  position: relative;
}
#tribe-events-content.tribe-events-photo #tribe-events-photo-events .tribe-events-photo-event .tribe-events-photo-event-wrap .tribe-events-event-details .tribe-events-event-meta .time-details .end-time {
  padding-right: 10px;
}
#tribe-events-content.tribe-events-photo #tribe-events-photo-events .tribe-events-photo-event .tribe-events-photo-event-wrap .tribe-events-event-details .tribe-events-event-meta .time-details .recurringinfo .tribe-events-divider {
  display: none;
}
#tribe-events-content.tribe-events-photo #tribe-events-photo-events .tribe-events-photo-event .tribe-events-photo-event-wrap .tribe-events-event-details .tribe-events-event-meta .time-details .date-start + .recurringinfo {
  padding-left: 10px;
}
#tribe-events-content.tribe-events-week-grid {
  z-index: 1000;
}
#tribe-events-content.tribe-events-week-grid #tribe-mobile-container .tribe-mobile-day .tribe-mobile-day-date {
  margin-bottom: 30px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid {
  width: 100%;
  position: relative;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-week-today {
  position: relative;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .column.first {
  width: 50px;
  margin-right: -50px;
  border-left-width: 0;
  border-left-style: solid;
  float: left;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-content-wrap {
  width: 100%;
  float: left;
  padding-left: 50px;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-content-wrap .column {
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 14.2857%;
  vertical-align: top;
  position: relative;
  border-left-width: 1px;
  border-left-style: solid;
  float: left;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-content-wrap .column:first-child {
  border-left-width: 2px;
  border-left-style: solid;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-content-wrap .column.first {
  width: 60px;
  margin-right: -60px;
  border-left-width: 0;
  border-left-style: solid;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-header {
  position: relative;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-header .tribe-grid-content-wrap {
  padding-left: 54px;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-header .tribe-grid-content-wrap .column {
  position: relative;
  border-left-width: 0;
  border-left-style: solid;
  text-align: center;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-header .tribe-grid-content-wrap .column a,
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-header .tribe-grid-content-wrap .column > span {
  display: block;
  padding: 13px 0;
  position: relative;
  text-align: left;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-allday {
  margin-bottom: -1px;
  position: relative;
  z-index: 1000;
  border-left-width: 2px;
  border-left-style: solid;
  border-right-width: 2px;
  border-right-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-allday .tribe-events-tooltip {
  padding-bottom: 0;
  bottom: 100% !important;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-allday .tribe-events-tooltip .tribe-events-event-body + .tribe-events-event-thumb {
  margin-top: 30px;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-allday .column {
  min-height: 60px;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-allday .column.first {
  height: 60px;
  padding: 5px;
  position: relative;
  top: 0;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-allday .column.first span {
  text-align: center;
  width: 40px;
  height: auto;
  margin: auto !important;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-allday .column .tribe-week-event {
  position: relative;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-allday .column .tribe-week-event > div {
  width: 100%;
  cursor: pointer;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-allday .column .tribe-week-event.tribe-dayspan2 > div {
  width: 200%;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-allday .column .tribe-week-event.tribe-dayspan3 > div {
  width: 300%;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-allday .column .tribe-week-event.tribe-dayspan4 > div {
  width: 400%;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-allday .column .tribe-week-event.tribe-dayspan5 > div {
  width: 500%;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-allday .column .tribe-week-event.tribe-dayspan6 > div {
  width: 600%;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-allday .column .tribe-week-event.tribe-dayspan7 > div {
  width: 700%;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-week-grid-wrapper {
  height: 500px;
  overflow-y: scroll;
  position: relative;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-week-grid-wrapper .tribe-week-grid-outer-wrap {
  position: relative;
  z-index: 10;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-week-grid-wrapper .tribe-week-grid-outer-wrap .tribe-week-grid-inner-wrap {
  width: 100%;
  position: absolute;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-week-grid-wrapper .tribe-week-grid-outer-wrap .tribe-week-grid-inner-wrap .tribe-week-grid-block {
  height: 60px !important;
  padding: 0 !important;
  margin: 0 !important;
  position: relative;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-week-grid-wrapper .tribe-week-grid-outer-wrap .tribe-week-grid-inner-wrap .tribe-week-grid-block div {
  height: 31px;
  margin-bottom: 29px;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-week-grid-wrapper .tribe-grid-body {
  overflow: visible;
  position: relative;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-week-grid-wrapper .tribe-grid-body .tribe-week-grid-hours {
  width: 50px;
  margin-right: -50px;
  position: relative;
  z-index: 20;
  border-left-width: 0;
  border-left-style: solid;
  float: left;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-week-grid-wrapper .tribe-grid-body .tribe-week-grid-hours div {
  height: 60px;
  padding-left: 3px;
  padding-right: 3px;
  position: relative;
  text-align: center;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-week-grid-wrapper .tribe-grid-body .tribe-week-event {
  width: 100%;
  visibility: hidden;
  position: absolute;
  z-index: 500;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-week-grid-wrapper .tribe-grid-body .tribe-week-event:hover {
  z-index: 800;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-week-grid-wrapper .tribe-grid-body .tribe-week-event .vevent {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-week-event {
  padding: 0;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-week-event > div:first-child {
  padding: 3px;
  position: relative;
  z-index: 1;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-week-event > div:first-child > .entry-title {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-week-event > div:first-child > .entry-title a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 12px;
  text-overflow: ellipsis;
  overflow: hidden;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-body .tribe-events-tooltip {
  margin: -1px 0 0 -24px;
  padding: 15px 0 0;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-body .tribe-events-tooltip:before,
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-body .tribe-events-tooltip:after {
  content: '';
  position: absolute;
  bottom: auto;
  top: 25px;
  left: -10px;
  border-left: 0 solid transparent !important;
  border-top: 5px solid transparent !important;
  border-bottom: 5px solid transparent !important;
  border-right-width: 8px !important;
  border-right-style: solid !important;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-body .tribe-events-tooltip:after {
  left: -7px;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-body .tribe-events-tooltip .tribe-events-event-body {
  padding: 0 20px 25px;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-body .tribe-events-right .tribe-events-tooltip {
  margin: -5px -21px 0 0;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-body .tribe-events-right .tribe-events-tooltip:before,
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-body .tribe-events-right .tribe-events-tooltip:after {
  content: '';
  position: absolute;
  bottom: auto;
  top: 25px;
  left: auto;
  right: -10px;
  border-right: 0 solid transparent !important;
  border-top: 5px solid transparent !important;
  border-bottom: 5px solid transparent !important;
  border-left-width: 8px !important;
  border-left-style: solid !important;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-body .tribe-events-right .tribe-events-tooltip:after {
  right: -7px;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-scroller {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  border-left-width: 2px;
  border-left-style: solid;
  border-right-width: 2px;
  border-right-style: solid;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-scroller > .scroller-content {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0 !important;
  bottom: 0;
  left: 0;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-scroller > .scroller-content:focus {
  outline: thin dotted;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-scroller > .scroller-content::-webkit-scrollbar {
  display: none;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .has-scrollbar > .scroller-content::-webkit-scrollbar {
  display: block;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-scroller > .scroller-pane {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 10px;
  right: 0;
  top: 0;
  bottom: 0;
  visibility: hidden\9;
  /* Target only IE7 and IE8 with this hack */
  opacity: .01;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  z-index: 1000 !important;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-scroller > .scroller-pane > .scroller-slider {
  background: #444;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  margin: 0 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-scroller:hover > .scroller-pane,
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-events-grid .scroller-pane.active,
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .scroller-pane.flashed {
  visibility: visible\9;
  /* Target only IE7 and IE8 with this hack */
  opacity: 0.99;
}
#tribe-mobile-container {
  display: none;
  padding: 60px 0 20px;
  position: relative;
  overflow: hidden;
}
#tribe-mobile-container .tribe-mobile-day {
  position: relative;
  overflow: hidden;
}
#tribe-mobile-container .tribe-mobile-day .tribe-mobile-day-heading,
#tribe-mobile-container .tribe-mobile-day .tribe-mobile-day-date {
  padding: 10px 20px;
  margin: 0;
  float: none;
  position: relative;
  clear: both;
  overflow: hidden;
}
#tribe-mobile-container .tribe-mobile-day .tribe-events-mobile {
  padding: 40px 0;
  position: relative;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  overflow: hidden;
}
#tribe-mobile-container .tribe-mobile-day .tribe-events-mobile:last-child,
#tribe-mobile-container .tribe-mobile-day .tribe-events-mobile.tribe-events-last,
#tribe-mobile-container .tribe-mobile-day .tribe-events-mobile.tribe-event-end-month {
  border-bottom-width: 0;
  border-bottom-style: solid;
}
#tribe-mobile-container .tribe-mobile-day .tribe-events-mobile .tribe-events-event-image {
  width: 100%;
  margin: 0 0 15px;
  position: relative;
  text-align: center;
  overflow: hidden;
}
#tribe-mobile-container .tribe-mobile-day .tribe-events-mobile .tribe-events-event-image img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
#tribe-mobile-container .tribe-mobile-day .tribe-events-mobile .summary {
  margin: 0 0 5px;
}
#tribe-mobile-container .tribe-mobile-day .tribe-events-mobile .tribe-events-event-body {
  position: relative;
  overflow: hidden;
}
#tribe-mobile-container .tribe-mobile-day .tribe-events-mobile .tribe-events-event-body .time-details {
  margin: 0 0 20px;
  position: relative;
}
#tribe-mobile-container .tribe-mobile-day .tribe-events-mobile .tribe-events-event-body .description {
  position: relative;
  overflow: hidden;
}
#tribe-mobile-container .tribe-mobile-day .tribe-events-mobile .tribe-events-event-body .tribe-events-read-more {
  display: inline-block;
}
.tribe-events-week-grid #tribe-mobile-container {
  padding-top: 10px;
}
.tribe-events-week #tribe-mobile-container .tribe-mobile-day .tribe-events-mobile .tribe-events-event-body .tribe-events-read-more {
  display: inline-block;
  padding: 4px 20px;
  cursor: pointer;
  position: relative;
  border-width: 2px;
  border-style: solid;
}
/*-------------------------------------------------------------------------*/
/*	5. Single Event */
/*-------------------------------------------------------------------------*/
.tribe-events-single .tribe_events,
table.tribe-events-calendar .tribe_events {
  padding: 0;
  overflow: visible;
}
.tribe_events.cmsms_default_type figure > a.preloader:empty {
  padding-bottom: 0;
}
.tribe_events.cmsms_default_type .cmsms_post_format_img:before {
  content: '\ef62';
}
#tribe-events-content .cmsms_event_date {
  width: 80px;
  height: 80px;
  margin: 10px 0 0 0;
  position: relative;
  border-width: 2px;
  border-style: solid;
  float: left;
}
#tribe-events-content .cmsms_event_date .cmsms_event_day {
  padding: 5px 0 0;
  text-align: center;
}
#tribe-events-content .cmsms_event_date .cmsms_event_month {
  margin-top: -4px;
  text-align: center;
}
#tribe-events-content.tribe-events-single {
  padding: 0;
}
.middle_content #tribe-events-content.tribe-events-single {
  padding: 60px 0 0;
}
#tribe-events-content.tribe-events-single .cmsms_single_event_img {
  width: 100%;
  margin-bottom: 35px;
  position: relative;
  overflow: hidden;
}
#tribe-events-content.tribe-events-single .cmsms_single_event_img.cmsms_single_event_full_width {
  width: 100%;
  float: none;
  padding: 0;
}
#tribe-events-content.tribe-events-single .cmsms_single_event_img.cmsms_single_event_full_width .tribe-events-event-image {
  padding-bottom: 46.12%;
}
#tribe-events-content.tribe-events-single .cmsms_single_event_img .tribe-events-event-image {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 56.03%;
  position: relative;
  overflow: hidden;
}
#tribe-events-content.tribe-events-single .cmsms_single_event_img .tribe-events-event-image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#tribe-events-content.tribe-events-single .cmsms_single_event_header {
  padding: 0 0 12px;
  position: relative;
}
#tribe-events-content.tribe-events-single .cmsms_single_event_header .tribe-events-address {
  margin-top: 8px;
}
#tribe-events-content.tribe-events-single .cmsms_single_event_header .tribe-events-address address {
  margin-bottom: 0;
}
#tribe-events-content.tribe-events-single .cmsms_single_event_header .tribe-events-cost {
  margin-top: 8px;
}
#tribe-events-content.tribe-events-single .cmsms_single_event_header .cmsms_single_event_header_left {
  float: left;
}
#tribe-events-content.tribe-events-single .cmsms_single_event_header .cmsms_single_event_header_left .cmsms_single_event_header_left_inner {
  float: left;
}
#tribe-events-content.tribe-events-single .cmsms_single_event_header .cmsms_single_event_header_left .tribe-events-single-event-title {
  margin: 0 0 8px;
  padding: 0;
}
#tribe-events-content.tribe-events-single .cmsms_single_event_header .cmsms_single_event_header_left .tribe-events-schedule {
  position: relative;
  float: left;
}
#tribe-events-content.tribe-events-single .cmsms_single_event_header .cmsms_single_event_header_left .tribe-events-schedule > div:before {
  margin-right: 15px;
}
#tribe-events-content.tribe-events-single .cmsms_single_event_header .cmsms_single_event_header_right {
  position: relative;
  float: right;
  overflow: hidden;
}
#tribe-events-content.tribe-events-single .cmsms_single_event_header .cmsms_single_event_header_right > * {
  margin-right: 20px;
}
#tribe-events-content.tribe-events-single .cmsms_single_event_header .cmsms_single_event_header_right > *:last-child {
  margin-right: 0;
}
#tribe-events-content.tribe-events-single .cmsms_single_event_header .cmsms_single_event_header_right .tribe-events-back {
  display: inline-block;
}
#tribe-events-content.tribe-events-single .cmsms_single_event_header .cmsms_single_event_header_right .tribe-events-back:before {
  content: none;
}
#tribe-events-content.tribe-events-single .cmsms_single_event_header .cmsms_single_event_header_right .tribe-events-back > a {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
#tribe-events-content.tribe-events-single .cmsms_single_event_header .cmsms_single_event_header_right .tribe-events-cal-links {
  display: inline-block;
}
#tribe-events-content.tribe-events-single .cmsms_single_event_header .cmsms_single_event_header_right .tribe-events-cal-links > * {
  margin-right: 20px;
}
#tribe-events-content.tribe-events-single .cmsms_single_event_header .cmsms_single_event_header_right .tribe-events-cal-links > *:last-child {
  margin-right: 0;
}
#tribe-events-content.tribe-events-single .cmsms_single_event_header .cmsms_single_event_header_right .tribe-events-cal-links a {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
#tribe-events-content.tribe-events-single .cmsms_single_event_inner {
  padding-bottom: 30px;
  position: relative;
  overflow: hidden;
}
#tribe-events-content.tribe-events-single .cmsms_single_event_inner .tribe-events-single-event-title {
  margin-bottom: 25px;
}
#tribe-events-content.tribe-events-single .cmsms_single_event_inner .cmsms_single_event_content {
  padding: 0 0 15px;
  position: relative;
  overflow: hidden;
}
#tribe-events-content.tribe-events-single .tribe-events-notices {
  margin: 0 0 20px;
}
#tribe-events-content.tribe-events-single .cmsms_single_event_meta {
  margin: 0 -1.7%;
  padding: 0 0 30px;
  position: relative;
  word-wrap: break-word;
  overflow: hidden;
}
#tribe-events-content.tribe-events-single .cmsms_single_event_meta.cmsms_event_meta_info_col_4 .tribe-events-meta-group {
  width: 21.6%;
}
#tribe-events-content.tribe-events-single .cmsms_single_event_meta.cmsms_event_meta_info_col_3 .tribe-events-meta-group {
  width: 29.93%;
}
#tribe-events-content.tribe-events-single .cmsms_single_event_meta.cmsms_event_meta_info_col_2 .tribe-events-meta-group {
  width: 46.6%;
}
#tribe-events-content.tribe-events-single .cmsms_single_event_meta .tribe-events-meta-group {
  width: 96.6%;
  margin: 0 1.7% 30px;
  position: relative;
  float: left;
  overflow: hidden;
}
#tribe-events-content.tribe-events-single .cmsms_single_event_meta .tribe-events-meta-group .tribe-events-single-section-title {
  position: relative;
}
#tribe-events-content.tribe-events-single .cmsms_single_event_meta .tribe-events-meta-group .cmsms_event_meta_info {
  position: relative;
  overflow: hidden;
}
#tribe-events-content.tribe-events-single .cmsms_single_event_meta .tribe-events-meta-group .cmsms_event_meta_info .cmsms_event_meta_info_item {
  position: relative;
  overflow: hidden;
}
#tribe-events-content.tribe-events-single .cmsms_single_event_meta .tribe-events-meta-group .cmsms_event_meta_info .cmsms_event_meta_info_item dl {
  padding: 0;
}
#tribe-events-content.tribe-events-single .cmsms_single_event_meta .tribe-events-meta-group .cmsms_event_meta_info .cmsms_event_meta_info_item .cmsms_event_meta_info_item_title,
#tribe-events-content.tribe-events-single .cmsms_single_event_meta .tribe-events-meta-group .cmsms_event_meta_info .cmsms_event_meta_info_item .cmsms_event_meta_info_item_descr,
#tribe-events-content.tribe-events-single .cmsms_single_event_meta .tribe-events-meta-group .cmsms_event_meta_info .cmsms_event_meta_info_item dt,
#tribe-events-content.tribe-events-single .cmsms_single_event_meta .tribe-events-meta-group .cmsms_event_meta_info .cmsms_event_meta_info_item dd {
  position: relative;
  vertical-align: middle;
  text-align: left;
  overflow: hidden;
}
#tribe-events-content.tribe-events-single .cmsms_single_event_map {
  margin-bottom: 70px;
  position: relative;
  overflow: hidden;
}
#tribe-events-content.tribe-events-single .cmsms_single_event_map.cmsms_single_event_full_width {
  width: 100%;
  float: none;
  padding: 0;
}
#tribe-events-content.tribe-events-single .cmsms_single_event_map.cmsms_single_event_full_width [id*="tribe-events-gmap"] {
  padding-bottom: 46% !important;
}
#tribe-events-content.tribe-events-single .cmsms_single_event_map [id*="tribe-events-gmap"] {
  width: 100% !important;
  height: 0 !important;
  padding-bottom: 56.03% !important;
  margin: 0 !important;
  position: relative !important;
}
#tribe-events-content.tribe-events-single .tribe-events-related-events-title {
  margin-bottom: 30px;
}
/*-------------------------------------------------------------------------*/
/*	6. Related Events */
/*-------------------------------------------------------------------------*/
ul.tribe-related-events {
  margin: 0 -1.7%;
  padding: 0;
  position: relative;
  overflow: visible !important;
}
ul.tribe-related-events > li {
  width: 29.93%;
  margin: 0 1.7% 30px;
  padding: 0;
  position: relative;
  float: left;
}
ul.tribe-related-events > li:before {
  content: none;
}
ul.tribe-related-events > li .tribe-related-events-thumbnail {
  margin: 0 0 10px;
}
ul.tribe-related-events > li .tribe-related-events-thumbnail > a {
  display: block;
  height: 0;
  padding-bottom: 72%;
  position: relative;
  overflow: hidden;
}
ul.tribe-related-events > li .tribe-related-events-thumbnail > a:empty {
  padding-bottom: 0;
}
ul.tribe-related-events > li .tribe-related-events-thumbnail img,
ul.tribe-related-events > li .tribe-related-events-thumbnail .cmsms_events_img_placeholder {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
ul.tribe-related-events > li .tribe-related-events-thumbnail .cmsms_events_img_placeholder:before {
  font-size: 40px;
  width: 1em;
  height: 1em;
  margin: auto !important;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
ul.tribe-related-events > li .tribe-related-event-info {
  position: relative;
}
ul.tribe-related-events > li .tribe-related-event-info .tribe-related-events-title {
  margin: 0;
}
ul.tribe-related-events > li .tribe-related-event-info .date-start {
  margin-right: 10px;
  float: left;
}
ul.tribe-related-events > li .tribe-related-event-info .recurringinfo {
  display: inline;
  margin: 2px 0 0;
}
ul.tribe-related-events > li .tribe-related-event-info .recurringinfo .tribe-events-divider {
  display: none;
}
ul.tribe-related-events > li .tribe-related-event-info .recurringinfo .event-is-recurring .tribe-events-tooltip {
  padding: 15px;
}
ul.tribe-related-events > li .tribe-related-event-info .recurringinfo .event-is-recurring .tribe-events-tooltip .tribe-events-event-body {
  padding: 0;
}
/*-------------------------------------------------------------------------*/
/*	7. Single Venue */
/*-------------------------------------------------------------------------*/
.middle_content .tribe-events-venue {
  padding: 40px 0 0;
}
.tribe-events-venue {
  position: relative;
}
.tribe-events-venue .cmsms_events_venue_header {
  margin: 0;
  padding: 0 0 30px;
  position: relative;
}
.tribe-events-venue .cmsms_events_venue_header .cmsms_events_venue_header_left {
  float: left;
}
.tribe-events-venue .cmsms_events_venue_header .cmsms_events_venue_header_left .entry-title {
  margin: 0 0 7px;
  padding: 0;
}
.tribe-events-venue .cmsms_events_venue_header .cmsms_events_venue_header_left .tribe-events-event-meta {
  position: relative;
  overflow: hidden;
}
.tribe-events-venue .cmsms_events_venue_header .cmsms_events_venue_header_left .tribe-events-event-meta .venue-address {
  margin: 0;
  position: relative;
  overflow: hidden;
}
.tribe-events-venue .cmsms_events_venue_header .cmsms_events_venue_header_left .tribe-events-event-meta .venue-address > span {
  display: block;
  padding-top: 8px;
}
.tribe-events-venue .cmsms_events_venue_header .cmsms_events_venue_header_right {
  padding: 10px 0 0;
  float: right;
  overflow: hidden;
  text-align: right;
}
.tribe-events-venue .cmsms_events_venue_header .cmsms_events_venue_header_right .tribe-events-back {
  margin: 0;
  padding: 0;
  text-align: right;
}
.tribe-events-venue .cmsms_events_venue_header .cmsms_events_venue_header_right .tribe-events-back a:before {
  margin-right: 7px;
}
.tribe-events-venue .cmsms_events_venue_header .cmsms_events_venue_header_right a {
  display: block;
  margin: 8px 0 0;
  text-align: right;
}
.tribe-events-venue .tribe-events-venue-meta {
  position: relative;
  overflow: hidden;
}
.tribe-events-venue .tribe-events-venue-meta .cmsms_events_venue_meta_inner {
  padding-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.tribe-events-venue .tribe-events-venue-meta .cmsms_events_venue_meta_inner .cmsms_events_venue_meta_img {
  width: 50%;
  padding-right: 20px;
  position: relative;
  float: left;
  overflow: hidden;
}
.tribe-events-venue .tribe-events-venue-meta .cmsms_events_venue_meta_inner .cmsms_events_venue_meta_img .tribe-events-event-image {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
}
.tribe-events-venue .tribe-events-venue-meta .cmsms_events_venue_meta_inner .cmsms_events_venue_meta_img .tribe-events-event-image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.tribe-events-venue .tribe-events-venue-meta .cmsms_events_venue_meta_inner .cmsms_events_venue_meta_map {
  width: 50%;
  padding-left: 20px;
  position: relative;
  float: left;
  overflow: hidden;
}
.tribe-events-venue .tribe-events-venue-meta .cmsms_events_venue_meta_inner .cmsms_events_venue_meta_map [id*="tribe-events-gmap"] {
  width: 100% !important;
  height: 0 !important;
  padding-bottom: 100% !important;
  margin: 0 !important;
  position: relative !important;
}
.tribe-events-venue .tribe-events-venue-meta .cmsms_events_venue_meta_inner .cmsms_events_venue_meta_map.cmsms_events_venue_meta_full_width [id*="tribe-events-gmap"] {
  padding-bottom: 40% !important;
}
.tribe-events-venue .tribe-events-venue-meta .cmsms_events_venue_meta_inner .cmsms_events_venue_meta_img.cmsms_events_venue_meta_full_width,
.tribe-events-venue .tribe-events-venue-meta .cmsms_events_venue_meta_inner .cmsms_events_venue_meta_map.cmsms_events_venue_meta_full_width {
  width: 100%;
  float: none;
  padding: 0;
}
.tribe-events-venue .tribe-events-venue-meta .tribe-venue-description {
  padding-bottom: 20px;
}
.tribe-events-venue .tribe-events-venue-meta .tribe-venue-description > .cmsms_row .cmsms_row_inner {
  padding: 0;
}
.tribe-events-venue #tribe-events-content {
  padding-top: 0;
}
/*-------------------------------------------------------------------------*/
/*	8. Single Organizer */
/*-------------------------------------------------------------------------*/
.middle_content .tribe-events-organizer {
  padding: 40px 0 0;
}
.tribe-events-organizer {
  position: relative;
  overflow: hidden;
}
.tribe-events-organizer .cmsms_events_organizer_header {
  margin: 0;
  padding: 0 0 30px;
  position: relative;
}
.tribe-events-organizer .cmsms_events_organizer_header .cmsms_events_organizer_header_left {
  float: left;
}
.tribe-events-organizer .cmsms_events_organizer_header .cmsms_events_organizer_header_left .entry-title {
  margin: 0 0 7px;
  padding: 0;
}
.tribe-events-organizer .cmsms_events_organizer_header .cmsms_events_organizer_header_left .tribe-events-event-meta {
  position: relative;
  overflow: hidden;
}
.tribe-events-organizer .cmsms_events_organizer_header .cmsms_events_organizer_header_left .tribe-events-event-meta .organizer-address {
  margin: 0;
  position: relative;
  overflow: hidden;
}
.tribe-events-organizer .cmsms_events_organizer_header .cmsms_events_organizer_header_left .tribe-events-event-meta .organizer-address > span {
  display: block;
  padding-top: 8px;
}
.tribe-events-organizer .cmsms_events_organizer_header .cmsms_events_organizer_header_left .tribe-events-event-meta .organizer-address .tribe-events-divider {
  display: none;
}
.tribe-events-organizer .cmsms_events_organizer_header .cmsms_events_organizer_header_right {
  padding: 10px 0 0;
  float: right;
  overflow: hidden;
  text-align: right;
}
.tribe-events-organizer .cmsms_events_organizer_header .cmsms_events_organizer_header_right .tribe-events-back {
  margin: 0;
  padding: 0;
  text-align: right;
}
.tribe-events-organizer .cmsms_events_organizer_header .cmsms_events_organizer_header_right .tribe-events-back a:before {
  margin-right: 7px;
}
.tribe-events-organizer .cmsms_events_organizer_header .cmsms_events_organizer_header_right a {
  display: block;
  margin: 0 0 3px;
  text-align: right;
}
.tribe-events-organizer .tribe-events-organizer-meta {
  position: relative;
  overflow: hidden;
}
.tribe-events-organizer .tribe-events-organizer-meta .tribe-events-event-image {
  display: block;
  margin-bottom: 30px;
  position: relative;
  text-align: center;
  overflow: hidden;
}
.tribe-events-organizer .tribe-events-organizer-meta .tribe-organizer-description > .cmsms_row .cmsms_row_inner {
  padding: 0;
}
/*-------------------------------------------------------------------------*/
/*	9.	Widgets	*/
/*-------------------------------------------------------------------------*/
.widget {
  /* Global Widgets Styles */
  /* Widget List */
  /* CountDown */
  /* Widget Venue */
  /* Widget Mini Calendar */
}
.widget ol.vcalendar,
.widget ul.vcalendar {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}
.widget ol.vcalendar .vevent,
.widget ul.vcalendar .vevent {
  padding: 0 0 15px;
  position: relative;
  overflow: hidden;
}
.widget ol.vcalendar .vevent:before,
.widget ul.vcalendar .vevent:before {
  content: none;
}
.widget ol.vcalendar .vevent .entry-title,
.widget ul.vcalendar .vevent .entry-title {
  margin: 0;
}
.widget ol.vcalendar .vevent .entry-title:before,
.widget ul.vcalendar .vevent .entry-title:before {
  font-size: 20px;
  line-height: 14px;
  margin: 5px auto 0;
  position: absolute;
  left: 0;
  right: auto;
  top: 2px;
  bottom: 0;
}
.widget ol.vcalendar .vevent .cmsms_widget_event_info,
.widget ul.vcalendar .vevent .cmsms_widget_event_info {
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.widget ol.vcalendar .vevent .cmsms_widget_event_info > div,
.widget ul.vcalendar .vevent .cmsms_widget_event_info > div {
  position: relative;
}
.widget ol.vcalendar .vevent .cmsms_widget_event_info > div.cmsms_widget_event_info_date,
.widget ul.vcalendar .vevent .cmsms_widget_event_info > div.cmsms_widget_event_info_date {
  margin-bottom: 5px;
}
.widget ol.vcalendar .vevent .cmsms_widget_event_info > div span,
.widget ul.vcalendar .vevent .cmsms_widget_event_info > div span {
  display: inline-block;
  vertical-align: middle;
}
.widget ol.vcalendar .vevent .cmsms_widget_event_info .duration,
.widget ul.vcalendar .vevent .cmsms_widget_event_info .duration {
  dispaly: inline-block;
  vertical-align: middle;
  position: relative;
}
.widget ol.vcalendar .vevent .cmsms_widget_event_info .recurringinfo,
.widget ul.vcalendar .vevent .cmsms_widget_event_info .recurringinfo {
  display: inline-block;
  vertical-align: middle;
}
.widget ol.vcalendar .vevent .tribe-events-event-cost,
.widget ul.vcalendar .vevent .tribe-events-event-cost {
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.widget ol.vcalendar .vevent .cmsms_widget_event_venue_info_loc,
.widget ul.vcalendar .vevent .cmsms_widget_event_venue_info_loc {
  position: relative;
  overflow: hidden;
}
.widget ol.vcalendar .vevent .cmsms_widget_event_venue_info_loc > div,
.widget ul.vcalendar .vevent .cmsms_widget_event_venue_info_loc > div {
  padding: 5px 0 0;
  position: relative;
}
.widget ol.vcalendar .vevent .cmsms_widget_event_venue_info_loc > div.cmsms_widget_event_venue_loc > span,
.widget ul.vcalendar .vevent .cmsms_widget_event_venue_info_loc > div.cmsms_widget_event_venue_loc > span {
  display: block;
}
.widget .tribe-events-widget-link {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}
.widget .tribe-events-widget-link > a {
  display: inline-block;
  padding: 5px 20px;
  border-width: 2px;
  border-style: solid;
}
.widget .vcalendar .vevent .entry-title a,
.widget .tribe-events-list-widget-events .entry-title a {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
.widget .vcalendar .vevent .cmsms_event_date,
.widget .tribe-events-list-widget-events .cmsms_event_date {
  width: 80px;
  height: 80px;
  margin: 0 20px 0 0;
  position: relative;
  border-width: 2px;
  border-style: solid;
  float: left;
}
.widget .vcalendar .vevent .cmsms_event_date .cmsms_event_day,
.widget .tribe-events-list-widget-events .cmsms_event_date .cmsms_event_day {
  padding: 10px 0 0;
  text-align: center;
}
.widget .vcalendar .vevent .cmsms_event_date .cmsms_event_month,
.widget .tribe-events-list-widget-events .cmsms_event_date .cmsms_event_month {
  text-align: center;
}
.widget .vcalendar .vevent .tribe-events-list-widget-content-wrap,
.widget .tribe-events-list-widget-events .tribe-events-list-widget-content-wrap {
  min-height: 70px;
  position: relative;
  overflow: hidden;
}
.widget .vcalendar .vevent .tribe-events-list-widget-content-wrap .entry-title,
.widget .tribe-events-list-widget-events .tribe-events-list-widget-content-wrap .entry-title {
  margin: 0 0 7px;
}
.widget .vcalendar .vevent .tribe-events-list-widget-content-wrap .cmsms_widget_event_venue_info_loc,
.widget .tribe-events-list-widget-events .tribe-events-list-widget-content-wrap .cmsms_widget_event_venue_info_loc {
  margin-top: -10px;
}
.widget .vcalendar .vevent .tribe-events-list-widget-content-wrap .duration,
.widget .tribe-events-list-widget-events .tribe-events-list-widget-content-wrap .duration {
  position: relative;
}
.widget .vcalendar .vevent .tribe-events-list-widget-content-wrap .duration:before,
.widget .tribe-events-list-widget-events .tribe-events-list-widget-content-wrap .duration:before {
  display: inline-block;
  vertical-align: middle;
}
.widget .vcalendar .vevent .tribe-events-list-widget-content-wrap .duration span,
.widget .tribe-events-list-widget-events .tribe-events-list-widget-content-wrap .duration span {
  display: inline-block;
  vertical-align: middle;
}
.widget.tribe-events-countdown-widget {
  position: relative;
}
.widget.tribe-events-countdown-widget .tribe-countdown-text {
  margin: 0 0 15px;
  padding-top: 10px;
  position: relative;
  clear: both;
  overflow: hidden;
}
.widget.tribe-events-countdown-widget .tribe-countdown-time {
  display: block;
  margin-bottom: -15px;
  position: relative;
  overflow: hidden;
}
.widget.tribe-events-countdown-widget .tribe-countdown-time .tribe-countdown-timer {
  position: relative;
  overflow: hidden;
  text-align: center;
}
.widget.tribe-events-countdown-widget .tribe-countdown-time .tribe-countdown-timer div {
  text-align: center;
}
.widget.tribe-events-countdown-widget .tribe-countdown-time .tribe-countdown-timer span.tribe-countdown-seconds,
.widget.tribe-events-countdown-widget .tribe-countdown-time .tribe-countdown-timer span.format,
.widget.tribe-events-countdown-widget .tribe-countdown-time .tribe-countdown-timer h3.tribe-countdown-complete {
  display: none;
}
.widget.tribe-events-countdown-widget .tribe-countdown-time .tribe-countdown-timer .tribe-countdown-number {
  position: relative;
  overflow: hidden;
  float: left;
}
.widget.tribe-events-countdown-widget .tribe-countdown-time .tribe-countdown-timer .tribe-countdown-number.tribe-countdown-right {
  float: left;
}
.widget.tribe-events-countdown-widget .tribe-countdown-time .tribe-countdown-timer .tribe-countdown-number .tribe-countdown-under {
  position: relative;
  top: -15px;
}
.widget.tribe-events-countdown-widget .tribe-countdown-time .tribe-countdown-timer .tribe-countdown-colon {
  padding: 0 4px;
  position: relative;
  float: left;
  overflow: hidden;
}
.widget.tribe-events-venue-widget {
  position: relative;
  overflow: hidden;
}
.widget.tribe-events-venue-widget .widgettitle {
  margin-bottom: 45px;
}
.widget.tribe-events-venue-widget .tribe-venue-widget-wrapper {
  position: relative;
  overflow: hidden;
}
.widget.tribe-events-venue-widget .tribe-venue-widget-wrapper .tribe-venue-widget-venue {
  margin: 0 0 20px;
  position: relative;
  overflow: hidden;
}
.widget.tribe-events-venue-widget .tribe-venue-widget-wrapper .tribe-venue-widget-venue .tribe-venue-widget-thumbnail {
  position: relative;
  text-align: center;
  overflow: hidden;
}
.widget.tribe-events-venue-widget .tribe-venue-widget-wrapper .tribe-venue-widget-venue .tribe-venue-widget-venue-name {
  margin-bottom: 10px;
  padding: 2px 15px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.widget.tribe-events-venue-widget .tribe-venue-widget-wrapper .tribe-venue-widget-list .vevent {
  padding: 0 0 15px 25px;
}
.widget.tribe_mini_calendar_widget {
  position: relative;
  overflow: hidden;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper {
  width: 100%;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper {
  margin-bottom: 20px;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar {
  width: 100%;
  border-collapse: separate;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar th,
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar td {
  width: 14.2857142857%;
  vertical-align: middle;
  text-align: center;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar th:first-child,
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar td:first-child {
  border-left-width: 2px;
  border-left-style: solid;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar th:last-child,
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar td:last-child {
  border-right-width: 2px;
  border-right-style: solid;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar thead th:first-child {
  padding-left: 25px;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar thead th:last-child {
  padding-right: 25px;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar tbody tr:first-child td {
  padding-top: 15px;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar tbody tr:last-child td {
  padding-bottom: 25px;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar tbody tr td:first-child {
  padding-left: 25px;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar tbody tr td:last-child {
  padding-right: 25px;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar th.tribe-mini-calendar-dayofweek {
  padding: 14px 0;
  border-left-width: 0;
  border-left-style: solid;
  border-right-width: 0;
  border-right-style: solid;
  border-top-width: 2px;
  border-top-style: solid;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar th:first-child {
  border-left-width: 2px;
  border-left-style: solid;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar th:last-child {
  border-right-width: 2px;
  border-right-style: solid;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .tribe-mini-calendar-nav {
  vertical-align: middle;
  text-align: center;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .tribe-mini-calendar-nav td {
  border-width: 0;
  border-style: solid;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .tribe-mini-calendar-nav div {
  padding: 10px 44px 10px 0;
  position: relative;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .tribe-mini-calendar-nav div > span {
  display: block;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .tribe-mini-calendar-nav div > span.active {
  visibility: hidden;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .tribe-mini-calendar-nav div #ajax-loading-mini {
  display: none;
  width: auto;
  height: 70%;
  margin: auto !important;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .tribe-mini-calendar-nav div .tribe-mini-calendar-nav-link {
  display: block;
  width: 22px;
  height: 100%;
  margin: auto !important;
  position: absolute;
  left: auto;
  right: 0;
  top: 0;
  bottom: 0;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .tribe-mini-calendar-nav div .tribe-mini-calendar-nav-link span {
  font-size: 20px;
  line-height: 1em;
  text-indent: -9999px;
  width: 1em;
  height: 1em;
  margin: auto !important;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .tribe-mini-calendar-nav div .tribe-mini-calendar-nav-link span:before {
  content: '\25B6';
  font-family: "fontello";
  text-indent: 1px;
  width: 1em;
  height: 1em;
  margin: auto !important;
  position: absolute;
  left: auto;
  right: 0;
  top: 0;
  bottom: 0;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .tribe-mini-calendar-nav div .tribe-mini-calendar-nav-link.prev-month {
  right: 22px;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .tribe-mini-calendar-nav div .tribe-mini-calendar-nav-link.prev-month span:before {
  content: '\25C0';
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .vcalendar td {
  padding-top: 5px;
  padding-bottom: 5px;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .vcalendar td.tribe-events-othermonth {
  position: relative;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .vcalendar td div {
  padding: 0;
  position: relative;
  text-align: center;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .vcalendar td.tribe-events-has-events div {
  width: 26px;
  padding: 0;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .vcalendar td.tribe-events-has-events div .tribe-mini-calendar-day-link {
  display: block;
  padding: 0;
  z-index: 1;
  position: relative;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .vcalendar td.tribe-events-has-events div .tribe-mini-calendar-day-link:before {
  content: '';
  z-index: -1;
  width: 26px;
  height: 26px;
  margin: auto !important;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-list-wrapper {
  position: relative;
  overflow: hidden;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-list-wrapper .tribe-events-loop {
  position: relative;
  overflow: hidden;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-list-wrapper .tribe-events-loop .vevent {
  padding: 0 0 15px;
  position: relative;
  overflow: hidden;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-list-wrapper .tribe-events-loop .vevent:last-child {
  margin: 0;
  padding: 0;
  border-bottom-width: 0;
  border-bottom-style: solid;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-list-wrapper .tribe-events-loop .vevent .cmsms_event_date {
  display: none;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-list-wrapper .tribe-events-loop .vevent .tribe-mini-calendar-event {
  position: relative;
  overflow: hidden;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-list-wrapper .tribe-events-loop .vevent .tribe-mini-calendar-event .list-date {
  display: none;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-list-wrapper .tribe-events-loop .vevent .tribe-mini-calendar-event .list-info {
  position: relative;
  overflow: hidden;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-list-wrapper .tribe-events-loop .vevent .tribe-mini-calendar-event .list-info .entry-title {
  margin: 0 0 5px;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-list-wrapper .tribe-events-loop .vevent .tribe-mini-calendar-event .list-info .duration {
  padding: 5px 0 0 30px;
  position: relative;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-list-wrapper .tribe-events-loop .vevent .tribe-mini-calendar-event .list-info .duration:before {
  content: '\ef5f';
  font-family: "fontello";
  line-height: 1em;
  text-align: left;
  display: block;
  width: 1em;
  margin-left: .2em;
  margin-right: .2em;
  position: absolute;
  top: 5px;
  left: 0;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-list-wrapper .tribe-events-loop .vevent .tribe-mini-calendar-event .list-info .tribe-mini-calendar-event-cost,
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-list-wrapper .tribe-events-loop .vevent .tribe-mini-calendar-event .list-info .tribe-events-divider {
  display: inline-block;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-list-wrapper .tribe-events-loop .vevent .tribe-mini-calendar-event .list-info .tribe-mini-calendar-event-venue {
  margin: -5px 0 0;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-list-wrapper .tribe-events-loop .vevent .tribe-mini-calendar-event .list-info .recurringinfo {
  display: block;
}
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-list-wrapper .tribe-events-loop .vevent .tribe-mini-calendar-event .list-info .recurringinfo .tribe-events-divider {
  display: none;
}
/*-------------------------------------------------------------------------*/
/*	10.	CSS3 Animations	*/
/*-------------------------------------------------------------------------*/
html.csstransitions #tribe-events-content .tribe-events-sub-nav li a,
html.csstransitions ul.tribe-related-events > li .tribe-related-events-thumbnail .cmsms_events_img_placeholder,
html.csstransitions .widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .vcalendar td.tribe-events-has-events *,
html.csstransitions .widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .tribe-mini-calendar-nav div .tribe-mini-calendar-nav-link span:before {
  -webkit-transition: color .3s ease-in-out;
  -moz-transition: color .3s ease-in-out;
  -ms-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}
html.csstransitions #tribe-events-content .tribe-events-sub-nav li a span,
html.csstransitions #tribe-events-content.tribe-events-month table.tribe-events-calendar tbody td div[id*="tribe-events-event-"] {
  -webkit-transition: background-color .3s ease-in-out;
  -moz-transition: background-color .3s ease-in-out;
  -ms-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}
html.csstransitions #tribe-events-bar #tribe-bar-views ul.tribe-bar-views-list li.tribe-bar-views-option a > span,
html.csstransitions #tribe-events-content .tribe-events-sub-nav li a span:before,
html.csstransitions #tribe-events-content .tribe-events-sub-nav li a span:after,
html.csstransitions .tribe-events-tooltip .tribe-events-event-body .entry-title,
html.csstransitions #tribe-events-content.tribe-events-single .cmsms_single_event_header .cmsms_single_event_header_right .tribe-events-back a,
html.csstransitions #tribe-events-content.tribe-events-single .cmsms_single_event_header .cmsms_single_event_header_right .tribe-events-cal-links a,
html.csstransitions .widget .vcalendar .vevent .entry-title a,
html.csstransitions .widget .tribe-events-list-widget-events .entry-title a {
  -webkit-transition: border-color .3s ease-in-out;
  -moz-transition: border-color .3s ease-in-out;
  -ms-transition: border-color .3s ease-in-out;
  -o-transition: border-color .3s ease-in-out;
  transition: border-color .3s ease-in-out;
}
html.csstransitions #tribe-events-bar #tribe-bar-views label.button .tribe-bar-views-icon:before,
html.csstransitions #tribe-events-bar #tribe-bar-views label.button .tribe-bar-views-icon:after,
html.csstransitions #tribe-events-content.tribe-events-month table.tribe-events-calendar tbody td.tribe-events-past .tribe-events-month-event-title a,
html.csstransitions #tribe-events-bar #tribe-bar-views .tribe-bar-views-inner ul.tribe-bar-views-list li.tribe-bar-views-option a,
html.csstransitions .widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .vcalendar td,
html.csstransitions .widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .vcalendar td .tribe-mini-calendar-day-link,
html.csstransitions .widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .vcalendar td .tribe-mini-calendar-day-link:before,
html.csstransitions .widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .tribe-mini-calendar-nav div .tribe-mini-calendar-nav-link,
html.csstransitions #tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-week-event:hover > div:first-child > .entry-title,
html.csstransitions #tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-week-event:hover > div:first-child > .entry-title a {
  -webkit-transition: background-color .3s ease-in-out, color .3s ease-in-out;
  -moz-transition: background-color .3s ease-in-out, color .3s ease-in-out;
  -ms-transition: background-color .3s ease-in-out, color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out, color .3s ease-in-out;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}
html.csstransitions #tribe-events-content.tribe-events-list .vevent .cmsms_events_list_event_wrap .tribe-events-list-event-description .tribe-events-read-more,
html.csstransitions .tribe-events-week #tribe-mobile-container .tribe-mobile-day .tribe-events-mobile .tribe-events-event-body .tribe-events-read-more,
html.csstransitions .widget .tribe-events-widget-link > a {
  -webkit-transition: background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
  -moz-transition: background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
  -ms-transition: background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
}
html.csstransitions #tribe-events-bar #tribe-bar-views label.button:before {
  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}
html.csstransitions #tribe-events-bar #tribe-bar-views .tribe-bar-views-inner ul.tribe-bar-views-list {
  -webkit-transition: left .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
  -moz-transition: left .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
  -ms-transition: left .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
  -o-transition: left .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
  transition: left .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
}
html.csstransitions #tribe-events-bar #tribe-bar-views label.button .tribe-bar-views-icon {
  -webkit-transition: background-color .3s ease-in-out, opacity .3s ease-in-out;
  -moz-transition: background-color .3s ease-in-out, opacity .3s ease-in-out;
  -ms-transition: background-color .3s ease-in-out, opacity .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out, opacity .3s ease-in-out;
  transition: background-color .3s ease-in-out, opacity .3s ease-in-out;
}
