/**
 * @package 	WordPress
 * @subpackage 	Music Band
 * @version 	1.0.1
 * 
 * WooCommerce CSS Rules
 * Created by CMSMasters
 * 
 */
/*-------------------------------------------------------------------------

	1. 	Shop Page
	2. 	Single Product
	3. 	Cart
	4. 	Checkout
	5. 	Order
	6. 	Dynamic Cart
	7. 	Widgets
	8. 	Shortcodes
	9.	CSS3 Animations

-------------------------------------------------------------------------*/


/* -------------------------------- Start WooCommerce Styles (cmsms_woo) -------------------------------- */
.woocommerce:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
.cmsms_woo.fullwidth {
  padding-top: 40px;
  padding-bottom: 40px;
}
.demo_store {
  display: none;
}
.product .preloader {
  padding-bottom: 100%;
}
.product .preloader img {
  width: 100%;
  min-width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.product .cmsms_hover_slider .cmsms_hover_slider_items {
  padding-bottom: 100%;
}
/*	Star Rating */
.cmsms_star_rating {
  width: 73px;
  height: 12px;
  display: block;
  position: relative;
  overflow: hidden;
}
.cmsms_star_rating .cmsms_star {
  font-size: 12px;
  width: 13px;
  height: 12px;
  display: block;
  margin-left: 2px;
  position: relative;
  overflow: hidden;
  float: left;
}
.cmsms_star_rating .cmsms_star:first-child {
  margin-left: 0;
}
.cmsms_star_rating .cmsms_star:before {
  width: 1em;
  height: 1em;
  margin: auto !important;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.cmsms_star_rating .cmsms_star_trans_wrap {
  position: relative;
  overflow: hidden;
}
.cmsms_star_rating .cmsms_star_color_wrap {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.cmsms_star_rating .cmsms_star_color_wrap .cmsms_star_color_inner {
  width: 73px;
  height: 12px;
  position: relative;
  overflow: hidden;
}
.product .related.products h2 {
  margin-bottom: 0;
}
.comment-form-rating {
  position: relative;
  overflow: hidden;
}
.comment-form-rating .stars > span {
  display: block;
  width: 65px;
  height: 14px;
  position: relative;
  overflow: hidden;
}
.comment-form-rating .stars > span:before,
.comment-form-rating .stars > span a:before {
  font-family: "fontello";
  line-height: 1em;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-align: center;
  vertical-align: baseline;
  font-variant: normal;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  text-indent: 0;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.comment-form-rating .stars > span:before {
  content: '\e826\e826\e826\e826\e826';
}
.comment-form-rating .stars > span a:before {
  content: '\e826\e826\e826\e826\e826';
}
.comment-form-rating .stars > span a {
  color: transparent;
  text-indent: 9999px;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.comment-form-rating .stars > span a.star-1 {
  width: 13px;
  z-index: 10;
}
.comment-form-rating .stars > span a.star-2 {
  width: 26px;
  z-index: 9;
}
.comment-form-rating .stars > span a.star-3 {
  width: 39px;
  z-index: 8;
}
.comment-form-rating .stars > span a.star-4 {
  width: 52px;
  z-index: 7;
}
.comment-form-rating .stars > span a.star-5 {
  width: 65px;
  z-index: 6;
}
/*	Sale */
.onsale,
.out-of-stock {
  padding: 0 5px;
  z-index: 3;
  margin: auto !important;
  position: absolute;
  left: 0;
  right: auto;
  top: 0;
  bottom: auto;
  text-align: center;
  overflow: hidden;
}
.out-of-stock {
  padding: 16px 5px;
}
/*	checkbox and radio */
.input-checkbox,
.input-radio,
input.shipping_method {
  margin: auto;
  position: absolute;
  left: 0;
  right: auto;
  top: 0;
  bottom: auto;
  opacity: 0;
}
.input-checkbox + label,
.input-radio + label,
input.shipping_method + label {
  display: inline-block;
  padding: 0 0 0 25px;
  position: relative;
  cursor: pointer;
}
.input-checkbox + label:before,
.input-radio + label:before,
input.shipping_method + label:before {
  content: '';
  display: block;
  width: 13px;
  height: 13px;
  margin: auto !important;
  position: absolute;
  left: 0;
  right: auto;
  top: 0;
  bottom: 0;
  border-width: 2px;
  border-style: solid;
}
.input-checkbox + label:after,
.input-radio + label:after,
input.shipping_method + label:after {
  content: '';
  display: block;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);
  width: 9px;
  height: 9px;
  margin: auto !important;
  position: absolute;
  left: 2px;
  right: auto;
  top: 0;
  bottom: 0;
  opacity: 0;
}
.input-checkbox:checked + label:after,
.input-radio:checked + label:after,
input.shipping_method:checked + label:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.input-radio + label:before,
input.shipping_method + label:before,
.input-radio + label:after,
input.shipping_method + label:after {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/*	Shipping */
#shipping_method {
  padding: 0;
  margin: 0;
}
#shipping_method li {
  overflow: hidden;
}
#shipping_method li:before {
  content: none;
}
.woocommerce-message,
.woocommerce-info,
.woocommerce-error {
  padding: 25px 0 15px;
  margin-bottom: 40px;
  padding: 20px;
  float: none;
  position: relative;
  border-width: 2px;
  border-style: solid;
  text-align: center;
  clear: both;
  overflow: hidden;
}
.woocommerce-message a:before,
.woocommerce-info a:before,
.woocommerce-error a:before {
  content: '';
  display: block;
  width: 100%;
  height: 0;
  clear: both;
  position: relative;
  overflow: hidden;
}
.woocommerce-message .button,
.woocommerce-info .button,
.woocommerce-error .button {
  margin-right: 30px;
  margin-bottom: 10px;
}
.woocommerce-error li {
  padding: 0;
  margin: 0;
}
.woocommerce-error li:before {
  content: none;
}
/*	Quantity */
.quantity {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
}
.quantity .text {
  display: block;
  width: 65px;
  min-width: 0;
  height: 36px;
  padding: 0 0 0 5px;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*	Variation */
dl.variation {
  display: block;
  padding: 0;
  overflow: hidden;
}
dl.variation:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
dl.variation dt,
dl.variation dd,
dl.variation p {
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
dl.variation dt {
  padding-right: 10px;
  float: left;
  clear: left;
}
dl.variation dd {
  float: left;
}
/*	Col2-set */
.col2-set {
  margin: 0 -1.7% 30px;
  position: relative;
  overflow: hidden;
}
.col2-set > * {
  width: 46.6%;
  margin: 0 1.7%;
  position: relative;
  float: left;
  overflow: hidden;
}
/*	Form Row Styles */
.form-row {
  width: 46.6%;
  margin: 0 1.7%;
  position: relative;
  float: left;
}
.form-row:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
.form-row.form-row-wide,
.form-row.notes,
.form-row.place-order {
  width: 96.6%;
  float: none;
  clear: both;
}
.form-row.place-order {
  width: auto;
  margin: 0;
}
.form-row label {
  display: block;
  padding: 0 0 2px;
}
.form-row label .required {
  vertical-align: top;
}
.form-row select,
.form-row input,
.form-row textarea {
  width: 100%;
  max-width: 100%;
}
.form-row textarea {
  min-height: 200px;
}
.form-row input[type="checkbox"],
.form-row input[type="radio"],
.form-row input[type="submit"],
.form-row input[type="button"] {
  width: auto;
}
/*-------------------------------------------------------------------------*/
/*	1. Shop Page */
/*-------------------------------------------------------------------------*/
.cmsms_woo.fullwidth .cmsms_woo_wrap_result {
  margin-top: 30px;
}
.cmsms_woo_wrap_result {
  position: relative;
  overflow: hidden;
  clear: both;
}
.cmsms_woo_wrap_result select {
  width: 100%;
  max-width: 100%;
}
.cmsms_woo_wrap_result .woocommerce-result-count {
  padding: 10px;
  float: right;
}
.cmsms_woo_wrap_result .woocommerce-ordering {
  float: left;
}
div.products {
  margin: 0 0 50px;
  position: relative;
  overflow: hidden;
}
div.products > h2 {
  margin: 0;
}
.page-description {
  margin: 0 -1.7%;
}
.cmsms_products {
  margin: 0 -1.7%;
  padding: 0 0 40px;
  overflow: hidden;
  position: relative;
}
.cmsms_products .product {
  width: 21.6%;
  margin: 0 1.7%;
  padding: 60px 0 0;
  position: relative;
  word-wrap: break-word;
  overflow: hidden;
  float: left;
}
.cmsms_products .product:before {
  content: none;
}
.cmsms_products .product.outofstock .onsale {
  display: none;
}
.cmsms_products .product:not(.outofstock) .product_outer .product_inner:hover .cmsms_product_img_wrap .cmsms_product_footer > a {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.cmsms_products .product .product_outer {
  position: relative;
  overflow: hidden;
}
.cmsms_products .product .product_outer .product_inner {
  position: relative;
  overflow: hidden;
}
.cmsms_products .product .product_outer .product_inner .cmsms_product_img_wrap {
  margin-bottom: 12px;
  position: relative;
  overflow: hidden;
}
.cmsms_products .product .product_outer .product_inner .cmsms_product_img_wrap .cmsms_product_img {
  display: block;
  overflow: hidden;
}
.cmsms_products .product .product_outer .product_inner .cmsms_product_img_wrap .cmsms_product_img > a {
  display: block;
}
.cmsms_products .product .product_outer .product_inner .cmsms_product_img_wrap .cmsms_product_img > a:before {
  content: '';
  background-color: transparent;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
}
.cmsms_products .product .product_outer .product_inner .cmsms_product_img_wrap .cmsms_product_footer {
  width: 160px;
  margin: auto !important;
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  overflow: hidden;
}
.cmsms_products .product .product_outer .product_inner .cmsms_product_img_wrap .cmsms_product_footer > a {
  background-color: transparent;
  white-space: nowrap;
  padding: 6px 18px;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  overflow: hidden;
}
.cmsms_products .product .product_outer .product_inner .cmsms_product_img_wrap .cmsms_product_footer > a:before {
  font-size: 14px;
  margin: 0 10px 0 -1px;
}
.cmsms_products .product .product_outer .product_inner .cmsms_product_img_wrap .cmsms_product_footer > a.cmsms_add_to_cart_button.loading {
  opacity: 1;
}
.cmsms_products .product .product_outer .product_inner .cmsms_product_img_wrap .cmsms_product_footer > a.cmsms_add_to_cart_button.loading:before {
  content: '\e8e3';
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  vertical-align: baseline;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
.cmsms_products .product .product_outer .product_inner .cmsms_product_img_wrap .cmsms_product_footer > a.cmsms_add_to_cart_button.added {
  display: none;
}
.cmsms_products .product .product_outer .product_inner .cmsms_product_img_wrap .cmsms_product_footer > a.added_to_cart {
  display: none;
}
.cmsms_products .product .product_outer .product_inner .cmsms_product_img_wrap .cmsms_product_footer > a.added_to_cart.cmsms_visible {
  display: inline-block;
}
.cmsms_products .product .product_outer .product_inner .cmsms_product_img_wrap .cmsms_product_footer > a > span {
  width: 0;
  overflow: hidden;
}
.cmsms_products .product .product_outer .product_inner .cmsms_product_img_wrap .cmsms_product_footer > a:hover {
  max-width: 300px;
}
.cmsms_products .product .product_outer .product_inner .cmsms_product_img_wrap .cmsms_product_footer > a:hover > span {
  width: auto;
}
.cmsms_products .product .product_outer .product_inner .cmsms_product_header {
  position: relative;
  overflow: hidden;
}
.cmsms_products .product .product_outer .product_inner .cmsms_product_header .cmsms_product_title {
  margin: 0;
}
.cmsms_products .product .product_outer .product_inner .cmsms_product_header .cmsms_product_title > a {
  border-color: transparent;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
.cmsms_products .product .product_outer .product_inner .cmsms_product_cat {
  position: relative;
  overflow: hidden;
}
.cmsms_products .product .product_outer .product_inner .cmsms_product_info {
  position: relative;
  overflow: hidden;
}
.cmsms_products .product .product_outer .product_inner .cmsms_product_info:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
.cmsms_products .product .product_outer .product_inner .cmsms_product_info .cmsms_star_rating {
  display: inline-block;
  margin-top: 10px;
  vertical-align: middle;
}
.cmsms_products .product .product_outer .product_inner .cmsms_product_info .price {
  position: relative;
  float: right;
  overflow: hidden;
}
.cmsms_products .product .product_outer .product_inner .cmsms_product_info .price del {
  margin-right: 5px;
  vertical-align: top;
}
.cmsms_products .product .product_outer .product_inner .cmsms_product_info .price ins {
  text-decoration: none;
  vertical-align: middle;
}
.r_sidebar .content > .cmsms_products .product,
.l_sidebar .content > .cmsms_products .product {
  width: 29.93%;
}
.r_sidebar .content > .cmsms_products .product:nth-child(3n+1),
.l_sidebar .content > .cmsms_products .product:nth-child(3n+1) {
  clear: left;
}
.fullwidth .middle_content > .cmsms_products .product:nth-child(4n+1) {
  clear: left;
}
/*-------------------------------------------------------------------------*/
/*	2. Single Product */
/*-------------------------------------------------------------------------*/
.cmsms_woo.fullwidth .cmsms_single_product {
  padding-top: 30px;
}
.cmsms_single_product {
  position: relative;
}
.cmsms_single_product:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
.cmsms_single_product .cmsms_product_left_column {
  width: 50%;
  padding: 0 20px 60px 0;
  position: relative;
  float: left;
  overflow: hidden;
}
.cmsms_single_product .cmsms_product_images {
  position: relative;
  overflow: hidden;
}
.cmsms_single_product .cmsms_product_images .cmsms_product_image {
  position: relative;
  display: block;
  max-width: 100%;
  text-align: center;
}
.cmsms_single_product .cmsms_product_images .cmsms_product_image img {
  width: auto;
  height: auto;
  max-width: 100%;
}
.cmsms_single_product .cmsms_product_images .cmsms_product_thumbs {
  display: block;
  margin: 0 -5px;
  position: relative;
  overflow: hidden;
}
.cmsms_single_product .cmsms_product_images .cmsms_product_thumbs .cmsms_product_thumb {
  display: inline-block;
  width: 130px;
  margin: 10px 5px 0;
  position: relative;
  text-align: center;
}
.cmsms_single_product .cmsms_product_right_column {
  width: 50%;
  padding: 0 0 60px 20px;
  position: relative;
  float: right;
}
.cmsms_single_product .cmsms_product_right_column:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
.cmsms_single_product .cmsms_product_right_column .out-of-stock {
  display: none;
}
.cmsms_single_product .cmsms_product_right_column .product_title {
  margin: -13px 0 0;
}
.cmsms_single_product .cmsms_product_right_column .product_meta {
  margin: -8px 0 12px;
  position: relative;
  overflow: hidden;
}
.cmsms_single_product .cmsms_product_right_column .product_meta > span {
  display: block;
  margin-top: 5px;
}
.cmsms_single_product .cmsms_product_right_column .product_meta > span:first-child {
  margin-top: 0;
}
.cmsms_single_product .cmsms_product_right_column .product_meta > span strong {
  display: none;
}
.cmsms_single_product .cmsms_product_right_column .cmsms_star_rating {
  margin-bottom: 20px;
}
.cmsms_single_product .cmsms_product_right_column .price {
  padding-bottom: 35px;
  position: relative;
  overflow: hidden;
}
.cmsms_single_product .cmsms_product_right_column .price del {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}
.cmsms_single_product .cmsms_product_right_column .price ins {
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
}
.cmsms_single_product .cmsms_product_right_column .cart {
  margin: 15px 0 0;
  position: relative;
  overflow: hidden;
}
.cmsms_single_product .cmsms_product_right_column .cart .variations {
  width: 100%;
  position: relative;
  direction: rtl;
  overflow: hidden;
}
.cmsms_single_product .cmsms_product_right_column .cart .variations td {
  background: none;
}
.cmsms_single_product .cmsms_product_right_column .cart .variations td.value {
  width: 100px;
  padding: 0 15px 0 0;
}
.cmsms_single_product .cmsms_product_right_column .cart .variations td .reset_variations {
  display: inline-block;
  padding-top: 5px;
  direction: ltr;
}
.cmsms_single_product .cmsms_product_right_column .cart .variations td .reset_variations:before {
  content: '';
  display: block;
  clear: both;
}
.cmsms_single_product .cmsms_product_right_column .cart .variations td select {
  margin-bottom: 10px;
  direction: ltr;
}
.cmsms_single_product .cmsms_product_right_column .cart .single_variation_wrap {
  margin: 30px 0 0;
  position: relative;
  overflow: hidden;
}
.cmsms_single_product .cmsms_product_right_column .cart .single_variation_wrap .single_variation {
  padding-bottom: 20px;
}
.cmsms_single_product .cmsms_product_right_column .cart .quantity {
  padding-right: 10px;
  float: left;
}
.cmsms_single_product .cmsms_product_right_column .cart .quantity .qty {
  width: 70px;
  padding: 6px 5px;
  border-width: 1px;
  border-style: solid;
}
.cmsms_single_product .cmsms_product_right_column .cart .single_add_to_cart_button {
  min-width: 110px;
}
.cmsms_single_product .cmsms_product_right_column .product_title + .cart,
.cmsms_single_product .cmsms_product_right_column .product_meta + .cart,
.cmsms_single_product .cmsms_product_right_column .cmsms_star_rating + div + div + .cart,
.cmsms_single_product .cmsms_product_right_column .cmsms_star_rating + .cart {
  margin-top: 45px;
}
.cmsms_single_product .cmsms_woo_tabs {
  margin: 0 0 50px;
  position: relative;
  clear: both;
  overflow: hidden;
}
.cmsms_single_product .cmsms_woo_tabs .cmsms_tabs_list .cmsms_tabs_list_item > a {
  padding-right: 50px;
}
.cmsms_single_product .cmsms_woo_tabs .shop_attributes {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.cmsms_single_product .cmsms_woo_tabs .shop_attributes tr {
  display: block;
  padding-top: 2px;
}
.cmsms_single_product .cmsms_woo_tabs .shop_attributes tr:first-child {
  padding-top: 0;
}
.cmsms_single_product .cmsms_woo_tabs .shop_attributes tr th,
.cmsms_single_product .cmsms_woo_tabs .shop_attributes tr td {
  display: inline-block;
}
.cmsms_single_product .cmsms_woo_tabs .shop_attributes tr th *,
.cmsms_single_product .cmsms_woo_tabs .shop_attributes tr td * {
  margin: 0;
  padding: 0;
}
.cmsms_single_product .cmsms_woo_tabs .shop_attributes tr th {
  max-width: 100%;
}
.cmsms_single_product .cmsms_woo_tabs #reviews {
  position: relative;
  overflow: hidden;
}
.cmsms_single_product .cmsms_woo_tabs #reviews #comments {
  position: relative;
  overflow: hidden;
}
.cmsms_single_product .cmsms_woo_tabs #reviews #comments .cmsms_star_rating {
  height: 14px;
  margin-top: 8px;
  float: right;
}
.cmsms_single_product .cmsms_woo_tabs #reviews #comments > .cmsms_star_rating {
  width: 87px;
}
.cmsms_single_product .cmsms_woo_tabs #reviews #comments > .cmsms_star_rating .cmsms_star_color_inner {
  height: 14px;
}
.cmsms_single_product .cmsms_woo_tabs #reviews #comments > .cmsms_star_rating .cmsms_star {
  font-size: 14px;
  width: 15px;
  height: 14px;
  margin-left: 3px;
}
.cmsms_single_product .cmsms_woo_tabs #reviews #comments > .cmsms_star_rating .cmsms_star:first-child {
  margin-left: 0;
}
.cmsms_single_product .cmsms_woo_tabs #reviews #comments > h2 {
  padding-right: 15px;
  overflow: hidden;
}
.cmsms_single_product .cmsms_woo_tabs #reviews #comments .commentlist {
  list-style: none;
  margin: 0;
  padding: 15px 0 0;
  position: relative;
  overflow: hidden;
}
.cmsms_single_product .cmsms_woo_tabs #reviews #comments .commentlist .comment {
  margin: 0 0 25px;
  padding: 0;
  position: relative;
  overflow: hidden;
}
.cmsms_single_product .cmsms_woo_tabs #reviews #comments .commentlist .comment:last-child {
  margin: 0;
}
.cmsms_single_product .cmsms_woo_tabs #reviews #comments .commentlist .comment .comment_container {
  position: relative;
  overflow: hidden;
}
.cmsms_single_product .cmsms_woo_tabs #reviews #comments .commentlist .comment .comment_container .avatar {
  margin: 5px 20px 0 0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  float: left;
}
.cmsms_single_product .cmsms_woo_tabs #reviews #comments .commentlist .comment .comment_container .comment-text {
  padding: 20px 0 5px;
  position: relative;
  overflow: hidden;
}
.cmsms_single_product .cmsms_woo_tabs #reviews #comments .commentlist .comment .comment_container .comment-text .cmsms_star_rating {
  margin: 8px 0 0;
  float: right;
}
.cmsms_single_product .cmsms_woo_tabs #reviews #comments .commentlist .comment .comment_container .comment-text .meta {
  padding: 0 15px 15px 0;
  position: relative;
  overflow: hidden;
}
.cmsms_single_product .cmsms_woo_tabs #reviews #comments .commentlist .comment .comment_container .comment-text .meta h5 {
  margin: 0;
}
.cmsms_single_product .cmsms_woo_tabs #reviews #comments .commentlist .comment .comment_container .comment-text .description {
  position: relative;
  clear: both;
  overflow: hidden;
}
.cmsms_single_product .cmsms_woo_tabs #reviews .comment-respond {
  padding-bottom: 0;
  position: relative;
  overflow: hidden;
}
.cmsms_single_product .cmsms_woo_tabs #reviews .comment-respond .comment-reply-title {
  position: relative;
  overflow: hidden;
}
.cmsms_single_product .cmsms_woo_tabs #reviews .comment-respond .comment-form-author,
.cmsms_single_product .cmsms_woo_tabs #reviews .comment-respond .comment-form-email {
  width: 48.3%;
}
.cmsms_single_product .cmsms_woo_tabs #reviews .comment-respond .stars {
  padding-bottom: 0;
}
.cmsms_single_product .cmsms_woo_tabs #reviews .comment-respond label {
  display: block;
  padding: 0 0 10px;
}
/*-------------------------------------------------------------------------*/
/*	3. Cart */
/*-------------------------------------------------------------------------*/
.shop_table {
  border-spacing: 0;
  border-collapse: separate;
  width: 100%;
  margin: 0 0 50px;
  position: relative;
  overflow: hidden;
}
.shop_table thead,
.shop_table tr {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.shop_table th,
.shop_table td {
  padding: 12px 10px 12px 30px;
  vertical-align: middle;
  position: relative;
  border-top-width: 2px;
  border-top-style: solid;
  text-align: left;
  overflow: hidden;
}
.shop_table thead tr th,
.shop_table thead tr td {
  text-transform: uppercase;
  padding: 20px 10px 20px 20px;
  border-top-width: 0;
  border-top-style: solid;
}
.shop_table thead tr th:first-child,
.shop_table thead tr td:first-child {
  padding: 20px 10px 20px 30px;
}
.shop_table tbody tr td:first-child {
  width: 100px;
}
.shop_table tr.cart_item th,
.shop_table tr.cart_item td {
  border-top-width: 1px;
  border-top-style: solid;
}
.shop_table tr.cart_item td:first-child {
  padding: 20px 10px 20px 30px;
  border-left-width: 2px;
  border-left-style: solid;
}
.shop_table tr.cart_item td:last-child {
  border-right-width: 2px;
  border-right-style: solid;
}
.shop_table td {
  padding: 20px 10px 20px 20px;
}
.shop_table td.product-remove .remove {
  font-size: 12px;
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  position: relative;
  text-align: center;
}
.shop_table td.product-remove .remove:before {
  content: '\e83b';
  font-family: 'fontello';
  line-height: 1em;
  width: 1em;
  height: 1em;
  margin: auto !important;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.shop_table td.product-thumbnail img {
  width: 60px;
  height: auto;
}
.shop_table td.product-quantity .quantity input {
  padding: 0 5px 0 10px;
  border-width: 1px;
  border-style: solid;
}
.shop_table td.actions {
  padding: 40px 0 0;
  text-align: right;
}
.shop_table td.actions .coupon {
  position: relative;
  float: left;
  overflow: hidden;
}
.shop_table td.actions .coupon label {
  display: none;
}
.shop_table td.actions .coupon #coupon_code {
  width: 260px;
}
.shop_table td.actions .coupon .input-text {
  padding-top: 6px;
  padding-bottom: 6px;
  margin-right: 5px;
}
.shop_table td.actions .button {
  text-transform: uppercase;
  min-width: 125px;
  max-width: 100%;
  margin-left: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.cross-sells {
  margin-bottom: 50px;
}
.cross-sells h2 {
  margin-bottom: 0;
}
.cart-collaterals {
  width: 50%;
}
.cart_totals {
  position: relative;
  overflow: hidden;
}
.cart_totals > h2 {
  position: relative;
}
.cart_totals .cart_totals_title {
  text-transform: uppercase;
  position: relative;
}
.cart_totals .wc-proceed-to-checkout {
  padding: 0 30px 35px;
  position: relative;
  border-left-width: 2px;
  border-left-style: solid;
  border-right-width: 2px;
  border-right-style: solid;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  overflow: hidden;
}
.cart_totals table {
  border-spacing: 0;
  border-collapse: separate;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.cart_totals table tr {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.cart_totals table tr:first-child th,
.cart_totals table tr:first-child td {
  border-top-width: 2px;
  border-top-style: solid;
}
.cart_totals table tr:last-child th,
.cart_totals table tr:last-child td {
  border-bottom-width: 0;
  border-bottom-style: solid;
}
.cart_totals table tr th,
.cart_totals table tr td {
  width: 43%;
  padding: 20px 30px;
  vertical-align: middle;
  position: relative;
  border-top-width: 1px;
  border-top-style: solid;
  border-left-width: 2px;
  border-left-style: solid;
  text-align: left;
  overflow: hidden;
}
.cart_totals table tr td {
  width: 57%;
  border-right-width: 2px;
  border-right-style: solid;
  border-left-width: 0;
  border-left-style: solid;
  text-align: right;
}
.cart_totals table tr.cart-subtotal th,
.cart_totals table tr.order-total th {
  font-weight: bold;
}
.cart_totals table tr.cart-subtotal td,
.cart_totals table tr.order-total td,
.cart_totals table tr.cart-subtotal td strong,
.cart_totals table tr.order-total td strong {
  font-weight: normal;
}
.cart_totals table tr.shipping th {
  padding: 30px;
  vertical-align: top;
}
.cart_totals table tr.shipping td {
  padding: 35px 30px 30px;
}
.cart_totals table tr.shipping #shipping_method input[type="checkbox"],
.cart_totals table tr.shipping #shipping_method input[type="radio"] {
  left: auto;
  right: 0;
  float: right;
}
.cart_totals table tr.shipping #shipping_method input[type="checkbox"] + label,
.cart_totals table tr.shipping #shipping_method input[type="radio"] + label {
  padding-left: 0;
  padding-right: 25px;
  float: right;
}
.cart_totals table tr.shipping #shipping_method input[type="checkbox"] + label:before,
.cart_totals table tr.shipping #shipping_method input[type="radio"] + label:before {
  left: auto;
  right: 0;
}
.cart_totals table tr.shipping #shipping_method input[type="checkbox"] + label:after {
  left: auto;
  right: 3px;
}
.cart_totals table tr.shipping #shipping_method input[type="radio"] + label:after {
  left: auto;
  right: 2px;
}
.shipping_calculator {
  position: relative;
  overflow: hidden;
}
.shipping-calculator-button-wrap {
  padding: 10px 0 0;
  padding-bottom: 0;
}
.shipping-calculator-button-wrap a.shipping-calculator-button {
  border-color: transparent;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
.shipping-calculator-form {
  margin: 20px -1.7% 0;
}
.shipping-calculator-form > * {
  width: 96.6%;
  margin: 0 1.7%;
  clear: both;
}
.shipping-calculator-form .form-row {
  width: 96.6%;
  float: left;
  clear: none;
}
.shipping-calculator-form p {
  padding-bottom: 21px;
}
.shipping-calculator-form input,
.shipping-calculator-form select,
.shipping-calculator-form textarea {
  width: 100%;
  padding: 6px;
  max-width: 100%;
}
.shipping-calculator-form select {
  height: 36px;
}
.shipping-calculator-form input[type="checkbox"],
.shipping-calculator-form input[type="radio"] {
  width: auto;
}
.shipping-calculator-form .button {
  padding: 5px 20px;
}
/*-------------------------------------------------------------------------*/
/*	4. Checkout */
/*-------------------------------------------------------------------------*/
.checkout_coupon {
  margin: 0 -1.7% 30px;
  position: relative;
  overflow: hidden;
}
.checkout_coupon input,
.checkout_coupon input[type=submit] {
  width: 100%;
  max-width: 100%;
}
body .select2-container .select2-choice,
body .select2-container.select2-drop-above .select2-choice {
  border-width: 2px;
  padding: 8px !important;
  -webkit-border-radius: 0;
  border-radius: 0;
}
body .select2-drop.select2-drop-active,
body .select2-drop.select2-drop-above.select2-drop-active {
  border-width: 2px;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.checkout {
  position: relative;
  overflow: hidden;
}
.woocommerce-billing-fields,
.woocommerce-shipping-fields {
  margin: 0 -1.7%;
  position: relative;
  overflow: hidden;
}
.woocommerce-billing-fields:after,
.woocommerce-shipping-fields:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
.woocommerce-billing-fields > h3,
.woocommerce-shipping-fields > h3,
.woocommerce-billing-fields #ship-to-different-address,
.woocommerce-shipping-fields #ship-to-different-address {
  margin-left: 1.7%;
  margin-right: 1.7%;
  position: relative;
  overflow: hidden;
}
.woocommerce-billing-fields #ship-to-different-address,
.woocommerce-shipping-fields #ship-to-different-address {
  margin-top: 3px;
  float: right;
}
.woocommerce-billing-fields #ship-to-different-address label,
.woocommerce-shipping-fields #ship-to-different-address label {
  display: inline-block;
  padding: 0 0 0 25px;
}
#order_review {
  position: relative;
  overflow: hidden;
}
#order_review .shop_table tr th,
#order_review .shop_table tr td {
  width: 40%;
  padding: 15px 30px;
  border-top-width: 1px;
  border-top-style: solid;
}
#order_review .shop_table tr th:first-child,
#order_review .shop_table tr td:first-child {
  width: 60%;
  border-left-width: 2px;
  border-left-style: solid;
}
#order_review .shop_table tr th:last-child,
#order_review .shop_table tr td:last-child {
  border-right-width: 2px;
  border-right-style: solid;
}
#order_review .shop_table thead th {
  border-top-width: 2px;
  border-top-style: solid;
}
#order_review .shop_table tfoot tr.shipping p {
  padding-bottom: 0;
}
#order_review .shop_table tfoot tr:last-child th,
#order_review .shop_table tfoot tr:last-child td {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
#order_review #payment {
  padding: 35px 30px 50px;
  position: relative;
  border-width: 2px;
  border-style: solid;
  overflow: hidden;
}
#order_review #payment .payment_methods {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}
#order_review #payment .payment_methods li {
  position: relative;
  overflow: hidden;
}
#order_review #payment .payment_methods li:before {
  content: none;
}
#order_review #payment .payment_methods label {
  display: inline-block;
  float: none;
}
#order_review #payment .payment_methods label img {
  display: none;
}
#order_review #payment .payment_methods .payment_box {
  padding: 15px 25px;
  position: relative;
  clear: both;
}
#order_review #payment .payment_methods .payment_box p {
  padding: 0;
}
#order_review #payment .place-order {
  padding: 30px 0 0;
  position: relative;
  overflow: hidden;
}
#order_review #payment .place-order > * {
  display: inline-block;
  float: none;
  vertical-align: middle;
}
#order_review #payment .place-order .button {
  padding: 8px 15px;
}
#order_review #payment .place-order .terms {
  width: auto;
  padding: 0 0 0 25px;
  margin: 0;
  direction: rtl;
  overflow: hidden;
}
#order_review #payment .place-order .terms > * {
  direction: ltr;
}
#order_review #payment .place-order .terms label {
  display: inline-block;
  vertical-align: middle;
  padding: 0 0 0 5px;
}
#order_review #payment .place-order .terms .input-checkbox {
  display: inline-block;
  vertical-align: middle;
  position: static;
  opacity: 1;
}
/*-------------------------------------------------------------------------*/
/*	5. Order */
/*-------------------------------------------------------------------------*/
ul.order_details {
  list-style: none;
  margin: 0 0 25px;
  padding: 0;
  position: relative;
  overflow: hidden;
}
ul.order_details li {
  width: 25%;
  margin: 0;
  padding: 0;
  position: relative;
  float: left;
  overflow: hidden;
}
ul.order_details li:first-child strong {
  border-left-width: 2px;
  border-left-style: solid;
}
ul.order_details li:last-child strong {
  border-right-width: 2px;
  border-right-style: solid;
}
ul.order_details li:before {
  content: none;
}
ul.order_details li > span {
  display: block;
  padding: 12px 10px 12px 30px;
}
ul.order_details li > strong {
  font-weight: normal;
  display: block;
  padding: 25px 10px 25px 30px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
ul.order_details.bacs_details li {
  padding: 12px 10px 0 30px;
}
ul.order_details.bacs_details li > span {
  border-width: 0;
  border-style: solid;
}
ul.order_details.bacs_details li > strong {
  margin: 12px -10px 0 -30px;
  padding: 12px 10px 12px 30px;
}
.shop_table.order_details,
.shop_table.customer_details {
  border-left-width: 0;
  border-left-style: solid;
}
.shop_table.order_details thead tr:first-child th,
.shop_table.customer_details thead tr:first-child th,
.shop_table.order_details thead tr:first-child td,
.shop_table.customer_details thead tr:first-child td {
  border-top-width: 2px;
  border-top-style: solid;
}
.shop_table.order_details tfoot tr:last-child th,
.shop_table.customer_details tfoot tr:last-child th,
.shop_table.order_details tfoot tr:last-child td,
.shop_table.customer_details tfoot tr:last-child td {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
.shop_table.order_details tr th:first-child,
.shop_table.customer_details tr th:first-child,
.shop_table.order_details tr td:first-child,
.shop_table.customer_details tr td:first-child {
  border-left-width: 2px;
  border-left-style: solid;
}
.shop_table.order_details tr th:last-child,
.shop_table.customer_details tr th:last-child,
.shop_table.order_details tr td:last-child,
.shop_table.customer_details tr td:last-child {
  border-right-width: 2px;
  border-right-style: solid;
}
.shop_table.order_details th,
.shop_table.customer_details th,
.shop_table.order_details td,
.shop_table.customer_details td {
  padding: 15px 10px 15px 30px;
  width: 50%;
  border-top-width: 1px;
  border-top-style: solid;
}
.shop_table.customer_details tr:first-child th,
.shop_table.customer_details tr:first-child td {
  border-top-width: 2px;
  border-top-style: solid;
}
.shop_table.customer_details tr:last-child th,
.shop_table.customer_details tr:last-child td {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
.customer_details {
  margin: 0 0 30px;
  position: relative;
  overflow: hidden;
}
.customer_details dt,
.customer_details dd {
  display: block;
  min-width: 15%;
  max-width: 100%;
  margin-bottom: 10px;
  float: left;
}
.customer_details dt {
  padding-right: 20px;
  clear: left;
}
.shop_table.shop_table_responsive tr:last-child td {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
.shop_table.shop_table_responsive tr td,
.shop_table.shop_table_responsive tr th {
  padding: 15px 10px 15px 30px;
}
.shop_table.shop_table_responsive tr td:first-child {
  border-left-width: 2px;
  border-left-style: solid;
}
.shop_table.shop_table_responsive tr td:last-child {
  border-right-width: 2px;
  border-right-style: solid;
}
/*-------------------------------------------------------------------------*/
/*	6. Dynamic Cart */
/*-------------------------------------------------------------------------*/
.cmsms_dynamic_cart {
  visibility: hidden;
  position: fixed;
  right: 20px;
  top: 0;
  z-index: 99999;
  opacity: 0;
}
.cmsms_dynamic_cart:hover .cmsms_dynamic_cart_button:before {
  bottom: -100px;
}
.cmsms_dynamic_cart:hover .cmsms_dynamic_cart_button > span:before {
  top: 2px;
}
.cmsms_dynamic_cart .cmsms_dynamic_cart_button {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: default;
  white-space: nowrap;
  z-index: 1;
  border-width: 2px;
  border-style: solid;
  overflow: hidden;
}
.cmsms_dynamic_cart .cmsms_dynamic_cart_button:before,
.cmsms_dynamic_cart .cmsms_dynamic_cart_button > span:before {
  font-size: 20px;
  line-height: 1em;
  width: 1em;
  height: 1em;
  margin: auto !important;
  position: absolute;
  left: -2px;
  right: 0;
  top: 2px;
  bottom: 0;
}
.cmsms_dynamic_cart .cmsms_dynamic_cart_button > span:before {
  top: -100px;
}
.cmsms_dynamic_cart .widget_shopping_cart_content {
  width: 250px;
  padding: 20px 0 20px 10px;
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 80px;
  border-width: 2px;
  border-style: solid;
  opacity: 0;
}
.cmsms_dynamic_cart .widget_shopping_cart_content:before,
.cmsms_dynamic_cart .widget_shopping_cart_content:after {
  content: '';
  display: block;
  position: absolute;
  top: 19px;
  right: -8px;
  border-right: 0 solid transparent !important;
  border-top: 6px solid transparent !important;
  border-bottom: 6px solid transparent !important;
  border-left-width: 8px;
  border-left-style: solid;
}
.cmsms_dynamic_cart .widget_shopping_cart_content:after {
  top: 19px;
  right: -5px;
}
.cmsms_dynamic_cart .widget_shopping_cart_content .cart_list {
  list-style: none;
  max-height: 395px;
  margin: 0 0 20px;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
.cmsms_dynamic_cart .widget_shopping_cart_content .cart_list li {
  margin: -6px 10px 20px 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}
.cmsms_dynamic_cart .widget_shopping_cart_content .cart_list li:before {
  content: none;
}
.cmsms_dynamic_cart .widget_shopping_cart_content .cart_list li:last-child {
  margin-bottom: 0;
}
.cmsms_dynamic_cart .widget_shopping_cart_content .cart_list li a {
  float: none;
  display: block;
  padding: 0 17px 0 0;
}
.cmsms_dynamic_cart .widget_shopping_cart_content .cart_list li a.remove {
  padding: 0 0 10px 10px;
  margin: 1px 0 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  text-align: center;
}
.cmsms_dynamic_cart .widget_shopping_cart_content .cart_list li img {
  width: 70px;
  height: 70px;
  margin-top: 6px;
  margin-right: 10px;
  float: left;
}
.cmsms_dynamic_cart .widget_shopping_cart_content .cart_list li .quantity {
  padding-top: 3px;
  position: relative;
  overflow: hidden;
}
.cmsms_dynamic_cart .widget_shopping_cart_content .total {
  padding: 10px 10px 10px 0;
  position: relative;
  overflow: hidden;
}
.cmsms_dynamic_cart .widget_shopping_cart_content .total strong {
  margin-right: 5px;
}
.cmsms_dynamic_cart .widget_shopping_cart_content .buttons {
  padding: 0 10px 0 0;
  margin: 0 -1.7%;
  position: relative;
  overflow: hidden;
}
.cmsms_dynamic_cart .widget_shopping_cart_content .buttons .button {
  width: 46.6%;
  padding: 5px 10px;
  margin: 0 1.7%;
  float: left;
}
.cmsms_dynamic_cart:hover .widget_shopping_cart_content,
.cmsms_dynamic_cart .cmsms_dynamic_cart_button:hover + .widget_shopping_cart_content,
.cmsms_dynamic_cart .widget_shopping_cart_content:hover {
  visibility: visible;
  right: 57px;
  opacity: 1;
}
.safari_only .cmsms_dynamic_cart {
  width: 40px;
}
.safari_only .cmsms_dynamic_cart .widget_shopping_cart_content {
  position: relative;
  width: 0;
  height: 0;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
.safari_only .cmsms_dynamic_cart:hover {
  width: 285px;
}
.safari_only .cmsms_dynamic_cart:hover .widget_shopping_cart_content,
.safari_only .cmsms_dynamic_cart .cmsms_dynamic_cart_button:hover + .widget_shopping_cart_content,
.safari_only .cmsms_dynamic_cart .widget_shopping_cart_content:hover {
  width: 270px;
  height: auto;
}
.safari_only .cmsms_products .product .product_outer .product_inner .cmsms_product_footer > a {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  -webkit-transition: opacity .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out !important;
  -moz-transition: opacity .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out !important;
  -ms-transition: opacity .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out !important;
  -o-transition: opacity .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out !important;
  transition: opacity .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out !important;
}
.safari_only .cmsms_dynamic_cart .cmsms_dynamic_cart_button:before,
.safari_only .cmsms_dynamic_cart .cmsms_dynamic_cart_button > span:before {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
.cmsms_added_product_info {
  width: 270px;
  padding: 15px 20px;
  position: absolute;
  top: 30px;
  right: 0;
  border-width: 2px;
  border-style: solid;
  opacity: 0;
}
.cmsms_added_product_info:after,
.cmsms_added_product_info:before {
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  right: 15px;
  border-top: 0 solid transparent !important;
  border-left: 8px solid transparent !important;
  border-right: 8px solid transparent !important;
  border-bottom-width: 10px;
  border-bottom-style: solid;
}
.cmsms_added_product_info:after {
  top: -7px;
}
.cmsms_added_product_info .cmsms_added_product_info_img {
  width: 50px;
  height: 50px;
  float: right;
}
.cmsms_added_product_info .cmsms_added_product_info_text {
  display: block;
  padding: 13px 0;
}
/*-------------------------------------------------------------------------*/
/*	7. Widgets */
/*-------------------------------------------------------------------------*/
.widget.woocommerce > form {
  overflow: visible;
}
.widget.woocommerce > form > * {
  overflow: visible;
}
.widget_product_search {
  position: relative;
  overflow: hidden;
}
.widget ul.product_list_widget {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}
.widget ul.product_list_widget li {
  padding: 20px 0 0;
  position: relative;
  overflow: hidden;
}
.widget ul.product_list_widget li:first-child {
  padding: 10px 0 0;
}
.widget ul.product_list_widget li:before {
  content: none;
}
.widget ul.product_list_widget li > a {
  display: block;
  margin: 0 0 3px;
  border-bottom-width: 0;
  border-bottom-style: solid;
}
.widget ul.product_list_widget li img {
  width: 70px;
  height: 70px;
  margin: 6px 10px 0 0;
  float: left;
}
.widget ul.product_list_widget li .cmsms_star_rating {
  margin: 0 0 7px;
}
.widget ul.product_list_widget li del {
  margin-right: 5px;
  vertical-align: top;
}
.widget ul.product_list_widget li ins {
  text-decoration: none;
}
.widget ul.product_list_widget li .star-rating {
  display: none;
}
.widget_shopping_cart {
  position: relative;
  overflow: hidden;
}
.widget_shopping_cart .widget_shopping_cart_content {
  position: relative;
  overflow: hidden;
}
.widget_shopping_cart .widget_shopping_cart_content .cart_list {
  list-style: none;
  margin: 0 0 25px;
  padding: 0;
  overflow: hidden;
}
.widget_shopping_cart .widget_shopping_cart_content .cart_list li {
  padding: 20px 0 0;
  overflow: hidden;
}
.widget_shopping_cart .widget_shopping_cart_content .cart_list li:first-child {
  padding-top: 10px;
}
.widget_shopping_cart .widget_shopping_cart_content .cart_list li:before {
  content: none;
}
.widget_shopping_cart .widget_shopping_cart_content .cart_list li > a {
  margin-bottom: 5px;
}
.widget_shopping_cart .widget_shopping_cart_content .cart_list li a {
  float: none;
  display: block;
  border-bottom-width: 0;
  border-bottom-style: solid;
}
.widget_shopping_cart .widget_shopping_cart_content .cart_list li a.remove {
  margin: 0;
  padding: 0 0 10px 10px;
  z-index: 1;
  text-align: center;
  float: right;
}
.widget_shopping_cart .widget_shopping_cart_content .cart_list li img {
  width: 70px;
  height: 70px;
  margin: 6px 10px 0 0;
  float: left;
}
.widget_shopping_cart .widget_shopping_cart_content .cart_list li .quantity {
  position: relative;
  overflow: hidden;
}
.widget_shopping_cart .widget_shopping_cart_content .total {
  padding: 0 0 30px;
  position: relative;
  overflow: hidden;
}
.widget_shopping_cart .widget_shopping_cart_content .total strong {
  margin-right: 5px;
}
.widget_shopping_cart .widget_shopping_cart_content .buttons {
  margin: 0 -4%;
  padding: 0;
  position: relative;
  overflow: hidden;
}
.widget_shopping_cart .widget_shopping_cart_content .buttons .button {
  width: 42%;
  padding: 5px 10px;
  margin: 0 4%;
  float: left;
}
.widget_price_filter .widgettitle {
  margin-bottom: 40px;
}
.widget_price_filter .price_slider_wrapper .price_slider {
  height: 2px;
  margin: 0 0 25px;
  position: relative;
}
.widget_price_filter .price_slider_wrapper .price_slider .ui-slider-range {
  height: 100%;
  position: absolute;
  top: 0;
}
.widget_price_filter .price_slider_wrapper .price_slider .ui-slider-handle {
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  top: -5px;
  z-index: 2;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.widget_price_filter .price_slider_wrapper .price_slider .ui-slider-handle:last-child {
  margin-left: -12px;
}
.widget_price_filter .price_slider_wrapper .price_slider_amount {
  position: relative;
  overflow: hidden;
}
.widget_price_filter .price_slider_wrapper .price_slider_amount .button {
  padding-top: 6px;
  padding-bottom: 6px;
  min-width: 85px;
  float: right;
}
.widget_price_filter .price_slider_wrapper .price_slider_amount .price_label {
  padding: 9px 15px 9px 0;
  position: relative;
  float: left;
  overflow: hidden;
}
.widget_product_categories ul li:first-child {
  padding: 7px 0;
}
.widget_product_categories ul li.cat-parent {
  padding-bottom: 0;
}
.widget_product_categories ul ul.children {
  padding: 0;
  margin: 7px 0 0;
}
.widget_product_categories ul ul.children > li > a {
  padding-left: 15px;
}
.widget_product_categories ul ul.children > li ul.children > li > a {
  padding-left: 30px;
}
.widget_product_categories ul ul.children > li ul.children > li ul.children > li > a {
  padding-left: 45px;
}
.widget_product_categories ul ul.children > li ul.children > li ul.children > li ul.children > li > a {
  padding-left: 60px;
}
.widget_product_categories ul ul.children > li ul.children > li ul.children > li ul.children > li ul.children > li > a {
  padding-left: 75px;
}
/*-------------------------------------------------------------------------*/
/*	8. Shortcodes */
/*-------------------------------------------------------------------------*/
.cmsms_products_shortcode,
.cmsms_selected_products_shortcode {
  position: relative;
  overflow: hidden;
}
.cmsms_products_shortcode .cmsms_products,
.cmsms_selected_products_shortcode .cmsms_products {
  margin: 0 -1.7%;
  padding: 0;
  overflow: hidden;
  position: relative;
}
.cmsms_products_shortcode .cmsms_products .product,
.cmsms_selected_products_shortcode .cmsms_products .product {
  width: 96.6%;
  margin: 0 1.7%;
  padding: 0;
  position: relative;
  clear: none;
  overflow: hidden;
  float: left;
}
.cmsms_products_shortcode .cmsms_products .product:before,
.cmsms_selected_products_shortcode .cmsms_products .product:before {
  content: none;
}
.cmsms_products_shortcode .columns-4 .cmsms_products .product,
.cmsms_selected_products_shortcode .columns-4 .cmsms_products .product {
  width: 21.6%;
}
.cmsms_products_shortcode .columns-4 .cmsms_products .product:nth-child(4n+1),
.cmsms_selected_products_shortcode .columns-4 .cmsms_products .product:nth-child(4n+1) {
  clear: left;
}
.cmsms_products_shortcode .columns-3 .cmsms_products .product,
.cmsms_selected_products_shortcode .columns-3 .cmsms_products .product {
  width: 29.93%;
}
.cmsms_products_shortcode .columns-3 .cmsms_products .product:nth-child(3n+1),
.cmsms_selected_products_shortcode .columns-3 .cmsms_products .product:nth-child(3n+1) {
  clear: left;
}
.cmsms_products_shortcode .columns-2 .cmsms_products .product,
.cmsms_selected_products_shortcode .columns-2 .cmsms_products .product {
  width: 46.6%;
}
.cmsms_products_shortcode .columns-2 .cmsms_products .product:nth-child(2n+1),
.cmsms_selected_products_shortcode .columns-2 .cmsms_products .product:nth-child(2n+1) {
  clear: left;
}
.cmsms_products_shortcode .columns-1 .cmsms_products .product,
.cmsms_selected_products_shortcode .columns-1 .cmsms_products .product {
  float: none;
  clear: both;
}
/*	Other Shortcodes */
.create-account .input-radio + label,
.create-account .input-checkbox + label {
  padding: 0 0 0 25px;
}
.create-account > p {
  margin-left: 1.7%;
  margin-right: 1.7%;
}
.login,
.register {
  margin: 0 -1.7%;
  position: relative;
  overflow: hidden;
}
.login:after,
.register:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
.login label.inline,
.register label.inline {
  display: inline-block;
  padding: 0;
  margin-left: 10px;
}
.login label.inline input,
.register label.inline input {
  vertical-align: middle;
  margin-top: -2px;
}
.login > *,
.register > * {
  width: 96.6%;
  margin-left: 1.7%;
  margin-right: 1.7%;
  overflow: hidden;
}
.login .lost_password,
.register .lost_password {
  clear: both;
}
.track_order {
  margin: 0 -1.7%;
  position: relative;
  overflow: hidden;
}
.track_order:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
.track_order > * {
  margin-left: 1.7%;
  margin-right: 1.7%;
  overflow: hidden;
}
/*-------------------------------------------------------------------------*/
/*	9.	CSS3 Animations	*/
/*-------------------------------------------------------------------------*/
html.csstransitions .cmsms_products .product.outofstock .product_outer .out-of-stock,
html.csstransitions .cmsms_star_rating .cmsms_star,
html.csstransitions .cmsms_products .product .product_outer .product_inner .cmsms_product_footer > a:before {
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
html.csstransitions .cmsms_products .product .product_outer .product_inner .cmsms_product_header .cmsms_product_title > a,
html.csstransitions .shipping-calculator-button-wrap a.shipping-calculator-button,
html.csstransitions .widget_product_search .search_bar_wrap form p input[type="search"] {
  -webkit-transition: border-color .3s ease-in-out;
  -moz-transition: border-color .3s ease-in-out;
  -ms-transition: border-color .3s ease-in-out;
  -o-transition: border-color .3s ease-in-out;
  transition: border-color .3s ease-in-out;
}
html.csstransitions .cmsms_products .product .product_outer .product_inner .cmsms_product_img_wrap .cmsms_product_img a:before {
  -webkit-transition: background-color .2s ease-in-out;
  -moz-transition: background-color .2s ease-in-out;
  -ms-transition: background-color .2s ease-in-out;
  -o-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}
html.csstransitions .cmsms_single_product .cmsms_product_right_column .cart .single_add_to_cart_button,
html.csstransitions .shipping-calculator-form .button,
html.csstransitions .cart_totals .wc-proceed-to-checkout .button {
  -webkit-transition: background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
  -moz-transition: background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
  -ms-transition: background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
}
html.csstransitions .widget_price_filter .price_slider_wrapper .price_slider .ui-slider-handle {
  -webkit-transition: background-color .3s ease-in-out;
  -moz-transition: background-color .3s ease-in-out;
  -ms-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}
html.csstransitions .cmsms_star_rating .cmsms_star {
  -webkit-transition: color .3s ease-in-out, background-color .3s ease-in-out;
  -moz-transition: color .3s ease-in-out, background-color .3s ease-in-out;
  -ms-transition: color .3s ease-in-out, background-color .3s ease-in-out;
  -o-transition: color .3s ease-in-out, background-color .3s ease-in-out;
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
}
html.csstransitions .cmsms_dynamic_cart .cmsms_dynamic_cart_button:before,
html.csstransitions .cmsms_dynamic_cart .cmsms_dynamic_cart_button > span:before {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
html.csstransitions .shipping_method + label:after,
html.csstransitions .input-radio + label:after,
html.csstransitions .input-checkbox + label:after {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
html.csstransitions .cmsms_products .product .product_outer .product_inner .cmsms_product_footer > a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
html.csstransitions .safari_only .cmsms_dynamic_cart .cmsms_products .product .product_outer .product_inner .cmsms_product_footer > a {
  -webkit-transition: background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out !important;
  -moz-transition: background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out !important;
  -ms-transition: background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out !important;
  -o-transition: background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out !important;
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out !important;
}
html.csstransitions .cmsms_dynamic_cart .widget_shopping_cart_content {
  -webkit-transition: opacity .5s ease-in-out, right .3s ease-in-out, visibility .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out, right .3s ease-in-out, visibility .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out, right .3s ease-in-out, visibility .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out, right .3s ease-in-out, visibility .5s ease-in-out;
  transition: opacity .5s ease-in-out, right .3s ease-in-out, visibility .5s ease-in-out;
}
html.csstransitions .cmsms_dynamic_cart {
  -webkit-transition: right .3s ease-in-out, opacity .3s ease-in-out;
  -moz-transition: right .3s ease-in-out, opacity .3s ease-in-out;
  -ms-transition: right .3s ease-in-out, opacity .3s ease-in-out;
  -o-transition: right .3s ease-in-out, opacity .3s ease-in-out;
  transition: right .3s ease-in-out, opacity .3s ease-in-out;
}
html.csstransitions .cmsms_dynamic_cart .widget_shopping_cart_content .cart_list li {
  -webkit-transition: padding 0.3s ease-in-out;
  -moz-transition: padding 0.3s ease-in-out;
  -ms-transition: padding 0.3s ease-in-out;
  -o-transition: padding 0.3s ease-in-out;
  transition: padding 0.3s ease-in-out;
}
html.csstransitions .cmsms_dynamic_cart .widget_shopping_cart_content .cart_list li a.remove {
  -webkit-transition: color .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
  -moz-transition: color .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
  -ms-transition: color .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
  -o-transition: color .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
  transition: color .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
}
html.csstransitions .cmsms_single_product .cmsms_product_images .cmsms_product_thumbs .cmsms_product_thumb:before {
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
