@charset "UTF-8";

@font-face {
  font-family: "jplayer-icons-font";
  src:url('fonts/jplayer-icons-font.eot');
  src:url('fonts/jplayer-icons-font.eot?#iefix') format('embedded-opentype'),
    url('fonts/jplayer-icons-font.woff') format('woff'),
    url('fonts/jplayer-icons-font.ttf') format('truetype'),
    url('fonts/jplayer-icons-font.svg#jplayer-icons-font') format('svg');
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "jplayer-icons-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="cmsms-player-"]:before,
[class*=" cmsms-player-"]:before {
  font-family: "jplayer-icons-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cmsms-player-app-store:before {
  content: "a";
}
.cmsms-player-fast-forward:before {
  content: "b";
}
.cmsms-player-fast-backward:before {
  content: "c";
}
.cmsms-jplayer .cmsms-player-play:before {
  content: "d";
}
.cmsms-jplayer.jp-state-playing .cmsms-player-play:before {
  content: "g";
}
.cmsms-player-jump-to-end:before {
  content: "e";
}
.cmsms-player-jump-to-start:before {
  content: "f";
}
.cmsms-player-pause:before {
  content: "g";
}
.cmsms-player-remove:before {
  content: "h";
}
.cmsms-player-google-play:before {
  content: "i";
}
.cmsms-player-shuffle:before {
  content: "j";
}
.cmsms-player-repeat:before {
  content: "l";
}
.cmsms-player-amazon:before {
  content: "p";
}
.cmsms-player-shopping-cart:before {
  content: "t";
}
.cmsms-player-list-1:before {
  content: "n";
}
.cmsms-player-list-2:before {
  content: "q";
}
