/**
 * @package 	WordPress
 * @subpackage 	Music Band
 * @version 	1.0.0
 * 
 * Custom CSS Rules for Internet Explorer < 9
 * Created by CMSMasters
 * 
 */
 

.preloader img, 
.p_filter_container ul.p_filter, 
.cmsms-form-builder .check_parent input[type="checkbox"], 
.cmsms-form-builder .check_parent input[type="radio"], 
.loading {filter:alpha(opacity=0);}

#slide_top {filter:alpha(opacity=50);}

.cmsms_period {filter:alpha(opacity=70);}

#slide_top:hover, 
.cmsms_content_prev_slide:hover span,
.cmsms_content_next_slide:hover span, 
.p_options_block, 
.p_filter_container:hover ul.p_filter {filter:alpha(opacity=100);}

html.ie .cmsms-form-builder form .check_parent input[type="radio"] + label:before, 
html.ie .wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="radio"] + span.wpcf7-list-item-label,
html.ie .cmsms-form-builder form .check_parent input[type="checkbox"] + label:before,
html.ie .wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="checkbox"] + span.wpcf7-list-item-label {background:none;}

html.ie .cmsms-form-builder .check_parent input[type="radio"],
html.ie .wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="radio"],
html.ie .cmsms-form-builder .check_parent input[type="checkbox"],
html.ie .wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="checkbox"] {
	margin-top:11px;
	visibility:visible;
	filter:alpha(opacity=100);
}


@media only screen and (max-width: 767px) {
	
	.one_fifth+.four_fifth,
	.one_fifth+.one_fifth+.three_fifth,
	.one_fifth+.one_fifth+.one_fifth+.two_fifth,
	.one_fifth+.one_fifth+.one_fifth+.one_fifth+.one_fifth,
	.one_fifth+.three_fifth+.one_fifth,
	.four_fifth+.one_fifth,
	.three_fifth+.one_fifth+.one_fifth,
	.two_fifth+.one_fifth+.one_fifth+.one_fifth,
	.three_fifth+.two_fifth,
	.one_fifth+.two_fifth+.two_fifth,
	.two_fifth+.one_fifth+.two_fifth,
	.two_fifth+.two_fifth+.one_fifth,
	.two_fifth+.three_fifth,
	.one_sixth+.five_sixth,
	.five_sixth+.one_sixth,
	.one_sixth+.one_sixth+.one_sixth+.one_sixth+.one_sixth+.one_sixth,
	.one_sixth+.one_sixth+.one_sixth+.one_sixth+.one_third,
	.one_sixth+.one_sixth+.one_sixth+.one_third+.one_sixth,
	.one_sixth+.one_sixth+.one_third+.one_sixth+.one_sixth,
	.one_sixth+.one_third+.one_sixth+.one_sixth+.one_sixth,
	.one_third+.one_sixth+.one_sixth+.one_sixth+.one_sixth,
	.one_sixth+.one_sixth+.one_sixth+.one_half,
	.one_sixth+.one_sixth+.one_half+.one_sixth,
	.one_sixth+.one_half+.one_sixth+.one_sixth,
	.one_half+.one_sixth+.one_sixth+.one_sixth,
	.one_sixth+.one_sixth+.two_third,
	.one_sixth+.two_third+.one_sixth,
	.two_third+.one_sixth+.one_sixth,
	.one_third+.one_half+.one_sixth,
	.one_sixth+.one_third+.one_half,
	.one_half+.one_third+.one_sixth,
	.one_half+.one_sixth+.one_third,
	.one_third+.one_half+.one_sixth,
	.one_third+.one_third+.one_sixth+.one_sixth,
	.one_third+.one_sixth+.one_third+.one_sixth,
	.one_third+.one_sixth+.one_sixth+.one_third,
	.one_sixth+.one_sixth+.one_third+.one_third,
	.one_sixth+.one_third+.one_sixth+.one_third,
	.one_fourth+.one_fourth+.one_third+.one_sixth,
	.one_third+.one_fourth+.one_fourth+.one_sixth,
	.one_third+.one_sixth+.one_fourth+.one_fourth,
	.one_fourth+.one_third+.one_fourth+.one_sixth,
	.one_fourth+.one_third+.one_sixth+.one_fourth,
	.one_third+.one_fourth+.one_sixth+.one_fourth,
	.one_sixth+.one_third+.one_fourth+.one_fourth,
	.one_sixth+.one_fourth+.one_third+.one_fourth,
	.one_fourth+.one_sixth+.one_third+.one_fourth,
	.one_fourth+.one_sixth+.one_fourth+.one_third,
	.one_fourth+.one_fourth+.one_sixth+.one_third,
	.one_fourth+.one_fourth+.one_sixth+.one_sixth+.one_sixth,
	.one_fourth+.one_sixth+.one_fourth+.one_sixth+.one_sixth,
	.one_fourth+.one_sixth+.one_sixth+.one_fourth+.one_sixth,
	.one_fourth+.one_sixth+.one_sixth+.one_sixth+.one_fourth,
	.one_sixth+.one_fourth+.one_sixth+.one_sixth+.one_fourth,
	.one_sixth+.one_sixth+.one_fourth+.one_sixth+.one_fourth,
	.one_sixth+.one_sixth+.one_sixth+.one_fourth+.one_fourth,
	.one_sixth+.one_sixth+.one_fourth+.one_fourth+.one_sixth,
	.one_sixth+.one_fourth+.one_fourth+.one_sixth+.one_sixth,
	.one_sixth+.one_fourth+.one_sixth+.one_fourth+.one_sixth,
	.one_sixth,
	.one_fifth,
	.two_fifth,
	.three_fifth,
	.four_fifth,
	.five_sixth,
	.one_fourth, 
	.one_fourth.last,  
	.one_fourth+.one_fourth, 
	.one_fourth+.one_fourth+.one_fourth, 
	.one_fourth+.one_fourth+.one_fourth+.one_fourth, 
	.portfolio_container.four_blocks .portfolio, 
	.portfolio_container.three_blocks .portfolio, 
	.portfolio_container.two_blocks .portfolio, 
	.project.four_blocks .resize .cmsms_media_box, 
	.project.three_blocks .resize .cmsms_media_box, 
	.project.two_blocks .resize .cmsms_media_box, 
	.post_type_shortcode.four_blocks article, 
	.post_type_shortcode.three_blocks article, 
	.post_type_shortcode.two_blocks article, 
	.cms_archive > li, 
	.sitemap_category > li, 
	.sitemap > li > ul > li {
		width:100%;
		float:none;
		padding-right:0;
	}
	
}

