/*
 * Skin for jPlayer Plugin (jQuery JavaScript Library)
 * http://www.jplayer.org
 *
 * Author: CMSMasters
 * Skin Version: 1.0 (jPlayer 2.9.2)
 * Date: 3rd July 2015
 */


.cmsms-jplayer {
	background-color:#111111;
	color:#ffffff;
	font-family:'Inconsolata', 'Courier New', Courier, 'Nimbus Mono L', monospace;
	font-size:15px;
	line-height:25px;
	position:relative;
}

.cmsms-jplayer:after {
	content:'.';
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
	overflow:hidden;
}

.cmsms-jplayer.cmsms-jplayer-full {
	background-color:rgba(28, 28, 28, .8);
}

.cmsms-jplayer button::-moz-focus-inner {
	border:0;
}

.cmsms-jplayer .jp-jplayer-wrap {
	position:relative;
	max-width:1160px;
	margin:0 auto;
}

.cmsms-jplayer .jp-jplayer-container {
	background-color:#111111;
}

.cmsms-jplayer.cmsms-jplayer-full .jp-jplayer-container {
	background:none;
}

.cmsms-jplayer .jp-jplayer {
	width:60px;
	height:60px;
	float:left;
	margin:15px;
}

.cmsms-jplayer .jp-jplayer img {
	background-color:#000000;
	width:60px;
	height:60px;
}

.cmsms-jplayer .jp-jplayer audio {
	width:0;
	height:0;
}

.cmsms-jplayer .jp-buy-button-list {
	display:none;
	float:right;
	padding:30px 15px 0 0;
}

.cmsms-jplayer.cmsms-jplayer-full .jp-buy-button-list {
	display:block;
	position:relative;
	overflow:hidden;
}

.cmsms-jplayer .jp-buy-button-list a {
	color:#ffffff;
	font-size:20px;
	text-decoration:none;
	display:none;
	float:left;
	margin-left:10px;
}

.cmsms-jplayer .jp-buy-button-list a:before {
	line-height:30px;
	text-align:right;
}

.cmsms-jplayer .jp-buy-button-list a:hover {
	color:#00e5cd;
}

.cmsms-jplayer .jp-buy-button-list a[href] {
	display:block;
}

.cmsms-jplayer .jp-buy-button-list a[href]:first-child {
	margin-left:15px;
}

.cmsms-jplayer .jp-interface {
	height:90px;
	padding:0 15px 0 0;
	position:relative;
	overflow:hidden;
}

.cmsms-jplayer.cmsms-jplayer-full .jp-interface {
	padding:0 15px;
}

.cmsms-jplayer .jp-interface-top,
.cmsms-jplayer .jp-interface-bot {
	position:relative;
	overflow:hidden;
}

.cmsms-jplayer .jp-interface-top {
	height:23px;
	padding:16px 0 4px;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}

.cmsms-jplayer .jp-interface-bot {
	height:27px;
	padding:4px 0 13px;
}

.cmsms-jplayer .jp-details {
	float:left;
	cursor:default;
}

.cmsms-jplayer span.jp-artist {
	font-weight:bold;
	margin-right:5px;
}

.cmsms-jplayer span.jp-artist:empty {
	margin-right:0;
}

.cmsms-jplayer .jp-toggles {
	float:right;
	position:relative;
	overflow:hidden;
}

.cmsms-jplayer button {
	border:0;
	background:none;
	color:#ffffff;
	background-color:transparent;
	font-size:0;
	display:block;
	width:25px;
	height:25px;
	padding:0;
	margin:0;
	cursor:pointer;
}

.cmsms-jplayer button:before {
	line-height:25px;
	margin:0;
}

.cmsms-jplayer button:hover {
	color:#00e5cd;
	background-color:transparent;
}

.cmsms-jplayer .jp-toggles button {
	text-align:right;
	float:left;
	position:relative;
}

.cmsms-jplayer .jp-toggles button:before {
	font-size:14px;
	line-height:1em;
	width:1em;
	height:1em;
	margin:auto !important;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
}

.cmsms-jplayer.jp-state-looped .jp-toggles .jp-repeat,
.cmsms-jplayer.jp-state-shuffled .jp-toggles .jp-shuffle {
	color:#00e5cd;
}

.cmsms-jplayer .jp-toggles .jp-playlist {
	display:none;
}

.cmsms-jplayer.cmsms-jplayer-full .jp-toggles .jp-playlist {
	display:block;
}

.cmsms-jplayer .jp-toggles .jp-playlist.jp-playlist-open {
	color:#00e5cd;
}

.cmsms-jplayer .jp-progress {
	background-color:#333333;
	height:3px;
	overflow:hidden;
}

.jp-seek-bar {
	background-color:#ffffff;
	width:0;
	height:100%;
	cursor:pointer;
}

.cmsms-jplayer .jp-play-bar {
	background-color:#00e5cd;
	width:0;
	height:100%;
}

.cmsms-jplayer .jp-seeking-bg {
	background-color:#ffffff;
    -webkit-animation-name:jp-seeking-bg;
	animation-name:jp-seeking-bg;
    -webkit-animation-duration:1s;
	animation-duration:1s;
}

.cmsms-jplayer .jp-controls-holder {
	width:100%;
	margin:0 auto;
	position:relative;
	overflow:hidden;
	top:-8px;
	clear:both;
}

.cmsms-jplayer .jp-controls {
	float:left;
	position:relative;
	overflow:hidden;
}

.cmsms-jplayer .jp-controls button {
	text-align:left;
	float:left;
	overflow:hidden;
	position:relative;
}

.cmsms-jplayer .jp-controls button:before {
	font-size:18px;
	line-height:1em;
	width:1em;
	height:1em;
	margin:auto !important;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
}

.cmsms-jplayer .jp-state-playing .jp-play:before {
	content:'g';
}

.cmsms-jplayer .jp-time-holder {
	font-size:12px;
	float:right;
	position:relative;
	overflow:hidden;
}

.cmsms-jplayer  .jp-time-holder span {
	display:block;
	float:left;
}

.cmsms-jplayer .jp-playlist.cmsms-playlist {
	background-color:#1c1c1c;
	border-bottom:15px solid #111111;
	margin:0 auto;
	overflow-x:hidden;
	overflow-y:auto;
}

.cmsms-jplayer.cmsms-jplayer-full .cmsms-playlist {
	display:none;
	width:500px;
	max-width:100%;
	max-height:315px;
}

.cmsms-jplayer.cmsms-jplayer-full .cmsms-playlist.cmsms-playlist-open {
	display:block;
	z-index:99999;
	position:absolute;
	right:0;
}

.cmsms-jplayer .jp-playlist ul {
	list-style:none;
	font-size:14px;
	line-height:29px;
	padding:15px 20px 0;
	margin:0;
}

.cmsms-jplayer .jp-playlist li {
	padding:0;
	border-top:1px solid #000000;
}

.cmsms-jplayer .jp-playlist li:first-child {
	border-top:0;
}

.cmsms-jplayer .jp-playlist li:before {
	content:none;
}

.cmsms-jplayer .jp-playlist a {
	font-size:14px;
	line-height:29px;
	color:#ffffff;
	text-decoration:none;
}

.cmsms-jplayer .jp-playlist a.jp-playlist-item {
	position:relative;
}

.cmsms-jplayer .jp-playlist a.jp-playlist-item:before {
	font-size:14px;
	width:1em;
	height:1em;
	margin:auto !important;
	position:absolute;
	left:0;
	right:auto;
	top:2px;
	bottom:0;
}

.cmsms-jplayer .jp-playlist a:hover,
.cmsms-jplayer .jp-playlist a.jp-playlist-current {
	color:#00e5cd;
}

.cmsms-jplayer .jp-playlist li div {
	overflow:hidden;
}

.cmsms-jplayer .jp-playlist span.jp-free-media,
.cmsms-jplayer .jp-playlist span.jp-buy-media {
	display:inline-block;
	float:right;
}

.cmsms-jplayer .jp-playlist span.jp-free-media + span.jp-buy-media {
	margin-right:20px;
}

.cmsms-jplayer .jp-playlist span.jp-free-media,
.cmsms-jplayer .jp-playlist span.jp-free-media a {
	font-size:12px;
}

.cmsms-jplayer .jp-playlist span.jp-buy-media a {
	margin-left:5px;
}

.cmsms-jplayer .jp-playlist span.jp-buy-media a:before {
	line-height:30px;
	display:inline-block;
	vertical-align:middle;
	position:relative;
}

.cmsms-jplayer .jp-playlist span.jp-buy-media a.cmsms-player-amazon:before {
	top:1px;
}

.cmsms-jplayer .jp-no-solution {
	text-align:center;
	padding:20px;
	margin:0 auto;
}

.cmsms-jplayer .jp-no-solution span {
	display:block;
	font-weight:bold;
	text-align:center;
}

@-webkit-keyframes jp-seeking-bg {
	from {
		background-color:#ffffff;
	}
	to {
		background-color:#333333;
	}
}

@keyframes jp-seeking-bg {
	from {
		background-color:#ffffff;
	}
	to {
		background-color:#333333;
	}
}

