/**
 * @package 	WordPress
 * @subpackage 	Music Band
 * @version 	1.0.0
 * 
 * High Resolution (Retina) Displays CSS Rules
 * Created by CMSMasters
 * 
 */


@media only screen and (-Webkit-min-device-pixel-ratio: 1.5), 
	only screen and (-moz-min-device-pixel-ratio: 1.5), 
	only screen and (-o-min-device-pixel-ratio: 3/2), 
	only screen and (min-device-pixel-ratio: 1.5) {
	
	.footer_inner .logo > img,
	.header_mid_inner .logo img {
		display:none;
	}
	
	.footer_inner .logo > .footer_logo_retina,
	.header_mid_inner .logo .logo_retina {
		display:inline-block;
	}
	
}

