/**
 * @package 	WordPress
 * @subpackage 	Music Band
 * @version 	1.0.0
 * 
 * Theme RTL Rules
 * Created by CMSMasters
 * 
 */


body {
	unicode-bidi: embed;
	direction: rtl;
}

ul ul,
ol ul,
ul ol,
ol ol {
	margin-left: 0;
	margin-right: 20px;
}

ul {
	padding-right: 15px;
}

ul li:before {
	content: '\e9db';
	font-size: 18px;
	text-align: center;
	left: auto;
	right: -18px;
}

blockquote {
	padding-right: 30px;
}

table caption {
	text-align: center;
}

.bypostauthor > .comment-body .alignleft:before {
	text-align: center;
	left: auto;
	right: -10px;
}

body {
	text-align: right;
}

div {
	text-align: right;
}

.cmsms_table tr td.cmsms_table_cell_aligncenter,
.cmsms_table tr th.cmsms_table_cell_aligncenter {
	text-align: center;
}

.cmsms_table tr td.cmsms_table_cell_alignleft,
.cmsms_table tr th.cmsms_table_cell_alignleft {
	text-align: right;
}

.cmsms_table tr td.cmsms_table_cell_alignright,
.cmsms_table tr th.cmsms_table_cell_alignright {
	text-align: left;
}

.cmsms_table thead tr th {
	padding-left: 15px;
	padding-right: 30px;
}

.cmsms_table thead tr th:first-child {
	border-left-width: 0;
	border-right-width: 2px;
	border-right-style: solid;
}

.cmsms_table thead tr th:last-child {
	border-right-width: 0;
	border-left-width: 2px;
	border-left-style: solid;
}

.cmsms_table tbody tr td {
	padding-left: 15px;
	padding-right: 30px;
}

.cmsms_table tbody tr td:first-child {
	border-left-width: 0;
	border-right-width: 2px;
	border-right-style: solid;
}

.cmsms_table tbody tr td:last-child {
	border-right-width: 0;
	border-left-width: 2px;
	border-left-style: solid;
}

.cmsms_table tfoot tr td {
	padding-left: 15px;
	padding-right: 30px;
}

.cmsms_table tfoot tr td:first-child {
	border-left-width: 0;
	border-right-width: 2px;
	border-right-style: solid;
}

.cmsms_table tfoot tr td:last-child {
	border-right-width: 0;
	border-left-width: 2px;
	border-left-style: solid;
}

.preloader {
	text-align: center;
}

.preloader .full-width {
	left: auto;
	right: 0;
}

.preloader.highImg .full-width {
	left: auto;
	right: auto;
}

.resizable_block .full-width {
	left: auto;
	right: 0;
}

.cmsms_img_wrap .img_placeholder {
	left: auto;
	right: 0;
}

.cmsms_img_wrap .img_placeholder:before {
	left: 0;
	right: 0;
}

.cmsms_img_rollover_wrap .img_placeholder {
	left: auto;
	right: 0;
}

.cmsms_img_rollover_wrap .img_placeholder:before {
	left: 0;
	right: 0;
}

.cmsms_img_rollover_wrap .cmsms_img_rollover {
	left: auto;
	right: 0;
}

.cmsms_img_rollover_wrap .cmsms_img_rollover .cmsms_open_link {
	left: 0;
	right: 0;
}

.cmsms_video_wrap > div {
	left: auto;
	right: 0;
}

.cmsms_video_wrap iframe {
	left: auto;
	right: 0;
}

.cmsms_video_wrap .wp-video-shortcode,
.cmsms_video_wrap .mejs-layer {
	left: auto;
	right: 0;
}

.one_first,
.one_half,
.one_third,
.two_third,
.one_fourth,
.three_fourth,
.one_fifth,
.one_sixth {
	float: right;
}

.one_first {
	float: none;
}

.meta_wrap > div[class^="cmsms-icon-"]:before,
.meta_wrap > p[class^="cmsms-icon-"]:before,
.meta_wrap > span[class^="cmsms-icon-"]:before,
.meta_wrap > abbr[class^="cmsms-icon-"]:before,
.meta_wrap > strong[class^="cmsms-icon-"]:before,
.meta_wrap > div[class*=" cmsms-icon-"]:before,
.meta_wrap > p[class*=" cmsms-icon-"]:before,
.meta_wrap > span[class*=" cmsms-icon-"]:before,
.meta_wrap > abbr[class*=" cmsms-icon-"]:before,
.meta_wrap > strong[class*=" cmsms-icon-"]:before,
.meta_wrap > div[class^="cmsms_theme_icon_"]:before,
.meta_wrap > p[class^="cmsms_theme_icon_"]:before,
.meta_wrap > span[class^="cmsms_theme_icon_"]:before,
.meta_wrap > abbr[class^="cmsms_theme_icon_"]:before,
.meta_wrap > strong[class^="cmsms_theme_icon_"]:before,
.meta_wrap > div[class*=" cmsms_theme_icon_"]:before,
.meta_wrap > p[class*=" cmsms_theme_icon_"]:before,
.meta_wrap > span[class*=" cmsms_theme_icon_"]:before,
.meta_wrap > abbr[class*=" cmsms_theme_icon_"]:before,
.meta_wrap > strong[class*=" cmsms_theme_icon_"]:before {
	margin-left: 0.5em;
	margin-right: 0;
}

nav > div > ul ul {
	left: auto;
	right: 0;
}

nav > div > ul ul ul {
	left: auto;
	right: 100%;
}

#header nav > div > ul > li.menu-item-dropdown-right > ul {
	left: 0;
	right: auto;
}

#header nav > div > ul > li.menu-item-dropdown-right > ul ul {
	left: 100%;
	right: auto;
}

#header nav > div > ul > li > ul li.menu-item-has-children > a {
	padding-left:10px;
	padding-right:25px;
}

#header nav > div > ul > li > ul li.menu-item-has-children > a:after {
	content: '\e9db';
	text-align: center;
	left: auto;
	right: 0;
}

#header nav > div > ul ul ul {
	margin-left: 0;
	margin-right: 20px;
}

#header nav > div > ul > li.menu-item-dropdown-right ul ul {
	margin-left: 20px;
	margin-right: 0;
}

#header nav > div > ul > li.menu-item-mega.menu-item-dropdown-right > div.menu-item-mega-container {
	left: 0;
	right: auto;
}

#header nav > div > ul > li.menu-item-mega.menu-item-dropdown-right > div.menu-item-mega-container ul {
	right: auto;
	left: auto;
}

#header nav > div > ul > li.menu-item-mega ul {
	left: auto;
	right: auto;
}

#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container {
	left: auto;
	right: 0;
}

#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container li.menu-item-has-children ul > li.current-menu-ancestor > a {
	padding-right: 0;
}

#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > a {
	padding-right: 0;
}

#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li.current-menu-ancestor > a,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li:hover > a,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li > a {
	padding-right: 0;
}

.cmsms_row .cmsms_row_overlay {
	left: auto;
	right: 0;
}

#header .header_top_inner .header_top_right {
	float: left;
}

#header .header_mid_inner .logo_wrap {
	float: right;
}

#header .header_mid_inner .logo_wrap .title_text {
	padding-left: 0;
	padding-right: 3px;
}

.bottom_inner aside {
	float: right;
}

.cmsms_prev_arrow:before,
.cmsms_next_arrow:before {
	text-align: center;
}

.cmsms_divider.cmsms_divider_width_short.cmsms_divider_pos_center {
	left: auto;
	right: 40%;
}

.cmsms_divider.cmsms_divider_width_short.cmsms_divider_pos_right {
	left: auto;
	right: 80%;
}

.cmsms_divider.cmsms_divider_width_medium.cmsms_divider_pos_center {
	left: auto;
	right: 30%;
}

.cmsms_divider.cmsms_divider_width_medium.cmsms_divider_pos_right {
	left: auto;
	right: 60%;
}

.cmsms_heading_wrap.cmsms_heading_divider_short .cmsms_heading_divider_left {
	margin-left: 0;
	margin-right: -10%;
}

.cmsms_heading_wrap.cmsms_heading_divider_medium .cmsms_heading_divider_left {
	margin-left: 0;
	margin-right: -20%;
}

.cmsms_heading_wrap.cmsms_heading_divider_long .cmsms_heading_divider_left {
	margin-left: 0;
	margin-right: -100%;
}

.cmsms_heading_wrap .cmsms_heading:before,
.cmsms_heading_wrap .cmsms_heading a:before {
	margin-left: 0.5em;
	margin-right: 0;
}

.cmsms_notice[class*=" cmsms-icon-"],
.cmsms_notice[class*=" cmsms_theme_icon_"] {
	padding-right: 80px;
}

.cmsms_notice:before {
	left: auto;
	right: 25px;
}

.cmsms_tabs .cmsms_tabs_list .cmsms_tabs_list_item {
	float: right;
}

.cmsms_tabs.tabs_mode_tour .cmsms_tabs_list {
	float: right;
}

.cmsms_tabs.tabs_mode_tour .cmsms_tabs_list .cmsms_tabs_list_item {
	float: none;
}

.cmsms_tabs.tabs_mode_tour .cmsms_tabs_wrap {
	float: left;
}

.cmsms_tabs.tabs_mode_tour.tabs_pos_right .cmsms_tabs_list {
	float: left;
}

.cmsms_tabs.tabs_mode_tour.tabs_pos_right .cmsms_tabs_wrap {
	float: right;
}

.cmsms_stats {
	text-align: center;
}

.cmsms_stats.stats_mode_circles .cmsms_stat_wrap {
	float: none;
	text-align: center;
}

.cmsms_stats.stats_mode_circles .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner {
	text-align: center;
}

.cmsms_stats.stats_mode_circles .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner .cmsms_stat_title,
.cmsms_stats.stats_mode_circles .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner .cmsms_stat_counter_wrap {
	text-align: center;
}

.cmsms_stats.stats_mode_circles .cmsms_stat_wrap .cmsms_stat_subtitle {
	text-align: center;
}

.cmsms_counters {
	text-align: center;
}

.cmsms_counters .cmsms_counter_wrap {
	float: none;
	text-align: center;
}

.cmsms_counters.counters_type_vertical .cmsms_counter_wrap .cmsms_counter {
	text-align: center;
}

.cmsms_counters.counters_type_vertical .cmsms_counter_wrap .cmsms_counter .cmsms_counter_inner {
	text-align: center;
}

.cmsms_counters.counters_type_vertical .cmsms_counter_wrap .cmsms_counter_subtitle {
	text-align: center;
}

.widget ul {
	padding-right: 0;
}

#slide_top {
	text-align: center;
	right: auto;
	left: 20px;
}

.cmsms_hover_slider .cmsms_hover_slider_items > li {
	left: auto;
	right: 0;
}

.owl-carousel {
	direction: ltr;
}

.owl-carousel .owl-item > div {
	direction: rtl;
}

#navigation ul li > a[data-tag]:before {
	float: none;
	margin-right: 1em;
}

#navigation ul li > a[data-tag] > span {
	float: right;
}

#navigation li.menu-item-icon > a span[class^="cmsms-icon-"]:before {
	margin-left: .5em;
	margin-right: 0;
}

#navigation > li > a[data-tag]:before {
	margin-right: 0.6em;
	float: left;
}

#navigation > li > a > span > img {
	margin-left: 5px;
}

#navigation > li.menu-item-hide-text > a > span:before {
	margin-left: 0;
}

#navigation > li:hover > a > span.nav_bg_clr {
	left: auto;
	right: 0;
}

#navigation > li.current-menu-item:hover > a > span.nav_bg_clr,
#navigation > li.current-menu-ancestor:hover > a > span.nav_bg_clr {
	left: auto;
	right: 0;
}

#navigation > li.menu-item-mega ul li:hover > a,
#navigation > li.menu-item-mega ul li.current-menu-item > a,
#navigation > li.menu-item-mega ul li.current-menu-ancestor > a {
	padding-right: 10px;
}

#navigation > li.menu-item-mega > div.menu-item-mega-container > ul:after {
	margin-right: -20px;
	left: auto;
	right: 0;
}

#navigation > li.menu-item-mega > div.menu-item-mega-container ul li.menu-item-hide-text > a {
	text-align: center;
}

#navigation > li.menu-item-mega > div.menu-item-mega-container ul li.menu-item-hide-text > a > span:before {
	margin-left: 0;
}

.header_top_inner nav > div > ul > li > a > span.cmsms_count {
	margin-right: 7px;
}

.header_top_inner nav > div > ul > li > a img {
	margin-left: 5px;
}

.header_top_inner nav > div > ul > li ul li.menu-item-has-children > a {
	padding-left: 25px;
	padding-right: 10px;
}

.header_top_inner nav > div > ul > li ul li.menu-item-has-children > a:after {
	right: auto;
	left: 7px;
}

.header_top_inner .meta_wrap > * {
	margin-left: 0;
	margin-right: 30px;
}

.header_top_inner .social_wrap ul li {
	padding-left: 0;
	padding-right: 6px;
}

.header_mid_inner .search_wrap {
	float: left;
}

.header_mid_inner .search_wrap .search_bar_wrap form {
	direction:ltr;
}

.header_mid_inner .search_wrap .search_bar_wrap form p.search_field input[type=search] {
	float: left;
}

.header_mid_inner .search_wrap .search_bar_wrap form p.search_button button {
	float: left;
}

.header_mid_inner .search_wrap .search_bar_wrap form p.search_button button.cmsms_search_cancel:before,
.header_mid_inner .search_wrap .search_bar_wrap form p.search_button button.cmsms_search_cancel:after {
	left: 0;
	right: 0;
}

.header_mid_inner .search_wrap.search_opened {
	left: auto;
	right: 0;
}

.header_mid_inner .search_wrap.search_opened .search_wrap_inner .search_bar_wrap p.search_button button {
	left: 0;
	right: auto;
}

.header_mid_inner .resp_nav_wrap,
.header_mid_inner .slogan_wrap,
.header_mid_inner .social_wrap {
	float: left;
}

.header_mid_inner .resp_nav_wrap.resp_nav_closed,
.header_mid_inner .slogan_wrap.resp_nav_closed,
.header_mid_inner .social_wrap.resp_nav_closed,
.header_mid_inner .resp_nav_wrap.slogan_closed,
.header_mid_inner .slogan_wrap.slogan_closed,
.header_mid_inner .social_wrap.slogan_closed,
.header_mid_inner .resp_nav_wrap.social_closed,
.header_mid_inner .slogan_wrap.social_closed,
.header_mid_inner .social_wrap.social_closed {
	margin-left: 0;
}

.header_mid_inner .slogan_wrap {
	margin-right: 20px;
}

.header_mid_inner .social_wrap {
	margin-right: 20px;
}

.header_mid_inner .social_wrap ul li {
	padding-right: 10px;
}

.header_mid_inner nav {
	float: left;
}

.header_mid_inner #navigation > li {
	float: none;
}

.header_mid_inner #navigation > li > a:after {
	left: 0;
	right: 0;
}

.header_mid_inner #navigation > li > a > span.nav_bg_clr {
	left: auto;
	right: 0;
}

.header_mid_inner #navigation > li:hover > a > span.nav_bg_clr {
	left: auto;
	right: 0;
}

.header_mid_inner #navigation > li.menu-item-highlight > a > span.nav_bg_clr,
.header_mid_inner #navigation > li.current-menu-item:hover > a > span.nav_bg_clr,
.header_mid_inner #navigation > li.current-menu-ancestor:hover > a > span.nav_bg_clr {
	left: auto;
	right: 0;
}

.header_mid_inner #navigation > li > .sub-menu,
.header_mid_inner #navigation > li > div.menu-item-mega-container {
	left: auto;
	right: auto;
}

.header_mid_inner .logo img {
	left: auto;
	right: 0;
}

.header_bot_inner #navigation > li > a:after {
	left: 0;
	right: 0;
}

.header_bot_inner #navigation > li > a > span.nav_bg_clr {
	left: auto;
	right: 0;
}

.header_bot_inner #navigation > li:hover > a > span.nav_bg_clr {
	left: auto;
	right: 0;
}

.header_bot_inner #navigation > li:hover > a > span.nav_bg_clr,
.header_bot_inner #navigation > li.current-menu-item > a > span.nav_bg_clr,
.header_bot_inner #navigation > li.current-menu-ancestor > a > span.nav_bg_clr {
	left: auto;
	right: 0;
}

.header_bot_inner #navigation > li > .sub-menu,
.header_bot_inner #navigation > li > div.menu-item-mega-container {
	left: auto;
	right: auto;
}

.enable_header_centered .header_mid_inner,
.enable_header_centered .header_bot_inner {
	text-align: center;
}

.enable_header_centered .header_mid_inner > nav > div > ul ul,
.enable_header_centered .header_bot_inner > nav > div > ul ul {
	text-align: right;
}

.enable_header_centered #header .header_mid_outer .header_mid_inner .logo_wrap {
	float: none;
}

.search_bar_wrap form p.search_field input[type=search] {
	direction: ltr;
}


/*-------------------------------------------------------------------------*/
/*	4.	Content + Sidebar Styles	*/
/*-------------------------------------------------------------------------*/

.headline_outer .headline_color {
	left: auto;
	right: 0;
}

.headline_outer .headline_inner .headline_text:before {
	left: 0;
	right: 0;
}

.headline_outer .headline_inner .headline_text .cmsms_breadcrumbs .cmsms_breadcrumbs_inner .breadcrumbs_sep > span {
	left: 0;
	right: 0;
}

.headline_outer .headline_inner .headline_text .cmsms_breadcrumbs .cmsms_breadcrumbs_inner .breadcrumbs_sep > span:before,
.headline_outer .headline_inner .headline_text .cmsms_breadcrumbs .cmsms_breadcrumbs_inner .breadcrumbs_sep > span:after {
	left: auto;
	right: 0;
}

.error .error_wrap .error_inner {
	text-align: left;
}

.error .error_wrap .error_inner .error_subtitle {
	text-align: left;
	float: left;
}

.error .error_wrap .error_inner .error_search_button_wrap {
	text-align: left;
}


/*-------------------------------------------------------------------------*/
/*	5.	Bottom + Footer Styles	*/
/*-------------------------------------------------------------------------*/
.bottom_inner .widget .widgettitle:before {
	left: auto;
	right: 0;
}

.footer_inner {
	text-align: center;
}

.footer_inner nav > div {
	text-align: center;
}

.footer_inner nav > div > ul > li:last-child {
	padding-left: 0;
}

.footer_inner .social_wrap .social_wrap_inner {
	text-align: center;
}

.footer_inner .social_wrap .social_wrap_inner ul li {
	padding-right: 10px;
}

.footer_inner .social_wrap .social_wrap_inner ul li:first-child {
	padding-right: 0;
}

.footer_inner .footer_custom_html {
	text-align: center;
}

.cmsms_footer_small .footer_inner {
	text-align: right;
}

.cmsms_footer_small .footer_inner nav {
	float: left;
}

.cmsms_footer_small .footer_inner .social_wrap {
	float: left;
}

.cmsms_footer_small .footer_inner .social_wrap .social_wrap_inner {
	text-align: right;
}

.cmsms_footer_small .footer_inner .footer_custom_html {
	float: left;
	text-align: right;
}


/*-------------------------------------------------------------------------*/
/*	6.	Blog (Default, Masonry, Timeline) + Post Styles	*/
/*-------------------------------------------------------------------------*/
.cmsms_post_read_more,
.button,
input[type=submit],
input[type=button],
button {
	text-align: center;
}

.cmsmsView > span {
	margin-right: 2px;
}

.cmsms_post_filter_wrap .cmsms_post_filter .cmsms_post_filter_block .cmsms_post_filter_but {
	padding-left: 40px;
	padding-right: 20px;
	float: left;
}

.cmsms_post_filter_wrap .cmsms_post_filter .cmsms_post_filter_block .cmsms_post_filter_but:before {
	left: 15px;
	right: auto;
}

.cmsms_post_filter_wrap .cmsms_post_filter .cmsms_post_filter_block .cmsms_post_filter_list {
	padding-left: 20px;
	padding-right: 0;
	text-align: left;
}

.cmsms_post_filter_wrap .cmsms_post_filter .cmsms_post_filter_block .cmsms_post_filter_list li {
	padding-left: 0;
	padding-right: 5px;
}

.cmsms_post_filter_wrap .cmsms_post_filter .cmsms_post_filter_block .cmsms_post_filter_list li:first-child {
	padding-right: 0;
}

.cmsms_post_filter_wrap .cmsms_post_filter .cmsms_post_filter_block .cmsms_post_filter_but.current + .cmsms_post_filter_list > li {
	padding-left: 0;
	padding-right: 5px;
}

.cmsms_wrap_post_loader {
	text-align: center;
}

.cmsms_wrap_pagination {
	text-align: center;
}

.cmsms_wrap_pagination ul {
	text-align: center;
}

.cmsms_wrap_pagination ul li {
	padding-left: 0;
	padding-right: 4px;
}

.cmsms_wrap_pagination ul li:first-child {
	padding-right: 0;
}

.cmsms_wrap_pagination ul li .next.page-numbers {
	padding-right: 5px;
}

.blog.timeline:before {
	border-right-width: 1px;
	border-right-style: dashed;
	left: 0;
	right: 0;
}

.content_wrap.r_sidebar .post.cmsms_default_type,
.content_wrap.r_sidebar .tribe_events.cmsms_default_type {
	padding-left: 50px;
}

.content_wrap.l_sidebar .post.cmsms_default_type,
.content_wrap.l_sidebar .tribe_events.cmsms_default_type {
	padding-right: 50px;
}

.blog.columns .post,
.blog.columns .tribe_events,
.blog.timeline .post,
.blog.timeline .tribe_events {
	float: right;
}

.blog.timeline .post .cmsms_post_info .cmsms_post_date .published .cmsms_year,
.blog.timeline .tribe_events .cmsms_post_info .cmsms_post_date .published .cmsms_year,
.blog.timeline .post .cmsms_post_info .cmsms_post_date .published .cmsms_day_mon,
.blog.timeline .tribe_events .cmsms_post_info .cmsms_post_date .published .cmsms_day_mon {
	text-align: center;
}

.blog.timeline .post.cmsms_timeline_left,
.blog.timeline .tribe_events.cmsms_timeline_left {
	margin-right: -40px;
}

.blog.timeline .post.cmsms_timeline_right,
.blog.timeline .tribe_events.cmsms_timeline_right {
	margin-right: 40px;
}

.blog.timeline .post.cmsms_timeline_right.format-audio .cmsms_post_cont,
.blog.timeline .tribe_events.cmsms_timeline_right.format-audio .cmsms_post_cont,
.blog.timeline .post.cmsms_timeline_right.format-standard:not(.has-post-thumbnail) .cmsms_post_cont,
.blog.timeline .tribe_events.cmsms_timeline_right.format-standard:not(.has-post-thumbnail) .cmsms_post_cont {
	border-right-width: 1px;
	border-right-style: dashed;
	padding-right: 20px;
}

.blog.timeline .post.shortcode_animated,
.blog.timeline .tribe_events.shortcode_animated {
	margin-right: 0;
}

.blog.columns.puzzle .post figure,
.blog.columns.puzzle .tribe_events figure,
.blog.columns.puzzle .post .puzzle_post_content_wrapper,
.blog.columns.puzzle .tribe_events .puzzle_post_content_wrapper {
	left: auto;
	right: 0;
}

.blog.columns.puzzle .post .preloader:after,
.blog.columns.puzzle .tribe_events .preloader:after {
	left: auto;
	right: 0;
}

.blog.columns.puzzle .post .preloader > span[class^="cmsms_theme_icon_"],
.blog.columns.puzzle .tribe_events .preloader > span[class^="cmsms_theme_icon_"],
.blog.columns.puzzle .post .preloader > span[class*=" cmsms_theme_icon_"],
.blog.columns.puzzle .tribe_events .preloader > span[class*=" cmsms_theme_icon_"] {
	left: 0;
	right: 0;
}

.blog.columns.puzzle .post .puzzle_post_content_wrapper:before,
.blog.columns.puzzle .tribe_events .puzzle_post_content_wrapper:before {
	left: auto;
	right: 20px;
}

.blog.columns.puzzle .post .puzzle_post_content_wrapper .puzzle_post_content_wrap,
.blog.columns.puzzle .tribe_events .puzzle_post_content_wrapper .puzzle_post_content_wrap {
	left: auto;
	right: 0;
}

.blog.columns.puzzle .post .puzzle_post_content_wrapper .cmsms_post_cont_info > span,
.blog.columns.puzzle .tribe_events .puzzle_post_content_wrapper .cmsms_post_cont_info > span {
	margin-left: 0;
}

.blog.columns.puzzle .post .puzzle_post_content_wrapper .cmsms_post_cont_info .cmsmsView,
.blog.columns.puzzle .tribe_events .puzzle_post_content_wrapper .cmsms_post_cont_info .cmsmsView {
	float: left;
}

.blog.columns.puzzle .post .puzzle_post_content_wrapper .cmsms_post_cont_info .cmsmsView:before,
.blog.columns.puzzle .tribe_events .puzzle_post_content_wrapper .cmsms_post_cont_info .cmsmsView:before {
	float: left;
}

.blog.columns.puzzle .post .puzzle_post_content_wrapper .cmsms_post_cont_info .cmsmsView > span,
.blog.columns.puzzle .tribe_events .puzzle_post_content_wrapper .cmsms_post_cont_info .cmsmsView > span {
	margin-left: 5px;
	margin-right: 0;
}

.blog.columns.puzzle .post .puzzle_post_content_wrapper .cmsms_post_read_more,
.blog.columns.puzzle .tribe_events .puzzle_post_content_wrapper .cmsms_post_read_more {
	text-align: left;
}

.blog.columns.puzzle .post .puzzle_post_content_wrapper .cmsms_post_footer .cmsms_post_meta_info,
.blog.columns.puzzle .tribe_events .puzzle_post_content_wrapper .cmsms_post_footer .cmsms_post_meta_info {
	float: none;
	float: left;
}

.blog.columns.puzzle .post .puzzle_post_content_wrapper .cmsms_post_footer .cmsms_post_meta_info a,
.blog.columns.puzzle .tribe_events .puzzle_post_content_wrapper .cmsms_post_footer .cmsms_post_meta_info a {
	padding-left: 25px;
}

.blog.columns.puzzle .post .puzzle_post_content_wrapper .cmsms_post_footer .cmsms_post_meta_info a:before,
.blog.columns.puzzle .tribe_events .puzzle_post_content_wrapper .cmsms_post_footer .cmsms_post_meta_info a:before {
	left: 0;
	right: auto;
}

.post .cmsms_post_meta_info,
.tribe_events .cmsms_post_meta_info {
	text-align: left;
}

.blog.timeline .post .cmsms_post_meta_info,
.blog.timeline .tribe_events .cmsms_post_meta_info {
	text-align: right;
}

.post .cmsms_post_meta_info > .cmsms_post_date,
.tribe_events .cmsms_post_meta_info > .cmsms_post_date {
	float: right;
}

.post .cmsms_post_meta_info > a.cmsmsView + .cmsms_post_comments,
.tribe_events .cmsms_post_meta_info > a.cmsmsView + .cmsms_post_comments,
.post .cmsms_post_meta_info > span.cmsmsView + .cmsms_post_comments,
.tribe_events .cmsms_post_meta_info > span.cmsmsView + .cmsms_post_comments,
.post .cmsms_post_meta_info > a.cmsms_post_comments + .cmsmsLike,
.tribe_events .cmsms_post_meta_info > a.cmsms_post_comments + .cmsmsLike,
.post .cmsms_post_meta_info > span.cmsms_post_comments + .cmsmsLike,
.tribe_events .cmsms_post_meta_info > span.cmsms_post_comments + .cmsmsLike {
	margin-right: 15px;
	margin-left:0;
}

.post .cmsms_post_meta_info > a > span,
.tribe_events .cmsms_post_meta_info > a > span,
.post .cmsms_post_meta_info > span > span,
.tribe_events .cmsms_post_meta_info > span > span {
	margin-right: 2px;
}

.post .cmsms_post_cont_info > span,
.tribe_events .cmsms_post_cont_info > span {
	margin-left: 10px;
}

.blog.columns .post .cmsms_post_cont_info > span,
.blog.columns .tribe_events .cmsms_post_cont_info > span {
	margin-left: 20px;
}

.blog.timeline .post .cmsms_post_cont_info > span,
.blog.timeline .tribe_events .cmsms_post_cont_info > span {
	margin-left: 15px;
}

.blog.timeline .post .cmsms_post_cont .cmsms_post_footer .cmsms_post_read_more,
.blog.timeline .tribe_events .cmsms_post_cont .cmsms_post_footer .cmsms_post_read_more {
	float: left;
}

.post .cmsms_post_cont_wrap .cmsms_hover_slider,
.tribe_events .cmsms_post_cont_wrap .cmsms_hover_slider,
.post .cmsms_post_cont_wrap .cmsms_wrap_video,
.tribe_events .cmsms_post_cont_wrap .cmsms_wrap_video,
.post .cmsms_post_cont_wrap .cmsms_img_wrap,
.tribe_events .cmsms_post_cont_wrap .cmsms_img_wrap {
	float: right;
}

.post .cmsms_post_cont_wrap .cmsms_hover_slider + .cmsms_post_cont,
.tribe_events .cmsms_post_cont_wrap .cmsms_hover_slider + .cmsms_post_cont,
.post .cmsms_post_cont_wrap .cmsms_wrap_video + .cmsms_post_cont,
.tribe_events .cmsms_post_cont_wrap .cmsms_wrap_video + .cmsms_post_cont,
.post .cmsms_post_cont_wrap .cmsms_img_wrap + .cmsms_post_cont,
.tribe_events .cmsms_post_cont_wrap .cmsms_img_wrap + .cmsms_post_cont {
	padding-right: 40px;
	padding-left:0;
}

.post_nav > span {
	float: right;
}

.post_nav > span.cmsms_next_post:before,
.post_nav > span.cmsms_prev_post:before {
	left: auto;
	right: 0;
}

.post_nav > span.cmsms_next_post a,
.post_nav > span.cmsms_prev_post a {
	padding-left: 0;
	padding-right: 45px;
}

.post_nav > span.cmsms_next_post:before {
	left: 0;
	right: auto;
}

.post_nav > span.cmsms_next_post a {
	padding-left: 45px;
	padding-right: 0;
}

.post_nav > span.cmsms_next_post,
.post_nav > span.cmsms_next_post:before {
	float: left;
}

.share_posts .share_posts_inner > a {
	margin-left: 25px;
	margin-right: 0;
}

.share_posts .share_posts_inner > a:last-child {
	margin-left: 0;
}

.about_author .about_author_inner .alignleft {
	margin-left: 40px;
}

.cmsms_single_slider .cmsms_single_slider_inner > .cmsms_owl_slider > .cmsms_single_slider_item {
	float: right;
}

.cmsms_single_slider .preloader > span {
	left: 0;
	right: 0;
}

.cmsms_single_slider .owl-buttons {
	right: auto;
	left: 20px;
}

.post_comments .commentlist .comment-body .alignleft {
	margin-left: 30px;
	margin-right: 0;
	text-align: center;
}

.post_comments .commentlist .comment-body .comment-content .comment-edit-link {
	margin-right: 20px;
}

.post_comments .commentlist ul {
	padding-right: 30px;
}

.comment-respond .comment-reply-title small {
	float: left;
}

.comment-respond .comment-form > p input[type=text] {
	margin-left: 10px;
}


/*-------------------------------------------------------------------------*/
/*	7.	Portfolio (Grid, Puzzle) + Project Styles	*/
/*-------------------------------------------------------------------------*/

.cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_sort_block {
	float: left;
}

.cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_sort_block .cmsms_project_sort_but {
	margin-left: 0;
	margin-right: 5px;
	padding-left: 40px;
	padding-right: 20px;
}

.cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_sort_block .cmsms_project_sort_but:first-child {
	margin-right: 10px;
}

.cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_sort_block .cmsms_project_sort_but:before {
	left: 15px;
	right: auto;
}

.cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_filter_block .cmsms_project_filter_but {
	padding-left: 40px;
	padding-right: 20px;
	float: left;
}

.cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_filter_block .cmsms_project_filter_but:before {
	left: 15px;
	right: auto;
}

.cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_filter_block .cmsms_project_filter_but.current:before {
	content: '\eb20'; /* Check this rule! */
}

.cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_filter_block .cmsms_project_filter_list {
	padding-left: 20px;
	padding-right: 0;
	text-align: left;
}

.cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_filter_block .cmsms_project_filter_list li {
	padding-left: 0;
	padding-right: 5px;
}

.cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_filter_block .cmsms_project_filter_list li:first-child {
	padding-right: 0;
}

.cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_filter_block .cmsms_project_filter_but.current + .cmsms_project_filter_list > li {
	padding-left: 0;
	padding-right: 5px;
}

.cmsms_wrap_project_loader {
	text-align: center;
}

.portfolio .project {
	float: right;
}

.portfolio .project .project_outer .project_inner .cmsms_project_footer a {
	margin-right: 20px;
	margin-left:0;
}

.portfolio .project .project_outer .project_inner .cmsms_project_footer a:first-child {
	margin-right: 0;
}

.portfolio .project .project_outer .project_inner .cmsms_project_footer a.cmsmsLike,
.portfolio .project .project_outer .project_inner .cmsms_project_footer a.cmsms_post_comments {
	padding-right: 20px;
	padding-left:0;
}

.portfolio .project .project_outer .project_inner .cmsms_project_footer a.cmsmsLike:before,
.portfolio .project .project_outer .project_inner .cmsms_project_footer a.cmsms_post_comments:before {
	left: auto;
	right: 0;
}

.portfolio .project .project_outer .project_inner .cmsms_project_footer a.cmsmsLike > span,
.portfolio .project .project_outer .project_inner .cmsms_project_footer a.cmsms_post_comments > span {
	padding-left: 0;
	padding-right: 4px;
}

.portfolio.opened-article .project {
	float: none;
}

.portfolio.small_gap .project .project_outer {
	margin-left: 1px;
}

.portfolio.puzzle .project .project_outer .cmsms_project_footer .cmsms_post_comments,
.portfolio.puzzle .project .project_outer .cmsms_project_footer .cmsmsLike {
	left: 0;
	right: 0;
}

.portfolio.puzzle .project .project_outer .cmsms_project_footer .cmsms_post_comments {
	left: auto;
	right: -300px;
}

.portfolio.puzzle .project .project_outer .cmsms_project_footer .cmsmsLike {
	right: auto;
	left: -360px;
}

.portfolio.puzzle .project .project_outer .project_inner {
	left: auto;
	right: 0;
}

.portfolio.puzzle .project .project_outer:hover .cmsms_project_footer .cmsms_post_comments {
	left: 0;
	right: -90px;
}

.portfolio.puzzle .project .project_outer:hover .cmsms_project_footer .cmsmsLike {
	left: -140px;
	right: 0;
}

.portfolio.opened-article .project {
	float: none;
}

.portfolio.opened-article .project .cmsms_project_inner .project_sidebar .project_details .project_details_item > div {
	float: right;
}

.portfolio.opened-article .project .cmsms_project_inner .project_sidebar .project_details .project_details_item .project_details_item_desc {
	padding-right: 8px;
}

.portfolio.opened-article .project .cmsms_project_inner .project_sidebar .project_details .project_details_item .project_details_item_desc .cmsms_post_comments > span,
.portfolio.opened-article .project .cmsms_project_inner .project_sidebar .project_details .project_details_item .project_details_item_desc .cmsmsLike > span {
	padding-left: 5px;
	float: right;
}

.portfolio.opened-article .project .cmsms_project_inner .project_sidebar .project_features .project_features_item > div {
	float: right;
}

.portfolio.opened-article .project .cmsms_project_inner .project_sidebar .project_features .project_features_item .project_features_item_desc {
	padding-right: 8px;
}

.portfolio.opened-article .project .cmsms_project_inner .project_sidebar .share_posts .share_posts_item {
	float: right;
}

.portfolio.opened-article .project .cmsms_project_img_wrap + .cmsms_project_inner {
	padding-right: 20px;
	float: right;
}

.portfolio.opened-article .project .cmsms_project_img_wrap {
	padding-left: 20px;
	padding-right: 0;
	float: right;
}

.portfolio.opened-article .project.format-gallery .project_gallery_row .cmsms_img_rollover_wrap .cmsms_img_rollover .cmsms_image_link > span:before {
	left: 0;
	right: 0;
}


/*-------------------------------------------------------------------------*/
/*	8.	Profiles + Profile Styles	*/
/*-------------------------------------------------------------------------*/

.cmsms_profile.vertical .profile .pl_img figure a:after,
.cmsms_profile.vertical .profile .pl_img .pl_noimg:after {
	left: auto;
	right: 0;
}

.cmsms_profile.vertical .profile .pl_img .pl_noimg:before {
	left: 0;
	right: 0;
}

.cmsms_profile.vertical .profile .pl_content {
	padding-left: 0;
	padding-right: 20px;
}

.cmsms_profile.horizontal .profile .profile_inner .pl_cont_wrap .pl_img:before {
	left: auto;
	right: 0;
}

.cmsms_profile.horizontal .profile .profile_inner .pl_cont_wrap .pl_img figure {
	text-align: center;
}

.cmsms_profile.horizontal .profile .profile_inner .pl_cont_wrap .pl_img figure a:after {
	left: auto;
	right: 0;
}

.cmsms_profile.horizontal .profile .profile_inner .pl_cont_wrap .pl_content {
	left: auto;
	right: 0;
	text-align: center;
}

.cmsms_profile.horizontal .profile .profile_inner .pl_cont_wrap .pl_content .pl_content_inner .pl_social .pl_social_list {
	text-align: center;
}

.cmsms_profile.horizontal .profile .profile_inner .pl_cont_wrap .pl_content .pl_content_inner .entry-content {
	text-align: center;
}

.profiles.opened-article .profile .pl_img {
	float: left;
}

.profiles.opened-article .profile .pl_img figure {
	text-align: center;
}

.profiles.opened-article .profile .cmsms_profile_inner .profile_sidebar .profile_details .profile_details_item > div {
	float: right;
}

.profiles.opened-article .profile .cmsms_profile_inner .profile_sidebar .profile_details .profile_details_item .profile_details_item_desc {
	padding-right: 8px;
}

.profiles.opened-article .profile .cmsms_profile_inner .profile_sidebar .profile_details .profile_details_item .cmsms_post_comments > span,
.profiles.opened-article .profile .cmsms_profile_inner .profile_sidebar .profile_details .profile_details_item .cmsmsLike > span {
	padding-left: 5px;
	float: right;
}

.profiles.opened-article .profile .cmsms_profile_inner .profile_sidebar .profile_features .profile_features_item > div {
	float: right;
}

.profiles.opened-article .profile .cmsms_profile_inner .profile_sidebar .profile_features .profile_features_item .profile_features_item_desc {
	padding-right: 8px;
}

.profiles.opened-article .profile .cmsms_profile_inner .profile_sidebar .profile_social_icons .profile_social_icons_list li {
	margin-left: 0;
	margin-right: 10px;
}

.profiles.opened-article .profile .cmsms_profile_inner .profile_sidebar .profile_social_icons .profile_social_icons_list li a:before {
	text-align: right;
	left: 0;
	right: 0;
}

.profiles.opened-article .profile .pl_img + .cmsms_profile_inner {
	padding-left: 40px;
	float: left;
}


/*-------------------------------------------------------------------------*/
/*	10.	Shortcodes Styles	*/
/*-------------------------------------------------------------------------*/

.cmsms_notice .notice_close {
	text-align: center;
	right: auto;
	left: 5px;
}

.cmsms_notice .notice_close:before {
	left: 0;
	right: 0;
}

.cmsms_icon_box.box_icon_type_image:before,
.cmsms_icon_box.box_icon_type_number:before {
	background-position: center center; /* Check this rule! */
}

.cmsms_icon_box.box_icon_type_image.cmsms_icon_heading_left .icon_box_heading:before,
.cmsms_icon_box.box_icon_type_number.cmsms_icon_heading_left .icon_box_heading:before {
	content: '\00a0'; /* Check this rule! */
	background-position: center center; /* Check this rule! */
	text-align: center;
}

.cmsms_icon_box.cmsms_icon_box_left:before {
	text-align: center;
}

.cmsms_icon_box.cmsms_icon_box_left_top:before {
	text-align: center;
}

.cmsms_icon_box.cmsms_icon_heading_left h1:before,
.cmsms_icon_box.cmsms_icon_heading_left h2:before,
.cmsms_icon_box.cmsms_icon_heading_left h3:before,
.cmsms_icon_box.cmsms_icon_heading_left h4:before,
.cmsms_icon_box.cmsms_icon_heading_left h5:before,
.cmsms_icon_box.cmsms_icon_heading_left h6:before {
	margin-left: 15px;
}

.cmsms_toggles .cmsms_toggles_filter .cmsms_toggles_filter_sep > span {
	left: 0;
	right: 0;
}

.cmsms_toggles .cmsms_toggles_filter .cmsms_toggles_filter_sep > span:before,
.cmsms_toggles .cmsms_toggles_filter .cmsms_toggles_filter_sep > span:after {
	left: auto;
	right: 0;
}

.cmsms_toggles .cmsms_toggle_wrap .cmsms_toggle_title .cmsms_toggle_plus {
	left: 0;
	right: auto;
}

.cmsms_toggles .cmsms_toggle_wrap .cmsms_toggle_title .cmsms_toggle_plus .cmsms_toggle_plus_hor,
.cmsms_toggles .cmsms_toggle_wrap .cmsms_toggle_title .cmsms_toggle_plus .cmsms_toggle_plus_vert {
	left: 0;
	right: 0;
}

.cmsms_toggles .cmsms_toggle_wrap .cmsms_toggle_title > a {
	padding-left: 45px;
	padding-right: 0;
}

.cmsms_toggles.toggles_mode_accordion .cmsms_toggle_title .cmsms_toggle_plus {
	right: auto;
	left: 15px;
}

.cmsms_toggles.toggles_mode_accordion .cmsms_toggle_title > a {
	padding-left: 45px;
	padding-right: 20px;
}

.cmsms_toggles.toggles_mode_accordion .cmsms_toggle_wrap .cmsms_toggle .cmsms_toggle_inner {
	padding-left: 0;
	padding-right: 20px;
}

.cmsms_tabs.tabs_mode_tour {
	direction: ltr;
}

.cmsms_tabs.tabs_mode_tour .cmsms_tabs_list {
	float: none;
}

.cmsms_tabs.tabs_mode_tour .cmsms_tabs_list .cmsms_tabs_list_item {
	text-align: left;
}

.cmsms_tabs.tabs_mode_tour .cmsms_tabs_wrap {
	float: none;
}

.cmsms_tabs.tabs_mode_tour .cmsms_tabs_wrap * {
	text-align: right;
}

.cmsms_tabs.tabs_mode_tour.tabs_pos_right .cmsms_tabs_list {
	float: right;
}

.cmsms_tabs.tabs_mode_tour.tabs_pos_right .cmsms_tabs_list .cmsms_tabs_list_item {
	text-align: right;
}

.cmsms_tabs.tabs_mode_tour.tabs_pos_right .cmsms_tabs_wrap * {
	text-align: left;
}

.cmsms_icon_list_items .cmsms_icon_list_item:before {
	left: auto;
	right: 50px;
}

.cmsms_icon_list_items .cmsms_icon_list_item .cmsms_icon_list_icon:after {
	left: auto;
	right: -1px;
}

.cmsms_icon_list_items.cmsms_icon_list_pos_right .cmsms_icon_list_item:before {
	left: 50px;
	right: auto;
}

.cmsms_icon_list_items.cmsms_icon_list_type_list {
	padding-right: 30px;
}

.cmsms_icon_list_items.cmsms_icon_list_type_list .cmsms_icon_list_item:before {
	left: auto;
	right: -32px;
}

.cmsms_icon_list_items.cmsms_icon_list_type_block .cmsms_icon_list_item.cmsms_icon_type_image .cmsms_icon_list_icon {
	background-position: center center; /* Check this rule! */
}

.cmsms_stats.stats_mode_bars .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner .cmsms_stat_title {
	left: auto;
	right: 15px;
}

.cmsms_stats.stats_mode_bars .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner .cmsms_stat_counter_wrap {
	left: 15px;
	right: auto;
}

.cmsms_stats.stats_mode_bars.stats_type_vertical .cmsms_stat_wrap .cmsms_stat {
	left: auto;
	right: 0;
}

.cmsms_stats.stats_mode_bars.stats_type_vertical .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner:before {
	left: auto;
	right: 15px;
}

.cmsms_stats.stats_mode_bars.stats_type_horizontal .cmsms_stat_wrap:after {
	left: auto;
	right: 0;
	background-position: NaN%; /* Check this rule! */
	background-image: linear-gradient(90deg, #ffffff 1px, rgba(255, 255, 255, 0) 1px); /* Check this rule and write correct image url, or remove this rule! */
	background-position: NaN%; /* Check this rule! */
	background-image: linear-gradient(90deg, #ffffff 1px, rgba(255, 255, 255, 0) 1px); /* Check this rule and write correct image url, or remove this rule! */
	background-position: NaN%; /* Check this rule! */
	background-image: linear-gradient(90deg, #ffffff 1px, rgba(255, 255, 255, 0) 1px); /* Check this rule and write correct image url, or remove this rule! */
	background-position: NaN%; /* Check this rule! */
	background-image: linear-gradient(90deg, #ffffff 1px, rgba(255, 255, 255, 0) 1px); /* Check this rule and write correct image url, or remove this rule! */
	background-position: NaN%; /* Check this rule! */
	background-image: linear-gradient(90deg, #ffffff 1px, rgba(255, 255, 255, 0) 1px); /* Check this rule and write correct image url, or remove this rule! */
}

.cmsms_stats.stats_mode_bars.stats_type_horizontal .cmsms_stat_wrap > .cmsms_stat_counter_wrap {
	right: auto;
	left: 0;
}

.cmsms_stats.stats_mode_bars.stats_type_horizontal .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner {
	left: auto;
	right: 0;
}

.cmsms_stats.stats_mode_bars.stats_type_horizontal .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner:before {
	left: auto;
	right: 0;
}

.cmsms_stats.stats_mode_bars.stats_type_horizontal .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner[class^="cmsms-icon-"] .cmsms_stat_title,
.cmsms_stats.stats_mode_bars.stats_type_horizontal .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner[class*=" cmsms-icon-"] .cmsms_stat_title,
.cmsms_stats.stats_mode_bars.stats_type_horizontal .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner[class^="cmsms_theme_icon_"] .cmsms_stat_title,
.cmsms_stats.stats_mode_bars.stats_type_horizontal .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner[class*=" cmsms_theme_icon_"] .cmsms_stat_title {
	left: auto;
	right: 30px;
}

.cmsms_stats.stats_mode_bars.stats_type_horizontal .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner .cmsms_stat_title {
	left: auto;
	right: 0;
}

.cmsms_stats.stats_mode_bars.stats_type_horizontal .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner .cmsms_stat_counter_wrap {
	left: 0;
	right: auto;
}

.cmsms_stats.stats_mode_circles .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner {
	left: 0;
	right: 0;
}

.cmsms_stats.stats_mode_circles .cmsms_stat_wrap .cmsms_stat canvas {
	left: 0;
	right: 0;
}

.cmsms_counters .cmsms_counter_wrap .cmsms_counter .cmsms_counter_inner:before {
	left: auto;
	right: 0;
}

.cmsms_counters .cmsms_counter_wrap .cmsms_counter.counter_has_image .cmsms_counter_inner:before {
	background-position: center center;
}

.cmsms_counters.counters_type_vertical .cmsms_counter_wrap .cmsms_counter .cmsms_counter_inner:before {
	left: auto;
	right: 50%;
}

.cmsms_button {
	direction:ltr;
}

blockquote {
	padding-right: 65px;
}

blockquote:before {
	left: auto;
	right: 0;
	top:-8px;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.cmsms_hover_slider .cmsms_hover_slider_thumbs > li a:before {
	left: auto;
	right: 0;
}

.content_slider .owl-controls .owl-pagination {
	left: 0;
	right: 0;
	text-align: center;
}

.owl-buttons span:before {
	left: 0;
	right: 0;
}

.owl-buttons .owl-prev > span:before,
.owl-buttons .owl-next > span:before {
	text-align: center;
}

.cmsms_gallery_wrap .cmsms_more_gallery_items {
	text-align: center;
}

.cmsms_gallery {
	margin-left: 0;
	margin-right: -10px;
}

.cmsms_gallery .cmsms_gallery_item {
	padding-left: 0;
	padding-right: 10px;
	float: right;
}

.cmsms_gallery .cmsms_gallery_item.cmsms_caption figcaption {
	text-align: center;
}

.cmsms_quotes_slider.cmsms_quotes_slider_type_box .cmsms_quote .cmsms_quote_inner .quote_info_wrap {
	float: right;
}

.cmsms_quotes_slider.cmsms_quotes_slider_type_box .cmsms_quote .cmsms_quote_inner .quote_info_wrap .quote_image {
	padding-left: 100px;
	padding-right: 0;
}

.cmsms_quotes_slider.cmsms_quotes_slider_type_box .cmsms_quote .cmsms_quote_inner .quote_content_wrap {
	padding-left: 80px;
	padding-right:0;
}

.cmsms_quotes_slider.cmsms_quotes_slider_type_box .owl-pagination {
	right: auto;
	left: 0;
}

.cmsms_quotes_slider.cmsms_quotes_slider_type_center .cmsms_quote .cmsms_quote_inner {
	text-align: center;
}

.cmsms_quotes_slider.cmsms_quotes_slider_type_center .cmsms_quote .cmsms_quote_inner .quote_image span:before {
	left: 0;
	right: 0;
}

.cmsms_quotes_slider.cmsms_quotes_slider_type_center .cmsms_quote .cmsms_quote_inner .quote_content {
	text-align: center;
}

.cmsms_quotes_slider.cmsms_quotes_slider_type_center .cmsms_quote .cmsms_quote_inner .quote_title_wrap {
	text-align: center;
}

.one_half .cmsms_quotes_slider.cmsms_quotes_slider_type_box .cmsms_quote .cmsms_quote_inner .quote_info_wrap .quote_image {
	padding-left: 30px;
	padding-right:0;
}

.one_half .cmsms_quotes_slider.cmsms_quotes_slider_type_box .cmsms_quote .cmsms_quote_inner .quote_content_wrap {
	padding-left: 40px;
	padding-right:0;
}

.one_half .cmsms_quotes_slider.cmsms_quotes_slider_type_box .owl-pagination {
	right: auto;
	left: 0;
}

.one_third .cmsms_quotes_slider.cmsms_quotes_slider_type_box .cmsms_quote .cmsms_quote_inner .quote_info_wrap,
.one_fourth .cmsms_quotes_slider.cmsms_quotes_slider_type_box .cmsms_quote .cmsms_quote_inner .quote_info_wrap {
	float: none;
}

.one_third .cmsms_quotes_slider.cmsms_quotes_slider_type_box .cmsms_quote .cmsms_quote_inner .quote_info_wrap .quote_image,
.one_fourth .cmsms_quotes_slider.cmsms_quotes_slider_type_box .cmsms_quote .cmsms_quote_inner .quote_info_wrap .quote_image {
	padding-left: 15px;
	padding-right:0;
}

.one_third .cmsms_quotes_slider.cmsms_quotes_slider_type_box .cmsms_quote .cmsms_quote_inner .quote_content_wrap,
.one_fourth .cmsms_quotes_slider.cmsms_quotes_slider_type_box .cmsms_quote .cmsms_quote_inner .quote_content_wrap {
	padding-left: 0;
}

.one_third .cmsms_quotes_slider.cmsms_quotes_slider_type_box .cmsms_quote .cmsms_quote_inner .quote_content_wrap .quote_title_wrap,
.one_fourth .cmsms_quotes_slider.cmsms_quotes_slider_type_box .cmsms_quote .cmsms_quote_inner .quote_content_wrap .quote_title_wrap {
	padding-left: 15px;
	padding-right:0;
}

.one_third .cmsms_quotes_slider.cmsms_quotes_slider_type_box .owl-pagination,
.one_fourth .cmsms_quotes_slider.cmsms_quotes_slider_type_box .owl-pagination {
	right: auto;
	left: 0;
}

.quote_grid.quote_one .cmsms_quote {
	float: none;
}

.quote_grid.quote_three .quotes_list .cmsms_quote .cmsms_quote_inner .quote_title_wrap .quote_image,
.quote_grid.quote_three .quotes_list .cmsms_quote .cmsms_quote_inner .quote_title_wrap .quote_title_inner {
	text-align: center;
	float: none;
}

.quote_grid.quote_four .quotes_list .cmsms_quote .cmsms_quote_inner .quote_title_wrap .quote_image,
.quote_grid.quote_four .quotes_list .cmsms_quote .cmsms_quote_inner .quote_title_wrap .quote_title_inner {
	text-align: center;
	float: none;
}

.quote_grid .quotes_list .cmsms_quote .cmsms_quote_inner .quote_title_wrap .quote_image {
	margin-left: 30px;
	margin-right:0;
}

.cmsms_pricing_table .cmsms_pricing_item {
	float: right;
}

.cmsms_pricing_table .cmsms_pricing_item .cmsms_pricing_item_inner {
	padding-left: 10px;
	padding-right: 30px;
}

.cmsms_pricing_table .cmsms_pricing_item .cmsms_pricing_item_inner .cmsms_price_wrap .cmsms_price {
	margin-right: -3px;
}

.cmsms_pricing_table .cmsms_pricing_item .cmsms_pricing_item_inner .feature_list {
	padding-right: 0;
}

.cmsms_pricing_table .cmsms_pricing_item .cmsms_pricing_item_inner .feature_list [class*="cmsms-icon-"]:before,
.cmsms_pricing_table .cmsms_pricing_item .cmsms_pricing_item_inner .feature_list [class*="cmsms_theme_icon_"]:before {
	margin-left: 10px;
}

.resizable_block .google_map {
	left: auto;
	right: 0;
}

.cmsms_img.cmsms_image_l {
	margin-left: 40px;
	float: right;
}

.cmsms_img.cmsms_image_r {
	margin-right: 40px;
	float: left;
}

.cmsms_img .cmsms_img_caption {
	text-align: center;
}

.wp-caption.alignleft {
	margin-left: 25px;
}

.wp-caption.alignright {
	margin-right: 25px;
}

.wp-caption .wp-caption-text {
	text-align: center;
}

.gallery-item .gallery-caption {
	text-align: center;
}

.cmsms_sidebar aside {
	float: right;
}

.social_vertical .share_wrap {
	float: none;
}

.share_wrap {
	float: right;
}

.cmsms_twitter_wrap .cmsms_twitter .cmsms_twitter_item .cmsms_twitter_item_content {
	padding-left: 40px;
	padding-right: 160px;
}

.cmsms_twitter_wrap .cmsms_twitter .published {
	padding-left: 15px;
	padding-right: 0;
	left: auto;
	right: 60px;
}

.cmsms_twitter_wrap .cmsms_twitter .owl-controls .owl-buttons {
	left: 0;
	right: auto;
}

.cmsms_twitter_wrap .cmsms_twitter .owl-controls .owl-buttons .owl-prev > span:before,
.cmsms_twitter_wrap .cmsms_twitter .owl-controls .owl-buttons .owl-next > span:before {
	left: 0;
	right: 0;
}

.cmsms_twitter_wrap .twr_icon {
	left: auto;
	right: 0;
}

.cmsms_dropcap {
	float: right;
	margin-left: 33px;
	margin-right: 23px;
}

.cmsms_dropcap.type2 {
	margin-left: 30px;
	margin-right: 0;
	text-align: center;
}

.cmsms_clients_slider .owl-pagination {
	text-align: center;
	left: auto;
	right: 0;
}

.cmsms_clients_item {
	text-align: center;
}

.cmsms_clients_grid .cmsms_clients_item {
	float: right;
}

.cmsms_clients_grid.clients_one .cmsms_clients_item:last-child,
.cmsms_clients_grid.clients_one .cmsms_clients_item {
	float: none;
}

.cmsms_posts_slider > .cmsms_owl_slider > div > article {
	float: right;
}

.cmsms_posts_slider .owl-buttons {
	right: auto;
	left: 20px;
}

.cmsms_posts_slider .post .cmsms_slider_post_cont .thumb_wrap.no_thumb {
	margin-left: 20px;
	margin-right: 0;
	float: right;
}

.cmsms_posts_slider .post .cmsms_slider_post_cont .thumb_wrap .cmsms_post_date_wrap {
	left: auto;
	right: 0;
}

.cmsms_posts_slider .post .cmsms_slider_post_cont .thumb_wrap .cmsms_post_date_wrap .cmsms_post_date .published span {
	text-align: center;
}

.cmsms_posts_slider .post .cmsms_slider_post_cont .cmsms_slider_post_footer {
	text-align: left;
}

.cmsms_posts_slider .post .cmsms_slider_post_cont .cmsms_slider_post_footer .cmsms_slider_post_meta_info > * {
	margin-left: 0;
	padding-left: 0;
	margin-right: 15px;
	padding-right: 22px;
	float: left;
}

.cmsms_posts_slider .post .cmsms_slider_post_cont .cmsms_slider_post_footer .cmsms_slider_post_meta_info > *:last-child {
	margin-right: 0;
}

.cmsms_posts_slider .post .cmsms_slider_post_cont .cmsms_slider_post_footer .cmsms_slider_post_meta_info > *:before {
	left: auto;
	right: 1px;
}

.cmsms_posts_slider .post .cmsms_slider_post_cont .cmsms_slider_post_footer .cmsms_post_read_more {
	float: right;
}

.cmsms_posts_slider .project .slider_project_outer .slider_project_inner .cmsms_slider_project_footer .cmsmsLike,
.cmsms_posts_slider .project .slider_project_outer .slider_project_inner .cmsms_slider_project_footer .cmsms_post_comments {
	padding-left: 0;
	padding-right: 25px;
}

.cmsms_posts_slider .project .slider_project_outer .slider_project_inner .cmsms_slider_project_footer .cmsmsLike:before,
.cmsms_posts_slider .project .slider_project_outer .slider_project_inner .cmsms_slider_project_footer .cmsms_post_comments:before {
	left: auto;
	right: 0;
}

.cmsms_posts_slider .project .slider_project_outer .slider_project_inner .cmsms_slider_project_footer .cmsms_post_comments + .cmsmsLike {
	margin-right: 20px;
	margin-left:0;
}

.cmsms_posts_slider .product .product_outer .product_inner .cmsms_product_img_wrap .cmsms_product_img > a:before {
	left: auto;
	right: 0;
}

.cmsms_posts_slider .product .product_outer .product_inner .cmsms_product_img_wrap .cmsms_product_footer {
	left: 0;
	right: 0;
	text-align: center;
}

.cmsms_posts_slider .product .product_outer .product_inner .cmsms_product_img_wrap .cmsms_product_footer > a:before {
	margin-left: 10px;
	margin-right: -1px;
}

.cmsms_posts_slider .product .product_outer .product_inner .cmsms_product_img_wrap .cmsms_product_footer > a.cmsms_add_to_cart_button.loading:before {
	text-align: center;
}

.cmsms_posts_slider .product .product_outer .product_inner .cmsms_product_info .price {
	float: left;
}

.cmsms_posts_slider .product .product_outer .product_inner .cmsms_product_info .price del {
	margin-right: 0;
	margin-left: 5px;
}

.one_fourth .cmsms_posts_slider .post .cmsms_slider_post_cont figure,
.one_third .cmsms_posts_slider .post .cmsms_slider_post_cont figure {
	float: none;
}


/*-------------------------------------------------------------------------*/
/*	12.	Widgets Styles	*/
/*-------------------------------------------------------------------------*/

.widget ul {
	padding-right: 0;
}

#wp-calendar caption {
	text-align: right;
}

#wp-calendar thead tr th:first-child {
	padding-left: 0;
	border-left-width: 0;
	padding-right: 25px;
	border-right-width: 2px;
	border-right-style: solid;
}

#wp-calendar thead tr th:last-child {
	padding-right: 0;
	border-right-width: 0;
	padding-left: 25px;
	border-left-width: 2px;
	border-left-style: solid;
}

#wp-calendar tbody tr td:first-child {
	padding-left: 0;
	border-left-width: 0;
	padding-right: 25px;
	border-right-width: 2px;
	border-right-style: solid;
}

#wp-calendar tbody tr td:last-child {
	padding-right: 0;
	border-right-width: 0;
	padding-left: 25px;
	border-left-width: 2px;
	border-left-style: solid;
}

#wp-calendar td,
#wp-calendar th {
	text-align: center;
}

#wp-calendar tfoot tr td {
	text-align: right;
}

.widget_nav_menu > div > ul > li > ul > li > a,
.widget_pages > ul > li > ul > li > a {
	padding-right: 25px;
}

.widget_nav_menu > div > ul > li > ul > li > ul > li > a,
.widget_pages > ul > li > ul > li > ul > li > a {
	padding-right: 40px;
}

.widget_nav_menu > div > ul > li > ul > li > ul > li > ul > li > a,
.widget_pages > ul > li > ul > li > ul > li > ul > li > a {
	padding-right: 55px;
}

.widget_nav_menu > div > ul > li > ul > li > ul > li > ul > li > ul > li > a,
.widget_pages > ul > li > ul > li > ul > li > ul > li > ul > li > a {
	padding-right: 70px;
}

.widget_custom_flickr_entries .flickr_badge_image {
	float: right;
}

.widget .owl-buttons span:before {
	left: 0;
	right: 0;
}

.widget_custom_popular_projects_entries .owl-carousel .owl-buttons,
.widget_custom_latest_projects_entries .owl-carousel .owl-buttons {
	right: auto;
	left: 0;
}

.widget_custom_popular_projects_entries .img_placeholder:before,
.widget_custom_latest_projects_entries .img_placeholder:before {
	left: 0;
	right: 0;
}

.widget_custom_advertisement_entries .adv_image_wrap .adv_widget_image {
	float: right;
}

.widget_pages ul ul,
.widget_categories ul ul {
	margin-right: 0;
}

.widget_categories ul > li > ul > li > a {
	padding-right: 15px;
}

.widget_categories ul > li > ul > li > ul > li > a {
	padding-right: 30px;
}

.widget_categories ul > li > ul > li > ul > li > ul > li > a {
	padding-right: 45px;
}

.widget_categories ul > li > ul > li > ul > li > ul > li > ul > li > a {
	padding-right: 60px;
}

.widget_custom_contact_info_entries .contact_widget_comma {
	padding-left: 8px;
	padding-right: 0;
}

.contact_widget_name,
.contact_widget_email,
.contact_widget_url,
.contact_widget_phone,
.adress_wrap {
	padding-right: 33px;
}

.tweet_time:before,
.contact_widget_name:before,
.contact_widget_url:before,
.contact_widget_email:before,
.contact_widget_phone:before,
.adress_wrap:before {
	left: auto;
	right: 0;
}

.widget .tweet_list .tweet_time {
	padding-left: 0;
	padding-right: 45px;
}

.cmsms_tabs.lpr .cmsms_tabs_list .cmsms_tabs_list_item {
	margin-right: 0;
}

.cmsms_tabs.lpr .cmsms_tabs_list .cmsms_tabs_list_item:first-child {
	padding-right: 0;
}

.cmsms_tabs.lpr .cmsms_tabs_list .cmsms_tabs_list_item a {
	padding-left: 5px;
	padding-right: 0;
}

.cmsms_tabs.lpr .cmsms_tabs_list .cmsms_tabs_list_item a:before {
	left: auto;
	right: 50%;
}

.cmsms_tabs.lpr .cmsms_tabs_list .cmsms_tabs_list_item.current_tab a:before,
.cmsms_tabs.lpr .cmsms_tabs_list .cmsms_tabs_list_item:hover a:before {
	left: auto;
	right: 0;
}

.cmsms_tabs.lpr .alignleft {
	float: right;
	margin-left: 20px;
	margin-right: 0;
}

.rsswidget img {
	margin-left: 3px;
	margin-right: 0;
}


/*-------------------------------------------------------------------------*/
/*	13.	Search + Archives + Sitemap  + Other Styles	*/
/*-------------------------------------------------------------------------*/
.cmsms_search .cmsms_search_zero {
	text-align: center;
}

.cmsms_search .cmsms_search_post .cmsms_search_post_number_wrap {
	margin-left: 35px;
	margin-right: 0;
	text-align: center;
	float: right;
}

.cmsms_search .cmsms_search_post .cmsms_search_post_number_wrap .cmsms_search_post_number {
	text-align: center;
}

.cmsms_search .cmsms_search_post .cmsms_search_post_cont .cmsms_post_cont_info > span {
	margin-left: 20px;
}

.cmsms_search .cmsms_search_post .cmsms_search_post_cont .cmsms_post_cont_info > span.cmsms_post_date {
	margin-left: 0;
}

.cmsms_search .cmsms_search_post .cmsms_search_post_cont .cmsms_post_cont_info div + .cmsms_post_date,
.cmsms_search .cmsms_search_post .cmsms_search_post_cont .cmsms_post_cont_info span + .cmsms_post_date {
	margin-left: 20px;
}

.cmsms_search .cmsms_search_post .cmsms_search_post_cont .cmsms_post_meta_info,
.cmsms_search .cmsms_search_post .cmsms_search_post_cont .cmsms_post_date,
.cmsms_search .cmsms_search_post .cmsms_search_post_cont .cmsms_search_post_user_name,
.cmsms_search .cmsms_search_post .cmsms_search_post_cont .cmsms_search_post_category {
	float: left;
}

.cmsms_search .cmsms_search_post .cmsms_search_post_cont .cmsms_post_meta_info a span {
	padding-right: 3px;
}

.cmsms_archive .blog.portfolio.cmsms_profile.vertical .profile:nth-child(2n) .pl_img {
	padding-left: 40px;
	padding-right: 0;
}

.cmsms_archive .blog.portfolio.cmsms_profile.vertical .profile:nth-child(2n):before {
	left: auto;
	right: 0;
}

.content_wrap.r_sidebar .cmsms_archive .blog.portfolio > article {
	margin-left: 50px;
}

.content_wrap.l_sidebar .cmsms_archive .blog.portfolio > article {
	margin-right: 50px;
}

.cmsms_archive .blog.portfolio > article.project {
	float: none;
}

.cmsms_archive .blog.portfolio > article.project .cmsms_img_wrap {
	float: right;
}

.cmsms_archive .blog.portfolio > article.project .project_inner {
	padding-left: 0;
	padding-right: 40px;
	float: right;
}

.cmsms_archive .blog.portfolio > article.profile .pl_img {
	padding-left: 40px;
	padding-right: 0;
}

.cmsms_sitemap_wrap .cmsms_sitemap > li:before {
	left: auto;
	right: 0;
}

.cmsms_sitemap_wrap .cmsms_sitemap > li > ul > li {
	padding-left: 20px;
	float: right;
}

.cmsms_sitemap_wrap .cmsms_sitemap > li > ul > li > ul li {
	margin-right: 20px;
}

.cmsms_sitemap_wrap .cmsms_sitemap > li > ul > li > ul > li {
	margin-right: 0;
}

.cmsms_sitemap_wrap .cmsms_sitemap_category > li {
	padding-left: 20px;
	float: right;
}

.cmsms_sitemap_wrap .cmsms_sitemap_category > li > ul li {
	margin-right: 20px;
}

.cmsms_sitemap_wrap .cmsms_sitemap_category > li > ul > li {
	margin-right: 0;
}

.cmsms_sitemap_wrap .cmsms_sitemap_archive > li {
	padding-left: 20px;
	float: right;
}

.cmsms_paypal_donations > form > .paypal-donations input[type="image"] {
	left: 0;
	right: 0;
}


/*-------------------------------------------------------------------------*/
/*	14.	Contact Forms Styles	*/
/*-------------------------------------------------------------------------*/

.color_2,
.required {
	margin-right: -7px;
	margin-left:0;
}

.wpcf7-list-item-label,
body .cmsms-form-builder .check_parent input[type="checkbox"] + label,
body .cmsms-form-builder .check_parent input[type="radio"] + label {
	padding-right: 25px;
	float: right;
}

.cmsms-form-builder .check_parent input[type="checkbox"],
.cmsms-form-builder .check_parent input[type="radio"],
.wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="checkbox"],
.wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="radio"] {
	left: auto;
	right: 0;
	float: right;
}

.wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="checkbox"] + span.wpcf7-list-item-label:after,
.cmsms-form-builder .check_parent input[type="checkbox"] + label:after {
	left: auto;
	right: 2px;
}

.cmsms-form-builder .check_parent input[type="radio"] + label:after,
.wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="radio"] + span.wpcf7-list-item-label:after {
	left: auto;
	right: 2px;
}

.wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="checkbox"] + span.wpcf7-list-item-label:before,
.cmsms-form-builder .check_parent input[type="checkbox"] + label:before,
.wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="radio"] + span.wpcf7-list-item-label:before,
.cmsms-form-builder .check_parent input[type="radio"] + label:before {
	text-align: center;
	left: auto;
	right: 0;
}

html.csstransitions #navigation > li > a > span.nav_bg_clr,
html.csstransitions .cmsms_hover_slider_thumbs > li img,
html.csstransitions .social_wrap a,
html.csstransitions .portfolio.puzzle .project .project_outer .cmsms_project_footer .cmsms_post_comments,
html.csstransitions .portfolio.puzzle .project .project_outer .cmsms_project_footer .cmsmsLike {
	-webkit-transition: opacity .3s ease-in-out, width .2s ease-in-out, right .2s ease-in-out, left .2s ease-in-out;
	-moz-transition: opacity .3s ease-in-out, width .2s ease-in-out, right .2s ease-in-out, left .2s ease-in-out;
	-ms-transition: opacity .3s ease-in-out, width .2s ease-in-out, right .2s ease-in-out, left .2s ease-in-out;
	-o-transition: opacity .3s ease-in-out, width .2s ease-in-out, right .2s ease-in-out, left .2s ease-in-out;
	transition: opacity .3s ease-in-out, width .2s ease-in-out, right .2s ease-in-out, left .2s ease-in-out;
}

html.csstransitions #slide_top,
html.csstransitions #navigation li > a,
html.csstransitions #navigation li > a[data-tag]:before {
	-webkit-transition: border-color .3s ease-in-out, background-color .3s ease-in-out, color .2s ease-in-out, padding-right .3s ease-in-out;
	-moz-transition: border-color .3s ease-in-out, background-color .3s ease-in-out, color .2s ease-in-out, padding-right .3s ease-in-out;
	-ms-transition: border-color .3s ease-in-out, background-color .3s ease-in-out, color .2s ease-in-out, padding-right .3s ease-in-out;
	-o-transition: border-color .3s ease-in-out, background-color .3s ease-in-out, color .2s ease-in-out, padding-right .3s ease-in-out;
	transition: border-color .3s ease-in-out, background-color .3s ease-in-out, color .2s ease-in-out, padding-right .3s ease-in-out;
}

html.csstransitions .cmsms_tabs.tabs_mode_tab .cmsms_tabs_list .cmsms_tabs_list_item:before,
html.csstransitions .cmsms_tabs.lpr .cmsms_tabs_list .cmsms_tabs_list_item a:before {
	-webkit-transition: background-color .4s ease-in-out, width .3s ease-in-out, right .3s ease-in-out, left .3s ease-in-out;
	-moz-transition: background-color .4s ease-in-out, width .3s ease-in-out, right .3s ease-in-out, left .3s ease-in-out;
	-ms-transition: background-color .4s ease-in-out, width .3s ease-in-out, right .3s ease-in-out, left .3s ease-in-out;
	-o-transition: background-color .4s ease-in-out, width .3s ease-in-out, right .3s ease-in-out, left .3s ease-in-out;
	transition: background-color .4s ease-in-out, width .3s ease-in-out, right .3s ease-in-out, left .3s ease-in-out;
}

html.csstransitions .sidebar .widget_nav_menu li {
	-webkit-transition: border-color .2s ease-in-out, background-color .2s ease-in-out, margin-right .3s ease-in-out, padding-right .3s ease-in-out;
	-moz-transition: border-color .2s ease-in-out, background-color .2s ease-in-out, margin-right .3s ease-in-out, padding-right .3s ease-in-out;
	-ms-transition: border-color .2s ease-in-out, background-color .2s ease-in-out, margin-right .3s ease-in-out, padding-right .3s ease-in-out;
	-o-transition: border-color .2s ease-in-out, background-color .2s ease-in-out, margin-right .3s ease-in-out, padding-right .3s ease-in-out;
	transition: border-color .2s ease-in-out, background-color .2s ease-in-out, margin-right .3s ease-in-out, padding-right .3s ease-in-out;
}

html.csstransitions .sidebar .widget_nav_menu li:before {
	-webkit-transition: right .3s ease-in-out;
	-moz-transition: right .3s ease-in-out;
	-ms-transition: right .3s ease-in-out;
	-o-transition: right .3s ease-in-out;
	transition: right .3s ease-in-out;
}

html.csstransitions .sidebar.fl .widget_nav_menu li {
	-webkit-transition: border-color .2s ease-in-out, background-color .2s ease-in-out, margin-left .3s ease-in-out, padding-left .3s ease-in-out;
	-moz-transition: border-color .2s ease-in-out, background-color .2s ease-in-out, margin-left .3s ease-in-out, padding-left .3s ease-in-out;
	-ms-transition: border-color .2s ease-in-out, background-color .2s ease-in-out, margin-left .3s ease-in-out, padding-left .3s ease-in-out;
	-o-transition: border-color .2s ease-in-out, background-color .2s ease-in-out, margin-left .3s ease-in-out, padding-left .3s ease-in-out;
	transition: border-color .2s ease-in-out, background-color .2s ease-in-out, margin-left .3s ease-in-out, padding-left .3s ease-in-out;
}

@-webkit-keyframes bar_title {
	from {
		margin-right: -200px;
	}
	to {
		margin-right: 0%;
	}
}

@-moz-keyframes bar_title {
	from {
		margin-right: -200px;
	}
	to {
		margin-right: 0%;
	}
}

@-ms-keyframes bar_title {
	from {
		margin-right: -200px;
	}
	to {
		margin-right: 0%;
	}
}

@-o-keyframes bar_title {
	from {
		margin-right: -200px;
	}
	to {
		margin-right: 0%;
	}
}

@keyframes bar_title {
	from {
		margin-right: -200px;
	}
	to {
		margin-right: 0%;
	}
}

@-webkit-keyframes bar_icon {
	from {
		margin-left: -200px;
	}
	to {
		margin-left: 0%;
	}
}

@-moz-keyframes bar_icon {
	from {
		margin-left: -200px;
	}
	to {
		margin-left: 0%;
	}
}

@-ms-keyframes bar_icon {
	from {
		margin-left: -200px;
	}
	to {
		margin-left: 0%;
	}
}

@-o-keyframes bar_icon {
	from {
		margin-left: -200px;
	}
	to {
		margin-left: 0%;
	}
}
@keyframes bar_icon {
	from {
		margin-left: -200px;
	}
	to {
		margin-left: 0%;
	}
}


/*-------------------------------------------------------------------------*/
/*	1.	Large Monitor
/*-------------------------------------------------------------------------*/
@media only screen and (min-width: 1025px) {
	#header nav > div > #navigation > li > ul {
		margin-right: -20px;
	}
}


/*-------------------------------------------------------------------------*/
/*	Tablet Monitor
/*-------------------------------------------------------------------------*/
@media only screen and (max-width: 1024px) {
	html .cmsms_121414 .cmsms_column.one_half,
	html .cmsms_141412 .cmsms_column.one_half {
		float: none;
	}

	html .sidebar_layout_141412 > aside:first-child + aside + aside,
	html .sidebar_layout_141412 > div.cl + aside + aside + aside,
	html .sidebar_layout_141412 > div.cmsms_widget_divider + aside + aside + aside {
		float: none;
	}

	html .sidebar_layout_121414 > aside:first-child,
	html .sidebar_layout_121414 > div.cl + aside,
	html .sidebar_layout_121414 > div.cmsms_widget_divider + aside {
		float: none;
	}

	html #page .cmsms_pricing_table.pricing_four .cmsms_pricing_item {
		float: right;
	}

	html #page .cmsms_profile.horizontal .profile .profile_inner .pl_cont_wrap .pl_content * {
		text-align: right;
	}

	html #page #header .header_top .header_top_outer .header_top_inner .header_top_left,
	html #page #header .header_top .header_top_outer .header_top_inner .header_top_right {
		float: none;
		text-align: center;
	}

	html #page #header .header_top .header_top_outer .header_top_inner .header_top_left .meta_wrap {
		text-align: center;
	}

	html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap {
		text-align: center;
	}

	html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap .responsive_top_nav:before {
		left: 0;
		right: 0;
	}

	html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav {
		float: none;
	}

	html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav div,
	html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav ul,
	html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav a,
	html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav span {
		float: none;
		left: auto;
		right: 0;
	}

	html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav li {
		float: none;
		left: auto;
		right: 0;
	}

	html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav #top_line_nav li li a {
		padding-right: 35px;
	}

	html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav #top_line_nav li li li a {
		padding-right: 45px;
	}

	html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav #top_line_nav li li li li a {
		padding-right: 55px;
	}

	html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav #top_line_nav li li li li li a {
		padding-right: 65px;
	}

	html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav #top_line_nav li li li li li li a {
		padding-right: 75px;
	}

	html #page #header .header_mid {
		float: none;
	}

	html #page #header .header_mid .header_mid_outer .header_mid_inner .logo_wrap {
		float: right;
	}

	html #page #header .header_bot {
		float: none;
	}

	html #page #header .header_bot .header_bot_outer .header_bot_inner .resp_nav_wrap {
		text-align: center;
	}

	html #page #header .header_mid nav,
	html #page #header .header_bot nav {
		float: none;
	}

	html #page #header .header_mid nav div,
	html #page #header .header_bot nav div,
	html #page #header .header_mid nav ul,
	html #page #header .header_bot nav ul,
	html #page #header .header_mid nav a,
	html #page #header .header_bot nav a,
	html #page #header .header_mid nav span,
	html #page #header .header_bot nav span {
		float: none;
		left: auto;
		right: 0;
	}

	html #page #header .header_mid nav li,
	html #page #header .header_bot nav li {
		float: none;
		left: auto;
		right: 0;
	}

	html #page #header .header_mid nav #navigation li a[data-tag]:before,
	html #page #header .header_bot nav #navigation li a[data-tag]:before {
		float: none;
	}

	html #page #header .header_mid nav #navigation li a[data-tag] > span,
	html #page #header .header_bot nav #navigation li a[data-tag] > span {
		float: right;
	}

	html #page #header .header_mid nav #navigation li.menu-item-hide-text > a > span:before,
	html #page #header .header_bot nav #navigation li.menu-item-hide-text > a > span:before {
		margin-left: .4em;
	}

	html #page #header .header_mid nav #navigation li.menu-item-mega > div.menu-item-mega-container ul li.menu-item-hide-text > a,
	html #page #header .header_bot nav #navigation li.menu-item-mega > div.menu-item-mega-container ul li.menu-item-hide-text > a {
		text-align: right;
	}

	html #page #header .header_mid nav #navigation li.menu-item-mega > div.menu-item-mega-container ul li.menu-item-hide-text > a > span:before,
	html #page #header .header_bot nav #navigation li.menu-item-mega > div.menu-item-mega-container ul li.menu-item-hide-text > a > span:before {
		margin-left: .4em;
	}

	html #page #header .header_mid nav #navigation li li a,
	html #page #header .header_bot nav #navigation li li a {
		padding-right: 40px;
	}

	html #page #header .header_mid nav #navigation li li li a,
	html #page #header .header_bot nav #navigation li li li a {
		padding-right: 60px;
	}

	html #page #header .header_mid nav #navigation li li li li a,
	html #page #header .header_bot nav #navigation li li li li a {
		padding-right: 80px;
	}

	html #page #header .header_mid nav #navigation li li li li li a,
	html #page #header .header_bot nav #navigation li li li li li a {
		padding-right: 100px;
	}

	html #page #header .header_mid nav #navigation li li li li li li a,
	html #page #header .header_bot nav #navigation li li li li li li a {
		padding-right: 120px;
	}

	html #page #header .header_mid nav #navigation li li li li li li li a,
	html #page #header .header_bot nav #navigation li li li li li li li a {
		padding-right: 140px;
	}

	html #page #header .header_mid nav #navigation li li li li li li li li a,
	html #page #header .header_bot nav #navigation li li li li li li li li a {
		padding-right: 160px;
	}

	html #page #header .header_mid nav #navigation li li li li li li li li li a,
	html #page #header .header_bot nav #navigation li li li li li li li li li a {
		padding-right: 180px;
	}

	html #page #header .header_mid nav #navigation li li li li li li li li li li a,
	html #page #header .header_bot nav #navigation li li li li li li li li li li a {
		padding-right: 200px;
	}

	html #page #header .header_mid nav #navigation li li li li li li li li li li li a,
	html #page #header .header_bot nav #navigation li li li li li li li li li li li a {
		padding-right: 220px;
	}

	html #page #header .header_mid nav #navigation li li li li li li li li li li li li a,
	html #page #header .header_bot nav #navigation li li li li li li li li li li li li a {
		padding-right: 240px;
	}

	html #page.enable_header_centered #header .header_mid .header_mid_outer .header_mid_inner .logo_wrap {
		float: none;
		margin-right: 0;
	}
}
/*-------------------------------------------------------------------------*/
/*	Tablet Monitor 950
/*-------------------------------------------------------------------------*/
@media only screen and (max-width: 950px) {
	html #page .portfolio.opened-article .project .project_content.with_sidebar {
		float: none;
		padding-left: 0;
	}

	html #page .portfolio.opened-article .project .project_sidebar {
		float: none;
	}

	html #page .profiles.opened-article .profile .profile_content.with_sidebar {
		float: none;
		padding-left: 0;
	}

	html #page .profiles.opened-article .profile .profile_sidebar {
		float: none;
	}
	
	html #page .quote_grid.quote_four .quotes_list .cmsms_quote .cmsms_quote_inner .quote_title_wrap .quote_image, 
	html #page .quote_grid.quote_three .quotes_list .cmsms_quote .cmsms_quote_inner .quote_title_wrap .quote_image, 
	html #page .quote_grid.quote_two .quotes_list .cmsms_quote .cmsms_quote_inner .quote_title_wrap .quote_image, 
	html #page .quote_grid.quote_one .quotes_list .cmsms_quote .cmsms_quote_inner .quote_title_wrap .quote_image {
		float:none;
		margin:0 0 20px 50px;
		text-align:right;
	}

	html #page .quote_grid.quote_four .quotes_list .cmsms_quote .cmsms_quote_inner .quote_title_wrap .quote_title_inner, 
	html #page .quote_grid.quote_three .quotes_list .cmsms_quote .cmsms_quote_inner .quote_title_wrap .quote_title_inner, 
	html #page .quote_grid.quote_two .quotes_list .cmsms_quote .cmsms_quote_inner .quote_title_wrap .quote_title_inner, 
	html #page .quote_grid.quote_one .quotes_list .cmsms_quote .cmsms_quote_inner .quote_title_wrap .quote_title_inner {
		text-align: right;
		display:block;
	}

	html #page .quote_grid.quote_four .quotes_list .cmsms_quote .quote_image, 
	html #page .quote_grid.quote_three .quotes_list .cmsms_quote .quote_image, 
	html #page .quote_grid.quote_two .quotes_list .cmsms_quote .quote_image, 
	html #page .quote_grid.quote_one .quotes_list .cmsms_quote .quote_image {
		margin-left: 50px;
		margin-right: 0;
		float: right;
	}

	html #page .quote_grid.quote_four .quotes_list .cmsms_quote .cmsms_quote_inner .quote_content_wrap .quote_content, 
	html #page .quote_grid.quote_three .quotes_list .cmsms_quote .cmsms_quote_inner .quote_content_wrap .quote_content, 
	html #page .quote_grid.quote_two .quotes_list .cmsms_quote .cmsms_quote_inner .quote_content_wrap .quote_content, 
	html #page .quote_grid.quote_one .quotes_list .cmsms_quote .cmsms_quote_inner .quote_content_wrap .quote_content {
		text-align: right;
	}
}
/*-------------------------------------------------------------------------*/
/*	3.	Small Tablet Monitor
/*-------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
	html .one_first,
	html .one_half,
	html .one_third,
	html .two_third,
	html .one_fourth,
	html .one_fifth,
	html .three_fourth,
	html .cmsms_121414 .cmsms_column.one_half,
	html .cmsms_141412 .cmsms_column.one_half,
	html .cmsms_141214 .cmsms_column.one_fourth,
	html .cmsms_141214 .cmsms_column.one_half {
		float: none;
	}

	html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item,
	html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item:first-child,
	html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item:last-child,
	html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item:nth-child(n) {
		float: none;
	}

	html #page .cmsms_profile.vertical .profile {
		text-align: center;
	}

	html #page .cmsms_profile.vertical .profile:before {
		left: 0;
		right: 0;
	}

	html #page .cmsms_profile.vertical .profile .pl_content_wrap {
		text-align: center;
	}

	html #page .cmsms_profile.vertical .profile .pl_content {
		text-align: center;
	}

	html #page .cmsms_profile.vertical .profile .pl_content .pl_social {
		text-align: center;
	}

	html #page .cmsms_profile.vertical .profile .entry-content {
		text-align: center;
	}

	html #page .quote_grid .quotes_list .cmsms_quote .quote_image {
		margin-left: 50px;
		margin-right: 0;
		float: right;
	}

	html #page #header .header_mid .header_mid_outer .header_mid_inner .search_wrap {
		float: none;
	}

	html #page #header .header_mid .header_mid_outer .header_mid_inner .search_wrap .search_wrap_inner .search_bar_wrap form .search_field input[type="search"] {
		float: none;
	}

	html #page #header .header_mid .header_mid_outer .header_mid_inner .social_wrap {
		float: none;
	}

	html #page #header .header_mid .header_mid_outer .header_mid_inner .social_wrap .social_wrap_inner ul {
		text-align: center;
	}

	html #page #header .header_mid .header_mid_outer .header_mid_inner .slogan_wrap {
		float: none;
	}

	html #page #header .header_mid .header_mid_outer .header_mid_inner .slogan_wrap .slogan_wrap_inner .slogan_wrap_text {
		text-align: center;
	}

	html #page #header .header_mid .header_mid_outer .header_mid_inner .logo_wrap {
		text-align: center;
		float: none;
	}

	html #page #header .header_mid .header_mid_outer .header_mid_inner .resp_nav_wrap {
		float: none;
		text-align: center;
	}

	html #page .cmsms_archive article.profile {
		text-align: right !important;
	}

	html #page .cmsms_archive article.profile .pl_img {
		float: none;
		text-align: right;
	}

	html #page .cmsms_archive article.profile .pl_content * {
		text-align: right !important;
	}
}
/*-------------------------------------------------------------------------*/
/*	4.	Phone Monitor
/*-------------------------------------------------------------------------*/
@media only screen and (max-width: 540px) {
	html #page .cmsms_search .cmsms_search_post .cmsms_search_post_number_wrap {
		float: none;
		text-align: right;
	}

	html #page .cmsms_search .cmsms_search_post .cmsms_search_post_number_wrap .cmsms_search_post_number {
		margin-left: 10px;
		margin-right: 0;
	}

	html #page .post_comments .commentlist .comment-body .alignleft {
		float: none;
	}

	html #page .cmsms_tabs .cmsms_tabs_list .cmsms_tabs_list_item {
		float: none;
	}

	html #page .cmsms_pricing_table.pricing_four .cmsms_pricing_item,
	html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item,
	html #page .cmsms_pricing_table.pricing_two .cmsms_pricing_item,
	html #page .cmsms_pricing_table.pricing_one .cmsms_pricing_item,
	html #page .cmsms_pricing_table.pricing_four .cmsms_pricing_item:first-child,
	html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item:first-child,
	html #page .cmsms_pricing_table.pricing_two .cmsms_pricing_item:first-child,
	html #page .cmsms_pricing_table.pricing_one .cmsms_pricing_item:first-child,
	html #page .cmsms_pricing_table.pricing_four .cmsms_pricing_item:last-child,
	html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item:last-child,
	html #page .cmsms_pricing_table.pricing_two .cmsms_pricing_item:last-child,
	html #page .cmsms_pricing_table.pricing_one .cmsms_pricing_item:last-child,
	html #page .cmsms_pricing_table.pricing_four .cmsms_pricing_item:nth-child(n),
	html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item:nth-child(n),
	html #page .cmsms_pricing_table.pricing_two .cmsms_pricing_item:nth-child(n),
	html #page .cmsms_pricing_table.pricing_one .cmsms_pricing_item:nth-child(n) {
		float: none;
	}

	html #page .cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_filter_block .cmsms_project_filter_list {
		float: left;
	}

	html #page .quote_grid.quote_four .quotes_list .cmsms_quote .quote_image,
	html #page .quote_grid.quote_three .quotes_list .cmsms_quote .quote_image,
	html #page .quote_grid.quote_two .quotes_list .cmsms_quote .quote_image,
	html #page .quote_grid.quote_one .quotes_list .cmsms_quote .quote_image {
		float: none;
	}

	html #page .cmsms_archive article.post .cmsms_post_cont_wrap .cmsms_img_wrap,
	html #page .cmsms_archive article.post .cmsms_post_cont_wrap .cmsms_hover_slider,
	html #page .cmsms_archive article.post .cmsms_post_cont_wrap .cmsms_wrap_video {
		float: none;
	}

	html #page .cmsms_archive article.project .project_outer .cmsms_img_wrap {
		float: none;
	}

	html #page .profiles.opened-article .pl_img {
		float: none;
	}

	html #page .profiles.opened-article .pl_img figure {
		text-align: right;
	}

	html #page .profiles.opened-article .cmsms_profile_inner {
		float: none;
	}

	html #page .portfolio.opened-article .cmsms_project_img_wrap {
		float: none;
	}

	html #page .portfolio.opened-article .cmsms_project_img_wrap figure {
		text-align: right;
	}

	html #page .portfolio.opened-article .cmsms_project_inner {
		float: none;
	}

	html #page .cmsms_twitter {
		text-align: center;
	}

	html #page .cmsms_twitter .cmsms_twitter_item {
		text-align: center;
	}

	html #page #footer.cmsms_footer_small .footer_inner {
		text-align: center;
	}

	html #page #footer.cmsms_footer_small .footer_inner > * {
		float: none;
	}

	html #page #footer.cmsms_footer_small .footer_inner .social_wrap .social_wrap_inner,
	html #page #footer.cmsms_footer_small .footer_inner .footer_custom_html {
		text-align: center;
	}
}

