/**
 * @package 	WordPress
 * @subpackage 	Music Band
 * @version 	1.0.0
 * 
 * Post, Page, Project & Profile Options Styles
 * Created by CMSMasters
 * 
 */


body.wp-admin a, 
body.wp-admin input, 
body.wp-admin textarea, 
body.wp-admin select {outline:none;}

input[type=number] {
	width: 65px;
	padding: 2px 0 2px 6px;
	margin-right: 10px;
}

input.long_size[type=number] {
	width: 100px;
}

input[type=range] {
	width: 150px;
	float: left;
	padding: 0;
	margin: 0;
}

input[type=range] + input[type=text] {
	float: left;
	margin: -3px 10px 0;
}

#wp_editbtns_video {
	display:none;
    position:absolute;
    padding:2px;
    z-index:999998;
}

.ui-helper-hidden {display:none;}

.ui-helper-hidden-accessible {
	position:absolute !important;
	clip:rect(1px 1px 1px 1px);
	clip:rect(1px,1px,1px,1px);
}

.ui-helper-reset {
	border:0;
	list-style:none;
	font-size:100%;
	line-height:1.3;
	text-decoration:none;
	margin:0;
	padding:0;
	outline:0;
}

.ui-helper-clearfix:after {
	content:".";
	display:block;
	height:0;
	visibility:hidden;
	clear:both;
}

.ui-helper-clearfix {display:inline-block;}

* html .ui-helper-clearfix {height:1%;}

.ui-helper-clearfix {display:block;}

.ui-helper-zfix {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	opacity:0;
	filter:alpha(opacity=0);
}

.ui-state-disabled {cursor:default !important;}

.ui-widget-overlay {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}

.fl {float:left;}

.fr {float:right;}

.cl {clear:both;}

.ovh {overflow:hidden;}

.nav-tab-content {
	display:none;
}

.nav-tab-content.nav-tab-content-active {
	display:block;
}

#poststuff h2.nav-tab-wrapper {
	border-bottom-color:#dddddd;
	padding-bottom:0;
	padding-left:10px;
	margin:20px 0 0;
}

.nav-tab {
	border-color:#dddddd;
	background-color:#f5f5f5;
	margin-right:7px;
}

.nav-tab.nav-tab-active {
	border-color:#dddddd;
	border-bottom-color:#ffffff;
	background:none;
}

.form-table > tbody > tr:first-child {border-top:0;}

.form-table > tbody > tr > th, 
.form-table > tbody > tr > td {
	padding-top:20px;
	padding-bottom:20px;
}

.form-table > tbody > tr > th {font-weight:bold;}

.form-table table td {
	padding:0 20px 0 0;
}

.cmsms_tr_radio_img input[type="radio"], 
.cmsms_tr_radio_img_pj input[type="radio"] {margin:-1px 5px 0 0;}

.cmsms_tr_images_list .cmsms_gallery img {
	border: 1px solid #dddddd;
	background-color: #f5f5f5;
	display: block;
	padding: 3px;
	margin-top: 10px;
	min-width: 50px;
	min-height: 50px;
	max-width: 100%;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.cmsms_tr_images_list .cmsms_gallery .cmsms_gallery_cancel {
	background-color: #f5f5f5;
	color: #555555;
	display: block;
	font-size: 14px;
	line-height: 22px;
	text-align: center;
	width: 22px;
	height: 22px;
	position: absolute;
	bottom: 4px;
	left: 4px;
	-webkit-border-radius: 0 3px 0 0;
	-moz-border-radius: 0 3px 0 0;
	border-radius: 0 3px 0 0;
	-webkit-transition: color .3s ease-in-out;
	-moz-transition: color .3s ease-in-out;
	-ms-transition: color .3s ease-in-out;
	-o-transition: color .3s ease-in-out;
	transition: color .3s ease-in-out;
}

.cmsms_tr_images_list .cmsms_gallery .cmsms_gallery_cancel:hover {
	color: #dd0000;
}

.cmsms_tr_images_list .cmsms_gallery {
	display: block;
	position: relative;
}

.cmsms_tr_images_list .cmsms_gallery li {
	display: block;
	float: left;
	padding: 0;
	margin: 0 7px 7px 0;
	position: relative;
}

.cmsms_tr_images_list .cmsms_gallery li.ui-sortable-placeholder {
	width: 98px;
	height: 98px;
	margin: 1px 8px 8px 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.cmsms_tr_images_list .cmsms_gallery li img {
	width: 100px;
	height: 100px;
	margin: 0;
	cursor: move;
}

.pickcolor_example {
	border:1px solid #dfdfdf;
	padding:4px 14px;
	margin:0 7px 0 3px;
}

.cmsms_heading_icons_list {
	margin:0;
	position:relative;
	overflow:hidden;
}

.cmsms_heading_icons_list .cmsms_heading_icon {
	display:inline-block;
	padding:0 15px 10px 0;
	margin-bottom:0;
}

.cmsms_heading_icons_list .cmsms_heading_icon a {display:block;}

.cmsms_heading_icons_list .cmsms_heading_icon a img {
	display:block;
	padding:6px;
	max-width:100px;
	max-height:100px;
}

.cmsms_heading_icons_list .cmsms_heading_icon.selected a img {
	border:1px solid #dddddd;
	background-color:#f5f5f5;
	padding:5px;
}

.post_image_list_parent {
	display:none;
	position:relative;
	overflow:hidden;
	min-height:20px;
}

.post_images_nav {
	border-top:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	display:none;
	padding:10px 0;
	position:relative;
	overflow:hidden;
	clear:both;
}

tr.cmsms_tr_repeatable .ovh, 
tr.cmsms_tr_repeatable .custom_repeatable, 
tr.cmsms_tr_repeatable_link .ovh, 
tr.cmsms_tr_repeatable_link .custom_repeatable, 
tr.cmsms_tr_repeatable_multiple .ovh, 
tr.cmsms_tr_repeatable_multiple .custom_repeatable {
	border-bottom:1px dotted #cccccc;
	width:80%;
	margin-top:0;
}

tr.cmsms_tr_repeatable_link .ovh, 
tr.cmsms_tr_repeatable_multiple .ovh {padding-bottom:5px;}

tr.cmsms_tr_repeatable_link .custom_repeatable, 
tr.cmsms_tr_repeatable_media .custom_repeatable, 
tr.cmsms_tr_repeatable_multiple .custom_repeatable {margin-top:7px;}

tr.cmsms_tr_repeatable_link .ovh .fl, 
tr.cmsms_tr_repeatable_multiple .ovh .fl {padding:0 0 0 5px;}

tr.cmsms_tr_repeatable_multiple .ovh .fl {width:40%;}

tr.cmsms_tr_repeatable_link .ovh .fl:first-child, 
tr.cmsms_tr_repeatable_multiple .ovh .fl:first-child {padding-left:30px;}

tr.cmsms_tr_repeatable .custom_repeatable li, 
tr.cmsms_tr_repeatable_link .custom_repeatable li,
tr.cmsms_tr_repeatable_media .custom_repeatable li, 
tr.cmsms_tr_repeatable_multiple .custom_repeatable li {
	position:relative;
	overflow:hidden;
}

tr.cmsms_tr_repeatable .custom_repeatable li span.hndle, 
tr.cmsms_tr_repeatable_multiple .custom_repeatable li span.hndle, 
tr.cmsms_tr_repeatable_link .custom_repeatable li span.hndle {
	color:#707070;
	font-size:15px;
	line-height:16px;
	display:block;
	width:16px;
	height:16px;
	float:left;
	padding:5px 5px 5px 0;
	position:relative;
}

tr.cmsms_tr_repeatable .custom_repeatable li input[type="text"], 
tr.cmsms_tr_repeatable_multiple .custom_repeatable li input[type="text"], 
tr.cmsms_tr_repeatable_multiple .custom_repeatable li textarea, 
tr.cmsms_tr_repeatable_media .custom_repeatable li input[type="text"], 
tr.cmsms_tr_repeatable_link .custom_repeatable li input[type="text"] {
	float:left;
	margin-right:5px;
}

tr.cmsms_tr_repeatable_multiple .custom_repeatable li input[type="text"], 
tr.cmsms_tr_repeatable_multiple .custom_repeatable li textarea {width:40%;}

tr.cmsms_tr_repeatable_multiple .custom_repeatable li textarea {resize:vertical;}

tr.cmsms_tr_repeatable .custom_repeatable li a.repeatable-remove, 
tr.cmsms_tr_repeatable_multiple .custom_repeatable li a.repeatable-copy, 
tr.cmsms_tr_repeatable_multiple .custom_repeatable li a.repeatable-remove, 
tr.cmsms_tr_repeatable_media .custom_repeatable li a.repeatable-remove, 
tr.cmsms_tr_repeatable_link .custom_repeatable li a.repeatable-remove {
	color:#707070;
	margin-top:1px;
	float:left;
	font-size:14px;
	line-height:28px;
}

tr.cmsms_tr_repeatable_multiple .custom_repeatable li a.repeatable-copy {
	margin-right:5px;
}

tr.cmsms_tr_repeatable .custom_repeatable li a.repeatable-remove:hover, 
tr.cmsms_tr_repeatable_multiple .custom_repeatable li a.repeatable-remove:hover, 
tr.cmsms_tr_repeatable_media .custom_repeatable li a.repeatable-remove:hover, 
tr.cmsms_tr_repeatable_link .custom_repeatable li a.repeatable-remove:hover {
	color:#dd0000;
}

tr.cmsms_tr_repeatable_multiple .custom_repeatable li a.repeatable-copy:hover {
	color:#0074a2;
}

tr.cmsms_tr_repeatable_media .custom_repeatable {
	border-top:1px dotted #cccccc;
	width:60%;
}

tr.cmsms_tr_repeatable_media .custom_repeatable {padding-top:7px;}

tr.cmsms_tr_repeatable_media .custom_repeatable li input.cmsms_link {width:60%;}

tr.cmsms_tr_repeatable_link .ovh .fl {width:50%;}

tr.cmsms_tr_repeatable_link .ovh .fl:first-child {width:30%;}

tr.cmsms_tr_repeatable .custom_repeatable li input[type="text"], 
tr.cmsms_tr_repeatable_link .custom_repeatable li input[type="text"] {width:50%;}

tr.cmsms_tr_repeatable_link .custom_repeatable li input[type="text"].cmsms_name {width:30%;}

tr.cmsms_tr_repeatable a.repeatable-add, 
tr.cmsms_tr_repeatable_multiple a.repeatable-multiple-add, 
tr.cmsms_tr_repeatable_media a.repeatable-media-add, 
tr.cmsms_tr_repeatable_link a.repeatable-link-add {
	color:#707070;
	margin-top:1px;
	font-size:14px;
	line-height:29px;
}

tr.cmsms_tr_repeatable a.repeatable-add:hover, 
tr.cmsms_tr_repeatable_multiple a.repeatable-multiple-add:hover, 
tr.cmsms_tr_repeatable_media a.repeatable-media-add:hover, 
tr.cmsms_tr_repeatable_link a.repeatable-link-add:hover {
	color:#00dd00;
}

.wp-color-result:after {
	-webkit-border-radius:0 1px 1px 0;
	-moz-border-radius:0 1px 1px 0;
	border-radius:0 1px 1px 0;
}

#poststuff .form-table .icon_management h3 {
	padding: 0 0 10px;
	cursor: default;
}

.form-table .icon_management .icon_del, 
.form-table .icon_management .icon_move {
	background-color: #ffffff;
	color: #707070;
	display: block;
	font-size: 14px;
	line-height: 22px;
	text-align: center;
	width: 22px;
	height: 22px;
	position: absolute;
	bottom: 4px;
	left: 4px;
	-webkit-border-radius: 0 3px 0 0;
	-moz-border-radius: 0 3px 0 0;
	border-radius: 0 3px 0 0;
	-webkit-transition: color .3s ease-in-out;
	-moz-transition: color .3s ease-in-out;
	-ms-transition: color .3s ease-in-out;
	-o-transition: color .3s ease-in-out;
	transition: color .3s ease-in-out;
}

.form-table .icon_management .icon_del {
	bottom: 3px;
	left: 3px;
}

.form-table .icon_management .icon_move {
	font-size: 15px;
	line-height: 24px;
	width: 24px;
	height: 24px;
	bottom: auto;
	left: auto;
	top: 3px;
	right: 3px;
	cursor: move;
	-webkit-border-radius: 0 0 0 3px;
	-moz-border-radius: 0 0 0 3px;
	border-radius: 0 0 0 3px;
}

.form-table .icon_management .icon_move:before {
	margin-top: 4px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
}

.form-table .icon_management .icon_del:hover {
	color: #dd0000;
}

.form-table td .icon_management p {
	margin-top:0;
	position:relative;
}

.form-table td .icon_management p:after {
	content: '';
	display: block;
	clear: both;
}

.form-table td .icon_management small {
	position:absolute;
	top:0;
	left:0;
}

.form-table td .icon_management small a {
	display:block;
	width:20px;
	height:20px;
}

.icon_management > ul {
	border-top: 1px dotted #dddddd;
	display: block;
	width: 80%;
	padding-top: 10px;
	margin-top: 20px;
	position: relative;
}

.icon_management ul:after {
	content: '';
	display: block;
	clear: both;
}

.icon_management ul li {
	border: 1px solid #cccccc;
	background-color: #ffffff;
	display: block;
	width: 100px;
	height: 100px;
	float: left;
	padding: 3px;
	margin: 25px 25px 0 0;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.icon_management ul li.ui-sortable-highlight {
	border: 1px solid #e6db55;
	background-color: #ffffe0;
	display: block;
	width: 100px;
	height: 100px;
}

.icon_management ul li div {
	background-color: #f9f9f9;
	font-size: 24px;
	line-height: 92px;
	text-align: center;
	height: 92px;
}

#add_icon, 
#edit_icon {
	display: none;
}

.icon_upload_link {
	display: block;
	padding-bottom: 10px;
}

.icon_upload_link label {
	display: block;
	margin-bottom: 10px;
}

.icon_upload_link label input[type="text"] {
	margin-right: 10px;
}

.cmsms_funds_stat_wrap {
	background-color: #f1f1f1;
	width: 100%;
	height: 10px;
	margin: 20px 0;
	position: relative;
}

.cmsms_funds_stat {
	background-color: #0074a2;
	height: 10px;
	position: relative;
}

.cmsms_funds_stat span, 
.cmsms_funds_stat strong {
	position: absolute;
	right: 0;
}

.cmsms_funds_stat span {
	top: -20px;
}

.cmsms_funds_stat strong {
	bottom: -20px;
}

