/*
CTC Separate Stylesheet
Updated: 2016-07-27 13:02:10
Theme Name: gugocreative Child
Theme URI: http://guillermomcgill.com/
Template: gugocreative
Author: gugocreative
Author URI: http://gugocreative.com/
Description: Guillermo McGill theme
Tags: GuGo,GuGo Creative,Guillermo McGill
Version: 1.0.1.1469624530
*/
@import url('../gugocreative/style.css');

/* 
* Custom
*/

.social_wrap {
    height: 25px;
}

.header_top .social_wrap .social_wrap_inner ul li a {
    font-size: 18px !important;
    width: 20px;
    height: 14px;
    color: #f4f4f4;
}

.header_mid_inner {
    padding-top: 10px;
    padding-bottom: 10px;
}
.blackmg {
    color: #000000;
}
.whitemg {
    color: #ffffff;
}

.header_mid .header_mid_inner .logo_wrap {
    width: 25% !important;
}
/*
*
* Comentarios & Criticas home
* img 160 -> 260
*/
.home .cmsms_quotes_slider.cmsms_quotes_slider_type_box .cmsms_quote .cmsms_quote_inner .quote_info_wrap .quote_image img {
    width: 260px;

}

.header_top {
    background-color: rgba(0, 0, 0, 0.42) !important;
}

/*
** tour home
*/

.page-id-20 .cmsms_row_outer_parent .tribe-events-list-widget li {
    float: left;
    width: 50%;
    display: inline-block;
}


/*
* Proyectos cover disc
*/
#post-913 figure {
    max-width: 500px;
}
#post-774 figure {
    max-width: 500px;
}
#post-619 figure {
    max-width: 500px;
}
#post-617 figure {
    max-width: 500px;
}
#post-615 figure {
    max-width: 500px;
}
#post-614 figure {
    max-width: 500px;
}
#post-613 figure {
    max-width: 500px;
}


/* Bio */
.page-id-60 .cmsms_toggles.toggles_mode_accordion .cmsms_toggle_title > a {
    border-width: 1px;
}

.page-id-60 .cmsms_toggles .cmsms_toggle_wrap .cmsms_toggle_title {
    padding-bottom: 10px;
}
/* End Bio */

footer .cmsms_slider_project_footer .entry-meta {
    display: none;
}
footer.cmsms_slider_project_footer.entry-meta {
    display: none;
}

.cmsms_breadcrumbs {
    display: none;
}

.next_events_1 .cmsms_heading {
        padding-bottom: 20px !important;
    }

@media only screen and (min-width: 1440px) {
    .header_mid_inner #navigation > li {
        padding-bottom: 20px;
    }
    .disocgrafia_player .jp-playlist.cmsms-playlist {
        padding-bottom: 31px !important;
    }
    
    .discografia_player .cmsms-jplayer {
        min-height: 400px !important;
    }
	.content_bio_img {
	    margin-top: 135px;
	}
	.header_mid_outer {
	    background-color: rgba(17, 17, 17, 0.3) !important;
	}
    
}

@media only screen and (min-width: 1280px) {
	.headline .headline_text .entry-title {
    	font-size: 60px !important;
        font-family: 'Roboto' !important;
	}
    .headline_outer .headline_inner.align_left {
        text-align: center !important;
    }
    /* Eventos */
    #tribe-events-content.tribe-events-single .cmsms_single_event_img .tribe-events-event-image {
        position: initial !important;
    }

    #tribe-events-content.tribe-events-single .cmsms_single_event_img {
        width: 600px !important;
        margin-bottom: 35px;
        position: relative;
        overflow: hidden;
        height: 300px;
        margin-right: auto;
        margin-left: auto;
    }
    .single-tribe_events .headline_aligner {
    min-height: 0px;
    }

    .tribe-events-event-image {
        text-align: center !important;
        padding-top: 10px !important;
    }
    .events-archive.tribe-events-style-full.tribe-theme-parent-gugocreative.tribe-theme-child-gugocreative-child .headline_outer .headline_inner.align_left {
        display: none !important;
    }
    .events-archive .cmsms_events_list_event_wrap {
        padding-top: 10px;
    }
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) { 
    .whitemg {
    color: #000000;
    }
    .cmsms_heading {
        text-align: center !important;
    }
    .tribe-events-widget-link {
        text-align: center !important;
    }
    .ls-gpuhack {
        background: rgba(111, 93, 93, 0.47);
    }
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) { 
    
    html #page #header .header_mid .header_mid_outer .header_mid_inner .logo_wrap {
        width: 68% !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .header_mid {
        height: 110px !important;
    }
    .header_mid_outer {
        height: 110px !important;
    }
    .header_mid_inner {
        height: 80px !important;
    }
    .resp_nav_wrap {
        height: 30px !important;
    }
    .header_mid_outer .header_mid_inner .resp_nav_wrap .resp_nav_wrap_inner {
        display: inline-block;
        height: auto !important;
        height: 30px !important;
    }
    .cmsms_quotes_slider.cmsms_quotes_slider_type_box .cmsms_quote .cmsms_quote_inner .quote_content_wrap {
        padding-right: 0px !important;
    }

    .discografia_player .cmsms_heading {
        text-align: center !important;
    }
    .discografia_player2 .cmsms_heading {
        text-align: center !important;
    }
    .music_net .cmsms_heading {
        text-align: center !important;
    }
    .music_net div {
        text-align: center !important;
    }
    .ult_proyecto .button_wrap {
        float: inherit !important;
        width: 245px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .next_events_list .tribe-events-list-widget li {
        float: left;
        width: 100%  !important;
        display: inline-block;
    }
    .next_events_2 .button_wrap {
        width: 207px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        float: inherit !important;

    }
    .ult_news .cmsms_heading {
        font-size: 30px !important;
        text-align: center !important;
    }
    .end_disc2 .cmsms_heading {
        text-align: center !important;
    }
    .end_disc2 .cmsms_heading_wrap {
        text-align: center !important;
    }
    .end_disc2 .cmsms_text {
        text-align: center !important;
    }
    .end_disc2 .button_wrap {
        width: 193px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        float: inherit !important;
    }

    /* Bio*/
    .bio_all a {
    	font-size: 14px !important;
    }

    .bio_header h1 {
	    font-size: 60px !important;
    }
    
    .page-id-60 .bio_header_general .cmsms_row_outer_parent {
	    padding-top: 50px !important;
	    padding-bottom: 50px !important;
    }
	
	/* Discografia */
    .page-id-7589 .headline_outer .headline_inner.align_left {
	    text-align: center !important;
    }

	/* Agenda */
    .agenda_header_text h1 {
	    font-size: 39px !important;
	    line-height: 50px !important;
    }
    
    .agenda_header_general .cmsms_row_outer_parent {
	    padding-bottom: 50px !important;
	    padding-top: 50px !important;
    }
        
        /* Slider Home */
    .page-id-20 .ls-wp-fullwidth-container {
            height: 289px !important;
    }

    .page-id-20 .ls-wp-fullwidth-helper {
            height: 200px !important;
    }

    .page-id-20 #layerslider_5 {
            height: 200px !important;
    }

    .page-id-20 #layerslider_5 .ls-inner {
            height: 200px !important;
    }

    .page-id-20 .ls-slide.ls-active {
            height: 200px !important;
    }
        /* Text Slider */
        /*
    .page-id-20 .text1 {
        font-size: 30px;
        font-family: "Roboto";
        top: 10%;
        left: 17%;
    }
    .page-id-20 .text2 {
        font-size: 30px;
        left: 9%;
    }
    .page-id-20 .text3 {
        font-size: 17px;
        line-height: 14px;
        left: 11%;
        width: 80%;
        white-space: initial;
        top: 104px ;
    }
    .page-id-20 #text4 {
        top: 170px;
        width: 150px;
        text-align: center;
        font-size: 13px;
        left: 30%;
    } */

    /* Home vrs */
    
    .boxs_home .cmsms_row_outer_parent {
        padding-top: 20px !important;
        padding-bottom: 40px !important;
    }


}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) { 
    
    /* Discografia */
    .page-id-7589 .headline_outer .headline_inner.align_left {
	    text-align: center !important;
    }
    /*
    .page-id-20 .text1 {
        font-size: 30px;
        top: 5%;
        left: 30%;
        font-family: 'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    }
    .page-id-20 .text2 {
        top: 19%;
        font-family: 'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    }
    .page-id-20 .text3 {
        top: 35%;
        font-size: 18px;
        white-space: initial;
        left: 3%;
        line-height: 25px;
        font-weight: 600;
        font-family: 'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    }
    .page-id-20 #text4 {
        font-family: 'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
        font-size: 18px;
        top: 55%;
        left: 35%;
    } */
    
    /* Home vrs */
    
    .boxs_home .cmsms_row_outer_parent {
        padding-top: 20px !important;
        padding-bottom: 40px !important;
    }
    
    .page-id-20 .next_events_2 {
        margin-bottom: 30px !important;
    }
    
    /* temp */
    #cmsms_heading_5812109e72ac5 {
        text-align: center !important;
    }
    #cmsms_heading_5812109e73199 {
        text-align: center  !important;
    }
    #cmsms_heading_5812109e733e8 {
        text-align: center !important;
    }
    #cmsms_heading_5812109e733e8 .cmsms_text {
        text-align: center;
    }
    #cmsms_heading_5812109e73f62 {
        text-align: center !important;
    }
    #cmsms_heading_5812109e76e0b {
        text-align: center !important;
    }
    #cmsms_button_5812109e82ec3 {
        float: initial !important;
        width: 170px !important;
        margin-left: auto;
        margin-right: auto;
    }
}/* ----------- END iPhone 6 ----------- */

/* ----------- iPhone 6 PLUS ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) { 
    
    .cmsms_heading {
        text-align: center !important;
    }
    .tribe-events-widget-link {
        text-align: center !important;
    }
}

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) { 
    /*
    .page-id-20 .text1 {
        font-size: 30px;
        font-family: 'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
        top: 10%;
        left: 20%;
    }
    .page-id-20 .text2 {
        font-size: 30px;
        left: 13%;
        font-family: 'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    }
    .page-id-20 .text3 {
        font-size: 18px;
        line-height: 14px;
        left: 11%;
        width: 80%;
        white-space: initial;
        top: 110px;
        font-family: 'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    } */
    
    
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) { 

}

/* ----------- Android standar ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 310px) and (device-height: 640px) {
    
    .page-id-20 .cmsms_row_outer_parent .tribe-events-list-widget li {
        float: left;
        width: 100% !important;
        display: inline-block;
    }
    .ult_proyecto .button_wrap {
        float: none !important;
        text-align: center !important;
    }
    
    .next_events_2 .button_wrap {
        float: none !important;
        text-align: center !important;
        padding-bottom: 20px;
    }
    .page-id-20 .cmsms_row_outer_parent .tribe-events-list-widget li {
        float: left;
        width: 100% !important;
        display: inline-block;
    }
    
    .page-id-20 .whitemg {
        color: #000000 !important;
    }
    
    .button_wrap {
        float: none !important;
        text-align: center !important;
    }
    .cmsms_heading {
        text-align: center !important;
    }
    .tribe-events-widget-link {
        text-align: center !important;
    }
}

/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

}
/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {

    .rev_slider .tp-bgimg.defaultimg {
        background-position: center right !important;
    }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {

}


/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {

}


/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    
    
    .page-id-20 .cmsms_row_outer_parent .tribe-events-list-widget li {
        float: left;
        width: 100% !important;
        display: inline-block;
    }
    .ult_proyecto .button_wrap {
        float: none !important;
        text-align: center !important;
    }
    
    .next_events_2 .button_wrap {
        float: none !important;
        text-align: center !important;
        padding-bottom: 20px;
    }
    
    .whitemg {
        color: #000000 !important;
    }
    .button_wrap {
        float: none !important;
        text-align: center;
    }
    .cmsms_heading {
        text-align: center !important;
    }
    .tribe-events-widget-link {
        text-align: center !important;
    }
    .ls-gpuhack {
        background: rgba(111, 93, 93, 0.47);
    }
}

/* Portrait */
@media only screen and (min-device-width: 320px)  and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    /* Slider Home */
    .page-id-20 .ls-wp-fullwidth-container {
            height: 260px !important;
    }

    .page-id-20 .ls-wp-fullwidth-helper {
            height: 170px !important;
    }

    .page-id-20 #layerslider_5 {
            height: 170px !important;
    }

    .page-id-20 #layerslider_5 .ls-inner {
            height: 170px !important;
    }

    .page-id-20 .ls-slide.ls-active {
            height: 170px !important;
    }
    /*
    .page-id-20 .text1 {
        top: 5%;
        font-size: 16px;
        left: 27%;
        font-weight: 600;
    }
    .page-id-20 .text2 {
        top: 25%;
        font-size: 26px;
        left: 8%;
    }
    .page-id-20 .text3 {
        font-size: 14px;
        left: 2%;
        white-space: normal;
        line-height: 13px;
        font-weight: 600;
    }
    .page-id-20 #text4 {
        top: 80%;
        font-size: 14px;
        left: 25%;
    } */
    .ls-gpuhack {
        background: rgba(111, 93, 93, 0.47);
    }
}

/* Landscape */
@media only screen and (min-device-width: 320px)  and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

}

/* Bio */
@media (max-width: 767px) {
    #cmsms_heading_5813367c65f64 .cmsms_heading, #cmsms_heading_5813367c65f64 .cmsms_heading a {
        font-size: 60px !important;
        line-height: 70px !important;
    }

    #cmsms_heading_5813367c66011 .cmsms_heading, #cmsms_heading_5813367c66011 .cmsms_heading a {
        font-size: 58px  !important;
        line-height: 70px  !important;
    }
    .page-id-7589 .headline_outer .headline_inner.align_left {
        text-align: center !important;
    }
    .page-id-7589 .headline_aligner {
        min-height: 50px;
    }
    .cmsms_row.cmsms_color_scheme_default.content_bio_img .cmsms_row_outer_parent {
        padding-top: 20px !important;
    }
    .page-id-7589 h1.cmsms_heading {
        font-size: 50px;
    }   
    .rev_slider .tp-bgimg.defaultimg {
        background-position: center right !important;
    }

    .title_contact h1.cmsms_heading {
        font-size: 50px !important;
    }
    .content_title_contact {
        background-position: center right !important;
        /* background-size: contain !important; */
    }
    .content_title_contact .cmsms_row_outer_parent {
        padding-bottom: 100px !important;
        padding-top: 70px !important;
    }
    .portfolio.opened-article .project .cmsms_project_img_wrap {
        padding: 0 0 35px 0 !important;
    }

    #slide-1-layer-1, #slide-1-layer-2, #slide-1-layer-3 {
        background-color: rgba(0, 0, 0, 0.27);
    }

    .single-tribe_events .headline_outer .headline_inner.align_left {
        /* text-align: left; */
        display: none !important;
    }
}


.slidertext {
    
   max-width: 800px !important;
    margin: 0 auto !important;
  }


.archive.post-type-archive.post-type-archive-tribe_events.logged-in.admin-bar.tribe-filter-live.events-gridview.events-archive.tribe-events-style-full.tribe-theme-parent-gugocreative.tribe-theme-child-gugocreative-child.page-template-page-php.singular.customize-support   .headline_inner.align_left {

    display: none !important;

}

.share_posts_title {
    display: none !important;
}

/* Tribe Events Calendar */
.ocultar{
	display:none;
}